/**
 * AUI LEAFLET
 * -------------------------------------------------------------------
 */

.o-leaflet {
  border: var(--border-width) solid $gray-300;
  display: flex;
  height: 1px;
  min-height: 600px;
  width: 100%;

  &__wrapper {
    flex: 1;
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  &__map {
    font-family: inherit;
    font-size: inherit;
    height: 100%;
    position: relative;
    z-index: layer('base');
  }

  &__content {
    background-color: $white;
    overflow: auto;
    width: 0;

    &.has-content {
      border-right: solid 1px $gray-300;
      padding: var(--spacer-s);
      width: 300px;
    }
  }

  &__controls {
    position: absolute;
    z-index: layer('top');

    &--bottom-left {
      bottom: var(--spacer-s);
      left: var(--spacer-s);
    }

    &--bottom-right {
      bottom: var(--spacer-s);
      right: var(--spacer-s);
    }

    &--top-left {
      left: var(--spacer-s);
      top: var(--spacer-s);
    }

    &--top-right {
      right: var(--spacer-s);
      top: var(--spacer-s);
    }

    &--top-left .o-leaflet__control,
    &--top-right .o-leaflet__control {
      margin-bottom: var(--spacer-3xs);
    }

    &--bottom-left .o-leaflet__control,
    &--bottom-right .o-leaflet__control {
      margin-top: var(--spacer-3xs);
    }

    &--bottom-left .o-leaflet__control,
    &--top-left .o-leaflet__control {
      margin-right: var(--spacer-3xs);
    }

    &--bottom-right .o-leaflet__control,
    &--top-right .o-leaflet__control {
      margin-left: var(--spacer-3xs);
    }
  }

  &__control {
    float: left;
  }

  &__zoom-control {
    display: block;
  }

  &__html-icon {
    background-color: transparent;
    border: none;
  }

  &.is-full-screen {
    border: none;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: layer('overlay');

    .o-leaflet__content {
      border: var(--border-width) solid $gray-300;
      box-shadow: .75rem .75rem 0 rgba($black, .1);
      left: var(--spacer-s);
      max-height: calc(100% - 160px);
      position: absolute;
      top: var(--spacer-s);
      width: 350px;
      z-index: layer('top');
    }

    .o-leaflet__controls--top-left {
      left: calc(350px + 2 * var(--spacer-xs));
    }
  }
}

/**
 * LEAFLET OVERRIDES
 */

.leaflet-popup-content-wrapper {
  border: var(--border-width) solid $gray-100 !important;
  border-radius: 0 !important;
  box-shadow: var(--spacer-xs) var(--spacer-xs) 0 rgba($black, .1) !important;
  position: relative;

  &:after {
    background-color: $white;
    bottom: -1px;
    content: '';
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: var(--spacer);
  }
}

.leaflet-popup-content {
  font-size: $font-size-sm;
  margin: var(--spacer-xs) !important;
}

.leaflet-container {
  font-family: inherit !important;
}

.leaflet-popup-close-button {
  right: var(--spacer-3xs) !important;
  top: var(--spacer-3xs) !important;
  z-index: layer('base');
}
