.o-menu {
  background: $white;
  width: 100%;
  z-index: layer('pane');

  @include at($screen-sm) {
    border-right: 1px solid $border-color;
    min-width: $navigation-menu-undocked-width;
    overflow-x: hidden; // By default, don't show overflowing content
    overflow-y: auto;
    position: initial;
    top: 0;
    transition: width min-width ease-in-out $navigation-menu-animation-speed;
    width: $navigation-menu-undocked-width;

    a {
      border: none;
    }


    &.is-docked {
      min-width: $navigation-menu-docked-width;
      overflow: visible; // Since when docked the submenu's will appear to the right, show the overflowing content
      width: $navigation-menu-docked-width;

      .o-menu__tabs-wrapper {
        box-shadow: none;
      }

      .o-menu__tab {
        width: calc(#{$navigation-menu-docked-width} - 1px); // 1 px make up for border

        .o-menu__tab-wrapper{
          &:not(.is-active) {
            overflow: hidden;
          }
        }
      }

      .o-menu__submenu {
        left: $navigation-menu-docked-width;
        position: absolute;
        top: -1px; // Make up for border

        .o-menu__submenu {
          left: 100%;
        }

        .o-menu__submenu-content-wrapper {
          box-shadow: $box-shadow;
          max-height: inherit;
          transition: width ease-in-out;
          width: 0;

          .m-nav-list {
            border: 1px solid $border-color;
            border-bottom: none;
            border-left: none;


            .m-nav-list {
              border-left: 1px solid $border-color;
            }

            li {

              .o-menu__icon {
                transform: rotate(-90deg);
              }

              a {
                border-bottom: 1px solid $border-color;
                padding-left: $spacer-xs;
              }
            }
          }
        }

        .o-menu__submenu-content-wrapper {
          width: $navigation-menu-undocked-width;
        }
      }
    }
  }
}

.o-menu .o-menu__link,
.o-menu .m-nav-list a {
  white-space: nowrap;

  &,
  &:active,
  &:link,
  &:hover {
    color: $text-color-light;
    text-decoration: none;
  }
}

.o-menu > .o-menu__tabs-wrapper {
  align-content: space-between;
  align-items: center;
  background: $white;
  border-top: 1px solid $border-color;
  display: flex;
  position: relative;
  width: 100%;
  z-index: layer('header');

  // Only display the first 2 items on a mobile screen
  // and ignore the last element, since it will show a 'more...' menu tab
  & > .o-menu__tab:nth-child(n + 3) {
    &:not(:last-child) {
      display: none; //We will need to  display the 'more...' tab

      @include at($screen-sm) {
        display: block; // Just display all on desktop since we will have enough space
      }
    }

    &:last-child {
      display: block;

      @include at($screen-sm) {
        display: none; // Don't display the 'more' tab on desktop
      }
    }
  }

  @include at($screen-sm) {
    flex-direction: column;
    height: auto;
    width: auto;
    z-index: layer('pane-overlay');
  }
}

.o-menu .o-menu__tab {
  border-right: 1px solid $border-color;
  cursor: pointer;
  flex-basis: 33%;
  flex-grow: 1;
  height: 100%;
  position: relative;
  width: 33%;

  &:last-child {
    border-right: none;
  }

  &.is-active {
    .o-menu__tab-wrapper{
      overflow-y: auto;
    }

    .o-menu__submenu-icon {
      transform: rotate(180deg);
    }

    & > .o-menu__tab-wrapper> .o-menu__submenu > .o-menu__submenu-content-wrapper:first-of-type {
      display: block;
      max-height: $navigation-menu-submenu-height;
      overflow: visible;
    }
  }

  @include at($screen-sm) {
    border-bottom: 1px solid $border-color;
    border-right: none;
    width: 100%;
  }

  & > .o-menu__tab-wrapper{
    overflow: hidden;

    &:focus-within {
      @include a-button-outline;
    }

    & > .o-menu__tab-header {
      @include a-button-outline($btn-primary-outline-color, $btn-primary-outline-border, true);
      align-items: center;
      color: $text-color-light;
      display: flex;
      flex-direction: column;
      font-weight: bold;
      height: $navigation-menu-mobile-height;
      justify-content: center;
      text-decoration: none;

      // Support for a margin for iPhone X
      @supports (margin-bottom: env(safe-area-inset-bottom)) {
        margin-bottom: env(safe-area-inset-bottom);
      }

      &:hover {
        background-color: $background-color-light;
        color: $text-color-light;
      }

      .o-menu__tab-title {
        align-items: center;
        display: flex;
        flex-direction: column;
        text-align: center;
      }

      .o-menu__icon {
        font-size: $icon-size-base;
        margin-bottom: $spacer-xs / 2;

        &.o-menu__tab-icon {
          width: $icon-size-lg;
        }

        &.o-menu__submenu-icon {
          display: none;
          transition: transform $navigation-menu-animation-speed ease;

          @include at($screen-sm) {
            display: inline;
          }
        }

        @include at($screen-sm) {
          margin-bottom: 0;
        }
      }

      @include at($screen-sm) {
        align-items: center;
        flex-direction: row;
        height: $header-height;
        justify-content: space-between;
        padding: $spacer-xs;
        position: relative;

        .o-menu__link {
          margin-left: $spacer-sm;
        }

        .o-menu__tab-title {
          align-items: center;
          display: flex;
          flex-direction: row;
        }
      }
    }
  }
}

.o-menu .o-menu__submenu {
  display: none;

  .u-cursor-pointer {
    cursor: pointer;
  }

  .o-menu__submenu-content-wrapper {
    background: $white;
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height ease-in-out $navigation-menu-animation-speed;

    .m-nav-list {
      border: none;

      li {
        position: relative;
      }

      li > a {
        border: none $border-color;
        color: $text-color-light;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        white-space: nowrap;

        @include at($screen-sm) {
          // Padding is parent padding + icon size + header padding to the left to align the link to the header text
          padding-left: calc(#{$navigation-menu-docked-width} + #{$navigation-menu-submenu-inset});
          padding-right: $spacer-xs / 2;

          a {
            border: none;
          }
        }
      }

      li > a > .o-menu__icon {
        transform: rotate(0deg);
      }
    }

    @include at($screen-sm) {
      li > a > .o-menu__icon {
        margin-right: $spacer-xs /2;
        transform: rotate(0deg);
        transition: transform $navigation-menu-animation-speed ease-in-out;
      }

      li.is-active {
        & > .o-menu__submenu > .o-menu__submenu-content-wrapper {
          display: block;
          max-height: $navigation-menu-submenu-height;
          overflow: visible;
        }

        & > a > .o-menu__icon {
          transform: rotate(180deg);
        }
      }
    }
  }

  // First sub-layer of menus will get larger padding
  & .m-nav-list li .o-menu__submenu li > a {
    padding-left: calc(#{$navigation-menu-docked-width} + #{$navigation-menu-submenu-inset * 2});
  }

  @include at($screen-sm) {
    display: block;
  }
}

.o-menu > .o-menu__hide-cta {
  display: none;

  @include at($screen-sm) {
    display: block;
    margin: $spacer-sm;
    text-align: right;

    > a {
      text-decoration: none;
    }
  }
}

.o-menu > .o-menu__navigation-pane {
  background: $white;
  max-height: calc(100vh - #{$navigation-menu-mobile-height});
  position: absolute;
  top: 0;
  transition: transform $navigation-menu-animation-speed ease;
  width: 100%;
  z-index: layer('header') - 1;

  .o-navigation-pane__overlay {
    background: $overlay-color;
    bottom: 100%;
    height: 0;
    opacity: 0;
    position: absolute;
    transition: opacity $navigation-menu-animation-speed*2 ease;
    width: 100vh;
  }

  .o-navigation-pane__wrapper {
    background: $white;
    box-shadow: 0 -.75rem 0 rgba($black, .1);
    margin-bottom: -1px;
    max-height: calc(100vh - #{$header-height} - #{$navigation-menu-mobile-height});
    min-height: $spacer; // make up for the box shadow to be visible, even when hiddenq
    overflow-y: scroll;
    position: relative;
  }

  .o-menu__main-submenu,
  .o-menu__slide-in-submenu {
    .o-menu__back-link {
      color: $text-color-light;
      font-weight: normal;
    }

    li > a > .o-menu__icon {
      float: right;
      transform: rotate(-90deg);
    }
  }

  .o-menu__slide-in-submenu {
    background: $white;
    bottom: 0;
    height: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    transform: translateX(100%);
    transition: transform $navigation-menu-animation-speed ease;
    width: 100%;

    &.is-visible {
      height: auto;
      overflow: inherit;
      transform: translateX(0);
    }
  }

  &.is-visible {
    transform: translateY(-100%);

    & > .o-navigation-pane__overlay {
      min-height: 100vh;
      opacity: .8;
    }
  }

  @include at($screen-sm) {
    display: none;
  }
}
