/**
 * AUI LEAFLET
 * -------------------------------------------------------------------
 */

.o-leaflet {
  border: 1px solid $grey;
  display: flex;
  height: 600px;
  width: 100%;

  &__wrapper {
    flex: 1;
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  &__map {
    font-family: inherit;
    font-size: inherit;
    height: 100%;
    position: relative;
    z-index: layer('base');
  }

  &__content {
    background-color: $white;
    overflow: auto;
    width: 0;

    &.has-content {
      border-right: solid 1px $grey;
      padding: $spacer-sm;
      width: 300px;
    }
  }

  &__controls {
    position: absolute;
    z-index: layer('top');

    &--bottom-left {
      bottom: $spacer-sm;
      left: $spacer-sm;
    }

    &--bottom-right {
      bottom: $spacer-sm;
      right: $spacer-sm;
    }

    &--top-left {
      left: $spacer-sm;
      top: $spacer-sm;
    }

    &--top-right {
      right: $spacer-sm;
      top: $spacer-sm;
    }

    &--top-left .o-leaflet__control,
    &--top-right .o-leaflet__control {
      margin-bottom: $spacer-xs / 2;
    }

    &--bottom-left .o-leaflet__control,
    &--bottom-right .o-leaflet__control {
      margin-top: $spacer-xs / 2;
    }

    &--bottom-left .o-leaflet__control,
    &--top-left .o-leaflet__control {
      margin-right: $spacer-xs / 2;
    }

    &--bottom-right .o-leaflet__control,
    &--top-right .o-leaflet__control {
      margin-left: $spacer-xs / 2;
    }
  }

  &__control {
    float: left;
  }

  &__zoom-control {
    display: block;
  }

  &__html-icon {
    background-color: transparent;
    border: none;
  }

  &.is-full-screen {
    border: none;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: layer('overlay');

    .o-leaflet__content {
      border: solid 1px $grey;
      box-shadow: .75rem .75rem 0 rgba($black, .1);
      left: $spacer-sm;
      max-height: calc(100% - 160px);
      position: absolute;
      top: $spacer-sm;
      width: 350px;
      z-index: layer('top');
    }

    .o-leaflet__controls--top-left {
      left: calc(350px + 2 * #{$spacer-xs});
    }
  }
}


/**
 * LEAFLET OVERRIDES
 */

.leaflet-popup-content-wrapper {
  border: 1px solid $grey-lighter !important;
  border-radius: 0 !important;
  box-shadow: $spacer-xs $spacer-xs 0 rgba($black, .1) !important;
  position: relative;

  &:after {
    background-color: $white;
    bottom: -1px;
    content: '';
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: $spacer;
  }
}

.leaflet-popup-content {
  font-size: $font-size-sm;
  margin: $spacer-xs !important;
}

.leaflet-container {
  font-family: inherit !important;
}

.leaflet-popup-close-button {
  right: $spacer-xs / 2 !important;
  top: $spacer-xs / 2 !important;
  z-index: layer('base');
}
