/**
 * AUI LEAFLET
 * -------------------------------------------------------------------
 */

.o-leaflet {
  border: var(--BORDER-WIDTH) solid $gray-300;
  display: flex;
  height: rem(1px);
  min-height: rem(600px);
  width: 100%;

  &__wrapper {
    flex: 1;
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  &__map {
    font-family: inherit;
    font-size: inherit;
    height: 100%;
    position: relative;
    z-index: layer('base');
  }

  &__content {
    background-color: $white;
    overflow: auto;
    width: 0;

    &.has-content {
      border-right: solid var(--BORDER-WIDTH) $gray-300;
      padding: var(--SPACER-S);
      width: rem(300px);
    }
  }

  &__controls {
    position: absolute;
    z-index: layer('top');

    &--bottom-left {
      bottom: var(--SPACER-S);
      left: var(--SPACER-S);
    }

    &--bottom-right {
      bottom: var(--SPACER-S);
      right: var(--SPACER-S);
    }

    &--top-left {
      left: var(--SPACER-S);
      top: var(--SPACER-S);
    }

    &--top-right {
      right: var(--SPACER-S);
      top: var(--SPACER-S);
    }

    &--top-left .o-leaflet__control,
    &--top-right .o-leaflet__control {
      margin-bottom: var(--SPACER-3XS);
    }

    &--bottom-left .o-leaflet__control,
    &--bottom-right .o-leaflet__control {
      margin-top: var(--SPACER-3XS);
    }

    &--bottom-left .o-leaflet__control,
    &--top-left .o-leaflet__control {
      margin-right: var(--SPACER-3XS);
    }

    &--bottom-right .o-leaflet__control,
    &--top-right .o-leaflet__control {
      margin-left: var(--SPACER-3XS);
    }
  }

  &__control {
    float: left;
  }

  &__zoom-control {
    display: block;
  }

  &__html-icon {
    background-color: transparent;
    border: none;
  }

  &.is-full-screen {
    border: none;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: layer('overlay');

    .o-leaflet__content {
      border: var(--BORDER-WIDTH) solid $gray-300;
      box-shadow: .75rem .75rem 0 var(--BOX-SHADOW-COLOR);
      left: var(--SPACER-S);
      max-height: calc(100% - #{rem(160px)});
      position: absolute;
      top: var(--SPACER-S);
      width: rem(350px);
      z-index: layer('top');
    }

    .o-leaflet__controls--top-left {
      left: calc(#{rem(350px)} + 2 * var(--SPACER-XS));
    }
  }
}

/**
 * LEAFLET OVERRIDES
 */

.leaflet-popup-content-wrapper {
  border: var(--BORDER-WIDTH) solid $gray-100 !important;
  border-radius: 0 !important;
  box-shadow: var(--SPACER-XS) var(--SPACER-XS) 0 var(--BOX-SHADOW-COLOR) !important;
  position: relative;

  &:after {
    background-color: $white;
    bottom: -1px;
    content: '';
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: var(--SPACER);
  }
}

.leaflet-popup-content {
  font-size: $font-size-sm;
  margin: var(--SPACER-XS) !important;
}

.leaflet-container {
  font-family: inherit !important;
}

.leaflet-popup-close-button {
  right: var(--SPACER-3XS) !important;
  top: var(--SPACER-3XS) !important;
  z-index: layer('base');
}
