/**
 * AUI TABLE
 * -------------------------------------------------------------------
 * - Column selector
 * - Table bar
 */


/**
 * COLUMN SELECTOR
 * -------------------------------------------------------------------
 */

.a-table-column-selector {
  margin: 0 0 -1px;
  max-height: 70vh;
  overflow: auto;

  &__actions {
    display: flex;
    flex-direction: column;
    margin-left: $spacer / 4;
    margin-right: 0;
  }

  > li {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0;

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: none;
    }

    &.show {
      animation: fadeIn $animation-duration $animation-easing;
    }

    &.active {
      background-color: $grey-lighter;
    }

    .a-button-transparent.has-icon[disabled] {
      box-shadow: none;
    }
  }
}


/**
 * TABLE BAR
 * -------------------------------------------------------------------
 */

.a-table-bar {
  background-color: $grey-light;
  display: flex;
  padding: $spacer / 2;

  &__filters {
    flex: 1;
    margin-right: $spacer;
    min-height: $spacer-xl;
    overflow: hidden;

    &-show-more {
      margin: $spacer / 4;
    }

    &--open {
      height: 100%;
    }
  }

  &__item {
    display: inline-block;
    margin: $spacer / 4;
  }

  &__search {
    background: $white;
    height: 100%;
    margin: $spacer / 4;
  }
}
