/**
 * AUI SEARCH FILTER
 * -------------------------------------------------------------------
 */

.m-search-filter {
  &__label {
    background: $white;
    border: var(--BORDER-WIDTH) solid var(--BORDER-COLOR);
    cursor: pointer;
    display: flex;
    height: var(--SPACER-XL);
    justify-content: center;
    line-height: var(--SPACER-XL);
    margin: 0 var(--SPACER-XS) 0 0;
    padding-left: var(--SPACER);

    > span:not(.ai) {
      margin-left: var(--SPACER-3XS);
    }

    > .ai {
      color: #{$gray-400};
      font-size: 1.25rem;
      height: var(--SPACER-XL);
      line-height: var(--SPACER-XL);
      pointer-events: none;
      text-align: center;
      user-select: none;
      width: var(--SPACER-XL);
    }

    &.m-search-filter__label--active {
      background-color: var(--TEXT-COLOR);
      border-color: var(--TEXT-COLOR);
      color: $white;

      > .ai {
        color: $white;
      }
    }

    &.m-search-filter__label--error {
      background-color: var(--TEXT-COLOR);
      border-color: var(--TEXT-COLOR);
      color: $white;

      > .ai {
        color: $white;
      }
    }
  }

  &__input {
    margin-bottom: 0;
    padding: var(--SPACER-XS);

    .a-input__wrapper {
      margin-right: 0;
    }
  }

  &__clear {
    margin: 0;
    padding: 0 var(--SPACER-S) var(--SPACER-S);
    text-align: center;
  }

  &__search {
    display: flex;
    flex-direction: column;
    max-height: 50vh;

    .a-list.a-list--lined.u-list-unstyled {
      margin: -1px 0;
    }

    &.m-search-filter__search--scroll {
      overflow-y: auto;
    }
  }

  &__results-title {
    font-size: $font-size-base;
    margin: 0 var(--SPACER-XS);
  }

  &__results-item {
    cursor: pointer;

    .a-input__checkbox {
      display: flex;
      padding-left: calc(var(--SPACER) * 1.5);

      input[type='checkbox']:checked + label:after {
        top: var(--SPACER-XS);
      }

      label {
        flex: 1;
        padding: var(--SPACER-XS);
      }
    }

    &:hover {
      background-color: $gray-100;
    }
  }

  .a-list .m-search-filter__results-item {
    padding: 0;
  }
}
