/**
 * AUI HERO
 * -------------------------------------------------------------------
 */

.o-hero {
  align-items: center;
  background: $grey-100;
  display: flex;
  height: calc(var(--spacer) * 8);

  &__card {
    flex: 1 1 auto;
    padding-left: calc(var(--spacer) * 2);
  }

  &__cta {
    padding-right: calc(var(--spacer) * 2);
  }
}
