/**
 * AUI HERO
 * -------------------------------------------------------------------
 */

.o-hero {
  align-items: center;
  background: $gray-100;
  display: flex;
  height: calc(var(--SPACER) * 8);

  &__card {
    flex: 1 1 auto;
    padding-left: var(--SPACER-XL);
  }

  &__cta {
    padding-right: var(--SPACER-XL);
  }
}
