/**
 * AUI SEARCH FILTER
 * -------------------------------------------------------------------
 */

.m-search-filter {
  &__label {
    background: $white;
    border: 1px solid $border-color;
    cursor: pointer;
    display: flex;
    height: $spacer-lg;
    justify-content: center;
    line-height: $spacer-lg;
    margin: 0 $spacer-xs 0 0;
    padding-left: $spacer;

    > span:not(.fa) {
      margin-left: $spacer / 6;
    }

    > .fa {
      color: $input-icon;
      font-size: 1.25rem;
      height: $spacer-lg;
      line-height: $spacer-lg;
      pointer-events: none;
      text-align: center;
      user-select: none;
      width: $spacer-lg;
    }

    &.m-search-filter__label--active {
      background-color: $label-primary-color;
      border-color: $label-primary-color;
      color: $white;

      > .fa {
        color: $white;
      }
    }

    &.m-search-filter__label--error {
      background-color: $label-danger-color;
      border-color: $label-danger-color;
      color: $white;

      > .fa {
        color: $white;
      }
    }
  }

  &__input {
    margin-bottom: 0;
    padding: $spacer-xs;

    .a-input__wrapper {
      margin-right: 0;
    }
  }

  &__clear {
    margin: 0;
    padding: 0 $spacer-sm $spacer-sm;
    text-align: center;
  }

  &__search {
    display: flex;
    flex-direction: column;
    max-height: 50vh;

    .a-list.a-list--lined.a-list--unstyled {
      margin: -1px 0;
    }

    &.m-search-filter__search--scroll {
      overflow-y: auto;
    }
  }

  &__results-title {
    font-size: $font-size-base;
    margin: 0 $spacer-xs;
  }

  &__results-item {
    cursor: pointer;

    .a-input__checkbox {
      display: flex;
      padding-left: $spacer * 1.5;

      input[type='checkbox']:checked + label:after {
        top: $spacer-xs;
      }

      label {
        flex: 1;
        padding: $spacer-xs;
      }
    }

    &:hover {
      background-color: $grey-lighter;
    }
  }

  .a-list .m-search-filter__results-item {
    padding: 0;
  }
}
