/**
 * AUI SIDEBAR
 * -------------------------------------------------------------------
 */

.o-sidebar {
  --sidebar-width: 20rem;
}

/**
 * PANE
 * -------------------------------------------------------------------
 */

.o-sidebar {
  background-color: $white;
  height: 100%;
  overflow: hidden;
  transition: width var(--ANIMATION-NORMAL);
  width: 0;

  &__content {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    width: var(--sidebar-width);

    &--padding {
      padding: var(--SPACER-XL);
    }
  }

  &.o-sidebar--open {
    width: var(--sidebar-width);
  }
}
