/**
 * AUI ITEM COUNTER
 * -------------------------------------------------------------------
 */

.m-items-per-page {
  .a-input {
    .a-input__wrapper {
      display: inline-block;
      margin-right: $spacer-xs;
    }
  }
}
