/**
 * AUI RANGE SLIDER
 * -------------------------------------------------------------------
 */

.a-range-slider {
  &__handle {
    z-index: layer('top');
  }

  &__tooltip {
    white-space: nowrap;
  }

  &__steps {
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: var(--SPACER-3XS);
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: layer('base');

    .a-range-slider__step {
      background-color: $gray-300;
      border-radius: 50%;
      height: calc(var(--range-slider-inner-height) - (2 * var(--range-slider-padding)));
      margin: var(--range-slider-padding);
      text-align: center;
      width: calc(var(--range-slider-inner-height) - (2 * var(--range-slider-padding)));
    }
  }

  .a-range-slider__step-labels {
    display: flex;
    font-size: $font-size-sm;
    justify-content: space-between;
    margin-top: var(--SPACER-S);

    .a-range-slider__step {
      width: var(--SPACER);
    }
  }
}
