/**
 * AUI STATUSBAR
 * -------------------------------------------------------------------
 */

.o-statusbar {
  background: var(--STATE-INFO);
  color: $white;
  display: flex;
  left: 0;
  min-height: var(--SPACER-XL);
  position: fixed;
  right: 0;
  top: 0;
  z-index: layer('statusbar');

  &.info {
    background: var(--STATE-INFO);
  }

  &.error {
    background: var(--STATE-DANGER);
  }

  &.warning {
    background: var(--STATE-WARNING);
  }

  &.success {
    background: var(--STATE-SUCCESS);
  }

  &__status {
    align-items: center;
    background: rgba($black, .2);
    display: flex;
    justify-content: center;
    width: var(--SPACER-XL);
  }

  &__notification {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    padding: var(--SPACER-XS);

    @include at($screen-sm) {
      padding: var(--SPACER-XS) var(--SPACER-L);
    }

    @include at($screen-md) {
      padding: var(--SPACER-XS) var(--SPACER-XL);
    }

    @include at($screen-lg) {
      padding: var(--SPACER-XS) var(--SPACER-3XL);
    }

    p {
      margin: 0;
    }

    a {
      color: $white;
    }
  }

  .a-button {
    background: rgba($black, .2);
    height: auto;
    margin: 0;

    .ai {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;
      line-height: initial;
    }
  }
}
