/**
 * AUI HERO
 * -------------------------------------------------------------------
 */

.o-hero {
  align-items: center;
  background: $grey-light;
  display: flex;
  height: $spacer * 8;

  &__card {
    flex: 1 1 auto;
    padding-left: $spacer * 2;
  }

  &__cta {
    padding-right: $spacer * 2;
  }
}
