/**
 * AUI STATUSBAR
 * -------------------------------------------------------------------
 */

.o-statusbar {
  background: $state-info;
  color: $white;
  display: flex;
  left: 0;
  min-height: $spacer * 2;
  position: fixed;
  right: 0;
  top: 0;
  z-index: layer('statusbar');

  &.info {
    background: $state-info;
  }

  &.error {
    background: $state-danger;
  }

  &.warning {
    background: $state-warning;
  }

  &.success {
    background: $state-success;
  }

  &__status {
    align-items: center;
    background: rgba($black, .2);
    display: flex;
    justify-content: center;
    width: $spacer * 2;
  }

  &__notification {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    padding: $spacer-xs;

    @include at($screen-sm) {
      padding: $spacer-xs $spacer-md;
    }

    @include at($screen-md) {
      padding: $spacer-xs $spacer-lg;
    }

    @include at($screen-lg) {
      padding: $spacer-xs $spacer-xx;
    }

    p {
      margin: 0;
    }

    a {
      color: $white;
    }
  }

  .a-button {
    background: rgba($black, .2);
    height: auto;
    margin: 0;

    .fa {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;
      line-height: initial;
    }
  }
}
