/**
 * SPINNER VARIABLES
 * -------------------------------------------------------------------
 */

$spinner-color:               $grey-100 !default;
$spinner-size:                $icon-size-lg !default;
$spinner-size-sm:             $icon-size-base !default;
$spinner-size-lg:             $spinner-size * 2 !default;

$spinner-animation-name:      spin reverse !default;
$spinner-animation-speed:     1600ms !default;
$spinner-animation-timing:    linear !default;

/**
 * SPINNER
 * -------------------------------------------------------------------
 */

.a-spinner {
  &:before {
    animation: $spinner-animation-name $spinner-animation-speed infinite $spinner-animation-timing;
    background: $spinner-color;
    content: '';
    display: inline-block;
    height: rem($spinner-size);
    mask: url('data:image/svg+xml;utf8,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 24 24%22><defs><style>.a{fill:none;stroke:%23ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-width:6.25%;}</style></defs><path class=%22a%22 d=%22M.714 10.353l2.787 4.15 3.205-3.838M23.286 14.655l-2.785-4.152-3.207 3.839%22/><path class=%22a%22 d=%22M20.464 10.54a8.622 8.622 0 01-6.51 9.729 8.493 8.493 0 01-7.931-2.224M3.505 14.479a8.853 8.853 0 016.538-10.753 8.493 8.493 0 018.324 2.642%22/></svg>') no-repeat center center;
    width: rem($spinner-size);
  }
}

/**
 * SPINNER MODIFIERS
 * -------------------------------------------------------------------
 */

.a-spinner--inline {
  display: inline-block;
  vertical-align: middle;
}

.a-spinner--centered {
  text-align: center;
}

.a-spinner--s {
  &:before {
    height: rem($spinner-size-sm);
    width: rem($spinner-size-sm);
  }
}

.a-spinner--l {
  &:before {
    height: rem($spinner-size-lg);
    width: rem($spinner-size-lg);
  }
}
