/**
 * INPUTS
 * -------------------------------------------------------------------
 * Input fields are normalized in _base.normalize.scss
 *
 * This component has shared variables. You can find them in _quarks.variables.scss.
 */


/**
 * INPUT FONT-FAMILY
 * -------------------------------------------------------------------
 */

button,
input,
input[type='search'],
select,
textarea {
  appearance: none;
  font: inherit;
  margin: 0;
}


/**
 * INPUT PLACEHOLDER
 * -------------------------------------------------------------------
 */

%a-input {
  position: relative;

  small {
    display: block;
    margin: $spacer-sm / 2 0;
    text-align: left;
  }

  input,
  select,
  textarea {
    border-radius: 0;
    line-height: normal;
    resize: vertical;
    transition: border-color $animation-normal;
    width: 100%;
  }

  input {
    min-height: $input-height;
    padding: $input-padding;
  }

  select {
    min-height: $select-height;
    padding: $select-padding;
  }

  textarea {
    min-height: $textarea-height;
    padding: $textarea-padding;
  }
}

.a-input {
  @extend %a-input;
}


/**
 * INPUT
 * -------------------------------------------------------------------
 */

.a-input {
  @include a-input;

  &.w-textarea-padding {
    padding: $textarea-padding;
  }
}


/**
 * INPUT WRAPPER
 * -------------------------------------------------------------------
 */

.a-input__wrapper {
  position: relative;
}

/**
 * INPUT LABEL
 * -------------------------------------------------------------------
 */

.a-input__label {
  display: inline-block;
  margin-bottom: $spacer-sm / 2;
  text-align: left;

  + .a-switch,
  + .a-input__checkbox,
  + .a-input__radio {
    margin-top: $spacer-sm / 2;
  }
}


/**
 * INPUT LABEL MODIFIERS
 * -------------------------------------------------------------------
 */

.a-input__label--inline {
  margin-right: $spacer-xs;
  margin-top: calc(#{$line-height-base * $font-size-base} - 1px);
}


/**
 * INPUT STATES
 * -------------------------------------------------------------------
 */

.a-input {

  &.has-success {
    @include a-input($input-color, $input-bg, $input-success-border);

    .a-input__wrapper:before {
      background: $state-success;
      mask: url('data:image/svg+xml;utf8,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 15 15%22><path fill=%22none%22 stroke=%22%23ffffff%22 stroke-linecap=%22round%22 stroke-linejoin=%22round%22 stroke-width=%226.25%%22 d=%22M14.5.5l-10 14-4-4%22/></svg>') no-repeat center center;
    }
  }

  &.has-warning {
    @include a-input($input-color, $input-bg, $input-warning-border);

    .a-input__wrapper:before {
      background: $text-color;
      mask: url('data:image/svg+xml;utf8,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 24 24%22><defs><style>.a{fill:none;stroke:%23ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-width:6.25%}</style></defs><path class=%22a%22 d=%22M23 11.811A11.162 11.162 0 0112 23 10.837 10.837 0 011 12.192 11.162 11.162 0 0112 1a10.838 10.838 0 0111 10.811zM12 14.005v-7%22/><path class=%22a%22 d=%22M11.991 16.005a.245.245 0 00-.241.255.254.254 0 00.253.245.246.246 0 00.241-.255.253.253 0 00-.244-.245h-.005%22/></svg>') no-repeat center center;
    }
  }

  &.has-error {
    @include a-input($input-color, $input-bg, $input-danger-border);

    .a-input__wrapper:before {
      background: $state-danger;
      mask: url('data:image/svg+xml;utf8,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 24 24%22><defs><style>.a{fill:none;stroke:%23ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-width:6.25%}</style></defs><path class=%22a%22 d=%22M22.553 22.581a.569.569 0 01-.553.894H2a.569.569 0 01-.553-.894L11.553 2.37c.246-.492.648-.492.894 0zM12 16.979v-7%22/><path class=%22a%22 d=%22M11.991 18.979a.246.246 0 00-.241.255.255.255 0 00.254.245h.005a.246.246 0 00.241-.255.255.255 0 00-.25-.245h-.005%22/></svg>') no-repeat center center;
    }
  }

  &.has-success,
  &.has-warning,
  &.has-error {

    .a-input__wrapper:before {
      content: '';
      height: var(--spacer);
      mask-size: contain;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: var(--spacer-lg);
    }

    &.has-icon-right {
      .a-input__wrapper:before {
        right: var(--spacer-md);
      }

      .a-input__wrapper {
        input {
          padding-right: $spacer-lg + $spacer-md;
        }
      }
    }

    input {
      padding-right: var(--spacer-lg);
    }
  }

  &.is-required .a-input__label:after {
    color: $input-required;
    content: ' *';
  }
}


/**
 * INPUT WITH ICON LEFT OR RIGHT
 * -------------------------------------------------------------------
 */

.a-input__checkbox,
.a-input__radio {
  input {
    min-height: 0;
    opacity: 0;
    width: auto;

    &:focus + label:after {
      @include focus;
    }
  }
}


/**
 * INPUT WITH ICON LEFT OR RIGHT
 * -------------------------------------------------------------------
 */

.a-input {

  &.has-icon-left .a-input__wrapper > .ai,
  &.has-icon-right .a-input__wrapper > .ai {
    color: $input-icon;
    font-size: rem($icon-size-base);
    pointer-events: none;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
    width: var(--spacer-lg);

    &.is-clickable {
      align-items: center;
      cursor: pointer;
      display: flex;
      height: 100%;
      pointer-events: auto;
      transition: color $animation-normal;

      &:hover {
        color: $input-icon-hover;
      }
    }
  }

  &.has-icon-left .a-input__wrapper {
    input,
    select {
      padding-left: var(--spacer-lg);
    }

    > .ai {
      left: 0;
    }
  }

  &.has-icon-right .a-input__wrapper {
    input,
    select {
      padding-right: var(--spacer-lg);
    }

    > .ai {
      right: 0;
    }
  }
}


/**
 * INLINE INPUT
 * -------------------------------------------------------------------
 */

.a-input--inline {
  input,
  select,
  textarea,
  .a-input__checkbox,
  .a-input__radio {
    width: auto;
  }
}

.a-input__wrapper--inline {
  display: inline-block;
}


/**
 * INPUT SIZES
 * -------------------------------------------------------------------
 */

.a-input {
  &.a-input--small {
    input {
      min-height: $input-height-sm;
      padding: $input-padding-sm;
    }

    select {
      @-moz-document url-prefix() {
        line-height: 2.1; // Fixes Firefox line-height bug
      }
      min-height: $select-height-sm;
      padding: $select-padding-sm;
    }

    textarea {
      min-height: $textarea-height-sm;
      padding: $textarea-padding-sm;
    }
  }

  &.a-input--large {
    input {
      min-height: $input-height-lg;
      padding: $input-padding-lg;
    }

    select {
      min-height: $select-height-lg;
      padding: $select-padding-lg;
    }

    textarea {
      min-height: $textarea-height-lg;
      padding: $textarea-padding-lg;
    }
  }
}
