/**
 * COPYRIGHT
 * -------------------------------------------------------------------
 * This component has shared variables. You can find them in _quarks.variables.scss.
 */

.a-copyright {
  background-color: $copyright-bg;
  color: $copyright-color;
  display: inline-block;
  font-size: rem($copyright-font-size);
  height: $copyright-height;
  transition: transform $animation-duration $animation-easing;
}


/**
 * COPYRIGHT ELEMENTS
 * -------------------------------------------------------------------
 */

.a-copyright__sign,
.a-copyright__label {
  float: left;
}

.a-copyright__sign {
  align-items: center;
  display: flex;
  font-size: rem($copyright-font-size * 1.25);
  height: 100%;
  justify-content: center;
  width: $copyright-height;
}

.a-copyright__label {
  line-height: $copyright-height;
  margin-right: $spacer-xs;
}
