/**
 * AVATAR VARIABLES
 * -------------------------------------------------------------------
 */

$avatar-bg:               $gray-400 !default;
$avatar-color:            $white !default;

$avatar-sm:               calc(var(--spacer) * 1.5) !default; // 36px
$avatar:                  calc(var(--spacer) * 2) !default; // 48px
$avatar-l:                calc(var(--spacer) * 3) !default; // 72px
$avatar-xl:               calc(var(--spacer) * 4) !default; // 96px

/**
 * AVATARS
 * -------------------------------------------------------------------
 */

.a-avatar {
  align-items: center;
  background-color: $avatar-bg;
  color: $avatar-color;
  display: inline-flex;
  font-size: calc(#{$avatar} / 2);
  height: $avatar;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: $avatar;

  img {
    display: block;
    max-width: 100%;
  }

  &__icon {
    height: calc(#{$avatar} / 2);

    .ai {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

a .a-avatar {
  &:before {
    background-color: $black;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: opacity $animation-duration $animation-easing;
    width: 100%;
  }

  &:hover,
  &:active {
    color: $avatar-color;

    &:before {
      opacity: .15;
    }
  }
}

/**
 * AVATAR SIZES
 * -------------------------------------------------------------------
 */

.a-avatar--s {
  font-size: calc(#{$avatar-sm} / 2);
  height: $avatar-sm;
  line-height: $avatar-sm;
  width: $avatar-sm;

  .a-avatar__icon {
    height: $avatar-sm;
  }
}

.a-avatar--l {
  font-size: calc(#{$avatar-l} / 2);
  height: $avatar-l;
  line-height: $avatar-l;
  width: $avatar-l;

  .a-avatar__icon {
    height: $avatar-l;
  }
}

.a-avatar--xl {
  font-size: calc(#{$avatar-xl} / 2);
  height: $avatar-xl;
  line-height: $avatar-xl;
  width: $avatar-xl;

  .a-avatar__icon {
    height: $avatar-xl;
  }
}
