/**
 * BADGE VARIABLES
 * -------------------------------------------------------------------
 */

.a-badge {
  --badge-font-size:                            #{$font-size-sm};
  --badge-font-weight:                          #{$bold};
  --badge-size:                                 var(--spacer);
  --badge-padding:                              0 var(--spacer-3xs);

  --badge-default-color:                        #{$white};
  --badge-default-bg-color:                     #{$gray-400};
  --badge-default-border-color:                 #{$gray-400};

  --badge-default-outline-color:                #{$gray-400};
  --badge-default-outline-bg-color:             transparent;
  --badge-default-outline-border-color:         #{$gray-300};

  --badge-default-transparent-color:            #{$gray-400};
  --badge-default-transparent-bg-color:         #{$gray-100};
  --badge-default-transparent-border-color:     #{$gray-100};

  --badge-primary-color:                        #{$white};
  --badge-primary-bg-color:                     var(--theme1-400);
  --badge-primary-border-color:                 var(--theme1-400);

  --badge-primary-outline-color:                var(--theme1-400);
  --badge-primary-outline-bg-color:             transparent;
  --badge-primary-outline-border-color:         var(--theme1-400);

  --badge-primary-transparent-color:            var(--theme1-400);
  --badge-primary-transparent-bg-color:         var(--theme1-050);
  --badge-primary-transparent-border-color:     var(--theme1-050);

  --badge-secondary-color:                      #{$white};
  --badge-secondary-bg-color:                   var(--theme2-400);
  --badge-secondary-border-color:               var(--theme2-400);

  --badge-secondary-outline-color:              var(--theme2-400);
  --badge-secondary-outline-bg-color:           transparent;
  --badge-secondary-outline-border-color:       var(--theme2-400);

  --badge-secondary-transparent-color:          var(--theme2-400);
  --badge-secondary-transparent-bg-color:       var(--theme2-100);
  --badge-secondary-transparent-border-color:   var(--theme2-100);
}

/**
 * BADGES
 * -------------------------------------------------------------------
 */

.a-badge {
  align-items: center;
  border-radius: var(--badge-size);
  display: inline-flex;
  font-size: var(--badge-font-size);
  font-weight: var(--badge-font-weight);
  justify-content: center;
  min-height: var(--badge-size);
  min-width: var(--badge-size);
  padding: var(--badge-padding);
}

/**
 * BADGES COLORS
 * -------------------------------------------------------------------
 */

.a-badge {
  @include a-badge(
    var(--badge-default-color),
    var(--badge-default-bg-color),
    var(--badge-default-border-color)
  );

  &.a-badge--outline {
    @include a-badge(
      var(--badge-default-outline-color),
      var(--badge-default-outline-bg-color),
      var(--badge-default-outline-border-color)
    );
  }

  &.a-badge--transparent {
    @include a-badge(
      var(--badge-default-transparent-color),
      var(--badge-default-transparent-bg-color),
      var(--badge-default-transparent-border-color)
    );
  }

  &.a-badge--primary {
    @include a-badge(
      var(--badge-primary-color),
      var(--badge-primary-bg-color),
      var(--badge-primary-border-color)
    );

    &.a-badge--outline {
      @include a-badge(
        var(--badge-primary-outline-color),
        var(--badge-primary-outline-bg-color),
        var(--badge-primary-outline-border-color)
      );
    }

    &.a-badge--transparent {
      @include a-badge(
        var(--badge-primary-transparent-color),
        var(--badge-primary-transparent-bg-color),
        var(--badge-primary-transparent-border-color)
      );
    }
  }

  &.a-badge--secondary {
    @include a-badge(
      var(--badge-secondary-color),
      var(--badge-secondary-bg-color),
      var(--badge-secondary-border-color)
    );

    &.a-badge--outline {
      @include a-badge(
        var(--badge-secondary-outline-color),
        var(--badge-secondary-outline-bg-color),
        var(--badge-secondary-outline-border-color)
      );
    }

    &.a-badge--transparent {
      @include a-badge(
        var(--badge-secondary-transparent-color),
        var(--badge-secondary-transparent-bg-color),
        var(--badge-secondary-transparent-border-color)
      );
    }
  }
}
