/**
 * BUTTON VARIABLES
 * -------------------------------------------------------------------
 */

.a-button,
.a-button-official {
  --btn-height:                                 var(--spacer-xl);
  --btn-padding:                                0 var(--spacer);
  --btn-font-weight:                            var(--font-weight-bold);
  --btn-font-size:                              1rem;
  --btn-icon-size:                              1.25rem;
}

.a-button {
  // Contained button
  --btn-color:                                  #{$white};
  --btn-bg-color:                               var(--theme1-400);
  --btn-hover-bg-color:                         var(--theme1-500);
  --btn-border-color:                           var(--btn-bg-color);
  --btn-hover-border-color:                     var(--btn-hover-bg-color);

  --btn-neutral-color:                          #{$white};
  --btn-neutral-bg-color:                       #{$gray-400};
  --btn-neutral-hover-bg-color:                 #{$gray-500};
  --btn-neutral-border-color:                   var(--btn-neutral-bg-color);
  --btn-neutral-hover-border-color:             var(--btn-neutral-hover-bg-color);

  --btn-secondary-color:                        #{$white};
  --btn-secondary-bg-color:                     var(--theme2-400);
  --btn-secondary-hover-bg-color:               var(--theme2-500);
  --btn-secondary-border-color:                 var(--btn-secondary-bg-color);
  --btn-secondary-hover-border-color:           var(--btn-secondary-hover-bg-color);

  --btn-success-color:                          #{$white};
  --btn-success-bg-color:                       var(--success-600);
  --btn-success-hover-bg-color:                 var(--success-500); // TODO: Implement correct hover color
  --btn-success-border-color:                   var(--btn-success-bg-color);
  --btn-success-hover-border-color:             var(--btn-success-hover-bg-color);

  --btn-warning-color:                          #{$gray-600};
  --btn-warning-bg-color:                       var(--warning-500);
  --btn-warning-hover-bg-color:                 var(--warning-600);
  --btn-warning-border-color:                   var(--btn-warning-bg-color);
  --btn-warning-hover-border-color:             var(--btn-warning-hover-bg-color);

  --btn-danger-color:                           #{$white};
  --btn-danger-bg-color:                        var(--danger-500);
  --btn-danger-hover-bg-color:                  var(--danger-600);
  --btn-danger-border-color:                    var(--btn-danger-bg-color);
  --btn-danger-hover-border-color:              var(--btn-danger-hover-bg-color);

  --btn-disabled-color:                         #{$gray-400};
  --btn-disabled-bg-color:                      #{$gray-100};
  --btn-disabled-hover-bg-color:                var(--btn-disabled-bg-color);
  --btn-disabled-border-color:                  var(--btn-disabled-bg-color);
  --btn-disabled-hover-border-color:            var(--btn-disabled-bg-color);

  // Outlined button
  --btn-outlined-color:                         var(--theme1-400);
  --btn-outlined-bg-color:                      transparent;
  --btn-outlined-hover-bg-color:                var(--theme1-050);
  --btn-outlined-border-color:                  var(--btn-outlined-color);
  --btn-outlined-hover-border-color:            var(--btn-outlined-color);

  --btn-outlined-neutral-color:                 #{$gray-400};
  --btn-outlined-neutral-bg-color:              transparent;
  --btn-outlined-neutral-hover-bg-color:        #{$gray-100};
  --btn-outlined-neutral-border-color:          var(--btn-outlined-neutral-color);
  --btn-outlined-neutral-hover-border-color:    var(--btn-outlined-neutral-color);

  --btn-outlined-success-color:                 var(--success-600);
  --btn-outlined-success-bg-color:              transparent;
  --btn-outlined-success-hover-bg-color:        var(--success-050);
  --btn-outlined-success-border-color:          var(--btn-outlined-success-color);
  --btn-outlined-success-hover-border-color:    var(--btn-outlined-success-color);

  --btn-outlined-warning-color:                 #{$gray-600};
  --btn-outlined-warning-bg-color:              transparent;
  --btn-outlined-warning-hover-bg-color:        var(--warning-050);
  --btn-outlined-warning-border-color:          var(--warning-500);
  --btn-outlined-warning-hover-border-color:    var(--btn-outlined-warning-border-color);

  --btn-outlined-danger-color:                  var(--danger-500);
  --btn-outlined-danger-bg-color:               transparent;
  --btn-outlined-danger-hover-bg-color:         var(--danger-050);
  --btn-outlined-danger-border-color:           var(--btn-outlined-danger-color);
  --btn-outlined-danger-hover-border-color:     var(--btn-outlined-danger-color);

  --btn-outlined-disabled-color:                #{$gray-400};
  --btn-outlined-disabled-bg-color:             #{$gray-100};
  --btn-outlined-disabled-hover-bg-color:       var(--btn-outlined-disabled-bg-color);
  --btn-outlined-disabled-border-color:         #{$gray-200};
  --btn-outlined-disabled-hover-border-color:   var(--btn-outlined-disabled-border-color);

  // Text buttons
  --btn-text-color:                             var(--theme1-400);
  --btn-text-bg-color:                          transparent;
  --btn-text-hover-bg-color:                    var(--theme1-050);
  --btn-text-border-color:                      transparent;
  --btn-text-hover-border-color:                transparent;

  --btn-text-neutral-color:                     #{$gray-400};
  --btn-text-neutral-bg-color:                  transparent;
  --btn-text-neutral-hover-bg-color:            #{$gray-100};
  --btn-text-neutral-border-color:              transparent;
  --btn-text-neutral-hover-border-color:        transparent;

  --btn-text-success-color:                     var(--success-600);
  --btn-text-success-bg-color:                  transparent;
  --btn-text-success-hover-bg-color:            var(--success-050);
  --btn-text-success-border-color:              transparent;
  --btn-text-success-hover-border-color:        transparent;

  --btn-text-warning-color:                     #{$gray-600};
  --btn-text-warning-bg-color:                  transparent;
  --btn-text-warning-hover-bg-color:            var(--warning-050);
  --btn-text-warning-border-color:              transparent;
  --btn-text-warning-hover-border-color:        transparent;

  --btn-text-danger-color:                      var(--danger-500);
  --btn-text-danger-bg-color:                   transparent;
  --btn-text-danger-hover-bg-color:             var(--danger-050);
  --btn-text-danger-border-color:               transparent;
  --btn-text-danger-hover-border-color:         transparent;

  --btn-text-disabled-color:                    #{$gray-400};
  --btn-text-disabled-bg-color:                 #{$gray-100};
  --btn-text-disabled-hover-bg-color:           var(--btn-text-disabled-bg-color);
  --btn-text-disabled-border-color:             var(--btn-text-disabled-bg-color);
  --btn-text-disabled-hover-border-color:       var(--btn-text-disabled-bg-color);

  // Social buttons
  --btn-twitter-color:                          #{$white};
  --btn-twitter-bg-color:                       #{$twitter};
  --btn-twitter-hover-bg-color:                 #{mix($twitter, $black, 90%)};
  --btn-twitter-border-color:                   #{$twitter};
  --btn-twitter-hover-border-color:             #{mix($twitter, $black, 90%)};

  --btn-linkedin-color:                         #{$white};
  --btn-linkedin-bg-color:                      #{$linkedin};
  --btn-linkedin-hover-bg-color:                #{mix($linkedin, $black, 90%)};
  --btn-linkedin-border-color:                  #{$linkedin};
  --btn-linkedin-hover-border-color:            #{mix($linkedin, $black, 90%)};

  --btn-facebook-color:                         #{$white};
  --btn-facebook-bg-color:                      #{$facebook};
  --btn-facebook-hover-bg-color:                #{mix($facebook, $black, 90%)};
  --btn-facebook-border-color:                  #{$facebook};
  --btn-facebook-hover-border-color:            #{mix($facebook, $black, 90%)};

  --btn-snapchat-color:                         #{$black};
  --btn-snapchat-bg-color:                      #{$snapchat};
  --btn-snapchat-hover-bg-color:                #{mix($snapchat, $black, 90%)};
  --btn-snapchat-border-color:                  #{$snapchat};
  --btn-snapchat-hover-border-color:            #{mix($snapchat, $black, 90%)};

  --btn-instagram-color:                        #{$white};
  --btn-instagram-bg-color:                     #{$instagram};
  --btn-instagram-hover-bg-color:               #{$instagram};
  --btn-instagram-border-color:                 transparent;
  --btn-instagram-hover-border-color:           transparent;
}

.a-button-official {
  --btn-official-color:                          #{$white};
  --btn-official-bg-color:                       #{$monza-400};
  --btn-official-hover-bg-color:                 #{mix($monza-400, $black, 90%)};
  --btn-official-border-color:                   #{$monza-400};
  --btn-official-hover-border-color:             #{mix($monza-400, $black, 90%)};
}

/**
 * BUTTON PLACEHOLDER
 * -------------------------------------------------------------------
 */

%a-button {
  align-items: center;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  display: flex;
  font-size: var(--btn-font-size);
  font-weight: var(--btn-font-weight);
  justify-content: center;
  line-height: 1.5;
  margin: 0;
  min-height: var(--btn-height);
  padding: var(--btn-padding);
  text-align: center;
  text-decoration: none;
  transition-duration: var(--animation-duration);
  transition-property: color, background, box-shadow;
  transition-timing-function: var(--animation-easing);
  user-select: none;
  width: 100%;

  @include at($screen-xs) {
    display: inline-flex;
    width: auto;
  }

  .ai {
    font-size: var(--btn-icon-size);
    line-height: 0;
  }
}

.a-button,
.a-button-official {
  @extend %a-button;
}

/**
 * BUTTON COLORS
 * -------------------------------------------------------------------
 */

.a-button {
  background: var(--btn-bg-color);
  color: var(--btn-color);
  box-shadow: 0 0 0 var(--border-width) var(--btn-border-color) inset;

  &:hover,
  &:active,
  &:focus {
    background: var(--btn-hover-bg-color);
    box-shadow: 0 0 0 var(--border-width) var(--btn-hover-border-color) inset;
    color: var(--btn-color);
    text-decoration: none;
  }

  &.a-button--neutral {
    --btn-color: var(--btn-neutral-color);
    --btn-bg-color: var(--btn-neutral-bg-color);
    --btn-hover-bg-color: var(--btn-neutral-hover-bg-color);
    --btn-border-color: var(--btn-neutral-border-color);
    --btn-hover-border-color: var(--btn-neutral-hover-border-color);
  }

  &.a-button--secondary {
    --btn-color: var(--btn-secondary-color);
    --btn-bg-color: var(--btn-secondary-bg-color);
    --btn-hover-bg-color: var(--btn-secondary-hover-bg-color);
    --btn-border-color: var(--btn-secondary-border-color);
    --btn-hover-border-color: var(--btn-secondary-hover-border-color);
  }

  &.a-button--success {
    --btn-color: var(--btn-success-color);
    --btn-bg-color: var(--btn-success-bg-color);
    --btn-hover-bg-color: var(--btn-success-hover-bg-color);
    --btn-border-color: var(--btn-success-border-color);
    --btn-hover-border-color: var(--btn-success-hover-border-color);
  }

  &.a-button--warning {
    --btn-color: var(--btn-warning-color);
    --btn-bg-color: var(--btn-warning-bg-color);
    --btn-hover-bg-color: var(--btn-warning-hover-bg-color);
    --btn-border-color: var(--btn-warning-border-color);
    --btn-hover-border-color: var(--btn-warning-hover-border-color);
  }

  &.a-button--danger {
    --btn-color: var(--btn-danger-color);
    --btn-bg-color: var(--btn-danger-bg-color);
    --btn-hover-bg-color: var(--btn-danger-hover-bg-color);
    --btn-border-color: var(--btn-danger-border-color);
    --btn-hover-border-color: var(--btn-danger-hover-border-color);
  }

  &:disabled {
    --btn-color: var(--btn-disabled-color);
    --btn-bg-color: var(--btn-disabled-bg-color);
    --btn-hover-bg-color: var(--btn-disabled-hover-bg-color);
    --btn-border-color: var(--btn-disabled-border-color);
    --btn-hover-border-color: var(--btn-disabled-hover-border-color);

    cursor: not-allowed;
  }
}

/**
 * SOCIAL BUTTON COLORS
 * -------------------------------------------------------------------
 */

.a-button.has-icon {
  &.a-button--twitter {
    --btn-color: var(--btn-twitter-color);
    --btn-bg-color: var(--btn-twitter-bg-color);
    --btn-hover-bg-color: var(--btn-twitter-hover-bg-color);
    --btn-border-color: var(--btn-twitter-border-color);
    --btn-hover-border-color: var(--btn-twitter-hover-border-color);
  }

  &.a-button--linkedin {
    --btn-color: var(--btn-linkedin-color);
    --btn-bg-color: var(--btn-linkedin-bg-color);
    --btn-hover-bg-color: var(--btn-linkedin-hover-bg-color);
    --btn-border-color: var(--btn-linkedin-border-color);
    --btn-hover-border-color: var(--btn-linkedin-hover-border-color);
  }

  &.a-button--facebook {
    --btn-color: var(--btn-facebook-color);
    --btn-bg-color: var(--btn-facebook-bg-color);
    --btn-hover-bg-color: var(--btn-facebook-hover-bg-color);
    --btn-border-color: var(--btn-facebook-border-color);
    --btn-hover-border-color: var(--btn-facebook-hover-border-color);
  }

  &.a-button--snapchat {
    --btn-color: var(--btn-snapchat-color);
    --btn-bg-color: var(--btn-snapchat-bg-color);
    --btn-hover-bg-color: var(--btn-snapchat-hover-bg-color);
    --btn-border-color: var(--btn-snapchat-border-color);
    --btn-hover-border-color: var(--btn-snapchat-hover-border-color);
  }

  &.a-button--instagram {
    --btn-color: var(--btn-instagram-color);
    --btn-bg-color: var(--btn-instagram-bg-color);
    --btn-hover-bg-color: var(--btn-instagram-hover-bg-color);
    --btn-border-color: var(--btn-instagram-border-color);
    --btn-hover-border-color: var(--btn-instagram-hover-border-color);

    position: relative;

    &:before {
      background-color: $black;
      content: '';
      height: 100%;
      left: 0;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      top: 0;
      transition: opacity var(--animation-normal);
      width: 100%;
    }

    &:hover,
    &:active,
    &:focus {
      &:before {
        opacity: .15;
      }
    }
  }
}

/**
 * OFFICIAL ANTWERP BUTTON
 * -------------------------------------------------------------------
 */

.a-button-official {
  background: var(--btn-official-bg-color);
  box-shadow: 0 0 0 var(--border-width) var(--btn-official-border-color) inset;
  color: var(--btn-official-color);
  padding-left: calc(var(--spacer) * 3);
  position: relative;
  white-space: nowrap;

  &:hover,
  &:active,
  &:focus {
    background: var(--btn-official-hover-bg-color);
    box-shadow: 0 0 0 var(--border-width) var(--btn-official-hover-border-color) inset;
    color: var(--btn-official-color);
    text-decoration: none;
  }

  &:before {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 196.1 115.3%22><path fill=%22%23ffffff%22 d=%22M128 115.3l-9.1-25.7H76.7l-9.1 25.7H43L87.1 0h22.4l43.8 115.3H128zm-24.4-68.5c-2.3-6.8-4.6-13.7-5.8-18-1.2 4.3-3.5 11.2-5.8 18l-7.4 20.9H111l-7.4-20.9z%22/><path fill=%22%23f18a00%22 d=%22M38.2 60.8c-.5 1.6-2.3 2.5-3.9 1.9L2.1 52C.5 51.5-.4 49.7.2 48.1l2.7-8c.5-1.6 2.3-2.5 3.9-1.9L38.9 49c1.6.5 2.5 2.3 1.9 3.9l-2.6 7.9zM36.4 86.1c.5 1.6-.3 3.4-1.9 3.9l-22.9 8.1c-1.6.5-3.4-.3-3.9-1.9l-2.7-8c-.5-1.6.3-3.4 1.9-3.9l22.9-8.1c1.6-.5 3.4.3 3.9 1.9l2.7 8zM30.1 12.6c-1.3 1-1.6 3-.6 4.3L44 36.4c1 1.3 3 1.6 4.3.6l6.6-5.1c1.3-1 1.6-3 .6-4.3L41.1 8c-1-1.3-3-1.6-4.3-.6l-6.7 5.2zM157.9 60.8c.5 1.6 2.3 2.5 3.9 1.9L194 52c1.6-.5 2.5-2.3 1.9-3.9l-2.7-8c-.5-1.6-2.3-2.5-3.9-1.9L157.2 49c-1.6.5-2.5 2.3-1.9 3.9l2.6 7.9zM159.6 86.1c-.5 1.6.3 3.4 1.9 3.9l22.9 8.1c1.6.5 3.4-.3 3.9-1.9l2.7-8c.5-1.6-.3-3.4-1.9-3.9l-22.9-8.1c-1.6-.5-3.4.3-3.9 1.9l-2.7 8zM165.9 12.6c1.3 1 1.6 3 .6 4.3L152 36.4c-1 1.3-3 1.6-4.3.6l-6.6-5.1c-1.4-1-1.6-3-.6-4.3L155 8c1-1.3 3-1.6 4.3-.6l6.6 5.2z%22/></svg>');
    background-repeat: no-repeat;
    content: '';
    display: block;
    height: rem(21px);
    left: var(--spacer-s);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: rem(36px);
  }
}

/**
 * OUTLINED BUTTON COLORS
 * -------------------------------------------------------------------
 */

.a-button.a-button--outlined {
  --btn-color: var(--btn-outlined-color);
  --btn-bg-color: var(--btn-outlined-bg-color);
  --btn-hover-bg-color: var(--btn-outlined-hover-bg-color);
  --btn-border-color: var(--btn-outlined-border-color);
  --btn-hover-border-color: var(--btn-outlined-hover-border-color);

  &.a-button--neutral {
    --btn-color: var(--btn-outlined-neutral-color);
    --btn-bg-color: var(--btn-outlined-neutral-bg-color);
    --btn-hover-bg-color: var(--btn-outlined-neutral-hover-bg-color);
    --btn-border-color: var(--btn-outlined-neutral-border-color);
    --btn-hover-border-color: var(--btn-outlined-neutral-hover-border-color);
  }

  &.a-button--success {
    --btn-color: var(--btn-outlined-success-color);
    --btn-bg-color: var(--btn-outlined-success-bg-color);
    --btn-hover-bg-color: var(--btn-outlined-success-hover-bg-color);
    --btn-border-color: var(--btn-outlined-success-border-color);
    --btn-hover-border-color: var(--btn-outlined-success-hover-border-color);
  }

  &.a-button--warning {
    --btn-color: var(--btn-outlined-warning-color);
    --btn-bg-color: var(--btn-outlined-warning-bg-color);
    --btn-hover-bg-color: var(--btn-outlined-warning-hover-bg-color);
    --btn-border-color: var(--btn-outlined-warning-border-color);
    --btn-hover-border-color: var(--btn-outlined-warning-hover-border-color);
  }

  &.a-button--danger {
    --btn-color: var(--btn-outlined-danger-color);
    --btn-bg-color: var(--btn-outlined-danger-bg-color);
    --btn-hover-bg-color: var(--btn-outlined-danger-hover-bg-color);
    --btn-border-color: var(--btn-outlined-danger-border-color);
    --btn-hover-border-color: var(--btn-outlined-danger-hover-border-color);
  }

  &:disabled {
    --btn-color: var(--btn-outlined-disabled-color);
    --btn-bg-color: var(--btn-outlined-disabled-bg-color);
    --btn-hover-bg-color: var(--btn-outlined-disabled-hover-bg-color);
    --btn-border-color: var(--btn-outlined-disabled-border-color);
    --btn-hover-border-color: var(--btn-outlined-disabled-hover-border-color);
  }
}

/**
 * TEXT BUTTON COLORS
 * -------------------------------------------------------------------
 */

.a-button.a-button--text {
  --btn-color: var(--btn-text-color);
  --btn-bg-color: var(--btn-text-bg-color);
  --btn-hover-bg-color: var(--btn-text-hover-bg-color);
  --btn-border-color: var(--btn-text-border-color);
  --btn-hover-border-color: var(--btn-text-hover-border-color);

  &.a-button--neutral {
    --btn-color: var(--btn-text-neutral-color);
    --btn-bg-color: var(--btn-text-neutral-bg-color);
    --btn-hover-bg-color: var(--btn-text-neutral-hover-bg-color);
    --btn-border-color: var(--btn-text-neutral-border-color);
    --btn-hover-border-color: var(--btn-text-neutral-hover-border-color);
  }

  &.a-button--success {
    --btn-color: var(--btn-text-success-color);
    --btn-bg-color: var(--btn-text-success-bg-color);
    --btn-hover-bg-color: var(--btn-text-success-hover-bg-color);
    --btn-border-color: var(--btn-text-success-border-color);
    --btn-hover-border-color: var(--btn-text-success-hover-border-color);
  }

  &.a-button--warning {
    --btn-color: var(--btn-text-warning-color);
    --btn-bg-color: var(--btn-text-warning-bg-color);
    --btn-hover-bg-color: var(--btn-text-warning-hover-bg-color);
    --btn-border-color: var(--btn-text-warning-border-color);
    --btn-hover-border-color: var(--btn-text-warning-hover-border-color);
  }

  &.a-button--danger {
    --btn-color: var(--btn-text-danger-color);
    --btn-bg-color: var(--btn-text-danger-bg-color);
    --btn-hover-bg-color: var(--btn-text-danger-hover-bg-color);
    --btn-border-color: var(--btn-text-danger-border-color);
    --btn-hover-border-color: var(--btn-text-danger-hover-border-color);
  }

  &:disabled {
    --btn-color: var(--btn-text-disabled-color);
    --btn-bg-color: var(--btn-text-disabled-bg-color);
    --btn-hover-bg-color: var(--btn-text-disabled-hover-bg-color);
    --btn-border-color: var(--btn-text-disabled-border-color);
    --btn-hover-border-color: var(--btn-text-disabled-hover-border-color);
  }
}

/**
 * BUTTON SIZES
 * -------------------------------------------------------------------
 */

.a-button {
  &.a-button--s {
    --btn-height: var(--spacer-l);
    --btn-padding: 0 var(--spacer-s);
    --btn-icon-size: 1rem;
  }

  &.a-button--l {
    --btn-height: var(--spacer-xxl);
    --btn-font-size: 1.125rem;
    --btn-icon-size: 1.5rem;
  }
}

/**
 * BUTTON WITH ICON LEFT OR RIGHT
 * -------------------------------------------------------------------
 */

.a-button {
  &.has-icon-left,
  &.has-icon-right {
    position: relative;

    .ai {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: var(--spacer-xl);
    }
  }

  &.has-icon-left {
    padding-left: var(--spacer-xl);

    .ai {
      left: 0;
    }
  }

  &.has-icon-right {
    padding-right: var(--spacer-xl);

    .ai {
      right: 0;
    }
  }
}

.a-button--s {
  &.has-icon-left .ai,
  &.has-icon-right .ai {
    width: var(--spacer-l);
  }

  &.has-icon-left {
    padding-left: var(--spacer-l);
  }

  &.has-icon-right {
    padding-right: var(--spacer-l);
  }
}

.a-button--l {
  &.has-icon-left .ai,
  &.has-icon-right .ai {
    width: var(--spacer-xxl);
  }

  &.has-icon-left {
    padding-left: var(--spacer-xxl);
  }

  &.has-icon-right {
    padding-right: var(--spacer-xxl);
  }
}

/**
 * BUTTON ICONS
 * -------------------------------------------------------------------
 */

.a-button.has-icon {
  display: inline-block;
  padding: 0;
  position: relative;
  vertical-align: middle;
  width: var(--spacer-xl);

  .ai {
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: var(--spacer-xl);
  }
}

.a-button--s.has-icon {
  width: var(--spacer-l);

  .ai {
    width: var(--spacer-l);
  }
}

.a-button--l.has-icon {
  width: var(--spacer-xxl);

  .ai {
    width: var(--spacer-xxl);
  }
}

/**
 * FULL WIDTH BUTTON
 * -------------------------------------------------------------------
 */

.a-button--full {
  @include at($screen-xs) {
    display: block;
    width: 100%;
  }
}

/**
 * BUTTON WITH AVATAR
 * -------------------------------------------------------------------
 */

.a-button {
  &.has-avatar,
  &.has-avatar-with-inset {
    overflow: hidden;
    position: relative;

    .a-avatar {
      left: 0;
      position: absolute;
      top: 0;
    }
  }

  &.has-avatar {
    padding-left: var(--shared-avatar-size);
  }

  &.has-avatar-with-inset {
    padding-left: calc(var(--shared-avatar-size) + var(--spacer));
  }
}

.a-button--s {
  &.has-avatar {
    padding-left: var(--shared-avatar-size-s);
  }

  &.has-avatar-with-inset {
    padding-left: calc(var(--shared-avatar-size-s) + var(--spacer-s));
  }
}

.a-button--l {
  &.has-avatar {
    padding-left: var(--shared-avatar-size-l);
  }

  &.has-avatar-with-inset {
    padding-left: calc(var(--shared-avatar-size-l) + var(--spacer));
  }
}
