/**
 * INPUTS
 * -------------------------------------------------------------------
 * Input fields are normalized in _base.normalize.scss
 */


/**
 * INPUT FONT-FAMILY
 * -------------------------------------------------------------------
 */

button,
input,
input[type='search'],
select,
textarea {
  appearance: none;
  font: inherit;
  margin: 0;
}



/**
 * INPUT PLACEHOLDER
 * -------------------------------------------------------------------
 */

%a-input {
  position: relative;

  small {
    display: block;
    margin: $spacer-sm / 2 0;
    text-align: left;
  }

  input,
  select,
  textarea {
    border-radius: 0;
    line-height: normal;
    resize: vertical;
    transition: border-color $animation-normal;
    width: 100%;
  }

  input {
    min-height: $input-height;
    padding: $input-padding;
  }

  select {
    min-height: $select-height;
    padding: $select-padding;
  }

  textarea {
    min-height: $textarea-height;
    padding: $textarea-padding;
  }
}

.a-input {
  @extend %a-input;
}


/**
 * INPUT
 * -------------------------------------------------------------------
 */

.a-input {
  @include a-input;

  &.w-textarea-padding {
    padding: $textarea-padding;
  }
}


/**
 * INPUT WRAPPER
 * -------------------------------------------------------------------
 */

.a-input__wrapper {
  position: relative;
}

/**
 * INPUT LABEL
 * -------------------------------------------------------------------
 */

.a-input__label {
  display: inline-block;
  margin-bottom: $spacer-sm / 2;
  text-align: left;

  + .a-switch,
  + .a-input__checkbox,
  + .a-input__radio {
    margin-top: $spacer-sm / 2;
  }
}


/**
 * INPUT LABEL MODIFIERS
 * -------------------------------------------------------------------
 */

.a-input__label--inline {
  margin-right: $spacer-xs;
  margin-top: calc(#{$line-height-base * $font-size-base} - 1px);
}


/**
 * INPUT STATES
 * -------------------------------------------------------------------
 */

.a-input {

  &.has-success {
    @include a-input($input-color, $input-bg, $input-success-border);

    .a-input__wrapper:before {
      color: $input-success-icon;
      content: '\f00c';
    }
  }

  &.has-warning {
    @include a-input($input-color, $input-bg, $input-warning-border);

    .a-input__wrapper:before {
      color: $input-warning-icon;
      content: '\f071';
    }
  }

  &.has-error {
    @include a-input($input-color, $input-bg, $input-danger-border);

    .a-input__wrapper:before {
      color: $input-danger-icon;
      content: '\f071';
    }
  }

  &.has-success,
  &.has-warning,
  &.has-error {

    .a-input__wrapper:before {
      @include fontawesome;
      font-size: 1.25rem;
      line-height: $spacer-lg;
      position: absolute;
      right: 0;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);
      width: $spacer-lg;
    }

    &.has-icon-right {
      .a-input__wrapper:before {
        right: $spacer-md;
      }

      .a-input__wrapper {
        input {
          padding-right: $spacer-lg + $spacer-md;
        }
      }
    }

    input {
      padding-right: $spacer-lg;
    }
  }

  &.is-required .a-input__label:after {
    color: $input-required;
    content: ' *';
  }
}


/**
 * INPUT WITH ICON LEFT OR RIGHT
 * -------------------------------------------------------------------
 */

.a-input__checkbox,
.a-input__radio {
  input {
    min-height: 0;
    opacity: 0;
    width: auto;

    &:focus + label:after {
      @include focus;
    }
  }
}


/**
 * INPUT WITH ICON LEFT OR RIGHT
 * -------------------------------------------------------------------
 */

.a-input {

  &.has-icon-left .a-input__wrapper > .fa,
  &.has-icon-right .a-input__wrapper > .fa {
    color: $input-icon;
    font-size: 1.25rem;
    height: $spacer-lg;
    line-height: $spacer-lg;
    pointer-events: none;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
    width: $spacer-lg;

    &.is-clickable {
      cursor: pointer;
      pointer-events: auto;
      transition: color $animation-normal;

      &:hover {
        color: $input-icon-hover;
      }
    }
  }

  &.has-icon-left .a-input__wrapper {
    input,
    select {
      padding-left: $spacer-lg;
    }

    > .fa {
      left: 0;
    }
  }

  &.has-icon-right .a-input__wrapper {
    input,
    select {
      padding-right: $spacer-lg;
    }

    > .fa {
      right: 0;
    }
  }
}


/**
 * INLINE INPUT
 * -------------------------------------------------------------------
 */

.a-input--inline {
  input,
  select,
  textarea,
  .a-input__checkbox,
  .a-input__radio {
    width: auto;
  }
}

.a-input__wrapper--inline {
  display: inline-block;
}


/**
 * INPUT SIZES
 * -------------------------------------------------------------------
 */

.a-input {
  &.a-input--small {
    input {
      min-height: $input-height-sm;
      padding: $input-padding-sm;
    }

    select {
      min-height: $select-height-sm;
      padding: $select-padding-sm;
    }

    textarea {
      min-height: $textarea-height-sm;
      padding: $textarea-padding-sm;
    }
  }

  &.a-input--large {
    input {
      min-height: $input-height-lg;
      padding: $input-padding-lg;
    }

    select {
      min-height: $select-height-lg;
      padding: $select-padding-lg;
    }

    textarea {
      min-height: $textarea-height-lg;
      padding: $textarea-padding-lg;
    }
  }
}
