/**
 * LABEL VARIABLES
 * -------------------------------------------------------------------
 */

.a-label {
  --label-height:                   1.125rem;
  --label-padding:                  0 var(--SPACER-XXS);
  --label-font-size:                .875rem;
  --label-line-height:              var(--label-height);
  --label-font-weight:              var(--FONT-WEIGHT-BOLD);

  --label-color:                    var(--TEXT-COLOR);
  --label-bg-color:                 transparent;
  --label-border-color:             #{$gray-400};

  --label-primary-color:            var(--THEME1-600);
  --label-primary-bg-color:         var(--label-bg-color);
  --label-primary-border-color:     var(--label-primary-color);

  --label-success-color:            var(--SUCCESS-700);
  --label-success-bg-color:         var(--label-bg-color);
  --label-success-border-color:     var(--label-success-color);

  --label-warning-color:            #{$burnt-orange-400};
  --label-warning-bg-color:         var(--label-bg-color);
  --label-warning-border-color:     var(--label-warning-color);

  --label-danger-color:            var(--DANGER-600);
  --label-danger-bg-color:         var(--label-bg-color);
  --label-danger-border-color:     var(--label-danger-color);
}

/**
 * LABELS
 * -------------------------------------------------------------------
 */

.a-label {
  background-color: var(--label-bg-color);
  border: var(--BORDER-WIDTH) solid var(--label-border-color);
  color: var(--label-color);
  display: inline-block;
  font-size: var(--label-font-size);
  font-weight: var(--label-font-weight);
  letter-spacing: .24px;
  line-height: var(--label-line-height);
  min-height: var(--label-height);
  padding: var(--label-padding);
}

/**
 * LABELS COLORS
 * -------------------------------------------------------------------
 */

.a-label {
  &.a-label--primary {
    --label-color: var(--label-primary-color);
    --label-bg-color: var(--label-primary-bg-color);
    --label-border-color: var(--label-primary-border-color);
  }

  &.a-label--success {
    --label-color: var(--label-success-color);
    --label-bg-color: var(--label-success-bg-color);
    --label-border-color: var(--label-success-border-color);
  }

  &.a-label--warning {
    --label-color: var(--label-warning-color);
    --label-bg-color: var(--label-warning-bg-color);
    --label-border-color: var(--label-warning-border-color);
  }

  &.a-label--danger {
    --label-color: var(--label-danger-color);
    --label-bg-color: var(--label-danger-bg-color);
    --label-border-color: var(--label-danger-border-color);
  }
}
