/**
 * CODE
 * -------------------------------------------------------------------
 */


/**
 * STANDARD CODE
 * -------------------------------------------------------------------
 */

code,
kbd,
pre,
samp {
  font-family: $font-family-monospace;
}


/**
 * Inline code
 */
code {
  background-color: $code-bg;
  color: $code-color;
  font-size: $code-font-size;
  padding: $code-padding;

  // Streamline the style when inside anchors to avoid broken underline and more
  a > & {
    background-color: inherit;
    color: inherit;
    padding: 0;
  }
}


/**
 * Keyboard input
 */
kbd {
  background-color: $kbd-bg;
  color: $kbd-color;
  font-size: $kbd-font-size;
  padding: $kbd-padding;

  kbd {
    font-size: 100%;
    padding: 0;
  }
}


/**
 * CODE BLOCK
 * -------------------------------------------------------------------
 */

%a-pre {
  background: $pre-bg;
  color: $pre-color;
  display: block;
  font-size: $pre-font-size;
  margin-top: 0;
  padding: $pre-padding;
  white-space: pre-wrap;

  code {
    background-color: transparent;
    padding: 0;
  }
}

.a-pre {
  @extend %a-pre;
}


/**
 * CODE MODIFIERS
 * -------------------------------------------------------------------
 */

/**
 * Scrollable code block
 */
.a-pre--scrollable {
  overflow-y: scroll;
  white-space: pre;
}
