/**
 * AVATAR VARIABLES
 * -------------------------------------------------------------------
 */

.a-avatar {
  --avatar-color:                    #{$gray-400};
  --avatar-bg-color:                 #{$white};
  --avatar-hover-bg-color:           #{$gray-100};

  --avatar-primary-color:            var(--THEME1-600);
  --avatar-primary-hover-color:      var(--THEME1-700);
  --avatar-primary-bg-color:         var(--THEME1-100);
  --avatar-primary-hover-bg-color:   var(--THEME1-200);

  --avatar-size-s:                   var(--shared-avatar-size-s); // 36px
  --avatar-icon-size-s:              1rem;

  --avatar-size:                     var(--shared-avatar-size); // 48px
  --avatar-icon-size:                1.25rem;

  --avatar-size-l:                   var(--shared-avatar-size-l); // 60px
  --avatar-icon-size-l:              1.5rem;
}

/**
 * AVATARS
 * -------------------------------------------------------------------
 */

.a-avatar {
  background-color: var(--avatar-bg-color);
  color: var(--avatar-color);
  display: inline-block;
  font-family: var(--FONT-FAMILY-HEADINGS);
  font-size: var(--avatar-icon-size);
  height: var(--avatar-size);
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color var(--ANIMATION-NORMAL);
  width: var(--avatar-size);

  img {
    display: block;
    max-width: 100%;
    transition: filter var(--ANIMATION-NORMAL);
  }

  &__icon .ai,
  &__letter {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

a,
.a-button {
  &:hover,
  &:active,
  &:focus {
    .a-avatar img {
      filter: brightness(80%);
    }
  }
}

/**
 * AVATAR ELEMENTS
 * -------------------------------------------------------------------
 */

.a-avatar__letter {
  text-transform: uppercase;
}

/**
 * AVATAR SIZES
 * -------------------------------------------------------------------
 */

.a-avatar--s {
  font-size: var(--avatar-icon-size-s);
  height: var(--avatar-size-s);
  width: var(--avatar-size-s);
}

.a-avatar--l {
  font-size: var(--avatar-icon-size-l);
  height: var(--avatar-size-l);
  width: var(--avatar-size-l);
}

/**
 * AVATAR COLORS
 * -------------------------------------------------------------------
 */

.a-avatar {
  background-color: var(--avatar-bg-color);
  color: var(--avatar-color);

  &.a-avatar--primary {
    background-color: var(--avatar-primary-bg-color);
    color: var(--avatar-primary-color);
  }
}

a,
.a-button {
  &:hover,
  &:active,
  &:focus {
    .a-avatar {
      background-color: var(--avatar-hover-bg-color);

      &.a-avatar--primary {
        color: var(--avatar-primary-hover-color);
        background-color: var(--avatar-primary-hover-bg-color);
      }
    }
  }
}

/**
 * AVATAR SHAPES
 * -------------------------------------------------------------------
 */

.a-avatar--rounded {
  // Fix image from breaking out of rounded parent element when hovering avatar on Safari
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  border-radius: 50%;
}
