/**
 * FIELDSET
 * -------------------------------------------------------------------
 */

fieldset {
  border: 0;
  border-bottom: 1px solid $text-color;
  border-top: 1px solid $text-color;
  margin: 0;
  min-width: 0;
  padding: $spacer-lg 0;

  + fieldset {
    margin-top: -1px;
  }
}
