/**
 * LABELS
 * -------------------------------------------------------------------
 */

.a-label {
  display: inline-block;
  font-size: rem($label-font-size);
  font-weight: $label-font-weight;
  letter-spacing: .24px;
  line-height: $label-line-height;
  min-height: $label-height;
  padding: $label-padding;
  text-transform: uppercase;
}


/**
 * LABELS COLORS
 * -------------------------------------------------------------------
 */

.a-label {
  @include a-label;

  &.a-label--primary {
    @include a-label($label-primary-color, $label-primary-border);
  }

  &.a-label--secondary {
    @include a-label($label-secondary-color, $label-secondary-border);
  }

  &.a-label--success {
    @include a-label($label-success-color, $label-success-border);
  }

  &.a-label--warning {
    @include a-label($label-warning-color, $label-warning-border);
  }

  &.a-label--danger {
    @include a-label($label-danger-color, $label-danger-border);
  }
}

