/**
 * AUTOCOMPLETE
 * -------------------------------------------------------------------
 */

.a-autocomplete {
  @extend %a-list--reset;
  background-color: $input-bg;
  border-bottom: 1px solid $input-border;
  border-left: 1px solid $input-border;
  border-right: 1px solid $input-border;
  box-shadow: $box-shadow;
  max-height: calc(#{$spacer * 10 - $spacer / 2} - 5px); // 5 rows - half a row (for clarity) - 5 borders of 1px
  opacity: 0;
  overflow-y: scroll;
  text-align: left;
  transform: translateY(-$spacer-lg);
  transition: visibility 0s $animation-duration $animation-easing, opacity $animation-normal, transform $animation-normal;
  visibility: hidden;
  width: 100%;

  li {
    transition: background $animation-duration $animation-easing;

    > a {
      color: $input-color;
      display: block;
      padding: $spacer / 3 * 2 $spacer;
      transition: color $animation-duration $animation-easing;
    }

    &:not(:first-child) {
      border-top: 1px solid $input-border;
    }

    &:hover,
    &:focus {
      background-color: $autocomplete-hover;

      a {
        color: $link-color;
      }
    }
  }
}


/**
 * AUTOCOMPLETE MODIFIERS
 * -------------------------------------------------------------------
 */

.a-autocomplete.is-open {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0s;
  visibility: visible;
}

.a-autocomplete--fixed {
  left: 0;
  position: absolute;
  top: 100%;
  z-index: layer('base');
}

