/**
 * LINKS
 * -------------------------------------------------------------------
 */

/**
 * LINK WITH ICON LEFT OR RIGHT
 * -------------------------------------------------------------------
 */

a:not([class^='a-button']) {
  &.has-icon-left .ai,
  &.has-icon-right .ai {
    font-size: .875rem;
    vertical-align: middle;
  }

  &.has-icon-left .ai {
    padding-right: var(--SPACER-XXS);
  }

  &.has-icon-right .ai {
    padding-left: var(--SPACER-XXS);
  }
}
