/**
 * FORM ELEMENTS
 * -------------------------------------------------------------------
 */

.a-form .a-input:not(:last-child) {
  margin-bottom: $spacer;
}


/**
 * FIELDSET
 * -------------------------------------------------------------------
 */

fieldset {
  border: none;
  border-bottom: 1px solid $border-color;
  border-top: 1px solid $border-color;
  margin: 0;
  min-width: 0;
  padding: $fieldset-padding;
  position: relative;

  + fieldset {
    margin-top: -1px;
  }
}

legend {
  background: $grey;
  color: $white;
  display: block;
  padding: $legend-padding;
  position: absolute;
  top: 0;
}
