/**
 * AVATAR VARIABLES
 * -------------------------------------------------------------------
 */

.a-avatar {
  --avatar-color:                    #{$gray-400};
  --avatar-bg-color:                 #{$white};
  --avatar-hover-bg-color:           #{$gray-100};

  --avatar-primary-color:            #{$white};
  --avatar-primary-bg-color:         var(--theme1-400);
  --avatar-primary-hover-bg-color:   var(--theme1-500);

  --avatar-size-s:                   calc(var(--spacer) * 1.5); // 36px
  --avatar-size:                     calc(var(--spacer) * 2); // 48px
  --avatar-size-l:                   calc(var(--spacer) * 3); // 72px
  --avatar-size-xl:                  calc(var(--spacer) * 4); // 96px

  --avatar-icon-size:                1.25rem;
}

/**
 * AVATARS
 * -------------------------------------------------------------------
 */

.a-avatar {
  align-items: center;
  background-color: var(--avatar-bg-color);
  color: var(--avatar-color);
  display: inline-flex;
  font-family: $font-family-headings;
  font-size: var(--avatar-icon-size);
  height: var(--avatar-size);
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  transition: background-color var(--animation-normal);
  width: var(--avatar-size);

  img {
    display: block;
    max-width: 100%;
    transition: transform var(--animation-normal);
  }

  &__icon .ai {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

a .a-avatar {
  &:hover,
  &:active {
    img {
      transform: scale(1.25);
    }
  }
}

/**
 * AVATAR SIZES
 * -------------------------------------------------------------------
 */

.a-avatar--s {
  height: var(--avatar-size-s);
  width: var(--avatar-size-s);
}

.a-avatar--l {
  height: var(--avatar-size-l);
  width: var(--avatar-size-l);
}

.a-avatar--xl {
  height: var(--avatar-size-xl);
  width: var(--avatar-size-xl);
}

/**
 * AVATAR COLORS
 * -------------------------------------------------------------------
 */

.a-avatar {
  background-color: var(--avatar-bg-color);
  color: var(--avatar-color);

  &.a-avatar--primary {
    background-color: var(--avatar-primary-bg-color);
    color: var(--avatar-primary-color);
  }
}

a .a-avatar {
  &:hover,
  &:active {
    background-color: var(--avatar-hover-bg-color);
  }

  &.a-avatar--primary {
    &:hover,
    &:active {
      background-color: var(--avatar-primary-hover-bg-color);
    }
  }
}

/**
 * AVATAR SHAPES
 * -------------------------------------------------------------------
 */

.a-avatar--rounded {
  border-radius: 50%;
}
