/**
 * SPINNER
 * -------------------------------------------------------------------
 */

.a-spinner {
  color: $spinner-color;
}

.a-spinner:before {
  @include fontawesome;
  animation: $spinner-animation-name $spinner-animation-speed infinite $spinner-animation-timing;
  color: inherit;
  content: '\f1ce';
  display: inline-block;
  font-size: rem($spinner-size);
}

.a-spinner--inline {
  display: inline-block;
  vertical-align: middle;
}

.a-spinner--centered {
  text-align: center;
}

/**
 * Spinner sizes
 */

.a-spinner--sm {
  &:before {
    font-size: rem($spinner-size-sm);
  }
}

.a-spinner--lg {
  &:before {
    font-size: rem($spinner-size-lg);
  }
}
