/**
 * CODE VARIABLES
 * -------------------------------------------------------------------
 */

pre,
code,
kbd {
  --pre-color:               var(--TEXT-COLOR);
  --pre-bg:                  #{$gray-100};
  --pre-font-size:           1rem;
  --pre-padding:             var(--SPACER-XS);

  --code-color:              var(--pre-color);
  --code-bg:                 var(--pre-bg);
  --code-font-size:          .875rem;
  --code-padding:            calc(var(--SPACER) / 12) var(--SPACER-3XS);

  --kbd-color:               #{$white};
  --kbd-bg:                  #{$gray-400};
  --kbd-font-size:          .875rem;
  --kbd-padding:             var(--code-padding);
}

/**
 * CODE
 * -------------------------------------------------------------------
 */

/**
 * STANDARD CODE
 * -------------------------------------------------------------------
 */

code,
kbd,
pre,
samp {
  font-family: var(--FONT-FAMILY-MONOSPACE);
}

/**
 * Inline code
 */
code {
  background-color: var(--code-bg);
  color: var(--code-color);
  font-size: var(--code-font-size);
  padding: var(--code-padding);

  // Streamline the style when inside anchors to avoid broken underline and more
  a > & {
    background-color: inherit;
    color: inherit;
    padding: 0;
  }
}

/**
 * Keyboard input
 */
kbd {
  background-color: var(--kbd-bg);
  color: var(--kbd-color);
  font-size: var(--kbd-font-size);
  padding: var(--kbd-padding);

  kbd {
    font-size: 100%;
    padding: 0;
  }
}

/**
 * CODE BLOCK
 * -------------------------------------------------------------------
 */

%a-pre {
  background: var(--pre-bg);
  color: var(--pre-color);
  display: block;
  font-size: var(--pre-font-size);
  margin-top: 0;
  padding: var(--pre-padding);
  white-space: pre-wrap;

  code {
    background-color: transparent;
    padding: 0;
  }
}

.a-pre {
  @extend %a-pre;
}

/**
 * CODE MODIFIERS
 * -------------------------------------------------------------------
 */

/**
 * Scrollable code block
 */
.a-pre--scrollable {
  overflow: auto;
  white-space: pre;
}
