/**
 * LINKS
 * -------------------------------------------------------------------
 */


/**
 * LINK WITH ICON LEFT OR RIGHT
 * -------------------------------------------------------------------
 */

a {
  &.has-icon-left .ai,
  &.has-icon-right .ai {
    font-size: .875rem;
    vertical-align: top;
  }

  &.has-icon-left .ai {
    padding-right: $spacer / 3;
  }

  &.has-icon-right .ai {
    padding-left: $spacer / 3;
  }
}
