/**
 * RANGE SLIDER VARIABLES
 * -------------------------------------------------------------------
 */

.a-range-slider {
  --range-slider-bg-color:            var(--THEME1-100);
  --range-slider-bar-bg-color:        var(--THEME1-600);
  --range-slider-handle-bg-color:     var(--THEME1-600);
  --range-slider-tickmark-bg-color:   var(--THEME1-300);
}

/**
 * RANGE SLIDER
 * -------------------------------------------------------------------
 */

/**
 * RANGE SLIDER ELEMENTS
 * -------------------------------------------------------------------
 */

.a-range-slider__labels,
.a-range-slider__descriptions {
  display: flex;
  justify-content: space-between;
}

.a-range-slider__labels {
  margin-bottom: var(--SPACER-XS);
}

.a-range-slider__descriptions {
  margin-top: var(--SPACER-3XS);
}

.a-range-slider__inner {
  background-color: var(--range-slider-bg-color);
  height: var(--SPACER-3XS);
  position: relative;
  width: 100%;
}

.a-range-slider__bar {
  background-color: var(--range-slider-bar-bg-color);
  height: 100%;
  position: absolute;
}

.a-range-slider__handle {
  border-radius: 50%;
  cursor: grab;
  padding: var(--SPACER-S);
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

  &:before {
    background-color: var(--range-slider-handle-bg-color);
    border-radius: var(--SPACER-XS);
    content: '';
    display: block;
    height: var(--SPACER-XS);
    width: var(--SPACER-XS);
  }
}

.a-range-slider__tickmarks {
  bottom: 0;
  display: flex;
  justify-content: space-between;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.a-range-slider__tickmark {
  background-color: var(--range-slider-tickmark-bg-color);
  width: calc(var(--BORDER-WIDTH) * 2);
}
