/**
 * PAGE INDICATOR VARIABLES
 * -------------------------------------------------------------------
 */

.a-page-indicator {
  --page-indicator-width:             auto;
  --page-indicator-height:            var(--SPACER-3XS);
  --page-indicator-spacing:           .125rem;

  --page-indicator-bg-color:          var(--THEME1-100);
  --page-indicator-active-bg-color:   var(--THEME1-600);
}

/**
 * PAGE INDICATOR
 * -------------------------------------------------------------------
 */

.a-page-indicator {
  display: flex;
}

/**
 * PAGE INDICATOR ELEMENTS
 * -------------------------------------------------------------------
 */

.a-page-indicator__item {
  background-color: transparent;
  flex-grow: 1;
  height: var(--SPACER-XL);
  position: relative;
  width: var(--page-indicator-width);

  &:before {
    background-color: var(--page-indicator-bg-color);
    content: '';
    height: var(--page-indicator-height);
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color var(--ANIMATION-NORMAL);
    width: 100%;
  }

  &:not(:last-child) {
    margin-right: var(--page-indicator-spacing);
  }

  &.is-active {
    &:before {
      --page-indicator-bg-color: var(--page-indicator-active-bg-color);
    }
  }
}

button,
a {
  &.a-page-indicator__item {
    border: none;
    cursor: pointer;
    padding: 0;

    &:hover,
    &:active,
    &:focus {
      &:before {
        --page-indicator-bg-color: var(--page-indicator-active-bg-color);
      }
    }
  }
}

/**
 * PAGE INDICATOR MODIFIERS
 * -------------------------------------------------------------------
 */

.a-page-indicator {
  &.a-page-indicator--s {
    --page-indicator-width: .375rem;
    --page-indicator-height: .375rem;
    --page-indicator-spacing: .375rem;

    display: inline-flex;

    .a-page-indicator__item {
      flex-grow: 0;
    }
  }

  &.a-page-indicator--l {
    --page-indicator-width: auto;
    --page-indicator-height: var(--SPACER-XXS);
    --page-indicator-spacing: var(--SPACER-3XS);
  }
}

.a-page-indicator.a-page-indicator--negative {
  --page-indicator-bg-color: #{rgba($white, .25)};
  --page-indicator-active-bg-color: #{$white};
}
