/**
 * LINKS
 * -------------------------------------------------------------------
 */


/**
 * LINK WITH ICON LEFT OR RIGHT
 * -------------------------------------------------------------------
 */

a {

  &.has-icon-left,
  &.has-icon-right {
    display: inline-block;

    .fa {
      font-size: 0.875rem;
    }
  }

  &.has-icon-left .fa {
    padding-right: $spacer-ti / 2;
  }

  &.has-icon-right .fa {
    padding-left: $spacer-ti / 2;
  }
}
