/**
 * SWITCH
 * -------------------------------------------------------------------
 */

.a-switch {
  display: block;
}

.a-switch__button {
  background: transparent;
  border: none;
  height: $switch-height;
  padding: 0;
  position: relative;

  &:before {
    background-color: $switch-bg;
    border: 1px solid $switch-border;
    content: '';
    cursor: pointer;
    display: inline-block;
    height: $switch-height;
    left: calc(50% - #{$switch-width / 2});
    position: absolute;
    top: 0;
    width: $switch-width;
  }

  &:after {
    background-color: $switch-handle-bg;
    content: '';
    display: inline-block;
    height: $switch-handle-width;
    left: 50%;
    margin-left: $switch-handle-width / -2;
    position: absolute;
    top: .25rem;
    transform: translateX(-50%);
    transition: background, transform $animation-normal;
    width: $switch-handle-width;
  }

  &[aria-checked='true'] {
    &:after {
      background-color: $switch-handle-bg-active;
      transform: translateX(50%);
    }
  }

  &:disabled {
    cursor: not-allowed;

    &:before {
      background-color: $switch-disabled;
      border: 1px solid $switch-disabled-border;
    }

    .a-switch__off,
    .a-switch__on {
      color: $switch-disabled-label;
    }
  }
}

.a-switch__off,
.a-switch__on {
  color: $switch-label;
}

.a-switch__off {
  margin-right: $switch-width / 2;
  padding-right: $spacer-xs;
}

.a-switch__on {
  margin-left: $switch-width / 2;
  padding-left: $spacer-xs;
}
