/**
 * COPYRIGHT
 * -------------------------------------------------------------------
 */

.a-copyright {
  background-color: $copyright-bg;
  color: $copyright-color;
  display: inline-block;
  font-size: rem($copyright-font-size);
  height: $copyright-height;
  transition: transform $animation-duration $animation-easing;
}


/**
 * COPYRIGHT ELEMENTS
 * -------------------------------------------------------------------
 */

.a-copyright__sign,
.a-copyright__label {
  float: left;
}

.a-copyright__sign {
  height: 100%;
  position: relative;
  width: $copyright-height;

  .fa {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.a-copyright__label {
  line-height: $copyright-height;
  margin-right: $spacer-xs;
}
