/**
 * SWITCH
 * -------------------------------------------------------------------
 */

.a-switch {
  display: flex;

  + .a-switch {
    margin-top: $spacer;
  }

  &.is-disabled .a-switch__label {
    color: $switch-disabled-label;
    cursor: not-allowed;
  }
}


/**
 * SWITCH ELEMENTS
 * -------------------------------------------------------------------
 */

.a-switch__label {
  line-height: $switch-height;
  margin-right: $spacer-xs;
}

.a-switch__toggle {
  height: $switch-height;
  position: relative;
  width: $switch-width;

  input[type='checkbox'] {
    opacity: 0;
    position: absolute;

    &:checked + label {

      &:before {
        width: $switch-width;
      }

      &:after {
        background-color: $switch-handle-bg-active;
        left: $switch-width / 2;
      }
    }

    &[disabled] + label {
      background-color: $switch-disabled;
      box-shadow: inset 0 0 0 1px $switch-disabled-border;
      cursor: not-allowed;

      &:after {
        background-color: $switch-disabled-bg;
      }
    }

    &:focus + label:before {
      @include focus;
    }
  }

  label {
    background-color: $switch-bg;
    box-shadow: inset 0 0 0 1px $switch-border;
    cursor: pointer;
    display: inline-block;
    height: $switch-height;
    position: relative;
    user-select: none;
    width: $switch-width;

    &:before {
      content: '';
      display: block;
      height: $switch-height;
      left: 0;
      position: absolute;
      top: 0;
      width: $switch-width;
    }

    &:after {
      background-color: $switch-handle-bg;
      content: '';
      display: block;
      height: $switch-handle-width;
      left: .25rem;
      position: absolute;
      top: .25rem;
      transition-duration: $animation-duration;
      transition-property: background, left;
      transition-timing-function: $animation-easing;
      width: $switch-handle-width;
    }
  }

  + .a-switch__label {
    margin: 0 0 0 $spacer-xs;
  }
}
