/**
 * TIMEPICKER
 * -------------------------------------------------------------------
 */

.a-timepicker {
  align-items: flex-end;
  display: flex;
  position: relative;
}

.a-timepicker__separator {
  margin: 0 $spacer-xs $spacer-sm;
}
