/**
 * LIST VARIABLES
 * -------------------------------------------------------------------
 */

.a-list,
.a-list-lined {
  --list-border-color:          #{$gray-200};
}

/**
 * LISTS
 * -------------------------------------------------------------------
 */

/**
 * STANDARD LIST
 * -------------------------------------------------------------------
 */

%a-list {
  padding-left: var(--spacer);

  .a-list__item {
    padding: var(--spacer-xxs) 0;
  }

  .a-list {
    margin-top: var(--spacer-xxs);

    .a-list__item:last-of-type {
      margin-bottom: calc(var(--spacer-xxs) * -1);
    }
  }
}

.a-list {
  @extend %a-list;
}

/**
 * LINED LIST
 * -------------------------------------------------------------------
 */

.a-list-lined {
  list-style: none;
  margin: 0;
  padding: 0;

  .a-list-lined__item:last-of-type .a-list-lined__content {
    border-bottom: var(--border-width) solid var(--list-border-color);
  }

  .a-list-lined__content {
    border-top: var(--border-width) solid var(--list-border-color);
    display: flex;
    padding: rem(14px) var(--spacer-s);
  }

  .a-list-lined__text {
    flex-grow: 1;
  }

  .a-list-lined__text + .ai,
  .ai + .a-list-lined__text {
    margin-left: var(--spacer-xs);
  }

  .a-list-lined {
    border-top: var(--border-width) solid var(--list-border-color);
    padding-left: var(--spacer);

    .a-list-lined__item {
      &:first-of-type .a-list-lined__content {
        border-top: none;
      }

      &:last-of-type .a-list-lined__content {
        border-bottom: none;
      }

      .a-list-lined__content {
        padding-left: 0;
      }
    }
  }
}

/**
 * DEFINITION LIST
 * -------------------------------------------------------------------
 */

.a-definition-list {
  margin: 0;

  dt {
    font-weight: var(--font-weight-bold);
    padding-top: var(--spacer-3xs);
  }

  dd {
    margin-left: 0;
    padding-bottom: var(--spacer-3xs);
  }
}
