/**
 * TOGGLE
 * -------------------------------------------------------------------
 */

.a-toggle {
  display: block;
  height: $spacer-lg;
  overflow: hidden;

  @include at($screen-xs) {
    display: inline-block;
    vertical-align: middle;
    width: auto;
  }

  &.has-icon {
    display: inline-block;
    vertical-align: middle;
  }
}


/**
 * TOGGLE ELEMENTS
 * -------------------------------------------------------------------
 */

.a-toggle__checkbox {
  display: none;

  &:checked + .a-toggle__labels {
    transform: translateY(-50%);
  }
}

.a-toggle__labels {
  display: flex;
  flex-direction: column;

  transition: transform $animation-normal;

  [class*='a-button'] {
    display: block;
  }
}

.a-toggle__on {
  order: 1;
}

.a-toggle__off {
  order: 2;
}


/**
 * TOGGLE MODIFIERS
 * -------------------------------------------------------------------
 */

.a-toggle {

  &.a-toggle--tiny {
    height: $spacer;
  }

  &.a-toggle--small {
    height: $spacer-md;
  }

  &.a-toggle--large {
    height: $spacer-xl;
  }
}

