/**
 * TOGGLE
 * -------------------------------------------------------------------
 */

.a-toggle {
  display: block;

  @include at($screen-xs) {
    display: inline-block;
  }
}


/**
 * TOGGLE ELEMENTS
 * -------------------------------------------------------------------
 */

.a-toggle__button {
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  height: var(--spacer-xl);
  overflow: hidden;
  padding: 0;

  &[aria-expanded='true'] {
    .a-toggle__on,
    .a-toggle__off {
      transform: translateY(-100%);
    }
  }
}

.a-toggle__on,
.a-toggle__off {
  transition-property: background, color, transform;
  width: 100%;
}

.a-toggle__on {
  order: 1;
}

.a-toggle__off {
  order: 2;
}


/**
 * TOGGLE MODIFIERS
 * -------------------------------------------------------------------
 */

.a-toggle {
  &.a-toggle--xs {
    .a-toggle__button {
      height: var(--spacer);
    }
  }

  &.a-toggle--s {
    .a-toggle__button {
      height: var(--spacer-l);
    }
  }

  &.a-toggle--l {
    .a-toggle__button {
      height: var(--spacer-xxl);
    }
  }
}
