/**
 * FORM ELEMENTS
 * -------------------------------------------------------------------
 */

.a-form .a-input:not(:last-child) {
  margin-bottom: var(--spacer);
}

/**
 * FIELDSET
 * -------------------------------------------------------------------
 */

fieldset {
  border: none;
  border-bottom: var(--border-width) solid var(--border-color);
  border-top: var(--border-width) solid var(--border-color);
  margin: 0;
  min-width: 0;
  padding: var(--spacer-xl) 0;
  position: relative;

  + fieldset {
    margin-top: calc(var(--border-width) * -1);
  }
}

legend {
  color: #{$gray-400};
  font-size: #{rem($font-size-lg)};
  font-weight: var(--font-weight-bold);
  padding: 0 var(--spacer-xxs) 0 0;
}
