/**
 * FORM ELEMENTS
 * -------------------------------------------------------------------
 */

.a-form .a-input:not(:last-child) {
  margin-bottom: var(--SPACER);
}

/**
 * FIELDSET
 * -------------------------------------------------------------------
 */

fieldset {
  border: none;
  border-bottom: var(--BORDER-WIDTH) solid var(--BORDER-COLOR);
  border-top: var(--BORDER-WIDTH) solid var(--BORDER-COLOR);
  margin: 0;
  min-width: 0;
  padding: var(--SPACER-XL) 0;
  position: relative;

  + fieldset {
    margin-top: calc(var(--BORDER-WIDTH) * -1);
  }

  &.a-input {
    border: none;
    padding: 0;
  }
}

legend {
  &:not(.a-input__label) {
    color: #{$gray-400};
    font-size: #{rem($font-size-lg)};
    font-weight: var(--FONT-WEIGHT-BOLD);
    padding: 0 var(--SPACER-XXS) 0 0;
  }
}
