/**
 * AVATARS
 * -------------------------------------------------------------------
 */

.a-avatar {
  background-color: $avatar-bg;
  color: $avatar-color;
  display: inline-block;
  font-size: $avatar / 2;
  height: $avatar;
  line-height: $avatar;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: $avatar;

  img {
    display: block;
    max-width: 100%;
  }
}

a .a-avatar {

  &:before {
    background-color: $black;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: opacity $animation-duration $animation-easing;
    width: 100%;
  }

  &:hover,
  &:active {
    color: $avatar-color;

    &:before {
      opacity: .15;
    }
  }
}

/**
 * AVATAR SIZES
 * -------------------------------------------------------------------
 */

.a-avatar--small {
  font-size: $avatar-sm / 2;
  height: $avatar-sm;
  line-height: $avatar-sm;
  width: $avatar-sm;
}

.a-avatar--medium {
  font-size: $avatar-md / 2;
  height: $avatar-md;
  line-height: $avatar-md;
  width: $avatar-md;
}

.a-avatar--large {
  font-size: $avatar-lg / 2;
  height: $avatar-lg;
  line-height: $avatar-lg;
  width: $avatar-lg;
}
