/**
 * RADIO BUTTON & CHECKBOX
 * -------------------------------------------------------------------
 */

.a-input {
  .a-input__radio,
  .a-input__checkbox {
    display: block;

    &:not(:last-child) {
      margin-bottom: $spacer-xs;
    }
  }
}

.a-input--inline {
  .a-input__radio,
  .a-input__checkbox {
    display: inline-block;

    + .a-input__radio,
    + .a-input__checkbox {
      margin-left: $spacer;
    }
  }
}

.a-input__checkbox,
.a-input__radio {
  display: block;
  padding-left: $spacer;
  position: relative;

  input {
    cursor: pointer;
    line-height: normal;
    opacity: 0;
    padding: 0;
    position: absolute;
    z-index: layer('base');

    &:checked + label {
      &:before {
        background-color: $radio-checkbox-bg;
        box-shadow: 0 0 0 1px $radio-checkbox-bg inset;
      }

      &:after {
        @include fontawesome;
      }
    }

    &:disabled {
      cursor: not-allowed;
    }

    &:disabled + label {
      color: $input-disabled;
      cursor: not-allowed;

      &:before {
        background-color: $input-disabled-bg;
        box-shadow: 0 0 0 1px $input-disabled-border inset;
      }
    }
  }

  label {
    cursor: pointer;
    display: inline-block;
    line-height: $spacer;
    max-width: 100%;
    min-height: $spacer;
    padding-left: $spacer-xs;
    position: relative;
    vertical-align: middle;

    &:before {
      background-color: $input-bg;
      box-shadow: 0 0 0 1px $input-border inset;
      content: '';
      display: inline-block;
      height: $spacer;
      left: 0;
      margin-left: -$spacer;
      position: absolute;
      transition-duration: $animation-duration;
      transition-property: background, box-shadow;
      transition-timing-function: $animation-easing;
      width: $spacer;
    }

    &:after {
      color: $radio-checkbox-color;
      content: '';
      display: inline-block;
      font-size: $icon-size-sm;
      height: $spacer;
      left: 0;
      margin-left: -$spacer;
      position: absolute;
      text-align: center;
      top: 0;
      width: $spacer;
    }
  }
}

.a-input__checkbox input[type='checkbox']:checked {
  + label:after {
    content: '\f00c';
  }

  &:disabled {
    + label:before {
      background-color: $input-disabled;
      box-shadow: 0 0 0 1px $input-disabled-bg inset;
    }
  }
}

.a-input__radio input[type='radio'] {
  + label:before,
  + label:after {
    border-radius: 50%;
  }

  &:checked {
    + label:before {
      background: $white;
      box-shadow: 0 0 0 rem(6px) $radio-checkbox-bg inset;
    }

    &:disabled {
      + label:before {
        box-shadow: 0 0 0 6px $input-disabled inset;
      }
    }
  }
}
