/**
 * BADGE VARIABLES
 * -------------------------------------------------------------------
 */

.a-badge {
  --badge-font-size:         #{$font-size-sm};
  --badge-font-weight:       var(--FONT-WEIGHT-BOLD);
  --badge-size:              var(--SPACER);
  --badge-padding:           0 var(--SPACER-3XS);

  --badge-color:             #{$white};
  --badge-bg-color:          #{$gray-400};
  --badge-border-color:      #{$gray-400};
}

/**
 * BADGES
 * -------------------------------------------------------------------
 */

.a-badge {
  align-items: center;
  border-radius: var(--badge-size);
  display: inline-flex;
  font-size: var(--badge-font-size);
  font-weight: var(--badge-font-weight);
  justify-content: center;
  min-height: var(--badge-size);
  min-width: var(--badge-size);
  padding: var(--badge-padding);
}

/**
 * BADGES COLORS
 * -------------------------------------------------------------------
 */

.a-badge {
  background-color: var(--badge-bg-color);
  border: var(--BORDER-WIDTH) solid var(--badge-border-color);
  color: var(--badge-color);

  &.a-badge--outlined {
    --badge-color:            #{$gray-400};
    --badge-bg-color:         transparent;
    --badge-border-color:     #{$gray-300};
  }

  &.a-badge--transparent {
    --badge-color:            #{$gray-400};
    --badge-bg-color:         #{$gray-100};
    --badge-border-color:     #{$gray-100};
  }

  &.a-badge--primary {
    --badge-color:            #{$white};
    --badge-bg-color:         var(--THEME1-600);
    --badge-border-color:     var(--THEME1-600);

    &.a-badge--outlined {
      --badge-color:          var(--THEME1-600);
      --badge-bg-color:       transparent;
      --badge-border-color:   var(--THEME1-600);
    }

    &.a-badge--transparent {
      --badge-color:          var(--THEME1-600);
      --badge-bg-color:       var(--THEME1-100);
      --badge-border-color:   var(--THEME1-100);
    }
  }
}

/**
 * BADGES DISABLED COLORS
 * -------------------------------------------------------------------
 */

.is-disabled {
  .a-badge {
    &,
    &.a-badge--primary {
      --badge-color:             #{$white};
      --badge-bg-color:          #{$gray-400};
      --badge-border-color:      #{$gray-400};

      &.a-badge--outlined,
      &.a-badge--transparent {
        --badge-color:            #{$gray-400};
        --badge-bg-color:         transparent;
        --badge-border-color:     #{$gray-300};
      }
    }
  }
}
