/**
 * RADIO BUTTON & CHECKBOX VARIABLES
 * -------------------------------------------------------------------
 */

.a-input__checkbox,
.a-input__radio {
  --radio-checkbox-color:                   #{$white};
  --radio-checkbox-bg-color:                var(--THEME1-600);
  --radio-checkbox-border-color:            var(--BORDER-COLOR);

  --radio-checkbox-disabled-color:          var(--STATE-DISABLED);
  --radio-checkbox-disabled-bg-color:       #{$gray-100};
  --radio-checkbox-disabled-border-color:   #{$gray-200};
}

/**
 * RADIO BUTTON & CHECKBOX
 * -------------------------------------------------------------------
 */

.a-input {
  .a-input__radio,
  .a-input__checkbox {
    display: block;

    &:not(:last-child) {
      margin-bottom: var(--SPACER-XS);
    }
  }
}

.a-input--inline {
  .a-input__radio,
  .a-input__checkbox {
    display: inline-block;

    + .a-input__radio,
    + .a-input__checkbox {
      margin-left: var(--SPACER);
    }
  }
}

.a-input__checkbox,
.a-input__radio {
  display: block;
  padding-left: var(--SPACER);
  position: relative;

  input {
    cursor: pointer;
    line-height: normal;
    min-height: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    width: auto;
    z-index: layer('base');

    &:checked {
      + label:before {
        background-color: var(--radio-checkbox-bg-color);
        box-shadow: 0 0 0 var(--BORDER-WIDTH) var(--radio-checkbox-bg-color) inset;
      }
    }

    &:disabled {
      cursor: not-allowed;
    }

    &:disabled + label {
      color: var(--radio-checkbox-disabled-color);
      cursor: not-allowed;

      &:before {
        background-color: var(--radio-checkbox-disabled-bg-color);
        box-shadow: 0 0 0 var(--BORDER-WIDTH) var(--radio-checkbox-disabled-border-color) inset;
      }
    }

    &:focus + label:after {
      @include focus;
    }
  }

  label {
    cursor: pointer;
    display: inline-block;
    line-height: var(--SPACER);
    max-width: 100%;
    min-height: var(--SPACER);
    padding-left: var(--SPACER-XS);
    position: relative;
    vertical-align: middle;

    &:before {
      background-color: var(--radio-checkbox-color);
      box-shadow: 0 0 0 var(--BORDER-WIDTH) var(--radio-checkbox-border-color) inset;
      content: '';
      display: inline-block;
      height: var(--SPACER);
      left: 0;
      margin-left: calc(var(--SPACER) * -1);
      position: absolute;
      transition-duration: var(--ANIMATION-DURATION);
      transition-property: background, box-shadow;
      transition-timing-function: var(--ANIMATION-EASING);
      width: var(--SPACER);
    }

    &:after {
      color: var(--radio-checkbox-color);
      content: '';
      display: inline-block;
      font-size: $icon-size-sm;
      height: var(--SPACER);
      left: 0;
      margin-left: calc(var(--SPACER) * -1);
      position: absolute;
      text-align: center;
      top: 0;
      transition-duration: var(--ANIMATION-DURATION);
      transition-property: background-size;
      transition-timing-function: var(--ANIMATION-EASING);
      width: var(--SPACER);
    }
  }
}

.a-input__checkbox input[type='checkbox'] {
  + label {
    &:before {
      border-radius: var(--BORDER-RADIUS);
    }

    &:after {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 0% 0%;
    }
  }
}

.a-input__checkbox input[type='checkbox'] {
  &:checked,
  &:indeterminate {
    + label:after {
      background-size: 100% 100%;
    }
  }

  &:checked {
    + label:after {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 20 20%22><path fill=%22%23ffffff%22 d=%22M7.2,17c-0.2,0-0.3-0.1-0.4-0.2l-3.7-3.7C3,13,3,12.6,3.1,12.5s0.5-0.2,0.7,0l3.2,3.2l9-12.5c0.2-0.3,0.4-0.3,0.7-0.1c0.3,0.2,0.3,0.4,0.1,0.7l-9.4,13C7.4,16.9,7.3,17,7.2,17L7.2,17z%22/></svg>');
    }

    &:disabled {
      + label:after {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 20 20%22><path fill=%22%236f6f6f%22 d=%22M7.2,17c-0.2,0-0.3-0.1-0.4-0.2l-3.7-3.7C3,13,3,12.6,3.1,12.5s0.5-0.2,0.7,0l3.2,3.2l9-12.5c0.2-0.3,0.4-0.3,0.7-0.1c0.3,0.2,0.3,0.4,0.1,0.7l-9.4,13C7.4,16.9,7.3,17,7.2,17L7.2,17z%22/></svg>');
      }
    }
  }

  &:indeterminate {
    + label:before {
      background-color: var(--radio-checkbox-bg-color);
      box-shadow: 0 0 0 var(--BORDER-WIDTH) var(--radio-checkbox-bg-color) inset;
    }

    + label:after {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 20 20%22><path fill=%22%23ffffff%22 d=%22M16.5,10.5h-13C3.2,10.5,3,10.3,3,10s0.2-0.5,0.4-0.5h13.1c0.3,0,0.4,0.2,0.4,0.5S16.7,10.5,16.5,10.5z%22/></svg>');
    }

    &:disabled {
      + label:after {
        background-color: var(--radio-checkbox-disabled-bg-color);
        background-image: url('data:image/svg+xml;utf8,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 20 20%22><path fill=%22%236f6f6f%22 d=%22M16.5,10.5h-13C3.2,10.5,3,10.3,3,10s0.2-0.5,0.4-0.5h13.1c0.3,0,0.4,0.2,0.4,0.5S16.7,10.5,16.5,10.5z%22/></svg>');
        box-shadow: 0 0 0 var(--BORDER-WIDTH) var(--radio-checkbox-disabled-border-color) inset;
      }
    }
  }
}

.a-input__radio input[type='radio'] {
  + label:before,
  + label:after {
    border-radius: 50%;
  }

  &:checked {
    + label:before {
      background: $white;
      box-shadow: 0 0 0 rem(6px) var(--radio-checkbox-bg-color) inset;
    }

    &:disabled {
      + label:before {
        background: var(--radio-checkbox-disabled-color);
        box-shadow: 0 0 0 var(--BORDER-WIDTH) var(--radio-checkbox-disabled-border-color) inset, 0 0 0 rem(6px) var(--radio-checkbox-disabled-bg-color) inset;
      }
    }
  }
}
