/**
 * INPUTS
 * -------------------------------------------------------------------
 * Input fields are normalized in _base.normalize.scss
 */

/**
 * INPUTS VARIABLES
 * -------------------------------------------------------------------
 */

.a-input {
  --input-color:                   var(--TEXT-COLOR);
  --input-bg-color:                #{$white};
  --input-border-color:            var(--BORDER-COLOR);
  --input-placeholder-color:       #{$gray-400};

  --input-disabled-color:          var(--STATE-DISABLED);
  --input-disabled-bg-color:       #{$gray-100};
  --input-disabled-border-color:   #{$gray-200};

  --input-readonly-color:          var(--TEXT-COLOR);
  --input-readonly-bg-color:       #{$white};
  --input-readonly-border-color:   var(--BORDER-COLOR);

  --input-icon-color:              #{$gray-400};
  --input-icon-hover-color:        #{$gray-600};
  --input-icon-size:               1.25rem;

  --input-danger-border-color:     var(--STATE-DANGER);

  --input-height:                  var(--SPACER-XL);
  --input-padding-vertical:        0;
  --input-padding-horizontal:      var(--SPACER-S);

  --select-padding-vertical:       var(--SPACER-XS);

  --textarea-height:               12rem;
}

/**
 * INPUT FONT-FAMILY
 * -------------------------------------------------------------------
 */

button,
input,
input[type='search'],
select,
textarea {
  appearance: none;
  font: inherit;
  margin: 0;
}

/**
 * INPUT
 * -------------------------------------------------------------------
 */

.a-input {
  position: relative;

  input,
  select,
  textarea {
    @include input-placeholder {
      color: var(--input-placeholder-color);
    }

    background-color: var(--input-bg-color);
    border: var(--BORDER-WIDTH) solid var(--input-border-color);
    color: var(--input-color);
    border-radius: var(--BORDER-RADIUS);
    line-height: normal;
    resize: vertical;
    transition: border-color var(--ANIMATION-NORMAL);
    width: 100%;

    &:disabled {
      --input-color: var(--input-disabled-color);
      --input-bg-color: var(--input-disabled-bg-color);
      --input-border-color: var(--input-disabled-border-color);

      cursor: not-allowed;
    }

    &[readonly] {
      --input-color: var(--input-readonly-color);
      --input-bg-color: var(--input-readonly-bg-color);
      --input-border-color: var(--input-readonly-border-color);
    }
  }

  input,
  select {
    min-height: var(--input-height);
  }

  input {
    padding: var(--input-padding-vertical) var(--input-padding-horizontal);
  }

  select {
    padding: var(--select-padding-vertical) var(--input-padding-horizontal);
  }

  textarea {
    min-height: var(--textarea-height);
    padding: var(--input-padding-horizontal);
  }

  &.w-textarea-padding {
    padding: var(--input-padding-horizontal);
  }
}

/**
 * INPUT WRAPPER
 * -------------------------------------------------------------------
 */

.a-input__wrapper {
  position: relative;
}

/**
 * INPUT LABEL
 * -------------------------------------------------------------------
 */

.a-input__label {
  display: inline-block;
  margin-bottom: var(--SPACER-XXS);
  text-align: left;

  + .a-switch,
  + .a-input__checkbox,
  + .a-input__radio {
    margin-top: var(--SPACER-XXS);
  }

  + .a-input__description {
    margin-top: 0;
  }
}

/**
 * INPUT INFO
 * -------------------------------------------------------------------
 */

.a-input__description {
  display: block;
  margin: var(--SPACER-XXS) 0;

  &.is-error,
  &.is-success {
    display: flex;

    .ai {
      margin-right: var(--SPACER-XXS);
    }
  }

  &.is-success {
    color: var(--STATE-SUCCESS);
  }

  &.is-error {
    color: var(--STATE-DANGER);
  }
}

/**
 * INPUT LABEL MODIFIERS
 * -------------------------------------------------------------------
 */

.a-input__label--inline {
  margin-right: var(--SPACER-XS);
  margin-top: calc(#{$line-height-base * $font-size-base} - #{var(--BORDER-WIDTH)});
}

/**
 * INPUT STATES
 * -------------------------------------------------------------------
 */

.a-input.has-error {
  --input-border-color: var(--input-danger-border-color);
}

/**
 * INPUT WITH ICON LEFT OR RIGHT
 * -------------------------------------------------------------------
 */

.a-input {
  &.has-icon-left .a-input__wrapper > .ai,
  &.has-icon-right .a-input__wrapper > .ai {
    color: var(--input-icon-color);
    font-size: var(--input-icon-size);
    pointer-events: none;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;

    &.is-clickable {
      align-items: center;
      cursor: pointer;
      display: flex;
      height: 100%;
      pointer-events: auto;
      right: 0;
      transition: color var(--ANIMATION-NORMAL);
      width: $spacer-lg;

      &:hover {
        color: var(--input-icon-hover-color);
      }
    }
  }

  &.has-icon-left .a-input__wrapper {
    input,
    select {
      padding-left: calc(var(--input-padding-horizontal) * 2 + var(--input-icon-size));
    }

    > .ai {
      left: var(--input-padding-horizontal);
    }
  }

  &.has-icon-right .a-input__wrapper {
    input,
    select {
      padding-right: calc(var(--input-padding-horizontal) * 2 + var(--input-icon-size));
    }

    > .ai {
      right: var(--input-padding-horizontal);
    }
  }
}

/**
 * INPUT WITH ADDON LEFT OR RIGHT
 * -------------------------------------------------------------------
 */

.a-input {
  &.has-addon-left,
  &.has-addon-right {
    input,
    select {
      &:focus {
        outline: none;
      }
    }

    .a-input__wrapper {
      display: flex;
    }

    &:focus-within .a-input__wrapper {
      outline: 5px auto Highlight;
      outline: 2px auto -webkit-focus-ring-color; // Decrease focus outline on Safari to make it connect to input field border
    }
  }

  &.has-addon-left {
    input,
    select {
      border-left: none;
    }

    .a-input__addon {
      border-left: var(--BORDER-WIDTH) solid var(--input-border-color);
      padding-left: var(--input-padding-horizontal);
    }
  }

  &.has-addon-right {
    input {
      border-right: none;
    }

    .a-input__addon {
      border-right: var(--BORDER-WIDTH) solid var(--input-border-color);
      padding-right: var(--input-padding-horizontal);
    }
  }
}

.a-input__addon {
  border-bottom: var(--BORDER-WIDTH) solid var(--input-border-color);
  border-top: var(--BORDER-WIDTH) solid var(--input-border-color);
  color: var(--input-icon-color);
  line-height: var(--input-height);
  text-align: center;
  white-space: nowrap;
}

/**
 * INLINE INPUT
 * -------------------------------------------------------------------
 */

.a-input--inline {
  input,
  select,
  textarea,
  .a-input__checkbox,
  .a-input__radio {
    width: auto;
  }
}

.a-input__wrapper--inline {
  display: inline-block;
}

/**
 * INPUT SIZES
 * -------------------------------------------------------------------
 */

.a-input {
  &.a-input--s {
    --input-height: var(--SPACER-L);
    --input-icon-size: 1rem;
    --input-padding-horizontal: var(--SPACER-XS);
    --select-padding-vertical: 0;
    --textarea-height: 8rem;

    select {
      @-moz-document url-prefix() {
        line-height: 2.1; // Fixes Firefox line-height bug (https://stackoverflow.com/a/5440037)
      }
    }
  }

  &.a-input--l {
    --input-height: var(--SPACER-XXL);
    --input-padding-horizontal: var(--SPACER);
    --select-padding-vertical: 1.125rem;
    --textarea-height: 16rem;
  }
}
