/**
 * LIST VARIABLES
 * -------------------------------------------------------------------
 * This component has shared variables with _molecules.collapsible-list.scss. You can find them in _quarks.css-properties.scss.
 */

%a-list {
  --list-padding-left:          var(--spacer);
  --list-item-padding-top:      var(--shared-list-item-padding-top);
  --list-item-padding-bottom:   var(--list-item-padding-top);
}

/**
 * LISTS
 * -------------------------------------------------------------------
 */

ul,
ol,
dl {
  line-height: 1.3;
}

/**
 * STANDARD LIST
 * -------------------------------------------------------------------
 */

%a-list {
  padding-left: var(--list-padding-left);

  .a-list {
    margin-top: var(--list-item-padding-top);

    > li:last-of-type {
      margin-bottom: calc(var(--list-item-padding-bottom) * -1);
    }
  }

  > li {
    padding: var(--list-item-padding-top) 0 var(--list-item-padding-bottom);
  }
}

.a-list {
  @extend %a-list;
}

/**
 * LIST PLACEHOLDERS
 * -------------------------------------------------------------------
 * List without default padding and standard list styling.
 */

/**
 * List without default padding and standard list styling.
 */
%a-list--reset {
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;

  ul,
  ol {
    list-style: none;
    padding: 0;
  }
}

.a-list--reset {
  @extend %a-list--reset;
}

/**
 * List without standard list styling.
 */
%a-list--unstyled {
  list-style: none;
  padding: 0;

  ul,
  ol {
    list-style: none;
  }
}

.a-list--unstyled {
  @extend %a-list--unstyled;
}

/**
 * List without default padding.
 */
%a-list--flattened {
  line-height: 1;
  padding: 0;

  ul,
  ol {
    padding: 0;
  }
}

.a-list--flattened {
  @extend %a-list--flattened;
}

/**
 * List with more padding.
 */
%a-list--primary {
  .a-list {
    line-height: 1;
    margin-top: var(--spacer-s);

    > li {
      padding-left: var(--spacer-xs);

      &:last-of-type {
        margin-bottom: calc(var(--spacer-s) * -1);
      }
    }
  }

  > li {
    padding: var(--spacer-s) 0 var(--spacer-s) var(--spacer-xs);
  }
}

.a-list--primary {
  @extend %a-list--primary;
}

/**
 * LIST MODIFIERS
 * -------------------------------------------------------------------
 */

/**
 * List with list items separated by a border.
 */
.a-list--lined {
  @extend %a-list--primary;
  @extend %a-list--flattened;

  > li {
    border-top: var(--border-width) solid $border-color-light;
    list-style-position: inside;

    &:last-of-type {
      border-bottom: var(--border-width) solid $border-color-light;
    }
  }

  .a-list--lined {
    > li:last-of-type {
      border-bottom: none;
    }
  }
}

/**
 * List with list items including an icon.
 */
.a-list {
  &.has-icon-left,
  &.has-icon-right {
    @extend %a-list--unstyled;
  }

  &.has-icon-left > li .ai {
    margin-right: var(--spacer-xs);
  }

  &.has-icon-right > li .ai {
    margin-left: var(--spacer-xs);
  }
}

/**
 * DEFINITION LIST
 * -------------------------------------------------------------------
 */

.a-definition-list {
  margin: 0;

  dt {
    font-weight: var(--font-weight-bold);
    padding-top: var(--spacer-3xs);
  }

  dd {
    margin-left: 0;
    padding-bottom: var(--spacer-3xs);
  }
}
