/**
 * BUTTONS
 * -------------------------------------------------------------------
 * Buttons are normalized in _base.normalize.scss
 *
 * This component has shared variables. You can find them in _quarks.variables.scss.
 */

/**
 * BUTTON PLACEHOLDER
 * -------------------------------------------------------------------
 */

%a-button {
  border: none;
  border-radius: 0;
  cursor: pointer;
  display: block;
  font-size: rem($btn-font-size);
  font-weight: $btn-font-weight;
  line-height: 1.25;
  margin: 0;
  min-height: var(--spacer-xl);
  padding: $btn-padding;
  text-align: center;
  text-decoration: none;
  transition-duration: var(--animation-duration);
  transition-property: color, background;
  transition-timing-function: var(--animation-easing);
  user-select: none;
  width: 100%;

  @include at($screen-xs) {
    display: inline-block;
    vertical-align: middle;
    width: auto;
  }

  .ai {
    font-size: rem($btn-icon-size);
    line-height: 0;
  }
}

.a-button,
.a-button-negative,
.a-button-outline,
.a-button-transparent,
.a-button-official {
  @extend %a-button;
}

/**
 * BUTTON COLORS
 * -------------------------------------------------------------------
 */

.a-button {
  @include a-button;

  &.a-button--secondary {
    @include a-button($btn-secondary-color, $btn-secondary-bg);
  }

  &.a-button--success {
    @include a-button($btn-success-color, $btn-success-bg);
  }

  &.a-button--warning {
    @include a-button($btn-warning-color, $btn-warning-bg);
  }

  &.a-button--danger {
    @include a-button($btn-danger-color, $btn-danger-bg);
  }

  &.a-button--transparent {
    @include a-button($btn-transparent-color, $btn-transparent-bg);

    text-decoration: underline;
  }
}

.a-button.has-icon.a-button--default {
  @include a-button($btn-default-color, $btn-default-bg);
}

/**
 * SOCIAL BUTTON COLORS
 * -------------------------------------------------------------------
 */

.a-button.has-icon {
  &.a-button--twitter {
    @include a-button($white, $twitter);
  }

  &.a-button--linkedin {
    @include a-button($white, $linkedin);
  }

  &.a-button--facebook {
    @include a-button($white, $facebook);
  }

  &.a-button--snapchat {
    @include a-button($text-color, $snapchat);
  }

  &.a-button--instagram {
    @include a-button($white);

    background: $instagram;
    position: relative;
    transition-property: opacity;

    &:before {
      background-color: $black;
      content: '';
      height: 100%;
      left: 0;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      top: 0;
      transition: opacity var(--animation-normal);
      width: 100%;
    }

    &:hover,
    &:active {
      &:before {
        opacity: .15;
      }
    }
  }
}

/**
 * OFFICIAL ANTWERP BUTTON
 * -------------------------------------------------------------------
 */

.a-button-official {
  @include a-button($btn-official-color, $btn-official-bg);

  padding-left: calc(var(--spacer) * 3);
  position: relative;
  white-space: nowrap;

  &:before {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 196.1 115.3%22><path fill=%22%23ffffff%22 d=%22M128 115.3l-9.1-25.7H76.7l-9.1 25.7H43L87.1 0h22.4l43.8 115.3H128zm-24.4-68.5c-2.3-6.8-4.6-13.7-5.8-18-1.2 4.3-3.5 11.2-5.8 18l-7.4 20.9H111l-7.4-20.9z%22/><path fill=%22%23f18a00%22 d=%22M38.2 60.8c-.5 1.6-2.3 2.5-3.9 1.9L2.1 52C.5 51.5-.4 49.7.2 48.1l2.7-8c.5-1.6 2.3-2.5 3.9-1.9L38.9 49c1.6.5 2.5 2.3 1.9 3.9l-2.6 7.9zM36.4 86.1c.5 1.6-.3 3.4-1.9 3.9l-22.9 8.1c-1.6.5-3.4-.3-3.9-1.9l-2.7-8c-.5-1.6.3-3.4 1.9-3.9l22.9-8.1c1.6-.5 3.4.3 3.9 1.9l2.7 8zM30.1 12.6c-1.3 1-1.6 3-.6 4.3L44 36.4c1 1.3 3 1.6 4.3.6l6.6-5.1c1.3-1 1.6-3 .6-4.3L41.1 8c-1-1.3-3-1.6-4.3-.6l-6.7 5.2zM157.9 60.8c.5 1.6 2.3 2.5 3.9 1.9L194 52c1.6-.5 2.5-2.3 1.9-3.9l-2.7-8c-.5-1.6-2.3-2.5-3.9-1.9L157.2 49c-1.6.5-2.5 2.3-1.9 3.9l2.6 7.9zM159.6 86.1c-.5 1.6.3 3.4 1.9 3.9l22.9 8.1c1.6.5 3.4-.3 3.9-1.9l2.7-8c.5-1.6-.3-3.4-1.9-3.9l-22.9-8.1c-1.6-.5-3.4.3-3.9 1.9l-2.7 8zM165.9 12.6c1.3 1 1.6 3 .6 4.3L152 36.4c-1 1.3-3 1.6-4.3.6l-6.6-5.1c-1.4-1-1.6-3-.6-4.3L155 8c1-1.3 3-1.6 4.3-.6l6.6 5.2z%22/></svg>');
    background-repeat: no-repeat;
    content: '';
    display: block;
    height: rem(21px);
    left: var(--spacer-s);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: rem(36px);
  }
}

/**
 * BUTTON NEGATIVE COLORS
 * -------------------------------------------------------------------
 */

.a-button-negative {
  @include a-button($btn-primary-negative-color, $btn-primary-negative-bg);

  &.a-button--secondary {
    @include a-button($btn-secondary-negative-color, $btn-secondary-negative-bg);
  }
}

/**
 * BUTTON OUTLINE COLORS
 * -------------------------------------------------------------------
 */

.a-button-outline {
  @include a-button-outline;

  &.a-button--secondary {
    @include a-button-outline($btn-secondary-outline-color, $btn-secondary-outline-border);
  }

  &.a-button--success {
    @include a-button-outline($btn-success-outline-color, $btn-success-outline-border);
  }

  &.a-button--warning {
    @include a-button-outline($btn-warning-outline-color, $btn-warning-outline-border);
  }

  &.a-button--danger {
    @include a-button-outline($btn-danger-outline-color, $btn-danger-outline-border);
  }
}

/**
 * BUTTON ICON TRANSPARENT COLORS
 * -------------------------------------------------------------------
 */

.a-button-transparent.has-icon {
  @include a-button-outline($btn-primary-outline-color, $btn-primary-outline-border, true);

  &.a-button--secondary {
    @include a-button-outline($btn-secondary-outline-color, $btn-secondary-outline-border, true);
  }

  &.a-button--success {
    @include a-button-outline($btn-success-outline-color, $btn-success-outline-border, true);
  }

  &.a-button--warning {
    @include a-button-outline($btn-warning-outline-color, $btn-warning-outline-border, true);
  }

  &.a-button--danger {
    @include a-button-outline($btn-danger-outline-color, $btn-danger-outline-border, true);
  }

  &.a-button--default {
    @include a-button-outline($btn-default-outline-color, $btn-default-outline-border, true);
  }
}

/**
 * BUTTON SIZES
 * -------------------------------------------------------------------
 */

.a-button,
.a-button-negative,
.a-button-outline,
.a-button-transparent {
  &.a-button--xs {
    font-size: rem($btn-font-size-ti);
    min-height: var(--spacer);
    padding: calc(var(--spacer-xs) / 4) var(--spacer-xs) calc(var(--spacer-xs) / 3);

    .ai {
      font-size: rem($btn-icon-size-ti);
    }
  }

  &.a-button--s {
    font-size: rem($btn-font-size-sm);
    min-height: var(--spacer-l);
    padding: var(--spacer-xxs) var(--spacer);

    .ai {
      font-size: rem($btn-icon-size-sm);
    }
  }

  &.a-button--l {
    font-size: rem($btn-font-size-lg);
    min-height: var(--spacer-xxl);
    padding: var(--spacer-s) var(--spacer);

    .ai {
      font-size: rem($btn-icon-size-lg);
    }
  }
}

/**
 * BUTTON WITH ICON LEFT OR RIGHT
 * -------------------------------------------------------------------
 */

.a-button,
.a-button-negative,
.a-button-outline,
.a-button-transparent {
  &.has-icon-left,
  &.has-icon-right {
    position: relative;

    .ai {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: var(--spacer-xl);
    }
  }

  &.has-icon-left {
    padding-left: var(--spacer-xl);

    .ai {
      left: 0;
    }
  }

  &.has-icon-right {
    padding-right: var(--spacer-xl);

    .ai {
      right: 0;
    }
  }
}

.a-button--xs {
  &.has-icon-left .ai,
  &.has-icon-right .ai {
    width: var(--spacer);
  }

  &.has-icon-left {
    padding-left: var(--spacer);
  }

  &.has-icon-right {
    padding-right: var(--spacer);
  }
}

.a-button--s {
  &.has-icon-left .ai,
  &.has-icon-right .ai {
    width: var(--spacer-l);
  }

  &.has-icon-left {
    padding-left: var(--spacer-l);
  }

  &.has-icon-right {
    padding-right: var(--spacer-l);
  }
}

.a-button--l {
  &.has-icon-left .ai,
  &.has-icon-right .ai {
    width: var(--spacer-xxl);
  }

  &.has-icon-left {
    padding-left: var(--spacer-xxl);
  }

  &.has-icon-right {
    padding-right: var(--spacer-xxl);
  }
}

/**
 * BUTTON ICONS
 * -------------------------------------------------------------------
 */

.a-button,
.a-button-negative,
.a-button-outline,
.a-button-transparent {
  &.has-icon {
    display: inline-block;
    padding: 0;
    position: relative;
    vertical-align: middle;
    width: var(--spacer-xl);

    .ai {
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: var(--spacer-xl);
    }
  }
}

.a-button--xs.has-icon {
  width: var(--spacer);

  .ai {
    width: var(--spacer);
  }
}

.a-button--s.has-icon {
  width: var(--spacer-l);

  .ai {
    width: var(--spacer-l);
  }
}

.a-button--l.has-icon {
  width: var(--spacer-xxl);

  .ai {
    width: var(--spacer-xxl);
  }
}

/**
 * FULL WIDTH BUTTON
 * -------------------------------------------------------------------
 */

.a-button--full {
  @include at($screen-xs) {
    display: block;
    width: 100%;
  }
}

/**
 * BUTTON WITH AVATAR
 * -------------------------------------------------------------------
 */

.a-button {
  &.has-avatar,
  &.has-avatar-with-image {
    position: relative;

    .a-avatar {
      left: 0;
      position: absolute;
      top: 0;
    }
  }

  &.has-avatar {
    padding-left: var(--shared-avatar-size);
  }

  &.has-avatar-with-image {
    padding-left: calc(var(--shared-avatar-size) + var(--spacer));
  }
}

.a-button--xs {
  &.has-avatar {
    padding-left: var(--shared-avatar-size-xs);
  }

  &.has-avatar-with-image {
    padding-left: calc(var(--shared-avatar-size-xs) + var(--spacer-xs));
  }
}

.a-button--s {
  &.has-avatar {
    padding-left: var(--shared-avatar-size-s);
  }

  &.has-avatar-with-image {
    padding-left: calc(var(--shared-avatar-size-s) + var(--spacer));
  }
}

.a-button--l {
  &.has-avatar {
    padding-left: var(--shared-avatar-size-l);
  }

  &.has-avatar-with-image {
    padding-left: calc(var(--shared-avatar-size-l) + var(--spacer));
  }
}
