/**
 * COPYRIGHT VARIABLES
 * -------------------------------------------------------------------
 * This component has shared variables. You can find them in _quarks.css-properties.scss.
 */

.a-copyright {
  --copyright-height:        var(--shared-copyright-height);
  --copyright-font-size:     #{$font-size-sm};
  --copyright-color:         var(--shared-copyright-color);
  --copyright-bg-color:      var(--overlay-color);
}

/**
 * COPYRIGHT
 * -------------------------------------------------------------------
 */

.a-copyright {
  background-color: var(--copyright-bg-color);
  color: var(--copyright-color);
  display: inline-block;
  font-size: var(--copyright-font-size);
  height: var(--copyright-height);
  transition: transform var(--animation-normal);
}

/**
 * COPYRIGHT ELEMENTS
 * -------------------------------------------------------------------
 */

.a-copyright__sign,
.a-copyright__label {
  float: left;
}

.a-copyright__sign {
  align-items: center;
  display: flex;
  font-size: calc(var(--copyright-font-size) * 1.25);
  height: 100%;
  justify-content: center;
  width: var(--copyright-height);
}

.a-copyright__label {
  line-height: var(--copyright-height);
  margin-right: var(--spacer-xs);
}
