/**
 * BADGES
 * -------------------------------------------------------------------
 */

.a-badge {
  display: inline-block;
  font-size: $badge-font-size;
  font-weight: $badge-font-weight;
  line-height: $badge-line-height;
  min-height: $badge-height;
  padding: $badge-padding;
}


/**
 * BADGES COLORS
 * -------------------------------------------------------------------
 */

.a-badge {
  @include a-badge;

  &.a-badge--primary {
    @include a-badge($badge-primary-color, $badge-primary-bg);
  }

  &.a-badge--secondary {
    @include a-badge($badge-secondary-color, $badge-secondary-bg);
  }

  &.a-badge--success {
    @include a-badge($badge-success-color, $badge-success-bg);
  }

  &.a-badge--warning {
    @include a-badge($badge-warning-color, $badge-warning-bg);
  }

  &.a-badge--danger {
    @include a-badge($badge-danger-color, $badge-danger-bg);
  }
}


/**
 * BADGES DISABLED COLORS
 * -------------------------------------------------------------------
 */

.is-disabled {
  .a-badge {
    &,
    &.a-badge--primary,
    &.a-badge--secondary,
    &.a-badge--success,
    &.a-badge--warning,
    &.a-badge--danger {
      @include a-badge($badge-disabled-color, $badge-disabled-bg);
    }
  }
}





