/**
 * FLYOUT
 * -------------------------------------------------------------------
 */

.m-flyout {
  position: relative;
}

/**
 * FLYOUT ELEMENTS
 * -------------------------------------------------------------------
 */

.m-flyout__content {
  background-color: $flyout-bg;
  border: 1px solid $flyout-border;
  box-shadow: $box-shadow;
  min-width: $flyout-min-width;
  opacity: 0;
  position: absolute;
  text-align: left;
  transform: translateY(-$spacer-lg);
  transition: visibility 0s $animation-duration $animation-easing, opacity $animation-normal, transform $animation-normal;
  visibility: hidden;
  width: 100%;
  z-index: layer('flyout');
}


/**
 * FLYOUT MODIFIERS
 * -------------------------------------------------------------------
 */

.m-flyout--inline {
  display: inline-block;
}

.m-flyout--limited .m-flyout__content {
  max-height: $flyout-max-height;
  overflow-y: scroll;
}

.m-flyout.is-open .m-flyout__content {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0s;
  visibility: visible;
}

.m-flyout__content.has-padding {
  padding: $spacer / 3 * 2 $spacer;
}

.m-flyout__content.is-right-aligned {
  right: 0;
}


/**
 * FLYOUT FIX AFTER FORM ELEMENT
 * -------------------------------------------------------------------
 */

.a-input + .m-flyout__content {
  margin-top: -1px;
}
