/**
 * BADGES
 * -------------------------------------------------------------------
 */

.a-badge {
  display: inline-block;
  font-size: $badge-font-size;
  font-weight: $badge-font-weight;
  line-height: $badge-line-height;
  min-height: $badge-height;
  padding: $badge-padding;
}


/**
 * BADGES COLORS
 * -------------------------------------------------------------------
 */

.a-badge {
  @include a-badge;

  &.a-badge--primary {
    @include a-badge($badge-primary-color, $badge-primary-bg);
  }

  &.a-badge--secondary {
    @include a-badge($badge-secondary-color, $badge-secondary-bg);
  }

  &.a-badge--success {
    @include a-badge($badge-success-color, $badge-success-bg);
  }

  &.a-badge--warning {
    @include a-badge($badge-warning-color, $badge-warning-bg);
  }

  &.a-badge--danger {
    @include a-badge($badge-danger-color, $badge-danger-bg);
  }
}


/**
 * BADGES DISABLED COLORS
 * -------------------------------------------------------------------
 */

.is-disabled {
  .a-badge {
    @include a-badge($badge-disabled-color, mix($badge-disabled-bg, $nav-bg-disabled, 50%));

    &.a-badge--primary {
      @include a-badge($badge-primary-color, mix($badge-primary-bg, $nav-bg-disabled, 50%));
    }

    &.a-badge--secondary {
      @include a-badge($badge-secondary-color, mix($badge-secondary-bg, $nav-bg-disabled, 50%));
    }

    &.a-badge--success {
      @include a-badge($badge-success-color, mix($badge-success-bg, $nav-bg-disabled, 50%));
    }

    &.a-badge--warning {
      @include a-badge($badge-warning-color, mix($badge-warning-bg, $nav-bg-disabled, 50%));
    }

    &.a-badge--danger {
      @include a-badge($badge-danger-color, mix($badge-danger-bg, $nav-bg-disabled, 50%));
    }
  }
}





