/**
 * SWITCH VARIABLES
 * -------------------------------------------------------------------
 */

.a-switch {
  --switch-width:                                      2.75rem;
  --switch-height:                                     var(--spacer);
  --switch-padding:                                    .1875rem;

  --switch-handle-size:                                1.125rem;

  --switch-label-width:                                var(--spacer-l);
  --switch-label-font-size:                            1rem;
  --switch-label-color:                                var(--text-color);
  --switch-label-disabled-color:                       #{$gray-300};

  --switch-bg-color:                                   #{$gray-300};
  --switch-border-color:                               var(--switch-bg-color);
  --switch-handle-bg-color:                            #{$white};

  --switch-active-bg-color:                            var(--theme1-400);
  --switch-active-border-color:                        var(--switch-active-bg-color);
  --switch-handle-active-bg-color:                     #{$white};

  --switch-disabled-bg-color:                          #{$gray-200};
  --switch-disabled-border-color:                      var(--switch-disabled-bg-color);
  --switch-handle-disabled-bg-color:                   #{$white};
}

/**
 * SWITCH
 * -------------------------------------------------------------------
 */

.a-switch {
  display: block;
}

.a-switch__button {
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-flex;
  height: var(--switch-height);
  padding: 0;
  position: relative;

  &:before {
    background-color: var(--switch-bg-color);
    border-radius: var(--switch-height);
    border: var(--border-width) solid var(--switch-border-color);
    content: '';
    display: inline-block;
    height: var(--switch-height);
    left: var(--switch-label-width);
    position: absolute;
    top: 0;
    transition: background, border;
    width: var(--switch-width);
  }

  &:after {
    background-color: var(--switch-handle-bg-color);
    border-radius: var(--switch-handle-size);
    content: '';
    display: inline-block;
    height: var(--switch-handle-size);
    left: var(--switch-label-width);
    position: absolute;
    top: 50%;
    transform: translate(var(--switch-padding), -50%);
    transition: background, transform var(--animation-normal);
    width: var(--switch-handle-size);
  }

  &[aria-checked='true'] {
    --switch-bg-color: var(--switch-active-bg-color);
    --switch-border-color: var(--switch-active-border-color);
    --switch-handle-bg-color: var(--switch-handle-active-bg-color);

    &:after {
      transform: translate(calc(var(--switch-width) - var(--switch-handle-size) - var(--switch-padding)), -50%);
    }
  }

  &:disabled {
    --switch-bg-color: var(--switch-disabled-bg-color);
    --switch-border-color: var(--switch-disabled-border-color);
    --switch-handle-bg-color: var(--switch-handle-disabled-bg-color);
    --switch-label-color: var(--switch-label-disabled-color);

    cursor: not-allowed;
  }

  .a-switch__on,
  .a-switch__off {
    color: var(--switch-label-color);
  }
}

.a-switch__off,
.a-switch__on {
  color: var(--switch-label-disabled-color);
  font-size: var(--switch-label-font-size);
  transition: color var(--animation-normal);
  width: var(--switch-label-width);
}

.a-switch__off {
  margin-right: calc(var(--switch-width) / 2);
  text-align: left;
}

.a-switch__on {
  margin-left: calc(var(--switch-width) / 2);
  text-align: right;
}
