/**
 * TABLES
 * -------------------------------------------------------------------
 */


/**
 * TABLE PLACEHOLDER
 * -------------------------------------------------------------------
 */

%a-table {
  background-color: $table-bg;
  border: 1px solid $table-border;
  border-collapse: collapse;
  width: 100%;

  thead {
    background: $background-color-light;
  }

  tr {
    border-bottom: 1px solid $table-border;
    height: $spacer-lg;
    transition: background-color $animation-duration $animation-easing;

    &.a-table--clickable,
    &.has-click-action {
      &:hover {
        background-color: $link-background-color;
        cursor: pointer;
      }
    }
  }

  th,
  td {
    padding: $table-padding;

    &:not(.u-text-center, .u-text-right, .u-text-justify) {
      text-align: left;
    }

    &.is-condensed {
      padding: $table-padding / 2;
    }

    &.has-no-padding {
      padding: 0;
    }
  }
}

.a-table {
  @extend %a-table;
}


/**
 * TABLE SIZES
 * -------------------------------------------------------------------
 */

.a-table.a-table--small tr {
  height: $spacer-md;
}


/**
 * TABLE SCHEMES
 * -------------------------------------------------------------------
 */

.a-table.a-table--primary thead {
  background-color: $table-primary-head-bg;
  color: $table-primary-head-color;
}

.a-table.a-table--secondary thead {
  background-color: $table-secondary-head-bg;
  color: $table-secondary-head-color;
}

.a-table.a-table--striped tbody {

  tr:nth-child(odd) {
    background-color: $white;

    &.a-table--clickable,
    &.has-click-action {
      &:hover {
        background-color: $link-background-color;
      }
    }
  }

  tr:nth-child(even) {
    background-color: $table-striped-bg;

    &.a-table--clickable,
    &.has-click-action {
      &:hover {
        background-color: $link-background-color;
      }
    }
  }
}


/**
 * TABLE RESPONSIVE WRAPPER
 * -------------------------------------------------------------------
 */

.a-table__wrapper-responsive {
  -ms-overflow-style: scrollbar;
  -webkit-overflow-scrolling: touch;
  background-color: $table-bg;
  border: 1px solid $table-border;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;

  table {
    border: none;
    margin-bottom: -1px;

    > thead,
    > tbody,
    > tfoot {
      > tr {
        > td,
        > th {
          white-space: nowrap;
        }
      }
    }
  }
}
