/**
 * LISTS
 * -------------------------------------------------------------------
 */

ul,
ol,
dl {
  line-height: 1.3;
}

/**
 * STANDARD LIST
 * -------------------------------------------------------------------
 */

%a-list {
  padding-left: $list-padding-left;

  .a-list {
    margin-top: $list-item-padding-top;

    > li:last-of-type {
      margin-bottom: -$list-item-padding-bottom;
    }
  }

  > li {
    padding: $list-item-padding-top 0 $list-item-padding-bottom;
  }
}

.a-list {
  @extend %a-list;
}

/**
 * LIST PLACEHOLDERS
 * -------------------------------------------------------------------
 * List without default padding and standard list styling.
 */


/**
 * List without default padding and standard list styling.
 */
%a-list--reset {
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;

  ul,
  ol {
    list-style: none;
    padding: 0;
  }
}

.a-list--reset {
  @extend %a-list--reset;
}


/**
 * List without standard list styling.
 */
%a-list--unstyled {
  list-style: none;
  padding: 0;

  ul,
  ol {
    list-style: none;
  }
}

.a-list--unstyled {
  @extend %a-list--unstyled;
}


/**
 * List without default padding.
 */
%a-list--flattened {
  line-height: 1;
  padding: 0;

  ul,
  ol {
    padding: 0;
  }
}

.a-list--flattened {
  @extend %a-list--flattened;
}


/**
 * List with more padding.
 */
%a-list--primary {

  .a-list {
    line-height: 1;
    margin-top: $spacer * 2 / 3;

    > li {
      padding-left: $spacer-xs;

      &:last-of-type {
        margin-bottom: -($spacer * 2 / 3);
      }
    }
  }

  > li {
    padding: $spacer * 2 / 3 0 $spacer * 2 / 3 $spacer-xs;
  }
}

.a-list--primary {
  @extend %a-list--primary;
}


/**
 * LIST MODIFIERS
 * -------------------------------------------------------------------
 */


/**
 * List with list items separated by a border.
 */
.a-list--lined {
  @extend %a-list--primary;
  @extend %a-list--flattened;

  > li {
    border-top: 1px solid $border-color;
    list-style-position: inside;

    &:last-of-type {
      border-bottom: 1px solid $border-color;
    }
  }

  .a-list--lined {

    > li:last-of-type {
      border-bottom: none;
    }
  }
}

/**
 * List with list items including an icon.
 */
.a-list {

  &.has-icon-left,
  &.has-icon-right {
    @extend %a-list--unstyled;
  }

  &.has-icon-left > li .fa {
    margin-right: $spacer-xs;
  }

  &.has-icon-right > li .fa {
    margin-left: $spacer-xs;
  }
}


/**
 * DEFINITION LIST
 * -------------------------------------------------------------------
 */

.a-definition-list {
  margin: 0;

  dt {
    font-weight: $bold;
    padding-top: $spacer / 4;
  }

  dd {
    margin-left: 0;
    padding-bottom: $spacer / 4;
  }
}
