/**
 * SWITCH VARIABLES
 * -------------------------------------------------------------------
 */

.a-switch {
  --switch-width:                                      2.75rem;
  --switch-height:                                     var(--SPACER);
  --switch-inset:                                      .1875rem;

  --switch-handle-size:                                1.125rem;

  --switch-label-font-size:                            1rem;
  --switch-label-color:                                var(--TEXT-COLOR);
  --switch-label-disabled-color:                       #{$gray-300};

  --switch-bg-color:                                   #{$gray-300};
  --switch-border-color:                               var(--switch-bg-color);
  --switch-handle-bg-color:                            #{$white};

  --switch-active-bg-color:                            var(--THEME1-600);
  --switch-active-border-color:                        var(--switch-active-bg-color);
  --switch-handle-active-bg-color:                     #{$white};

  --switch-disabled-bg-color:                          #{$gray-200};
  --switch-disabled-border-color:                      var(--switch-disabled-bg-color);
  --switch-handle-disabled-bg-color:                   #{$white};
}

/**
 * SWITCH
 * -------------------------------------------------------------------
 */

.a-switch {
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;

  &[aria-checked='true'] {
    --switch-bg-color: var(--switch-active-bg-color);
    --switch-border-color: var(--switch-active-border-color);
    --switch-handle-bg-color: var(--switch-handle-active-bg-color);

    .a-switch__label--off {
      display: none;
    }

    .a-switch__toggle-label--off {
      opacity: 0;
    }

    .a-switch__toggle:after {
      transform: translate(calc(var(--switch-width) - var(--switch-handle-size) - var(--switch-inset)), -50%);
    }
  }

  &[aria-checked='false'] {
    .a-switch__label--on {
      display: none;
    }

    .a-switch__toggle-label--on {
      opacity: 0;
    }
  }

  &:disabled {
    --switch-bg-color: var(--switch-disabled-bg-color);
    --switch-border-color: var(--switch-disabled-border-color);
    --switch-handle-bg-color: var(--switch-handle-disabled-bg-color);
    --switch-label-color: var(--switch-label-disabled-color);

    cursor: not-allowed;
  }
}

/**
 * SWITCH ELEMENTS
 * -------------------------------------------------------------------
 */

.a-switch__toggle {
  align-items: center;
  background-color: var(--switch-bg-color);
  border-radius: var(--switch-height);
  display: flex;
  height: var(--switch-height);
  justify-content: space-between;
  padding: var(--switch-inset);
  position: relative;
  transition: background-color, border;
  width: var(--switch-width);

  &:after {
    background-color: var(--switch-handle-bg-color);
    border-radius: var(--switch-handle-size);
    content: '';
    height: var(--switch-handle-size);
    left: 0;
    position: absolute;
    top: 50%;
    transform: translate(var(--switch-inset), -50%);
    transition: background, transform var(--ANIMATION-NORMAL);
    width: var(--switch-handle-size);
  }
}

.a-switch__label {
  color: var(--switch-label-color);
  font-size: var(--switch-label-font-size);
  min-width: 2rem;
  transition: color var(--ANIMATION-NORMAL);
  text-align: right;
}

.a-switch__label + .a-switch__toggle,
.a-switch__toggle ~ .a-switch__label {
  margin-left: var(--SPACER-XS);
}

.a-switch__toggle ~ .a-switch__label {
  text-align: left;
}

.a-switch__toggle-label {
  color: var(--switch-handle-bg-color);
  font-size: .875rem;
  text-transform: uppercase;
  transition: opacity var(--ANIMATION-NORMAL);
  width: var(--switch-handle-size);
}
