/**
 * TABLE VARIABLES
 * -------------------------------------------------------------------
 */

$table-bg:                    $white !default;
$table-border:                $border-color-light !default;

$table-head-bg:               $background-color-light !default;

$table-primary-head-color:    $white !default;
$table-primary-head-bg:       $brand-primary !default;

$table-secondary-head-color:  $white !default;
$table-secondary-head-bg:     $brand-secondary !default;

$table-striped-bg:            $background-color-light !default;

$table-padding:               var(--spacer-xs) !default;

/**
 * TABLE PLACEHOLDER
 * -------------------------------------------------------------------
 */

%a-table {
  background-color: $table-bg;
  border: var(--border-width) solid $table-border;
  border-collapse: collapse;
  width: 100%;

  caption {
    margin-bottom: var(--spacer-xxs);
    text-align: left;
  }

  thead {
    background: $background-color-light;
  }

  tr {
    border-bottom: var(--border-width) solid $table-border;
    height: var(--spacer-xl);
    transition: background-color var(--animation-normal);

    &.a-table--clickable,
    &.has-click-action {
      &:hover {
        background-color: $link-background-color;
        cursor: pointer;
      }
    }
  }

  th,
  td {
    padding: $table-padding;

    &:not(.u-text-center):not(.u-text-right):not(.u-text-justify) {
      text-align: left;
    }

    &.is-condensed {
      padding: calc(#{$table-padding} / 2);
    }

    &.has-no-padding {
      padding: 0;
    }
  }
}

.a-table {
  @extend %a-table;
}

/**
 * TABLE SIZES
 * -------------------------------------------------------------------
 */

.a-table.a-table--s tr {
  height: var(--spacer-l);
}

/**
 * TABLE SCHEMES
 * -------------------------------------------------------------------
 */

.a-table.a-table--primary thead {
  background-color: $table-primary-head-bg;
  color: $table-primary-head-color;
}

.a-table.a-table--secondary thead {
  background-color: $table-secondary-head-bg;
  color: $table-secondary-head-color;
}

.a-table.a-table--striped tbody {
  tr:nth-child(odd) {
    background-color: $white;

    &.a-table--clickable,
    &.has-click-action {
      &:hover {
        background-color: $link-background-color;
      }
    }
  }

  tr:nth-child(even) {
    background-color: $table-striped-bg;

    &.a-table--clickable,
    &.has-click-action {
      &:hover {
        background-color: $link-background-color;
      }
    }
  }
}

/**
 * TABLE RESPONSIVE WRAPPER
 * -------------------------------------------------------------------
 */

.a-table__wrapper-responsive {
  -ms-overflow-style: scrollbar;
  -webkit-overflow-scrolling: touch;
  background-color: $table-bg;
  border: var(--border-width) solid $table-border;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;

  table {
    border: none;
    margin-bottom: calc(#{var(--border-width)} * -1);

    > thead > tr,
    > tbody > tr,
    > tfoot > tr {
      > td,
      > th {
        white-space: nowrap;
      }
    }
  }
}
