/**
 * TABLE VARIABLES
 * -------------------------------------------------------------------
 */

.a-table,
.a-table__wrapper-responsive {
  --table-bg-color:                 #{$white};
  --table-border-color:             var(--border-color);
  --table-border-color-light:       #{$gray-200};
  --table-highlight-bg-color:       var(--theme1-050);
  --table-highlight-border-color:   var(--theme1-400);

  --table-striped-bg-color:         var(--bg-color-light);
}

/**
 * TABLE PLACEHOLDER
 * -------------------------------------------------------------------
 */

.a-table {
  background-color: var(--table-bg-color);
  border: var(--border-width) solid var(--table-border-color);
  border-collapse: collapse;
  width: 100%;

  caption {
    margin-bottom: var(--spacer-xxs);
    text-align: left;
  }

  thead tr {
    border-bottom: var(--border-width) solid var(--table-border-color);
  }

  tbody tr {
    transition: background-color var(--animation-normal);

    &:not(:last-child) {
      border-bottom: var(--border-width) solid var(--table-border-color-light);
    }

    &.is-selected,
    &.is-clickable:active,
    &.is-clickable:hover,
    &.is-clickable:focus {
      background-color: var(--table-highlight-bg-color);
      cursor: pointer;
    }

    &.is-selected td {
      border-top: var(--border-width) solid var(--table-highlight-border-color);
      border-bottom: var(--border-width) solid var(--table-highlight-border-color);

      &:first-child {
        border-left: var(--border-width) solid var(--table-highlight-border-color);
      }

      &:last-child {
        border-right: var(--border-width) solid var(--table-highlight-border-color);
      }
    }
  }

  tr {
    height: var(--spacer-xl);
  }

  th,
  td {
    padding: var(--spacer-xs);

    &:not(.u-text-center):not(.u-text-right):not(.u-text-justify) {
      text-align: left;
    }

    &.has-no-padding {
      padding: 0;
    }
  }
}

/**
 * TABLE SCHEMES
 * -------------------------------------------------------------------
 */

.a-table.a-table--striped tbody tr {
  &:nth-child(odd) {
    background-color: var(--table-striped-bg-color);

    &.is-selected,
    &.is-clickable:active,
    &.is-clickable:hover,
    &.is-clickable:focus {
      background-color: var(--table-highlight-bg-color);
    }
  }
}

.a-table.a-table--open {
  border: none;
}

/**
 * TABLE RESPONSIVE WRAPPER
 * -------------------------------------------------------------------
 */

.a-table__wrapper-responsive {
  -ms-overflow-style: scrollbar;
  -webkit-overflow-scrolling: touch;
  background-color: var(--table-bg-color);
  border: var(--border-width) solid var(--table-border-color);
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;

  table {
    border: none;
    margin-bottom: calc(var(--border-width) * -1);

    > thead > tr,
    > tbody > tr,
    > tfoot > tr {
      > td,
      > th {
        white-space: nowrap;
      }
    }
  }
}
