/**
 * LIST VARIABLES
 * -------------------------------------------------------------------
 */

.a-list,
.a-checkbox-list,
.a-avatar-list {
  --list-item-color:             var(--TEXT-COLOR);
  --list-item-hover-color:       var(--THEME1-600);
  --list-item-active-color:      var(--TEXT-COLOR);
  --list-item-hover-bg-color:    var(--THEME1-100);
  --list-item-active-bg-color:   #{$gray-100};
  --list-item-border-color:      #{$gray-200};
}

/**
 * LISTS
 * -------------------------------------------------------------------
 */

/**
 * STANDARD LIST
 * -------------------------------------------------------------------
 */

%a-list {
  padding-left: var(--SPACER-S);

  .a-list__content {
    display: inline-flex;
    padding: var(--SPACER-XXS) 0;
  }

  .a-list__text {
    flex-grow: 1;
  }

  .a-list__text + .ai,
  .ai + .a-list__text {
    margin-left: var(--SPACER-XS);
  }
}

.a-list {
  @extend %a-list;
}

/**
 * LINED LIST
 * -------------------------------------------------------------------
 */

.a-list.a-list--lined {
  list-style: none;
  margin: 0;
  padding: 0;

  .a-list__item {
    &:last-of-type .a-list__content {
      border-bottom: var(--BORDER-WIDTH) solid var(--list-item-border-color);
    }

    .a-list__content {
      border-top: var(--BORDER-WIDTH) solid var(--list-item-border-color);
      padding: .875rem var(--SPACER-S);
    }
  }

  .a-list__content {
    display: flex;
  }

  a.a-list__content {
    color: var(--list-item-color);
    text-decoration: none;
    transition-duration: var(--ANIMATION-DURATION);
    transition-property: background-color, color;
    transition-timing-function: var(--ANIMATION-EASING);

    &:hover,
    &:active,
    &:focus {
      background-color: var(--list-item-hover-bg-color);
      color: var(--list-item-hover-color);
    }

    &.is-active {
      background-color: var(--list-item-active-bg-color);
      color: var(--list-item-active-color);
      font-weight: var(--FONT-WEIGHT-BOLD);
    }
  }

  .a-list {
    border-top: var(--BORDER-WIDTH) solid var(--list-item-border-color);

    .a-list__item {
      &:first-of-type .a-list__content {
        border-top: none;
      }

      &:last-of-type .a-list__content {
        border-bottom: none;
      }

      .a-list__content {
        padding-left: calc(var(--SPACER-S) * 2);
      }
    }
  }

  &.a-list--flushed .a-list__item {
    &:first-of-type .a-list__content {
      border-top: none;
    }

    &:last-of-type .a-list__content {
      border-bottom: none;
    }
  }
}

/**
 * DEFINITION LIST
 * -------------------------------------------------------------------
 */

.a-definition-list {
  margin: 0;

  dt {
    padding-top: var(--SPACER-3XS);
  }

  dd {
    font-weight: var(--FONT-WEIGHT-BOLD);
    margin-left: 0;
    padding-bottom: var(--SPACER-3XS);
  }
}

/**
 * CHECKBOX LIST
 * -------------------------------------------------------------------
 */

.a-checkbox-list {
  list-style: none;
  margin: 0;
  padding: 0;

  .a-checkbox-list__item {
    &:last-of-type .a-checkbox-list__checkbox {
      border-bottom: var(--BORDER-WIDTH) solid var(--list-item-border-color);
    }

    .a-checkbox-list__checkbox {
      border-top: var(--BORDER-WIDTH) solid var(--list-item-border-color);
      padding-left: var(--SPACER-S);
      transition: background-color var(--ANIMATION-NORMAL);

      &:hover,
      &:active,
      &:focus {
        background-color: var(--list-item-hover-bg-color);
      }

      .a-input__checkbox,
      .a-input__radio {
        label {
          align-items: center;
          display: flex;
          min-height: var(--SPACER-XL);
          padding-bottom: var(--SPACER-3XS);
          padding-right: var(--SPACER-S);
          padding-top: var(--SPACER-3XS);

          &:before,
          &:after {
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }

  .a-checkbox-list {
    border-top: var(--BORDER-WIDTH) solid var(--list-item-border-color);

    .a-checkbox-list__item {
      &:first-of-type .a-checkbox-list__checkbox {
        border-top: none;
      }

      &:last-of-type .a-checkbox-list__checkbox {
        border-bottom: none;
      }

      .a-checkbox-list__checkbox {
        padding-left: calc(var(--SPACER) + var(--SPACER-S));
      }
    }
  }

  &.a-checkbox-list--flushed .a-checkbox-list__item {
    &:first-of-type .a-checkbox-list__checkbox {
      border-top: none;
    }

    &:last-of-type .a-checkbox-list__checkbox {
      border-bottom: none;
    }
  }
}

/**
 * AVATAR LIST
 * -------------------------------------------------------------------
 */

.a-avatar-list {
  list-style: none;
  margin: 0;
  padding: 0;

  &:not(.a-avatar-list--flushed) {
    border-bottom: var(--BORDER-WIDTH) solid var(--list-item-border-color);
    border-top: var(--BORDER-WIDTH) solid var(--list-item-border-color);
  }

  .ai {
    color: var(--TEXT-COLOR-LIGHT);
    transition: color var(--ANIMATION-NORMAL);
  }
}

.a-avatar-list__item {
  &:first-of-type .a-avatar-list__content {
    border-top: none;
  }

  &:not(:last-child) .a-avatar-list__item-container {
    margin-bottom: calc(var(--BORDER-WIDTH) * -1);
  }

  &.is-active .a-avatar-list__item-container {
    background-color: var(--list-item-active-bg-color);
    color: var(--list-item-active-color);

    .avatar-list__name {
      font-weight: var(--FONT-WEIGHT-BOLD);
    }
  }

  &:not(.is-active) a.a-avatar-list__item-container {
    color: var(--list-item-color);
    transition: background-color var(--ANIMATION-NORMAL);

    &:hover,
    &:active,
    &:focus {
      background-color: var(--list-item-hover-bg-color);
      color: var(--list-item-hover-color);

      .ai {
        color: var(--list-item-hover-color);
      }
    }
  }
}

a.a-avatar-list__item-container {
  text-decoration: none;
}

.a-avatar-list__item-container {
  align-items: center;
  display: flex;
  flex-grow: 1;
  padding-left: var(--SPACER-S);
}

.a-avatar-list__avatar {
  margin-right: var(--SPACER-S);
}

.a-avatar-list__content {
  border-top: var(--BORDER-WIDTH) solid var(--list-item-border-color);
  display: flex;
  flex-grow: 1;
  min-height: var(--SPACER-XL);
  padding: var(--SPACER-XS) var(--SPACER-S) var(--SPACER-XS) 0;
}

.a-avatar-list__text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}
