/**
 * SPINNER VARIABLES
 * -------------------------------------------------------------------
 */

.a-spinner {
  --spinner-color:              #{$gray-300};
  --spinner-size:               2rem;
  --spinner-thickness:          .1875rem;
  --spinner-text-color:         var(--TEXT-COLOR-LIGHT);

  --spinner-animation-name:     spin;
  --spinner-animation-speed:    1600ms;
  --spinner-animation-timing:   linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/**
 * SPINNER
 * -------------------------------------------------------------------
 */

.a-spinner {
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

.a-spinner__circle {
  animation: var(--spinner-animation-name) var(--spinner-animation-speed) infinite var(--spinner-animation-timing);
  border-radius: 100%;
  border: var(--spinner-thickness) solid var(--spinner-color);
  border-top-color: transparent;
  height: var(--spinner-size);
  position: relative;
  transform: rotate(-25deg);
  width: var(--spinner-size);

  &:before {
    border-radius: 100%;
    border: var(--spinner-thickness) solid var(--spinner-color);
    border-top-color: transparent;
    content: '';
    height: var(--spinner-size);
    left: calc(var(--spinner-thickness) * -1);
    position: absolute;
    top: calc(var(--spinner-thickness) * -1);
    transform: rotate(50deg);
    width: var(--spinner-size);
  }
}

.a-spinner__text {
  color: var(--spinner-text-color);
  font-size: .875rem;
  margin-left: var(--SPACER-S);
}

/**
 * SPINNER MODIFIERS
 * -------------------------------------------------------------------
 */

.a-spinner {
  &.a-spinner--xs {
    --spinner-size: var(--SPACER-S);
    --spinner-thickness: .0625rem;
  }

  &.a-spinner--s {
    --spinner-size: var(--SPACER);
    --spinner-thickness: .125rem;
  }

  &.a-spinner--l {
    --spinner-size: 4rem;
    --spinner-thickness: var(--SPACER-3XS);
  }

  &.a-spinner--vertical {
    flex-direction: column;

    .a-spinner__text {
      margin-left: 0;
      margin-top: var(--SPACER-XXS);
      text-align: center;
    }

    &.a-spinner--l .a-spinner__text {
      margin-top: var(--SPACER-XS);
    }
  }
}
