/**
 * BUTTON GROUP
 * -------------------------------------------------------------------
 */

.m-button-group {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 1px;
  vertical-align: middle;

  > .a-button {
    z-index: layer('base');

    &:not(.has-icon) {
      width: auto;
    }

    &:disabled {
      z-index: layer('auto');
    }

    &:focus {
      z-index: layer('top');
    }
  }

  > .a-button:not(.a-button--outlined) {
    border-right: var(--border-width) solid var(--btn-hover-border-color);
    margin-bottom: calc(var(--border-width) * -1);

    &:last-child {
      border-right: none;
    }

    &.a-button--secondary {
      border-color: var(--btn-secondary-hover-border-color);
    }

    &.a-button--success {
      border-color: var(--btn-success-hover-border-color);
    }

    &.a-button--warning {
      border-color: var(--btn-warning-hover-border-color);
    }

    &.a-button--danger {
      border-color: var(--btn-danger-hover-border-color);
    }
  }

  > .a-button--outlined {
    margin-bottom: calc(var(--border-width) * -1);
    margin-right: calc(var(--border-width) * -1);

    &:last-child {
      margin-right: 0;
    }

    &:not(:disabled):hover,
    &:not(:disabled):active,
    &:not(:disabled):focus {
      z-index: layer('base');
    }
  }
}

.m-button-group--vertical {
  flex-direction: column;

  > .a-button:not(.a-button--outlined) {
    border-right: none;

    &:not(:first-child) {
      border-top: var(--border-width) solid var(--btn-hover-border-color);
    }
  }

  > .a-button--outlined {
    margin-right: 0;
  }
}
