/**
 * MODAL VARIABLES
 * -------------------------------------------------------------------
 */

.m-modal {
  --modal-bg-color:       #{$white};
  --modal-border-color:   var(--BORDER-COLOR);

  --modal-width:          calc(var(--SPACER) * 17);
  --modal-width-l:        calc(var(--SPACER) * 25);
}

/**
 * MODAL
 * -------------------------------------------------------------------
 */

.m-modal {
  background-color: var(--modal-bg-color);
  border: var(--BORDER-WIDTH) solid var(--modal-border-color);
  width: 100%;

  @include at($screen-xs) {
    max-width: var(--modal-width);
  }

  .m-modal__close {
    position: absolute;
    right: 0;
    top: 0;

    + * {
      margin-right: var(--SPACER-L);
    }
  }
}

/**
 * MODAL ELEMENTS
 * -------------------------------------------------------------------
 */

.m-modal__content {
  padding: var(--SPACER);
  position: relative;
}

.m-modal__footer {
  margin-bottom: calc(var(--SPACER-XS) * -1);

  @include at($screen-xs) {
    display: flex;
    margin-bottom: 0;
  }

  .a-button {
    margin-bottom: var(--SPACER-XS);

    @include at($screen-xs) {
      margin-bottom: 0;

      &:not(:first-child) {
        margin-left: var(--SPACER-XS);
      }
    }
  }
}

/**
 * MODAL MODIFIERS
 * -------------------------------------------------------------------
 */

.m-modal--l {

  @include at($screen-xs) {
    --modal-width: var(--modal-width-l);
  }
}
