/**
 * ACCORDION
 * -------------------------------------------------------------------
 */

.m-accordion.has-margins .m-accordion__tab:not(:first-child) {
  margin-top: $spacer-xs;
}

.m-accordion__tab {

  &:not(:first-child) {
    margin-top: -1px;
  }

  &.is-open {

    .m-accordion__header:after {
      content: '\f106';
    }

    .m-accordion__content {
      border-bottom: 1px solid $accordion-border;
      max-height: 500px;
    }
  }
}

.m-accordion__header {
  align-items: center;
  background-color: $accordion-header-bg;
  border: 1px solid $accordion-border;
  cursor: pointer;
  display: flex;
  min-height: $spacer-lg;
  padding: $accordion-header-padding;
  position: relative;
  text-align: left;
  transition: background $animation-normal;
  user-select: none;

  &:hover {
    background-color: $accordion-header-bg-hover;
  }

  &:after {
    @include fontawesome;
    color: $accordion-icon-color;
    content: '\f107';
    font-size: rem($accordion-icon-size);
    position: absolute;
    right: $spacer-sm;
    top: 50%;
    transform: translateY(-50%);
  }
}

.m-accordion__content {
  background-color: $accordion-content-bg;
  border-bottom: none;
  border-left: 1px solid $accordion-border;
  border-right: 1px solid $accordion-border;
  display: block;
  max-height: 0;
  overflow: auto;
  padding: 0;
  transition: max-height .5s ease-out;
}
