/**
 * MODAL VARIABLES
 * -------------------------------------------------------------------
 */

.m-modal {
  --modal-bg-color:       #{$white};
  --modal-border-color:   var(--border-color);

  --modal-width:          calc(var(--spacer) * 17);
  --modal-width-l:        calc(var(--spacer) * 25);
}

/**
 * MODAL
 * -------------------------------------------------------------------
 */

.m-modal {
  background-color: var(--modal-bg-color);
  border: var(--border-width) solid var(--modal-border-color);
  width: 100%;

  @include at($screen-xs) {
    max-width: var(--modal-width);
  }

  .m-modal__close {
    position: absolute;
    right: 0;
    top: 0;

    + * {
      margin-right: var(--spacer-l);
    }
  }
}

/**
 * MODAL ELEMENTS
 * -------------------------------------------------------------------
 */

.m-modal__content {
  padding: var(--spacer);
  position: relative;
}

.m-modal__footer {
  margin-bottom: calc(var(--spacer-xs) * -1);

  @include at($screen-xs) {
    display: flex;
    margin-bottom: 0;
  }

  .a-button {
    margin-bottom: var(--spacer-xs);

    @include at($screen-xs) {
      margin-bottom: 0;

      &:not(:first-child) {
        margin-left: var(--spacer-xs);
      }
    }
  }
}

/**
 * MODAL MODIFIERS
 * -------------------------------------------------------------------
 */

.m-modal--l {

  @include at($screen-xs) {
    --modal-width: var(--modal-width-l);
  }
}
