/**
 * ICON LIST VARIABLES
 * -------------------------------------------------------------------
 */

$icon-list-color:             $gray-600 !default;
$icon-list-negative-color:    $white !default;
$icon-list-hover-color:       $brand-secondary !default;

$icon-list-icon-size:         $icon-size-base !default;

/**
 * ICON LIST
 * -------------------------------------------------------------------
 */

.m-icon-list {
  @extend %a-list--reset;

  li {
    color: $icon-list-color;
    text-align: center;

    &:not(:last-child) {
      margin-bottom: var(--spacer-s);
    }

    a {
      color: inherit;
      display: block;
      transition: color var(--animation-normal);

      &:hover {
        color: $icon-list-hover-color;
      }
    }

    .ai {
      font-size: rem($icon-list-icon-size);
    }
  }
}

/**
 * ICON LIST MODIFIERS
 * -------------------------------------------------------------------
 */

.m-icon-list--horizontal {
  display: flex;

  li {
    margin: 0;

    &:not(:last-child) {
      margin: 0 var(--spacer) 0 0;
    }
  }
}

.m-icon-list--negative li {
  color: $icon-list-negative-color;
}
