/**
 * FLYOUT
 * -------------------------------------------------------------------
 */

.m-flyout {
  display: inline-block; // Inline-block so our wrapper element is never bigger than our action (button, ...)
  position: relative;
}


/**
 * FLYOUT ELEMENTS
 * -------------------------------------------------------------------
 */

.m-flyout__content {
  background-color: $flyout-bg;
  border: 1px solid $flyout-border;
  box-shadow: $box-shadow;
  opacity: 0;
  position: absolute;
  transform: translateY(-$spacer-lg);
  transition: visibility 0s $animation-duration $animation-easing, opacity $animation-normal, transform $animation-normal;
  visibility: hidden;
  z-index: layer('flyout');
}


/**
 * FLYOUT MODIFIERS
 * -------------------------------------------------------------------
 */

.m-flyout.opens-above {
  .m-flyout__content {
    box-shadow: $box-shadow-reverse;
  }
}


/**
 * FLYOUT POSITIONING
 * -------------------------------------------------------------------
 */

.m-flyout--right .m-flyout__content {
  right: 0;
}


/**
 * FLYOUT SIZES
 * -------------------------------------------------------------------
 */

.m-flyout--full .m-flyout__content,
.m-flyout--lg .m-flyout__content,
.m-flyout--md .m-flyout__content,
.m-flyout--sm .m-flyout__content {
  min-width: 100%;
}

.m-flyout--lg .m-flyout__content {
  @include at($screen-md) {
    width: $flyout-max-width-lg;
  }

  @include at($screen-sm) {
    width: $flyout-max-width-md;
  }

  width: $flyout-max-width-sm;
}

.m-flyout--md .m-flyout__content {
  @include at($screen-sm) {
    width: $flyout-max-width-md;
  }

  width: $flyout-max-width-sm;
}

.m-flyout--sm .m-flyout__content {
  width: $flyout-max-width-sm;
}

.m-flyout--scrollable .m-flyout__content {
  max-height: $flyout-max-height;
  overflow-y: scroll;
}


/**
 * FLYOUT VISIBILITY
 * -------------------------------------------------------------------
 */

.m-flyout.is-open > .m-flyout__content {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0s;
  visibility: visible;
}

.m-flyout__content.has-padding {
  padding: $spacer / 3 * 2 $spacer;
}


/**
 * FLYOUT FIX AFTER FORM ELEMENT
 * -------------------------------------------------------------------
 */

.a-input + .m-flyout__content {
  margin-top: -1px;
}


/**
 * DATEPICKER IN FLYOUT BORDER FIX
 * -------------------------------------------------------------------
 */

.m-flyout__content.m-datepicker {
  border: none;
}


/**
 * FLYOUT FOCUS OUTLINE FIX
 * -------------------------------------------------------------------
 */

.m-flyout:focus {
  outline: none;
}
