/**
 * ACCORDION
 * -------------------------------------------------------------------
 */

$accordion-border:            $border-color-light !default;
$accordion-header-bg:         $white !default;
$accordion-header-bg-hover:   $background-color-light !default;
$accordion-content-bg:        $accordion-header-bg !default;
$accordion-icon-color:        $brand-primary !default;
$accordion-icon-size:         $icon-size-sm !default;
$accordion-header-padding:    $spacer-xs $spacer-lg $spacer-xs $spacer-xs !default;
$accordion-content-padding:   $spacer !default;

/**
 * ACCORDION ELEMENTS
 * -------------------------------------------------------------------
 */

.m-accordion.has-margins .m-accordion__tab:not(:first-child) {
  margin-top: $spacer-xs;
}

.m-accordion__tab {

  &:not(:first-child) {
    margin-top: -1px;
  }

  &.is-open {

    .m-accordion__header:after {
      mask: url('data:image/svg+xml;utf8,<svg id=%22arrow-up-1%22 viewBox=%22-1 -1 17 17%22 xml:space=%22preserve%22 xmlns=%22http://www.w3.org/2000/svg%22><style>.bgst0{fill:none;stroke:%23ffffff;stroke-width:6.25%;stroke-linecap:round;stroke-linejoin:round}</style><path class=%22bgst0%22 d=%22M14.5 11.4L7.7 3.7c-.1-.1-.3-.1-.4 0L.5 11.4%22/></svg>') no-repeat center center;
    }

    .m-accordion__content {
      border-bottom: 1px solid $accordion-border;
      max-height: 500px;
    }
  }
}

.m-accordion__header {
  align-items: center;
  background-color: $accordion-header-bg;
  border: 1px solid $accordion-border;
  cursor: pointer;
  display: flex;
  min-height: $spacer-lg;
  padding: $accordion-header-padding;
  position: relative;
  text-align: left;
  transition: background $animation-normal;
  user-select: none;

  &:hover {
    background-color: $accordion-header-bg-hover;
  }

  &:after {
    background: $accordion-icon-color;
    content: '';
    height: rem($accordion-icon-size);
    mask: url('data:image/svg+xml;utf8,<svg id=%22arrow-down-1%22 viewBox=%22-1 -1 17 17%22 xml:space=%22preserve%22 xmlns=%22http://www.w3.org/2000/svg%22><style>.azst0{fill:none;stroke:%23ffffff;stroke-width:6.25%;stroke-linecap:round;stroke-linejoin:round}</style><path class=%22azst0%22 d=%22M.5 3.6l6.8 7.7c.1.1.3.1.4 0l6.8-7.7%22/></svg>') no-repeat center center;
    mask-size: contain;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: $spacer-lg;
  }
}

.m-accordion__content {
  background-color: $accordion-content-bg;
  border-bottom: none;
  border-left: 1px solid $accordion-border;
  border-right: 1px solid $accordion-border;
  display: block;
  max-height: 0;
  overflow: auto;
  padding: 0;
  transition: max-height .5s ease-out;
}
