/**
 * BUTTON LIST
 * -------------------------------------------------------------------
 */

.m-button-list {
  @extend %u-list-reset;

  li:not(:last-child) {
    margin-bottom: var(--SPACER-XS);
  }
}

/**
 * BUTTON LIST MODIFIERS
 * -------------------------------------------------------------------
 */

.m-button-list--horizontal {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: calc(var(--SPACER-XS) * -1);

  li {
    margin-bottom: var(--SPACER-XS);

    &:not(:last-child) {
      margin-right: var(--SPACER-XS);
    }
  }
}
