/**
 * MODAL
 * -------------------------------------------------------------------
 */

.m-modal {
  background-color: $modal-bg;
  border: 1px solid $modal-border;
  width: 100%;

  @include at($screen-xs) {
    max-width: $modal-width;
  }

  .m-modal__close {
    position: absolute;
    right: 0;
    top: 0;

    + * {
      margin-right: $spacer-md;
    }
  }
}


/**
 * MODAL ELEMENTS
 * -------------------------------------------------------------------
 */

.m-modal__content {
  padding: $modal-padding;
  position: relative;
}

.m-modal__footer {
  margin-bottom: -$spacer-xs;

  @include at($screen-xs) {
    display: flex;
    margin-bottom: 0;
  }

  [class*='a-button'] {
    margin-bottom: $spacer-xs;

    @include at($screen-xs) {
      margin-bottom: 0;

      &:not(:first-child) {
        margin-left: $spacer-xs;
      }
    }
  }
}


/**
 * MODAL MODIFIERS
 * -------------------------------------------------------------------
 */

.m-modal--large {

  @include at($screen-xs) {
    max-width: $modal-width-large;
  }
}
