/**
 * SELECTABLE LIST
 * -------------------------------------------------------------------
 */

%m-selectable-list__item--active {
  background-color: $link-list-hover;

  a {
    color: $link-color;
  }
}

.m-selectable-list {
  @extend %a-list--reset;

  li {
    border-top: 1px solid $input-border;
    transition: background $animation-duration $animation-easing;

    a {
      text-decoration: none;

      &:hover,
      &:active,
      &:focus {
        text-decoration: underline;
      }
    }

    &:last-child {
      border-bottom: 1px solid $input-border;
    }

    &:hover,
    &:focus {
      @extend %m-selectable-list__item--active;
    }
  }
}


/**
 * SELECTABLE LIST ELEMENTS
 * -------------------------------------------------------------------
 */

.m-selectable-list__item {
  color: $input-color;
  display: block;
  padding: $link-list-item-padding;
  transition: color $animation-duration $animation-easing;
}


/**
 * LINK LIST MODIFIERS
 * -------------------------------------------------------------------
 */

.m-selectable-list--no-border li {

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: none;
  }
}

.m-selectable-list__item--active {
  @extend %m-selectable-list__item--active;
  font-weight: bold;
}
