/**
 * ACCORDION
 * -------------------------------------------------------------------
 */

.m-accordion.has-margins .m-accordion__tab:not(:first-child) {
  margin-top: $spacer-xs;
}

.m-accordion__tab {

  &:not(:first-child) {
    margin-top: -1px;
  }

  &.is-open {

    .m-accordion__header:after {
      mask: url('data:image/svg+xml;utf8,<svg id="arrow-up-1" viewBox="-1 -1 17 17" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><style>.bgst0{fill:none;stroke:%23ffffff;stroke-width:6.25%;stroke-linecap:round;stroke-linejoin:round}</style><path class="bgst0" d="M14.5 11.4L7.7 3.7c-.1-.1-.3-.1-.4 0L.5 11.4"/></svg>') no-repeat center center;
    }

    .m-accordion__content {
      border-bottom: 1px solid $accordion-border;
      max-height: 500px;
    }
  }
}

.m-accordion__header {
  align-items: center;
  background-color: $accordion-header-bg;
  border: 1px solid $accordion-border;
  cursor: pointer;
  display: flex;
  min-height: $spacer-lg;
  padding: $accordion-header-padding;
  position: relative;
  text-align: left;
  transition: background $animation-normal;
  user-select: none;

  &:hover {
    background-color: $accordion-header-bg-hover;
  }

  &:after {
    background: $accordion-icon-color;
    content: '';
    height: rem($accordion-icon-size);
    mask: url('data:image/svg+xml;utf8,<svg id="arrow-down-1" viewBox="-1 -1 17 17" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><style>.azst0{fill:none;stroke:%23ffffff;stroke-width:6.25%;stroke-linecap:round;stroke-linejoin:round}</style><path class="azst0" d="M.5 3.6l6.8 7.7c.1.1.3.1.4 0l6.8-7.7"/></svg>') no-repeat center center;
    mask-size: contain;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: $spacer-lg;
  }
}

.m-accordion__content {
  background-color: $accordion-content-bg;
  border-bottom: none;
  border-left: 1px solid $accordion-border;
  border-right: 1px solid $accordion-border;
  display: block;
  max-height: 0;
  overflow: auto;
  padding: 0;
  transition: max-height .5s ease-out;
}
