/**
 * BUTTON LIST
 * -------------------------------------------------------------------
 */

.m-button-list {
  @extend %u-list-reset;

  li:not(:last-child) {
    margin-bottom: var(--spacer-xs);
  }
}

/**
 * BUTTON LIST MODIFIERS
 * -------------------------------------------------------------------
 */

.m-button-list--horizontal {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: calc(var(--spacer-xs) * -1);

  li {
    margin-bottom: var(--spacer-xs);

    &:not(:last-child) {
      margin-right: var(--spacer-xs);
    }
  }
}
