/**
 * ALERTS
 * -------------------------------------------------------------------
 */

.m-alert {
  padding: $alert-padding;
  position: relative;

  .m-alert__close {
    position: absolute;
    right: 0;
    top: 0;

    + * {
      margin-right: $spacer-md;
    }
  }
}

.m-alert__actions {
  margin-bottom: -$spacer-xs;

  @include at($screen-xs) {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
  }

  [class*='a-button'] {
    margin-bottom: $spacer-xs;

    @include at($screen-xs) {
      margin-bottom: 0;

      &:not(:first-child) {
        margin-left: $spacer-xs;
      }
    }
  }
}


/**
 * ALERTS COLORS
 * -------------------------------------------------------------------
 */

.m-alert {
  @include m-alert;

  &.m-alert--success {
    @include m-alert($alert-success);
  }

  &.m-alert--warning {
    @include m-alert($alert-warning);
  }

  &.m-alert--danger {
    @include m-alert($alert-danger);
  }
}
