/**
 * GALLERY
 * -------------------------------------------------------------------
 */


.m-gallery {
  @extend %a-list--reset;
  @include clearfix;
  display: flex;
  flex-wrap: wrap;
  margin-left: -$gallery-gutter-col / 2;
  width: calc(100% + #{$gallery-gutter-col});
}


/**
 * GALLERY ELEMENTS
 * -------------------------------------------------------------------
 */

.m-gallery__item {
  margin: 0 #{$gallery-gutter-col / 2} #{$gallery-gutter-row};
  width: calc(#{$gallery-item-size} - #{$gallery-gutter-col});

  a {
    display: block;
  }

  img {
    max-height: 100%;
    max-width: 100%;
  }


  /**
  * GALLERY ITEM MODIFIERS
  * -------------------------------------------------------------------
  */

  &.m-gallery__item--preview {
    height: auto;
    margin-right: 0;
    width: calc(100% - #{$gallery-gutter-col});
  }
}
