/**
 * PROGRESS VARIABLES
 * -------------------------------------------------------------------
 */

.m-progress {
  --progress-height:          1.25rem;
  --progress-label-size:      1rem;
  --progress-label-spacing:   var(--spacer-xs);
  --progress-bg-color:        var(--theme1-050);
  --progress-bar-bg-color:    var(--theme1-400);
}

/**
 * PROGRESS
 * -------------------------------------------------------------------
 */

/**
 * PROGRESS ELEMENTS
 * -------------------------------------------------------------------
 */

.m-progress__label {
  display: block;
  font-size: var(--progress-label-size);
  margin-bottom: var(--spacer-xxs);
  text-align: left;
}

.m-progress__inner {
  background-color: var(--progress-bg-color);
  display: flex;
  height: var(--progress-height);
  position: relative;
  width: 100%;
}

.m-progress__bar {
  background-color: var(--progress-bar-bg-color);
  height: 100%;

  + .m-progress__bar {
    margin-left: var(--spacer-3xs);
  }

  &.is-complete {
    --progress-bar-bg-color: var(--theme1-400);
  }
}

/**
 * PROGRESS MODIFIERS
 * -------------------------------------------------------------------
 */

.m-progress {
  &.m-progress--xs {
    --progress-height: var(--spacer-3xs);
    --progress-label-spacing: var(--spacer-xxs);
    --progress-label-size: .875rem;
  }

  &.m-progress--s {
    --progress-height: var(--spacer-xxs);
    --progress-label-spacing: var(--spacer-xxs);
    --progress-label-size: .875rem;
  }

  &.m-progress--inline {
    align-items: center;
    display: flex;

    .m-progress__label {
      margin-bottom: 0;
      margin-right: var(--progress-label-spacing);
      text-align: right;
    }

    .m-progress__inner + .m-progress__label {
      margin-left: var(--progress-label-spacing);
      margin-right: 0;
      text-align: left;
    }
  }

  &.has-steps {
    --progress-bg-color: transparent;
    --progress-bar-bg-color: var(--theme1-050);

    .m-progress__bar {
      flex-grow: 1;
    }
  }
}
