/**
 * NAVIGATION VARIABLES
 * -------------------------------------------------------------------
 */

.m-nav-list,
.m-nav-tabs {
  --nav-color:                 var(--TEXT-COLOR);
  --nav-bg-color:              transparent;
  --nav-border-color:          #{$gray-200};

  --nav-hover-color:           var(--THEME1-600);
  --nav-hover-bg-color:        var(--THEME1-100);

  --nav-active-color:          var(--THEME1-600);
  --nav-active-border-color:   var(--THEME1-600);

  --nav-disabled-color:       var(--STATE-DISABLED);
}

/**
 * NAVIGATION LIST
 * -------------------------------------------------------------------
 */

.m-nav-list {
  ol,
  ul {
    @extend %u-list-reset;

    > li {
      display: flex;
      flex-direction: column;
      min-height: var(--SPACER-XL);
      transition-duration: var(--ANIMATION-DURATION);
      transition-property: background-color, box-shadow;
      transition-timing-function: var(--ANIMATION-EASING);

      &:not(:first-child) {
        > a,
        > button {
          border-top: var(--BORDER-WIDTH) solid var(--nav-border-color);
        }
      }

      &:not(.is-active):not(.is-disabled) {
        &:hover,
        &:active,
        &:focus,
        &:focus-within {
          background-color: var(--nav-hover-bg-color);
          color: var(--nav-hover-color);

          > a,
          > button {
            border-top-color: transparent;
          }

          + li {
            > a,
            > button {
              border-top-color: transparent;
            }
          }
        }
      }

      &.is-active {
        &,
        &:hover,
        &:active,
        &:focus,
        &:focus-within {
          background-color: var(--nav-active-bg-color);
          box-shadow: var(--SPACER-3XS) 0 0 0 var(--nav-active-border-color) inset;
          color: var(--nav-active-color);
          font-weight: var(--FONT-WEIGHT-BOLD);
        }
      }

      &.is-disabled {
        &,
        &:hover,
        &:active,
        &:focus,
        &:focus-within {
          color: var(--nav-disabled-color);

          > a,
          > button {
            cursor: not-allowed;
          }
        }
      }

      > a,
      > button {
        align-items: center;
        background: transparent;
        border: none;
        color: inherit;
        cursor: pointer;
        display: flex;
        flex-grow: 1;
        margin-left: var(--SPACER-S);
        padding: var(--SPACER-3XS) var(--SPACER-S) var(--SPACER-3XS) 0;
        text-decoration: none;
        transition-duration: var(--ANIMATION-DURATION);
        transition-property: border-top-color, color;
        transition-timing-function: var(--ANIMATION-EASING);

        > .ai {
          display: inline-block;
          margin-right: var(--SPACER-XXS);
        }

        > .a-badge {
          margin-left: var(--SPACER-XXS);
        }
      }
    }
  }
}

/**
 * NAVIGATION TABS
 * -------------------------------------------------------------------
 */

.m-nav-tabs {
  position: relative;

  ol,
  ul {
    @extend %u-list-reset;

    -ms-overflow-style: scrollbar;
    -webkit-overflow-scrolling: touch;
    display: flex;
    overflow-x: auto;

    > li {
      display: flex;
      flex-direction: column;
      min-height: var(--SPACER-XL);
      transition-duration: var(--ANIMATION-DURATION);
      transition-property: background-color, box-shadow;
      transition-timing-function: var(--ANIMATION-EASING);

      &:not(.is-active):not(.is-disabled) {
        &:hover,
        &:active,
        &:focus,
        &:focus-within {
          background-color: var(--nav-hover-bg-color);
          color: var(--nav-hover-color);
        }
      }

      &.is-active {
        &,
        &:hover,
        &:active,
        &:focus,
        &:focus-within {
          background-color: var(--nav-active-bg-color);
          box-shadow: 0 calc(var(--SPACER-3XS) * -1) 0 0 var(--nav-active-border-color) inset;
          color: var(--nav-active-color);
          font-weight: var(--FONT-WEIGHT-BOLD);
        }
      }

      &.is-disabled {
        &,
        &:hover,
        &:active,
        &:focus,
        &:focus-within {
          color: var(--nav-disabled-color);

          > a,
          > button {
            cursor: not-allowed;
          }
        }
      }

      > a,
      > button {
        align-items: center;
        background: transparent;
        border: none;
        color: inherit;
        cursor: pointer;
        display: flex;
        flex-grow: 1;
        padding: var(--SPACER-3XS) var(--SPACER-S);
        text-decoration: none;
        transition: color var(--ANIMATION-NORMAL);

        > .ai {
          display: inline-block;
          margin-right: var(--SPACER-XXS);
        }

        > .a-badge {
          margin-left: var(--SPACER-XXS);
        }
      }
    }
  }

  &.has-border {
    border-bottom: var(--BORDER-WIDTH) solid var(--nav-border-color);
  }

  // Display a drop shadow on the left inner side of the navigation
  &.has-shadow-left:before {
    background-color: var(--BOX-SHADOW-COLOR);
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    top: 0;
    width: var(--SPACER-XS);
  }

  // Display a drop shadow on the right inner side of the navigation
  &.has-shadow-right:after {
    background-color: var(--BOX-SHADOW-COLOR);
    bottom: 0;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: var(--SPACER-XS);
  }
}
