/**
 * PAGINATION VARIABLES
 * -------------------------------------------------------------------
 */

.m-pagination {
  --pagination-font-size:                 #{rem($font-size-base)};
  --pagination-size:                      var(--SPACER-XL);
  --pagination-padding:                   0 var(--SPACER);

  --pagination-color:                     var(--THEME1-600);
  --pagination-hover-color:               var(--THEME1-600);
  --pagination-active-color:              #{$white};
  --pagination-bg-color:                  transparent;
  --pagination-hover-bg-color:            var(--THEME1-100);
  --pagination-active-bg-color:           var(--THEME1-600);
  --pagination-border-color:              var(--THEME1-600);
  --pagination-hover-border:              var(--THEME1-700);
  --pagination-active-border:             var(--THEME1-700);

  --pagination-disabled-color:            #{$gray-400};
  --pagination-disabled-bg-color:         #{$gray-100};
  --pagination-disabled-border-color:     #{$gray-100};
}

/**
 * PAGINATION
 * -------------------------------------------------------------------
 */

.m-pagination {
  @extend %u-list-reset;

  display: flex;

  > li {
    background-color: var(--pagination-bg-color);
    box-shadow: 0 0 0 var(--BORDER-WIDTH) var(--pagination-border-color) inset;
    color: var(--pagination-color);
    font-size: var(--pagination-font-size);
    height: var(--pagination-size);
    line-height: var(--pagination-size);
    position: relative;
    text-align: center;
    width: var(--pagination-size);
    z-index: layer('base');

    > a {
      color: var(--pagination-color);
      display: block;
      text-decoration: none;
      transition-duration: var(--ANIMATION-DURATION);
      transition-property: color, background-color, box-shadow;
      transition-timing-function: var(--ANIMATION-EASING);

      &:hover,
      &:active,
      &:focus,
      &.is-active {
        background-color: var(--pagination-hover-bg-color);
        box-shadow: 0 0 0 var(--BORDER-WIDTH) var(--pagination-hover-border) inset;
        color: var(--pagination-hover-color);
      }

      &.is-active {
        background-color: var(--pagination-active-bg-color);
        box-shadow: 0 0 0 var(--BORDER-WIDTH) var(--pagination-active-border) inset;
        color: var(--pagination-active-color);
        font-weight: var(--FONT-WEIGHT-BOLD);
      }

      &.is-disabled {
        background-color: var(--pagination-disabled-bg-color);
        box-shadow: 0 0 0 var(--BORDER-WIDTH) var(--pagination-disabled-border) inset;
        color: var(--pagination-disabled-color);
        cursor: not-allowed;
      }
    }

    + li {
      margin-left: calc(var(--BORDER-WIDTH) * -1);
    }
  }

  .m-pagination__label {
    padding: var(--pagination-padding);
    width: auto;
  }

  .m-pagination__next {
    z-index: layer('auto');
  }

  .m-pagination__prev + .m-pagination__next {
    z-index: layer('base');
  }
}

/**
 * PAGINATION SIZES
 * -------------------------------------------------------------------
 */

.m-pagination.m-pagination--s {
  --pagination-size: var(--SPACER-L);
  --pagination-padding: 0 var(--SPACER-XS);
}
