/**
 * DATEPICKER
 * -------------------------------------------------------------------
 */

.m-datepicker {
  --datepicker-border-color:           var(--border-color);
  --datepicker-bg-color:               #{$white};
  --datepicker-hover-bg-color:         var(--theme1-050);

  --datepicker-week-days-color:        var(--text-color-light);
  --datepicker-week-days-bg-color:     var(--bg-color-light);

  --datepicker-today-color:            var(--theme1-400);
  --datepicker-today-bg-color:         var(--theme1-050);
  --datepicker-today-border-color:     var(--datepicker-today-color);
  --datepicker-today-font-weight:      var(--font-weight-extra-bold);

  --datepicker-selected-color:         #{$white};
  --datepicker-selected-bg-color:      var(--datepicker-today-color);
  --datepicker-selected-font-weight:   var(--datepicker-today-font-weight);

  --datepicker-faded-color:            #{$gray-400};
  --datepicker-faded-bg-color:         var(--bg-color-light);
  --datepicker-faded-hover-bg-color:   var(--bg-color);

  --datepicker-unavailable-color:      var(--state-disabled);
  --datepicker-unavailable-bg-color:   var(--datepicker-bg-color);
}

/**
 * DATEPICKER
 * -------------------------------------------------------------------
 */

.m-datepicker {
  max-width: calc(var(--spacer) * 14);
  opacity: 0;
  transform: translateY(calc(var(--spacer-xl) * -1));
  transition: visibility 0s var(--animation-normal), opacity var(--animation-normal), transform var(--animation-normal);
  visibility: hidden;

  table {
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
  }
}

/**
 * DATEPICKER ELEMENTS
 * -------------------------------------------------------------------
 */

/**
 * DATEPICKER NAVIGATION
 * -------------------------------------------------------------------
 */

.m-datepicker__nav {
  border: var(--border-width) solid var(--datepicker-border-color);
  display: flex;
  height: var(--spacer-xl);
  justify-content: space-between;
}

.m-datepicker__nav-title {
  align-items: center;
  background-color: $white;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  display: flex;
  flex-grow: 1;
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
  margin: 0;
  padding: 0 1rem;
  transition: background-color var(--animation-normal);
  user-select: none;

  .ai {
    font-size: 1.25rem;
    color: var(--text-color-light);
    margin-left: var(--spacer-xxs);
  }

  &:hover,
  &:active,
  &:focus {
    background-color: $gray-100;
  }
}

.m-datepicker__nav-pagination {
  display: flex;

  .a-button {
    min-height: auto;
  }
}

/**
 * DATEPICKER DAY VIEW
 * -------------------------------------------------------------------
 */

.m-datepicker__day-view {
  border-bottom: var(--border-width) solid var(--datepicker-border-color);
  border-left: var(--border-width) solid var(--datepicker-border-color);
  border-right: var(--border-width) solid var(--datepicker-border-color);
}

.m-datepicker__week-days {
  height: var(--spacer-xl);

  th {
    background-color: var(--datepicker-week-days-bg-color);
    color: var(--datepicker-week-days-color);
    font-size: .875rem;
    font-weight: var(--font-weight-normal);
    padding: 0;
  }
}

.m-datepicker__calendar-days {
  background-color: var(--datepicker-bg-color);

  td {
    padding: 0;
    position: relative;

    &:after {
      content: '';
      display: block;
      margin-top: 100%;
    }
  }

  button {
    background-color: transparent;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    font-size: 1rem;
    height: 100%;
    padding: 0;
    position: absolute;
    transition: color var(--animation-normal);
    width: 100%;

    &:not(.is-unavailable):not(:disabled) {
      &:before {
        background-color: transparent;
        border: var(--border-width) solid transparent;
        border-radius: 2.5rem;
        content: '';
        height: 2.5rem;
        left: 50%;
        pointer-events: none;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: background-color var(--animation-normal);
        width: 2.5rem;
      }

      &.is-current:before {
        border-color: var(--border-color);
      }

      &.is-selected {
        color: $white;
        font-weight: var(--font-weight-bold);

        &:before {
          background-color: var(--theme1-400);
        }
      }

      &.is-faded {
        background-color: var(--datepicker-faded-bg-color);
        color: var(--datepicker-faded-color);
      }
    }

    &:not(.is-selected):not(.is-unavailable):not(:disabled) {
      &:hover,
      &:active,
      &:focus {
        color: var(--theme1-400);
        font-weight: var(--font-weight-bold);

        &:before {
          background-color: var(--theme1-050);
        }
      }
    }

    &:focus {
      z-index: layer('base');
    }

    &.is-unavailable,
    &:disabled {
      color: var(--text-color-light);
      cursor: not-allowed;
      font-size: .875rem;

      &:before {
        background-color: $gray-200;
        content: '';
        height: var(--border-width);
        left: 50%;
        pointer-events: none;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
        width: 2rem;
      }
    }

    span {
      position: relative;
    }
  }
}

/**
 * DATEPICKER YEAR VIEW
 * -------------------------------------------------------------------
 */

.m-datepicker__year-view {
  border-bottom: var(--border-width) solid var(--datepicker-border-color);
  border-left: var(--border-width) solid var(--datepicker-border-color);
  border-right: var(--border-width) solid var(--datepicker-border-color);
  height: calc(var(--spacer) * 11);
  overflow-x: auto;
}

.m-datepicker__calendar-years {
  background-color: var(--datepicker-bg-color);

  td {
    padding: 0;
  }

  button {
    background-color: transparent;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    height: var(--spacer-xl);
    padding: 0;
    position: relative;
    transition: color var(--animation-normal);
    width: 100%;

    &:before {
      background-color: transparent;
      border-radius: 2.5rem;
      content: '';
      height: 2.5rem;
      left: 50%;
      pointer-events: none;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: background-color var(--animation-normal);
      width: 4rem;
    }

    &:hover,
    &:active,
    &:focus {
      color: var(--theme1-400);
      font-weight: var(--font-weight-bold);

      &:before {
        background-color: var(--theme1-050);
      }
    }

    &.is-current {
      color: $white;
      font-weight: var(--font-weight-bold);

      &:before {
        background-color: var(--theme1-400);
      }
    }

    span {
      position: relative;
    }
  }
}

/**
 * DATEPICKER MODIFIERS
 * -------------------------------------------------------------------
 */

.m-datepicker.is-open {
  opacity: 1;
  transform: translateY(calc(var(--border-width) * -1));
  transition-delay: 0s;
  visibility: visible;
}

.m-datepicker--fixed {
  box-shadow: var(--box-shadow);
  position: absolute;
  right: 0;
  top: 100%;
  z-index: layer('datepicker');
}

.m-datepicker--left {
  left: 0;
  right: auto;
}
