/**
 * NAVIGATION VARIABLES
 * -------------------------------------------------------------------
 */

.m-nav-list,
.m-nav-tabs {
  --nav-font-weight:          var(--font-weight-bold);
  --nav-icon-size:            1.25rem;
  --nav-padding:              .8125rem var(--spacer);

  --nav-color:                var(--text-color);
  --nav-bg-color:             transparent;
  --nav-border-color:         var(--border-color);

  --nav-active-color:         var(--nav-hover-color);
  --nav-active-bg-color:      var(--nav-bg-color);

  --nav-hover-color:          var(--theme1-400);
  --nav-hover-bg-color:       #{$gray-100};
  --nav-hover-border-color:   var(--theme1-400);

  --nav-disabled-color:       var(--state-disabled);
  --nav-disabled-bg-color:    #{$gray-100};
  --nav-disabled-tab-color:   var(--nav-disabled-color);
}

/**
 * NAVIGATION LIST
 * -------------------------------------------------------------------
 */

%m-nav-list {
  @extend %u-list-reset;

  border-top: var(--border-width) solid var(--nav-border-color);

  > li {
    font-weight: var(--nav-font-weight);
    line-height: $line-height-paragraph;
    min-height: var(--spacer-xl);
    text-align: center;

    > a,
    > button {
      background-color: var(--nav-bg-color);
      border: none;
      border-bottom: var(--border-width) solid var(--nav-border-color);
      color: inherit;
      display: block;
      flex: 1 1 auto;
      padding: var(--nav-padding);
      text-decoration: none;
      transition-duration: var(--animation-duration);
      transition-property: background, color;
      transition-timing-function: var(--animation-easing);

      &:hover,
      &:active {
        background-color: var(--nav-hover-bg-color);
        color: var(--nav-hover-color);
      }

      &.is-active {
        &,
        &:hover,
        &:active {
          background-color: var(--nav-active-bg-color);
          color: var(--nav-active-color);
          text-decoration: underline;
        }
      }

      &.is-disabled {
        &,
        &:hover,
        &:active {
          background-color: var(--nav-disabled-bg-color);
          color: var(--nav-disabled-color);
          cursor: not-allowed;
          text-decoration: none;
        }
      }

      > .ai {
        display: inline-block;
        margin-right: var(--spacer-xs);
      }
    }

    > button {
      cursor: pointer;
      width: 100%;
    }
  }
}

.m-nav-list {
  @extend %m-nav-list;
}

/**
 * NAVIGATION LIST MODIFIERS
 * -------------------------------------------------------------------
 */

.m-nav-list--left > li {
  &,
  > a,
  > button {
    text-align: left;
  }
}

/**
 * NAVIGATION TABS
 * -------------------------------------------------------------------
 */

.m-nav-tabs {
  @extend %m-nav-list;

  @include at($screen-sm) {
    border-top: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    > li {
      > a,
      > button {
        border-bottom: calc(var(--border-width) * 3) solid transparent;
        display: inline-flex;
        text-decoration: none;
        transition-property: border, color;

        &:hover,
        &:active {
          background-color: transparent;
          border-color: var(--nav-active-color);
          color: var(--nav-color);
          text-decoration: none;
        }

        &.is-active {
          &,
          &:hover,
          &:active {
            background-color: var(--nav-active-bg-color);
            border-color: var(--nav-active-color);
            color: var(--nav-active-color);
            text-decoration: none;
          }
        }

        &.is-disabled {
          &,
          &:hover,
          &:active {
            background-color: var(--nav-bg-color);
            border-color: transparent;
            color: var(--nav-disabled-color);
            cursor: not-allowed;
          }
        }
      }
    }
  }
}

/**
 * NAVIGATION LIST MODIFIERS
 * -------------------------------------------------------------------
 */

.m-nav-tabs--left {
  @include at($screen-sm) {
    justify-content: flex-start;
  }
}

.m-nav-tabs--right {
  @include at($screen-sm) {
    justify-content: flex-end;
  }
}
