/**
 * RANGE SLIDER VARIABLES
 * -------------------------------------------------------------------
 */

.m-range-slider {
  --range-slider-height:            calc(var(--spacer) + var(--spacer-3xs));
  --range-slider-padding:           var(--spacer-3xs);
  --range-slider-offset:            .625rem;

  --range-slider-bg-color:          #{$white};
  --range-slider-border-color:      var(--border-color);

  --range-slider-bar-bg-color:      var(--bg-color);
  --range-slider-handle-bg-color:   var(--theme1-400);

  --range-slider-inner-height:      calc(var(--range-slider-height) - (var(--range-slider-padding) * 2));
  --range-slider-inner-width:       calc(100% - (var(--range-slider-height) - var(--range-slider-padding) * 2));

  --range-slider-bar-height:        var(--range-slider-inner-height);

  --range-slider-handle-size:       var(--range-slider-inner-height);
  --range-slider-handle-padding:    calc(var(--range-slider-handle-size) / 2);

  --range-slider-value-height:      #{$font-size-base};
  --range-slider-value-top:         calc(((var(--range-slider-handle-size) * 2 - var(--range-slider-height)) / 2) - (var(--range-slider-value-height) + var(--range-slider-offset)));
}

/**
 * RANGE SLIDER
 * -------------------------------------------------------------------
 */

.m-range-slider {
  background: var(--range-slider-bg-color);
  border-radius: var(--range-slider-height);
  box-shadow: inset 0 0 0 var(--border-width) var(--range-slider-border-color);
  height: var(--range-slider-height);
  padding: var(--range-slider-padding);
  width: 100%;
}

/**
 * RANGE SLIDER ELEMENTS
 * -------------------------------------------------------------------
 */

.m-range-slider__inner {
  height: var(--range-slider-inner-height);
  margin: 0 auto;
  position: relative;
  width: var(--range-slider-inner-width);
}

.m-range-slider__bar {
  background-color: var(--range-slider-bar-bg-color);
  height: 100%;
  position: absolute;

  &:before,
  &:after {
    background-color: var(--range-slider-bar-bg-color);
    border-radius: var(--range-slider-bar-height);
    content: '';
    display: block;
    height: var(--range-slider-bar-height);
    position: absolute;
    top: 50%;
    width: var(--range-slider-bar-height);
  }

  &:before {
    left: 0;
    transform: translate(-50%, -50%);
  }

  &:after {
    right: 0;
    transform: translate(50%, -50%);
  }
}

.m-range-slider__handle {
  cursor: grab;
  padding: var(--range-slider-handle-padding);
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

  &:before {
    background-color: var(--range-slider-handle-bg-color);
    border-radius: var(--range-slider-handle-size);
    content: '';
    display: block;
    height: var(--range-slider-handle-size);
    width: var(--range-slider-handle-size);
  }
}

.m-range-slider__value {
  display: block;
  left: 50%;
  pointer-events: none;
  position: absolute;
  transform: translateX(-50%);
}

.m-range-slider__value {
  top: var(--range-slider-value-top);
}
