/**
 * OVERLAY
 * -------------------------------------------------------------------
 */

.m-overlay {
  background-color: $overlay-color;
  bottom: 0;
  display: none;
  left: 0;
  outline: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;

  &.is-active {
    display: block;
  }
}
