/**
 * ALERT VARIABLES
 * -------------------------------------------------------------------
 */

.m-alert {
  --alert-bg-color:               var(--theme1-050);
  --alert-border-color:           var(--theme1-400);

  --alert-success-bg-color:       var(--success-050);
  --alert-success-border-color:   var(--success-600);

  --alert-warning-bg-color:       var(--warning-050);
  --alert-warning-border-color:   var(--warning-500);

  --alert-danger-bg-color:        var(--danger-050);
  --alert-danger-border-color:    var(--danger-500);

  --alert-padding:                var(--spacer);
}

/**
 * ALERTS
 * -------------------------------------------------------------------
 */

.m-alert {
  background-color: var(--alert-bg-color);
  border: var(--border-width) solid var(--alert-border-color);
  padding: var(--alert-padding);
  position: relative;

  .m-alert__close {
    position: absolute;
    right: 0;
    top: 0;

    + * {
      margin-right: var(--spacer-l);
    }
  }
}

/**
 * ALERTS ELEMENTS
 * -------------------------------------------------------------------
 */

.m-alert__actions {
  margin-bottom: calc(var(--spacer-xs) * -1);

  @include at($screen-xs) {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
  }

  .a-button {
    margin-bottom: var(--spacer-xs);

    @include at($screen-xs) {
      margin-bottom: 0;

      &:not(:first-child) {
        margin-left: var(--spacer-xs);
      }
    }
  }
}

/**
 * ALERTS COLORS
 * -------------------------------------------------------------------
 */

.m-alert {
  &.m-alert--success {
    --alert-bg-color: var(--alert-success-bg-color);
    --alert-border-color: var(--alert-success-border-color);
  }

  &.m-alert--warning {
    --alert-bg-color: var(--alert-warning-bg-color);
    --alert-border-color: var(--alert-warning-border-color);
  }

  &.m-alert--danger {
    --alert-bg-color: var(--alert-danger-bg-color);
    --alert-border-color: var(--alert-danger-border-color);
  }
}
