/**
 * LINK LIST
 * -------------------------------------------------------------------
 */

.m-link-list {
  @extend %a-list--reset;

  li {
    border-top: 1px solid $input-border;
    transition: background $animation-duration $animation-easing;

    > a {
      color: $input-color;
      display: block;
      padding: $link-list-item-padding;
      transition: color $animation-duration $animation-easing;
    }

    &:last-child {
      border-bottom: 1px solid $input-border;
    }

    &:hover,
    &:focus {
      background-color: $link-list-hover;

      a {
        color: $link-color;
      }
    }
  }
}


/**
 * LINK LIST MODIFIERS
 * -------------------------------------------------------------------
 */

.m-link-list--no-border li {

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: none;
  }
}
