/**
 * UPLOAD VARIABLES
 * -------------------------------------------------------------------
 */

$upload-height:              calc(var(--spacer) * 5) !default;
$upload-padding:             var(--spacer-l) var(--spacer) !default;

$upload-color:               $text-color !default;
$upload-bg:                  $white !default;
$upload-bg-hover:            mix($brand-primary, $white, 20%) !default;
$upload-border:              $brand-primary !default;
$upload-disabled-color:      $state-disabled !default;
$upload-disabled-bg:         $gray-100 !default;
$upload-disabled-border:     $upload-disabled-color !default;
$upload-focus-border:        rgb(192, 223, 254) !default;

$upload-file-color:           $text-color !default;
$upload-file-bg:              $background-color-light !default;
$upload-file-bg-danger:       mix($state-danger, $white, 10%) !default;
$upload-file-color-danger:    mix($black, $state-danger, 40%) !default;

/**
 * UPLOAD
 * -------------------------------------------------------------------
 */

.m-upload {
  &.is-disabled {
    .m-upload__dropzone {
      border-color: $upload-disabled-border;
      cursor: not-allowed;

      &,
      &:active,
      &:hover,
      &:focus {
        background-color: $upload-disabled-bg;
      }
    }

    .m-upload__input {
      cursor: not-allowed;
    }

    .m-upload__content {
      color: $upload-disabled-color;
    }
  }
}

/**
 * UPLOAD ELEMENTS
 * -------------------------------------------------------------------
 */

.m-upload__inner {
  display: flex;
  flex-direction: row;
}

.m-upload__dropzone {
  align-items: center;
  background-color: $upload-bg;
  border: calc(var(--border-width) * 2) dashed $upload-border;
  color: $upload-color;
  cursor: pointer;
  display: flex;
  justify-content: center;
  min-height: $upload-height;
  padding: $upload-padding;
  position: relative;
  text-align: center;
  transition: background var(--animation-normal);
  width: 100%;

  &:active,
  &:hover,
  &:focus {
    background-color: $upload-bg-hover;
  }
}

.m-upload__input {
  bottom: 0;
  cursor: pointer;
  height: 100%;
  left: 0;
  opacity: .01;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;

  &:focus {
    + .m-upload__content:before {
      content: '';
    }
  }
}

.m-upload__content {
  max-width: calc(var(--spacer) * 15);
  width: 100%;

  &:before {
    @include focus;

    bottom: rem(-3px);
    cursor: pointer;
    left: rem(-3px);
    position: absolute;
    right: rem(-3px);
    top: rem(-3px);
    z-index: layer('cellar');
  }
}

.m-upload__progress {
  pointer-events: none;
}

.m-upload__description {
  display: block;
  margin-top: var(--spacer-xs);
}

.m-upload__files {
  @extend %a-list--reset;

  margin-top: var(--spacer);

  > li {
    background-color: $upload-file-bg;
    color: $upload-file-color;
    line-height: $line-height-paragraph;
    min-height: var(--spacer-l);
    padding: calc(var(--spacer) / 3) var(--spacer-xl) calc(var(--spacer) / 3) var(--spacer-xl);
    position: relative;

    &:not(:last-child) {
      margin-bottom: var(--spacer-xs);
    }

    > .ai {
      left: var(--spacer-s);
      position: absolute;
      top: calc(var(--spacer) / 4 * 3);
      transform: translateY(-50%);
    }
  }

  .m-upload__delete {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.m-upload__filename,
.m-upload__error {
  display: block;
}

.m-upload__error {
  color: $upload-file-color-danger;
}
