/**
 * ICON LIST
 * -------------------------------------------------------------------
 */

.m-icon-list {
  @extend %a-list--reset;

  li {
    color: $icon-list-color;
    text-align: center;

    &:not(:last-child) {
      margin-bottom: $spacer-sm;
    }

    a {
      color: inherit;
      display: block;
      transition: color $animation-duration $animation-easing;

      &:hover {
        color: $icon-list-hover-color;
      }
    }

    .fa {
      font-size: rem($icon-list-icon-size);
    }
  }
}

/**
 * ICON LIST MODIFIERS
 * -------------------------------------------------------------------
 */

.m-icon-list--horizontal {
  display: flex;

  li {
    margin: 0;

    &:not(:last-child) {
      margin: 0 $spacer 0 0;
    }
  }
}

.m-icon-list--negative li {
  color: $icon-list-negative-color;
}
