/**
 * CARD VARIABLES
 * -------------------------------------------------------------------
 */

$card-header-padding:    $spacer-xs !default;
$card-content-padding:   var(--spacer) !default;


/**
 * CARD
 * -------------------------------------------------------------------
 */

.m-card {
  background-color: $white;
  border: 1px solid $border-color-light;
}


/**
 * CARD ELEMENTS
 * -------------------------------------------------------------------
 */

.m-card__header {
  padding: $card-header-padding;
}

.m-card__image img {
  display: block;
  width: 100%;
}

.m-card__body {
  padding: $card-content-padding;
}
