/**
 * DATEPICKER
 * -------------------------------------------------------------------
 */

.m-datepicker {
  --datepicker-text-color:           var(--TEXT-COLOR);
  --datepicker-text-color-light:     var(--TEXT-COLOR-LIGHT);
  --datepicker-text-color-xlight:    var(--TEXT-COLOR-XLIGHT);

  --datepicker-bg-color:             #{$white};
  --datepicker-bg-color-dark:        var(--BG-COLOR-LIGHT);

  --datepicker-border-color:         var(--BORDER-COLOR);
  --datepicker-border-color-light:   #{$gray-200};

  --datepicker-highlight-color:      var(--THEME1-100);
  --datepicker-active-color:         var(--THEME1-600);
}

/**
 * DATEPICKER
 * -------------------------------------------------------------------
 */

.m-datepicker {
  background-color: var(--datepicker-bg-color);
  max-width: calc(var(--SPACER) * 14);
  opacity: 0;
  transform: translateY(calc(var(--SPACER-XL) * -1));
  transition: visibility 0s var(--ANIMATION-NORMAL), opacity var(--ANIMATION-NORMAL), transform var(--ANIMATION-NORMAL);
  visibility: hidden;

  table {
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
  }
}

/**
 * DATEPICKER ELEMENTS
 * -------------------------------------------------------------------
 */

/**
 * DATEPICKER NAVIGATION
 * -------------------------------------------------------------------
 */

.m-datepicker__nav {
  border: var(--BORDER-WIDTH) solid var(--datepicker-border-color);
  display: flex;
  height: var(--SPACER-XL);
  justify-content: space-between;
}

.m-datepicker__nav-title {
  align-items: center;
  background: transparent;
  border: none;
  color: var(--datepicker-text-color);
  cursor: pointer;
  display: flex;
  flex-grow: 1;
  font-size: 1rem;
  font-weight: var(--FONT-WEIGHT-BOLD);
  margin: 0;
  padding: 0 1rem;
  transition: background-color var(--ANIMATION-NORMAL), color var(--ANIMATION-NORMAL);
  user-select: none;

  .ai {
    color: var(--datepicker-text-color-light);
    font-size: 1.25rem;
    margin-left: var(--SPACER-XXS);
  }

  &:hover,
  &:active,
  &:focus {
    background-color: var(--datepicker-highlight-color);

    &,
    .ai {
      color: var(--datepicker-active-color);
    }
  }
}

.m-datepicker__nav-pagination {
  display: flex;

  .a-button {
    min-height: auto;
  }
}

/**
 * DATEPICKER DAY VIEW
 * -------------------------------------------------------------------
 */

.m-datepicker__grid {
  border-bottom: var(--BORDER-WIDTH) solid var(--datepicker-border-color);
  border-left: var(--BORDER-WIDTH) solid var(--datepicker-border-color);
  border-right: var(--BORDER-WIDTH) solid var(--datepicker-border-color);
}

.m-datepicker__grid-head {
  height: var(--SPACER-XL);

  th {
    background-color: var(--datepicker-bg-color-dark);
    color: var(--datepicker-text-color-light);
    font-size: .875rem;
    font-weight: var(--FONT-WEIGHT-NORMAL);
    padding: 0;
  }
}

.m-datepicker__grid-body {
  background-color: var(--datepicker-bg-color);

  td {
    padding: 0;
    position: relative;

    &:after {
      content: '';
      display: block;
      margin-top: 100%;
    }
  }

  button {
    background-color: transparent;
    border-radius: var(--BORDER-RADIUS);
    border: var(--BORDER-WIDTH) solid transparent;
    color: var(--datepicker-text-color);
    cursor: pointer;
    font-size: 1rem;
    height: 100%;
    padding: 0;
    position: absolute;
    transition-duration: var(--ANIMATION-DURATION);
    transition-property: color, background-color, border;
    transition-timing-function: var(--ANIMATION-EASING);
    width: 100%;

    &:not(.is-selected):not(.is-unavailable):not(:disabled) {
      &:hover,
      &:active,
      &:focus {
        background-color: var(--datepicker-highlight-color);
        color: var(--datepicker-active-color);
      }
    }

    &:not(.is-current):not(.is-selected):not(.is-unavailable):not(:disabled) {
      &:hover,
      &:active,
      &:focus {
        border-color: var(--datepicker-highlight-color);
      }
    }

    &:focus {
      z-index: layer('base');
    }

    &.is-current {
      border-color: var(--datepicker-border-color);
    }

    &.is-selected {
      background-color: var(--datepicker-active-color);
      color: var(--datepicker-text-color-xlight);
      font-weight: var(--FONT-WEIGHT-BOLD);
    }

    &.is-faded {
      background-color: var(--datepicker-bg-color-dark);
      border-color: var(--datepicker-bg-color-dark);
      color: var(--datepicker-text-color-light);
    }

    &.is-unavailable,
    &:disabled {
      color: var(--datepicker-text-color-light);
      cursor: not-allowed;
      font-size: .875rem;

      &:before {
        background-color: var(--datepicker-border-color-light);
        content: '';
        height: var(--BORDER-WIDTH);
        left: 50%;
        pointer-events: none;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
        width: 2rem;
      }
    }

    span {
      position: relative;
    }
  }
}

/**
 * DATEPICKER YEAR VIEW
 * -------------------------------------------------------------------
 */

.m-datepicker__list {
  border-bottom: var(--BORDER-WIDTH) solid var(--datepicker-border-color);
  border-left: var(--BORDER-WIDTH) solid var(--datepicker-border-color);
  border-right: var(--BORDER-WIDTH) solid var(--datepicker-border-color);
}

.m-datepicker__list-body {
  background-color: var(--datepicker-bg-color);

  tr {
    &:first-child button {
      border-top: 0;
    }

    &:last-child button {
      border-bottom: 0;
    }

    td {
      &:first-child button {
        border-left: 0;
      }

      &:last-child button {
        border-right: 0;
      }
    }
  }

  td {
    padding: 0;
  }

  button {
    background-color: transparent;
    border-radius: var(--BORDER-RADIUS);
    border: var(--BORDER-WIDTH) solid transparent;
    color: var(--datepicker-text-color);
    cursor: pointer;
    height: var(--SPACER-XL);
    padding: 0;
    position: relative;
    transition-duration: var(--ANIMATION-DURATION);
    transition-property: color, background-color, border;
    transition-timing-function: var(--ANIMATION-EASING);
    width: 100%;

    &:hover,
    &:active,
    &:focus {
      background-color: var(--datepicker-highlight-color);
      color: var(--datepicker-active-color);
    }

    &.is-current {
      border-color: var(--datepicker-border-color);
    }

    &.is-selected {
      background-color: var(--datepicker-active-color);
      color: var(--datepicker-text-color-xlight);
      font-weight: var(--FONT-WEIGHT-BOLD);
    }
  }
}

/**
 * DATEPICKER MODIFIERS
 * -------------------------------------------------------------------
 */

.m-datepicker.is-open {
  opacity: 1;
  transform: translateY(calc(var(--BORDER-WIDTH) * -1));
  transition-delay: 0s;
  visibility: visible;
}

.m-datepicker--fixed {
  box-shadow: var(--BOX-SHADOW);
  position: absolute;
  right: 0;
  top: 100%;
  z-index: layer('datepicker');
}

.m-datepicker--left {
  left: 0;
  right: auto;
}
