/**
 * IMAGES
 * -------------------------------------------------------------------
 * This component has shared variables with _atoms.copyright.scss. You can find them in _quarks.css-properties.scss.
 */

/**
 * IMAGES VARIABLES
 * -------------------------------------------------------------------
 */

.m-image {
  --image-copyright-height:   calc(var(--shared-copyright-height) * -1);
  --image-copyright-color:    var(--shared-copyright-color);
}

/**
 * IMAGE
 * -------------------------------------------------------------------
 */

.m-image {
  display: inline-block;
  overflow: hidden;
  position: relative;

  img {
    height: auto;
    max-width: 100%;
  }
}

/**
 * IMAGE ELEMENTS
 * -------------------------------------------------------------------
 */

.m-image__copyright {
  bottom: 0;
  color: var(--image-copyright-color);
  position: absolute;
  right: 0;
  transform: translateX(100%) translateX(var(--image-copyright-height));

  &:hover,
  &:active,
  &:focus {
    color: var(--image-copyright-color);
    transform: translateX(0);
  }
}
