/**
 * RANGE SLIDER VARIABLES
 * -------------------------------------------------------------------
 */

.m-range-slider {
  --range-slider-bg-color:            var(--theme1-050);
  --range-slider-bar-bg-color:        var(--theme1-400);
  --range-slider-handle-bg-color:     var(--theme1-400);
  --range-slider-tickmark-bg-color:   var(--theme1-100);
}

/**
 * RANGE SLIDER
 * -------------------------------------------------------------------
 */

/**
 * RANGE SLIDER ELEMENTS
 * -------------------------------------------------------------------
 */

.m-range-slider__labels,
.m-range-slider__descriptions {
  display: flex;
  justify-content: space-between;
}

.m-range-slider__labels {
  margin-bottom: var(--spacer-xs);
}

.m-range-slider__descriptions {
  margin-top: var(--spacer-3xs);
}

.m-range-slider__inner {
  background-color: var(--range-slider-bg-color);
  height: var(--spacer-3xs);
  position: relative;
  width: 100%;
}

.m-range-slider__bar {
  background-color: var(--range-slider-bar-bg-color);
  height: 100%;
  position: absolute;
}

.m-range-slider__handle {
  cursor: grab;
  padding: var(--spacer-s);
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

  &:before {
    background-color: var(--range-slider-handle-bg-color);
    border-radius: var(--spacer-xs);
    content: '';
    display: block;
    height: var(--spacer-xs);
    width: var(--spacer-xs);
  }
}

.m-range-slider__tickmarks {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.m-range-slider__tickmark {
  background-color: var(--range-slider-tickmark-bg-color);
  bottom: 0;
  position: absolute;
  top: 0;
  width: calc(var(--border-width) * 2);

  &:not(:first-child):not(:last-child) {
    transform: translateX(-50%);
  }

  &:last-child {
    transform: translateX(-100%);
  }
}
