/**
 * COLLAPSIBLE LIST
 * -------------------------------------------------------------------
 */

.m-collapsible-list {
  @extend %u-list-unstyled;

  ul {
    margin-bottom: calc(var(--spacer-xxs) * -1);
    margin-top: var(--spacer-xxs);
    padding-left: var(--spacer);
  }
}

.m-collapsible-list__item {
  padding: var(--spacer-xxs) 0;

  &:not(.is-active) {
    > a {
      text-decoration: none;
      transition: none;

      &:link,
      &:visited {
        color: var(--text-color);
      }

      &:hover,
      &:active,
      &:focus {
        color: var(--link-hover-color);
        text-decoration: underline;
      }
    }
  }

  .ai {
    font-size: .875em;
    padding: 0 var(--spacer-xxs) 0 0;
  }
}

/**
 * COLLAPSIBLE LIST MODIFIERS
 * -------------------------------------------------------------------
 */

.m-collapsible-list__item {
  &.is-active {
    > a {
      font-weight: var(--font-weight-bold);
    }
  }

  ul.is-collapsed {
    display: none;
  }
}
