/**
 * DATEPICKER
 * -------------------------------------------------------------------
 */

.m-datepicker {
  max-width: $spacer * 14;
  opacity: 0;
  transform: translateY(-$spacer-lg);
  transition: visibility 0s $animation-duration $animation-easing, opacity $animation-normal, transform $animation-normal;
  visibility: hidden;

  table {
    border-collapse: collapse;
    border-spacing: 0;
    height: 100%;
    table-layout: fixed;
    width: 100%;
  }
}


/**
 * DATEPICKER ELEMENTS
 * -------------------------------------------------------------------
 */

.m-datepicker__nav {
  display: flex;
  height: $spacer-lg;
}

.m-datepicker__title {
  flex: 1;
}

.m-datepicker__days {
  background-color: $datepicker-bg;
  border-left: 1px solid $datepicker-border;
  border-right: 1px solid $datepicker-border;
  height: $spacer-lg;
}

.m-datepicker__calendar {
  background-color: $datepicker-bg;

  td {
    border: 1px solid $datepicker-border;
    padding: 0;
    position: relative;

    &:after {
      content: '';
      display: block;
      margin-top: 100%;
    }
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 100%;
    padding: 0;
    position: absolute;
    transition: background $animation-normal;
    width: 100%;

    &:hover,
    &:active {
      background-color: $datepicker-bg-hover;
    }

    &:focus {
      z-index: layer('base');
    }

    &.is-current {
      background-color: $datepicker-today-bg;
      color: $datepicker-today-color;
      font-weight: $datepicker-today-font-weight;

      &:hover,
      &:active {
        background-color: $datepicker-today-bg;
      }
    }

    &.is-selected {
      background-color: $datepicker-selected-bg;
      box-shadow: 0 0 0 1px $datepicker-selected-bg;
      color: $datepicker-selected-color;
      font-weight: $datepicker-selected-font-weight;

      &:hover,
      &:active,
      &:focus {
        background-color: $datepicker-selected-bg;
      }
    }

    &.is-faded {
      background-color: $datepicker-faded-bg;
      color: $datepicker-faded-color;

      &:hover,
      &:active {
        background-color: $datepicker-faded-bg-hover;
      }
    }

    &.is-unavailable,
    &:disabled {
      background-color: $datepicker-unavailable-bg;
      box-shadow: none;
      color: $state-disabled;
      cursor: not-allowed;
      font-weight: $normal;

      &:hover,
      &:active {
        background-color: $datepicker-unavailable-bg;
      }
    }
  }
}


/**
 * DATEPICKER MODIFIERS
 * -------------------------------------------------------------------
 */

.m-datepicker.is-open {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0s;
  visibility: visible;
}

.m-datepicker--fixed {
  box-shadow: $box-shadow;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: layer('datepicker');
}

.m-datepicker--left {
  left: 0;
  right: auto;
}
