/**
 * TAG VARIABLES
 * -------------------------------------------------------------------
 */

.m-tag {
  --tag-height:              var(--spacer-l);
  --tag-color:               var(--text-color);
  --tag-bg-color:            var(--bg-color-light);
  --tag-border-color:        var(--border-color);
  --tag-placeholder-color:   #{$gray-400};
}

/**
 * TAGS
 * -------------------------------------------------------------------
 */

.m-tag {
  background: var(--tag-bg-color);
  box-shadow: 0 0 0 var(--border-width) var(--tag-border-color) inset;
  color: var(--tag-color);
  display: inline-flex;
  height: var(--tag-height);
  line-height: var(--tag-height);
  max-width: 100%;

  > *:not(.m-tag__label):not(.m-tag__input) {
    flex-shrink: 0;
  }
}

/**
 * TAGS ELEMENTS
 * -------------------------------------------------------------------
 */

.m-tag__label {
  @extend %u-text-truncate;

  display: block;
  font-weight: var(--font-weight-bold);
  max-width: calc(var(--spacer) * 10);
  padding: 0 var(--spacer-xs);
}

.m-tag__input {
  @include input-placeholder {
    color: var(--tag-placeholder-color);
  }

  background-color: transparent;
  border: none;
  border-radius: 0;
  max-width: calc(var(--spacer) * 10);
  min-height: var(--tag-height);
  padding: 0 var(--spacer-xs);
}
