/**
 * GALLERY VARIABLES
 * -------------------------------------------------------------------
 */

.m-gallery {
  --gallery-gutter-col:          var(--spacer);
  --gallery-gutter-row:          var(--gallery-gutter-col);

  --gallery-item-size:           100% / 3;
}

/**
 * GALLERY
 * -------------------------------------------------------------------
 */

.m-gallery {
  @extend %a-list--reset;
  @include clearfix;

  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--gallery-gutter-col) / -2);
  width: calc(100% + var(--gallery-gutter-col));
}

/**
 * GALLERY ELEMENTS
 * -------------------------------------------------------------------
 */

.m-gallery__item {
  margin: 0 calc(var(--gallery-gutter-col) / 2) var(--gallery-gutter-row);
  width: calc(var(--gallery-item-size) - var(--gallery-gutter-col));

  a {
    display: block;
  }

  img {
    max-height: 100%;
    max-width: 100%;
  }

  /**
  * GALLERY ITEM MODIFIERS
  * -------------------------------------------------------------------
  */

  &.m-gallery__item--preview {
    height: auto;
    margin-right: 0;
    width: calc(100% - var(--gallery-gutter-col));
  }
}
