/**
 * PAGINATION
 * -------------------------------------------------------------------
 */

.m-pagination {
  @extend %a-list--reset;
  display: flex;

  > li {
    background-color: $pagination-bg;
    color: $pagination-color;
    font-size: rem($pagination-font-size);
    height: $pagination-size;
    line-height: $pagination-size;
    position: relative;
    text-align: center;
    width: $pagination-size;
    z-index: layer('base');

    > a {
      color: $pagination-color;
      display: block;
      text-decoration: none;
      transition-duration: $animation-duration;
      transition-property: color, background;
      transition-timing-function: $animation-easing;

      &:hover,
      &:active,
      &:focus {
        background-color: $pagination-bg-hover;
      }

      &.is-active {
        background-color: $pagination-bg-hover;
        font-weight: $bold;
      }

      &.is-disabled {
        background-color: $pagination-bg-disabled;
        color: $pagination-color-disabled;
        cursor: not-allowed;
      }
    }
  }

  .m-pagination__label {
    padding: 0 $spacer;
    width: auto;
  }

  .m-pagination__prev {
    border-right: 1px solid $pagination-bg-hover;

    + .m-pagination__next {
      border-left: none;
    }
  }

  .m-pagination__next {
    border-left: 1px solid $pagination-bg-hover;
    z-index: layer('auto');
  }
}

.m-pagination--outline {

  > li {
    background-color: $pagination-outline-bg;
    box-shadow: 0 0 0 1px $pagination-outline-border inset;
    color: $pagination-outline-color;

    > a,
    > a:hover,
    > a:active,
    > a:focus {
      background-color: inherit;
      box-shadow: inherit;
      color: inherit;

      &.is-active {
        background-color: $pagination-bg;
        color: $pagination-color;
      }

      &.is-disabled {
        background-color: transparent;
        box-shadow: 0 0 0 1px $pagination-bg-disabled inset;
        color: $pagination-bg-disabled;
        cursor: not-allowed;
      }
    }

    > a:hover,
    > a:active,
    > a:focus {
      background-color: $pagination-outline-bg-hover;
      box-shadow: 0 0 0 1px $pagination-outline-border-hover inset;
    }

    + li {
      margin-left: -1px;
    }
  }

  .m-pagination__prev,
  .m-pagination__next {
    border: none;
  }
}


/**
 * PAGINATION SIZES
 * -------------------------------------------------------------------
 */

.m-pagination {
  &.m-pagination--small {
    > li {
      height: $pagination-size-sm;
      line-height: $pagination-size-sm;
      width: $pagination-size-sm;
    }

    .m-pagination__label {
      padding: 0 $spacer-xs;
      width: auto;
    }
  }
}

.m-pagination {
  &.m-pagination--large {
    > li {
      height: $pagination-size-lg;
      line-height: $pagination-size-lg;
      width: $pagination-size-lg;
    }

    .m-pagination__label {
      padding: 0 $spacer-md;
      width: auto;
    }
  }
}
