/**
 * OVERLAY VARIABLES
 * -------------------------------------------------------------------
 * This component has shared variables with _organisms.slideshow.scss. You can find them in _quarks.css-properties.scss.
 */

.m-overlay {
  --overlay-bg-color:             var(--OVERLAY-COLOR);
  --overlay-button-font-size:     #{rem($icon-size-lg)};
  --overlay-button-color:         #{$white};
  --overlay-button-hover-color:   #{$gray-200};
}

/**
 * OVERLAY
 * -------------------------------------------------------------------
 */

.m-overlay {
  background-color: var(--overlay-bg-color);
  bottom: 0;
  display: none;
  left: 0;
  outline: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: layer('overlay');

  &.is-active {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

/**
 * OVERLAY ELEMENTS
 * -------------------------------------------------------------------
 */

.m-overlay__button {
  background: none;
  border: none;
  color: var(--overlay-button-color);
  cursor: pointer;
  font-size: var(--overlay-button-font-size);
  padding: var(--SPACER-XS);
  position: absolute;
  right: var(--SPACER-XS);
  top: var(--SPACER-XS);
  transition: color var(--ANIMATION-NORMAL);

  &:active,
  &:hover,
  &:focus {
    color: var(--overlay-button-hover-color);
  }
}

.m-overlay__inner {
  -ms-overflow-style: none;
  max-height: calc(100vh - 8.75rem);
  overflow: auto;
  overflow-y: scroll;
}

.m-overlay__slideshow.o-slideshow {
  max-height: 80vh;
  max-width: 105vh;
  width: 100%;

  .o-slideshow__footer {
    color: var(--shared-slideshow-footer-color-light);
  }
}

.m-overlay__pane {
  position: absolute;
  z-index: layer('pane-overlay');
}
