/**
 * UPLOAD
 * -------------------------------------------------------------------
 */

.m-upload {
  &.is-disabled {
    .m-upload__dropzone {
      border-color: $upload-disabled-border;
      cursor: not-allowed;

      &,
      &:active,
      &:hover,
      &:focus {
        background-color: $upload-disabled-bg;
      }
    }

    .m-upload__input {
      cursor: not-allowed;
    }

    .m-upload__content {
      color: $upload-disabled-color;
    }
  }
}

/**
 * UPLOAD ELEMENTS
 * -------------------------------------------------------------------
 */

.m-upload__inner {
  display: flex;
  flex-direction: row;
}

.m-upload__dropzone {
  align-items: center;
  background-color: $upload-bg;
  border: 2px dashed $upload-border;
  color: $upload-color;
  cursor: pointer;
  display: flex;
  justify-content: center;
  min-height: $upload-height;
  padding: $upload-padding;
  position: relative;
  text-align: center;
  transition: background $animation-normal;
  width: 100%;

  &:active,
  &:hover,
  &:focus {
    background-color: $upload-bg-hover;
  }
}

.m-upload__input {
  bottom: 0;
  cursor: pointer;
  height: 100%;
  left: 0;
  opacity: .01;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;

  &:focus {
    + .m-upload__content:before {
      content: '';
    }
  }
}

.m-upload__content {
  max-width: $spacer * 15;
  width: 100%;

  &:before {
    bottom: -2px;
    box-shadow: 0 0 0 3px $input-border-focus;
    cursor: pointer;
    left: -2px;
    position: absolute;
    right: -2px;
    top: -2px;
    z-index: layer('cellar');
  }
}

.m-upload__progress {
  pointer-events: none;
}

.m-upload__description {
  display: block;
  margin-top: $spacer-xs;
}

.m-upload__files {
  @extend %a-list--reset;
  margin-top: $spacer;

  > li {
    background-color: $upload-file-bg;
    color: $upload-file-color;
    line-height: $line-height-paragraph;
    min-height: $spacer-md;
    padding: $spacer / 3 $spacer-lg $spacer / 3 $spacer-lg;
    position: relative;

    &:not(:last-child) {
      margin-bottom: $spacer-xs;
    }

    > .fa {
      left: $spacer-sm;
      position: absolute;
      top: $spacer / 4 * 3;
      transform: translateY(-50%);
    }
  }

  .m-upload__delete {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.m-upload__filename,
.m-upload__error {
  display: block;
}

.m-upload__error {
  color: $upload-file-color-danger;
}
