/**
 * OVERLAY
 * -------------------------------------------------------------------
 */

.m-overlay {
  background-color: $overlay-color;
  bottom: 0;
  display: none;
  left: 0;
  outline: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: layer('overlay');

  &.is-active {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}


/**
 * OVERLAY ELEMENTS
 * -------------------------------------------------------------------
 */

.m-overlay__button {
  background: none;
  border: none;
  color: $overlay-button-color;
  cursor: pointer;
  font-size: rem($overlay-button-size);
  padding: $spacer-xs;
  position: absolute;
  right: $spacer-xs;
  top: $spacer-xs;
  transition: color $animation-normal;

  &:hover {
    color: $overlay-button-color-hover;
  }
}

.m-overlay__inner {
  -ms-overflow-style: none; // sass-lint:disable-line no-vendor-prefixes
  max-height: calc(100vh - 8.75rem);
  overflow: auto;
  overflow-y: scroll;
}

.m-overlay__slideshow.o-slideshow {
  max-height: 80vh;
  max-width: 105vh;
  width: 100%;

  .o-slideshow__footer {
    color: $slideshow-footer-color-light;
  }
}

.m-overlay__pane {
  position: absolute;
  z-index: layer('pane-overlay');
}
