/**
 * DATEPICKER
 * -------------------------------------------------------------------
 */

.m-datepicker {
  --datepicker-text-color:           var(--text-color);
  --datepicker-text-color-light:     var(--text-color-light);
  --datepicker-text-color-xlight:    var(--text-color-xlight);

  --datepicker-bg-color:             #{$white};
  --datepicker-bg-color-dark:        var(--bg-color-light);

  --datepicker-border-color:         var(--border-color);
  --datepicker-border-color-light:   #{$gray-200};

  --datepicker-highlight-color:      var(--theme1-050);
  --datepicker-active-color:         var(--theme1-400);
}

/**
 * DATEPICKER
 * -------------------------------------------------------------------
 */

.m-datepicker {
  max-width: calc(var(--spacer) * 14);
  opacity: 0;
  transform: translateY(calc(var(--spacer-xl) * -1));
  transition: visibility 0s var(--animation-normal), opacity var(--animation-normal), transform var(--animation-normal);
  visibility: hidden;

  table {
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
  }
}

/**
 * DATEPICKER ELEMENTS
 * -------------------------------------------------------------------
 */

/**
 * DATEPICKER NAVIGATION
 * -------------------------------------------------------------------
 */

.m-datepicker__nav {
  border: var(--border-width) solid var(--datepicker-border-color);
  display: flex;
  height: var(--spacer-xl);
  justify-content: space-between;
}

.m-datepicker__nav-title {
  align-items: center;
  background-color: var(--datepicker-bg-color);
  border: none;
  color: var(--datepicker-text-color);
  cursor: pointer;
  display: flex;
  flex-grow: 1;
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
  margin: 0;
  padding: 0 1rem;
  transition: background-color var(--animation-normal);
  user-select: none;

  .ai {
    color: var(--datepicker-text-color-light);
    font-size: 1.25rem;
    margin-left: var(--spacer-xxs);
  }

  &:hover,
  &:active,
  &:focus {
    background-color: var(--datepicker-bg-color-dark);
  }
}

.m-datepicker__nav-pagination {
  display: flex;

  .a-button {
    min-height: auto;
  }
}

/**
 * DATEPICKER DAY VIEW
 * -------------------------------------------------------------------
 */

.m-datepicker__grid {
  border-bottom: var(--border-width) solid var(--datepicker-border-color);
  border-left: var(--border-width) solid var(--datepicker-border-color);
  border-right: var(--border-width) solid var(--datepicker-border-color);
}

.m-datepicker__grid-head {
  height: var(--spacer-xl);

  th {
    background-color: var(--datepicker-bg-color-dark);
    color: var(--datepicker-text-color-light);
    font-size: .875rem;
    font-weight: var(--font-weight-normal);
    padding: 0;
  }
}

.m-datepicker__grid-body {
  background-color: var(--datepicker-bg-color);

  td {
    padding: 0;
    position: relative;

    &:after {
      content: '';
      display: block;
      margin-top: 100%;
    }
  }

  button {
    background-color: transparent;
    border-radius: var(--border-radius);
    border: var(--border-width) solid transparent;
    color: var(--datepicker-text-color);
    cursor: pointer;
    font-size: 1rem;
    height: 100%;
    padding: 0;
    position: absolute;
    transition-duration: var(--animation-duration);
    transition-property: color, background-color, border;
    transition-timing-function: var(--animation-easing);
    width: 100%;

    &:not(.is-selected):not(.is-unavailable):not(:disabled) {
      &:hover,
      &:active,
      &:focus {
        background-color: var(--datepicker-highlight-color);
        color: var(--datepicker-active-color);
        font-weight: var(--font-weight-bold);
      }
    }

    &:not(.is-current):not(.is-selected):not(.is-unavailable):not(:disabled) {
      &:hover,
      &:active,
      &:focus {
        border-color: var(--datepicker-highlight-color);
      }
    }

    &:focus {
      z-index: layer('base');
    }

    &.is-current {
      border-color: var(--datepicker-border-color);
    }

    &.is-selected {
      background-color: var(--datepicker-active-color);
      color: var(--datepicker-text-color-xlight);
      font-weight: var(--font-weight-bold);
    }

    &.is-faded {
      background-color: var(--datepicker-bg-color-dark);
      border-color: var(--datepicker-bg-color-dark);
      color: var(--datepicker-text-color-light);
    }

    &.is-unavailable,
    &:disabled {
      color: var(--datepicker-text-color-light);
      cursor: not-allowed;
      font-size: .875rem;

      &:before {
        background-color: var(--datepicker-border-color-light);
        content: '';
        height: var(--border-width);
        left: 50%;
        pointer-events: none;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
        width: 2rem;
      }
    }

    span {
      position: relative;
    }
  }
}

/**
 * DATEPICKER YEAR VIEW
 * -------------------------------------------------------------------
 */

.m-datepicker__list {
  border-bottom: var(--border-width) solid var(--datepicker-border-color);
  border-left: var(--border-width) solid var(--datepicker-border-color);
  border-right: var(--border-width) solid var(--datepicker-border-color);
  height: calc(var(--spacer) * 12);
  overflow-x: auto;
}

.m-datepicker__list-body {
  background-color: var(--datepicker-bg-color);

  td {
    padding: 0;
  }

  button {
    background-color: transparent;
    border-radius: var(--border-radius);
    border: var(--border-width) solid transparent;
    color: var(--datepicker-text-color);
    cursor: pointer;
    height: var(--spacer-xl);
    padding: 0;
    position: relative;
    transition-duration: var(--animation-duration);
    transition-property: color, background-color, border;
    transition-timing-function: var(--animation-easing);
    width: 100%;

    &:hover,
    &:active,
    &:focus {
      background-color: var(--datepicker-highlight-color);
      color: var(--datepicker-active-color);
      font-weight: var(--font-weight-bold);
    }

    &.is-current {
      border-color: var(--datepicker-border-color);
    }

    &.is-selected {
      background-color: var(--datepicker-active-color);
      color: var(--datepicker-text-color-xlight);
      font-weight: var(--font-weight-bold);
    }
  }
}

/**
 * DATEPICKER MODIFIERS
 * -------------------------------------------------------------------
 */

.m-datepicker.is-open {
  opacity: 1;
  transform: translateY(calc(var(--border-width) * -1));
  transition-delay: 0s;
  visibility: visible;
}

.m-datepicker--fixed {
  box-shadow: var(--box-shadow);
  position: absolute;
  right: 0;
  top: 100%;
  z-index: layer('datepicker');
}

.m-datepicker--left {
  left: 0;
  right: auto;
}
