/**
 * BUTTON GROUP
 * -------------------------------------------------------------------
 */

.m-button-group {
  display: flex;
  flex-wrap: wrap;
  vertical-align: middle;

  > .a-button {

    &:not(:last-child) {
      border-right: 1px solid mix($btn-primary-bg, $black, 85%);

      &.a-button--secondary {
        border-color: mix($btn-secondary-bg, $black, 85%);
      }

      &.a-button--success {
        border-color: mix($btn-success-bg, $black, 85%);
      }

      &.a-button--warning {
        border-color: mix($btn-warning-bg, $black, 85%);
      }

      &.a-button--danger {
        border-color: mix($btn-danger-bg, $black, 85%);
      }

      &.a-button--transparent {
        border-right: none;
      }
    }
  }

  > .a-button-outline {
    &:not(:last-child) {
      margin-right: -1px;
    }

    &:hover,
    &:active {
      z-index: 1;
    }
  }

  > [class*='a-button'] {
    &:not(.has-icon) {
      width: auto;
    }

    &[disabled] {
      z-index: -1;
    }
  }
}
