/**
 * UPLOAD VARIABLES
 * -------------------------------------------------------------------
 */

.m-upload {
  --upload-color:                   var(--TEXT-COLOR);
  --upload-bg-color:                #{$white};
  --upload-hover-bg-color:          var(--THEME1-100);
  --upload-border-color:            var(--THEME1-600);
  --upload-disabled-color:          var(--STATE-DISABLED);
  --upload-disabled-bg-color:       #{$gray-100};
  --upload-disabled-border-color:   var(--upload-disabled-color);
  --upload-focus-border-color:      var(--THEME1-100);

  --upload-file-color:              var(--TEXT-COLOR);
  --upload-file-bg-color:           var(--BG-COLOR-LIGHT);
  --upload-file-danger-color:       var(--STATE-DANGER);
}

/**
 * UPLOAD
 * -------------------------------------------------------------------
 */

.m-upload.is-disabled {
  .m-upload__dropzone {
    border-color: var(--upload-disabled-border-color);
    cursor: not-allowed;

    &,
    &:active,
    &:hover,
    &:focus {
      background-color: var(--upload-disabled-bg-color);
    }
  }

  .m-upload__input {
    cursor: not-allowed;
  }

  .m-upload__content {
    color: var(--upload-disabled-color);
  }
}

/**
 * UPLOAD ELEMENTS
 * -------------------------------------------------------------------
 */

.m-upload__inner {
  display: flex;
  flex-direction: row;
}

.m-upload__dropzone {
  align-items: center;
  background-color: var(--upload-bg-color);
  border: calc(var(--BORDER-WIDTH) * 2) dashed var(--upload-border-color);
  color: var(--upload-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  min-height: calc(var(--SPACER) * 5);
  padding: var(--SPACER-L) var(--SPACER);
  position: relative;
  text-align: center;
  transition: background var(--ANIMATION-NORMAL);
  width: 100%;

  &:active,
  &:hover,
  &:focus {
    background-color: var(--upload-hover-bg-color);
  }
}

.m-upload__input {
  bottom: 0;
  cursor: pointer;
  height: 100%;
  left: 0;
  opacity: .01;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;

  &:focus + .m-upload__content:before {
    content: '';
  }
}

.m-upload__content {
  max-width: calc(var(--SPACER) * 15);
  width: 100%;

  &:before {
    @include focus;

    bottom: rem(-3px);
    cursor: pointer;
    left: rem(-3px);
    position: absolute;
    right: rem(-3px);
    top: rem(-3px);
    z-index: layer('cellar');
  }
}

.m-upload__description {
  display: block;
  margin-top: var(--SPACER-XS);
}

.m-upload__files {
  @extend %u-list-reset;

  margin-top: var(--SPACER);

  > li {
    background-color: var(--upload-file-bg-color);
    color: var(--upload-file-color);
    line-height: $line-height-paragraph;
    min-height: var(--SPACER-L);
    padding: var(--SPACER-XXS) var(--SPACER-XL) var(--SPACER-XXS) var(--SPACER-XL);
    position: relative;

    &:not(:last-child) {
      margin-bottom: var(--SPACER-XS);
    }

    > .ai {
      left: var(--SPACER-S);
      position: absolute;
      top: calc(var(--SPACER) / 4 * 3);
      transform: translateY(-50%);
    }
  }

  .m-upload__delete {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.m-upload__filename,
.m-upload__error {
  display: block;
}

.m-upload__error {
  color: var(--upload-file-danger-color);
}
