/**
 * SELECTABLE LIST VARIABLES
 * -------------------------------------------------------------------
 */

.m-selectable-list {
  --selectable-list-item-color:          var(--text-color);
  --selectable-list-item-border-color:   var(--border-color);
  --selectable-list-item-hover-color:    #{$gray-100};
  --selectable-list-item-padding:        var(--spacer-s) var(--spacer);
}

/**
 * SELECTABLE LIST
 * -------------------------------------------------------------------
 */

%m-selectable-list__item--active {
  background-color: var(--selectable-list-item-hover-color);

  a {
    color: $link-color;
  }
}

.m-selectable-list {
  @extend %a-list--reset;

  li {
    border-top: 1px solid var(--selectable-list-item-border-color);
    transition: background var(--animation-normal);

    a {
      text-decoration: none;

      &:hover,
      &:active,
      &:focus {
        text-decoration: underline;
      }
    }

    &:last-child {
      border-bottom: 1px solid var(--selectable-list-item-border-color);
    }

    &:hover,
    &:focus {
      @extend %m-selectable-list__item--active;
    }
  }
}

/**
 * SELECTABLE LIST ELEMENTS
 * -------------------------------------------------------------------
 */

.m-selectable-list__item {
  color: var(--selectable-list-item-color);
  display: block;
  padding: var(--selectable-list-item-padding);
  transition: color var(--animation-normal);
}

/**
 * LINK LIST MODIFIERS
 * -------------------------------------------------------------------
 */

.m-selectable-list--no-border li {
  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: none;
  }
}

.m-selectable-list__item--active {
  @extend %m-selectable-list__item--active;

  font-weight: $bold;
}
