/**
 * STEP INDICATOR VARIABLES
 * -------------------------------------------------------------------
 */

.m-step-indicator {
  --step-indicator-square-size:                     var(--spacer);
  --step-indicator-square-color:                    var(--text-color-light);
  --step-indicator-square-bg-color:                 var(--bg-color-light);
  --step-indicator-square-border-color:             var(--border-color-dark);

  --step-indicator-square-active-color:             var(--theme1-400);
  --step-indicator-square-active-bg-color:          #{$white};
  --step-indicator-square-active-border-color:      var(--theme1-400);

  --step-indicator-square-completed-color:          #{$white};
  --step-indicator-square-completed-bg-color:       var(--theme1-400);
  --step-indicator-square-completed-border-color:   var(--theme1-400);

  --step-indicator-line-color:                      var(--border-color-dark);
  --step-indicator-line-active-color:               var(--border-color-dark);
  --step-indicator-line-completed-color:            var(--theme1-400);

  --step-indicator-label-color:                     var(--text-color-light);
  --step-indicator-label-active-color:              var(--text-color);
  --step-indicator-label-completed-color:           var(--text-color);
}

/**
 * STEP INDICATOR
 * -------------------------------------------------------------------
 */

.m-step-indicator {
  @extend %u-list-reset;

  display: flex;

  @include to($screen-sm) {
    padding-bottom: var(--spacer);
    position: relative;
  }

  li {
    counter-increment: steps;

    @include at($screen-sm) {
      flex: 1 1 0;
    }

    &:last-child .m-step-indicator__number:after {
      content: none;
    }

    &:not(:last-child) {
      @include to($screen-sm) {
        flex-grow: 1;
      }
    }

    &.is-active {
      --step-indicator-square-color: var(--step-indicator-square-active-color);
      --step-indicator-square-bg-color: var(--step-indicator-square-active-bg-color);
      --step-indicator-square-border-color: var(--step-indicator-square-active-border-color);
      --step-indicator-line-color: var(--step-indicator-line-active-color);
      --step-indicator-label-color: var(--step-indicator-label-active-color);

      .m-step-indicator__number {
        font-weight: var(--font-weight-bold);
      }

      .m-step-indicator__label {
        display: block;
        font-size: 1rem;
        font-weight: var(--font-weight-bold);
      }
    }

    &.is-completed {
      --step-indicator-square-color: var(--step-indicator-square-completed-color);
      --step-indicator-square-bg-color: var(--step-indicator-square-completed-bg-color);
      --step-indicator-square-border-color: var(--step-indicator-square-completed-border-color);
      --step-indicator-line-color: var(--step-indicator-line-completed-color);
      --step-indicator-label-color: var(--step-indicator-label-completed-color);

      .m-step-indicator__number {
        font-weight: var(--font-weight-bold);
      }
    }
  }
}

/**
 * STEP INDICATOR ELEMENTS
 * -------------------------------------------------------------------
 */

.m-step-indicator__number {
  display: block;
  position: relative;

  &:before {
    align-items: center;
    background-color: var(--step-indicator-square-bg-color);
    border: var(--border-width) solid var(--step-indicator-square-border-color);
    color: var(--step-indicator-square-color);
    content: counter(steps);
    display: flex;
    font-size: 1rem;
    height: var(--step-indicator-square-size);
    justify-content: center;
    position: relative;
    width: var(--step-indicator-square-size);
  }

  &:after {
    background-color: var(--step-indicator-line-color);
    content: "";
    height: var(--border-width);
    left: var(--step-indicator-square-size);
    position: absolute;
    top: calc(var(--step-indicator-square-size) / 2 - var(--border-width) / 2);
    width: calc(100% - var(--step-indicator-square-size));
  }
}

.m-step-indicator__label {
  color: var(--step-indicator-label-color);
  display: block;
  font-size: .875rem;

  @include to($screen-sm) {
    bottom: 0;
    display: none;
    left: 0;
    position: absolute;
  }

  @include at($screen-sm) {
    margin-top: var(--spacer-xxs);
    padding-right: var(--spacer-xxs);
  }
}
