/**
 * PROGRESS VARIABLES
 * -------------------------------------------------------------------
 */

$progress-tooltip-top:      -($tooltip-min-height + $tooltip-arrow-height + $progress-tooltip-offset + $progress-bar-padding);
$progress-tooltip-bottom:   $progress-height - $progress-bar-padding + $tooltip-arrow-height + $progress-tooltip-offset;


/**
 * PROGRESS
 * -------------------------------------------------------------------
 */


/**
 * PROGRESS ELEMENTS
 * -------------------------------------------------------------------
 */

.m-progress__label {
  display: block;
  margin-bottom: $spacer-sm / 2;
  text-align: left;
}

.m-progress__inner {
  background-color: $progress-bg;
  box-shadow: inset 0 0 0 1px $progress-border;
  height: $progress-height;
  padding: $progress-bar-padding;
  position: relative;
  width: 100%;

  .a-tooltip {
    display: block;
    float: right;
    position: relative;
    top: $progress-tooltip-top;
    transform: translateX(50%);
  }

  .a-tooltip--bottom {
    top: $progress-tooltip-bottom;
  }
}

.m-progress__bar {
  background-color: $brand-primary;
  height: $progress-height - ($progress-bar-padding * 2);
}


/**
 * PROGRESS MODIFIERS
 * -------------------------------------------------------------------
 */

.m-progress--inline {
  align-items: center;
  display: flex;

  .m-progress__label {
    margin-bottom: 0;
    margin-right: $spacer-xs;
    min-width: $spacer-md;
    text-align: right;
  }

  .m-progress__inner + .m-progress__label {
    margin-left: $spacer-xs;
    margin-right: 0;
  }
}

