/**
 * NAVIGATION VARIABLES
 * -------------------------------------------------------------------
 */

$nav-font-weight:             $bold !default;
$nav-icon-size:               1.25rem !default;
$nav-border:                  $border-color-light !default;
$nav-border-hover:            $brand-primary !default;
$nav-color:                   $text-color !default;
$nav-color-hover:             $brand-primary !default;
$nav-color-active:            $nav-color-hover !default;
$nav-bg:                      transparent !default;
$nav-bg-hover:                $grey-lighter !default;
$nav-bg-active:               $nav-bg !default;
$nav-padding:                 rem(13px) $spacer !default;
$nav-bg-disabled:             $grey-lighter !default;
$nav-color-disabled:          $state-disabled !default;
$nav-tab-color-disabled:      $nav-color-disabled !default;


/**
 * NAVIGATION LIST
 * -------------------------------------------------------------------
 */

%m-nav-list {
  @extend %a-list--reset;
  border-top: 1px solid $nav-border;

  > li {
    font-weight: $nav-font-weight;
    line-height: $line-height-paragraph;
    min-height: $spacer-lg;
    text-align: center;

    > a,
    > button {
      background-color: $nav-bg;
      border: none;
      border-bottom: 1px solid $nav-border;
      color: inherit;
      display: block;
      flex: 1 1 auto;
      padding: $nav-padding;
      text-decoration: none;
      transition-duration: $animation-duration;
      transition-property: background, color;
      transition-timing-function: $animation-easing;

      &:hover,
      &:active {
        background-color: $nav-bg-hover;
        color: $nav-color-hover;
      }

      &.is-active {
        &,
        &:hover,
        &:active {
          background-color: $nav-bg-active;
          color: $nav-color-active;
          text-decoration: underline;
        }
      }

      &.is-disabled {
        &,
        &:hover,
        &:active {
          background-color: $nav-bg-disabled;
          color: $nav-color-disabled;
          cursor: not-allowed;
          text-decoration: none;
        }
      }

      > .ai {
        display: inline-block;
        margin-right: $spacer-xs;
      }
    }

    > button {
      cursor: pointer;
      width: 100%;
    }
  }
}

.m-nav-list {
  @extend %m-nav-list;
}


/**
 * NAVIGATION LIST MODIFIERS
 * -------------------------------------------------------------------
 */

.m-nav-list--left > li {
  &,
  > a,
  > button {
    text-align: left;
  }
}


/**
 * NAVIGATION TABS
 * -------------------------------------------------------------------
 */

.m-nav-tabs {
  @extend %m-nav-list;

  @include at($screen-sm) {
    border-top: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    > li {
      > a,
      > button {
        border-bottom: 3px solid transparent;
        display: inline-flex;
        text-decoration: none;
        transition-property: border, color;

        &:hover,
        &:active {
          background-color: transparent;
          border-color: $nav-color-active;
          color: $nav-color;
          text-decoration: none;
        }

        &.is-active {
          &,
          &:hover,
          &:active {
            background-color: $nav-bg-active;
            border-color: $nav-color-active;
            color: $nav-color-active;
            text-decoration: none;
          }
        }

        &.is-disabled {
          &,
          &:hover,
          &:active {
            background-color: $nav-bg;
            border-color: transparent;
          }
        }
      }
    }
  }
}


/**
 * NAVIGATION LIST MODIFIERS
 * -------------------------------------------------------------------
 */

.m-nav-tabs--left {
  @include at($screen-sm) {
    justify-content: flex-start;
  }
}

.m-nav-tabs--right {
  @include at($screen-sm) {
    justify-content: flex-end;
  }
}
