/**
 * STEP INDICATOR
 * -------------------------------------------------------------------
 */

.m-step-indicator {
  @extend %a-list--reset;
  display: flex;
  flex-wrap: wrap;

  li {
    color: $step-indicator-label-color;
    counter-increment: steps;
    flex: 0 1 25%;
    position: relative;
    text-align: center;

    // On smaller devices there's no max-width of 25% when there are less than 4 steps
    &:first-child:nth-last-child(1),
    &:first-child:nth-last-child(2),
    &:first-child:nth-last-child(2) ~ li,
    &:first-child:nth-last-child(3),
    &:first-child:nth-last-child(3) ~ li {
      flex: 1 1 0;
    }

    &:first-child:after {
      content: none;
    }

    // The square
    &:before {
      background-color: $step-indicator-bg;
      border: 1px solid $step-indicator-border;
      color: $step-indicator-color;
      content: counter(steps);
      display: block;
      font-size: $font-size-h6;
      font-weight: $bold;
      height: $step-indicator-square-size;
      margin: 0 auto $spacer;
      padding: $spacer / 3 0;
      text-align: center;
      width: $step-indicator-square-size;

      @include at($screen-sm) {
        margin: 0 auto $spacer-xs;
      }
    }

    // The connection line
    &:after {
      background-color: $step-indicator-border;
      content: '';
      height: 1px;
      position: absolute;
      right: calc(50% + #{$step-indicator-square-size / 4 * 3});
      top: calc(#{$step-indicator-square-size / 2} - .5px);
      width: calc(100% - #{$step-indicator-square-size * 3 / 2});
    }

    &.is-active {
      color: $step-indicator-label-color-active;
      font-weight: $bold;

      &:before {
        background-color: $step-indicator-bg-active;
        border-color: $step-indicator-border-active;
        color: $step-indicator-color-active;
      }
    }

    &.is-completed {
      color: $step-indicator-label-color-success;
      font-weight: $bold;

      &:before {
        @include fontawesome;
        background-color: $step-indicator-bg-success;
        border-color: $step-indicator-border-success;
        color: $step-indicator-color-success;
        content: '\f00c';
      }

      &:after {
        background-color: $step-indicator-border-success;
        height: 2px;
        top: calc(#{$step-indicator-square-size / 2} - 1px);
      }
    }

    // On smaller devices …
    @include to($screen-sm) {

      // … hide the text label
      .m-step-indicator__label {
        display: none;
      }

      // … hide the connection line on every (4th+1) step (e.g.: step 1, 5, 9, 13, …)
      &:nth-child(4n+1):after {
        content: none;
      }

      // … reset the margin for the last row of steps
      &:nth-last-child(-n+4):before {
        margin-bottom: 0;
      }
    }

    // On larger devices there's no max-width of 25%
    @include at($screen-sm) {
      flex: 1 1 0;
    }
  }
}
