/**
 * ACCORDION VARIABLES
 * -------------------------------------------------------------------
 */

.m-accordion {
  --accordion-header-color:                var(--TEXT-COLOR);
  --accordion-header-hover-color:          var(--THEME1-600);
  --accordion-header-bg-color:             #{$white};
  --accordion-header-hover-bg-color:       var(--THEME1-100);
  --accordion-header-border-color:         var(--BORDER-COLOR);
  --accordion-header-hover-border-color:   var(--THEME1-600);

  --accordion-content-bg-color:            var(--accordion-header-bg-color);
  --accordion-content-border-color:        var(--accordion-header-border-color);

  --accordion-icon-color:                  var(--TEXT-COLOR-LIGHT);
  --accordion-icon-hover-color:            var(--accordion-header-hover-color);
}

/**
 * ACCORDION
 * -------------------------------------------------------------------
 */

.m-accordion:not(.m-accordion--open) {
  .m-accordion__tab[aria-expanded='true'] .m-accordion__header {
    --accordion-header-bg-color: #{$gray-100};

    &:hover,
    &:active,
    &:focus {
      --accordion-header-bg-color: var(--accordion-header-hover-bg-color);
      --accordion-header-border-color: var(--accordion-header-hover-border-color);
    }
  }

  .m-accordion__header {
    &:hover,
    &:active,
    &:focus {
      --accordion-header-border-color: var(--accordion-header-hover-border-color);
    }
  }
}

/**
 * ACCORDION ELEMENTS
 * -------------------------------------------------------------------
 */

.m-accordion__tab {
  &:not(:first-child) {
    margin-top: calc(var(--BORDER-WIDTH) * -1);
  }

  .m-accordion__header {
    &[aria-expanded='true'] {
      font-weight: var(--FONT-WEIGHT-BOLD);

      &:after {
        mask: url('data:image/svg+xml;utf8,<svg id=%22arrow-up-1%22 viewBox=%22-1 -1 17 17%22 xml:space=%22preserve%22 xmlns=%22http://www.w3.org/2000/svg%22><style>.bgst0{fill:none;stroke:%23ffffff;stroke-width:6.25%;stroke-linecap:round;stroke-linejoin:round}</style><path class=%22bgst0%22 d=%22M14.5 11.4L7.7 3.7c-.1-.1-.3-.1-.4 0L.5 11.4%22/></svg>') no-repeat center center;
      }

      &:hover,
      &:active,
      &:focus {
        --accordion-header-color: var(--accordion-header-hover-color);
        --accordion-icon-color: var(--accordion-icon-hover-color);
      }

      + .m-accordion__content {
        display: flex;
        max-height: none;
      }
    }
  }
}

.m-accordion__header {
  align-items: center;
  background-color: var(--accordion-header-bg-color);
  border: var(--BORDER-WIDTH) solid var(--accordion-header-border-color);
  color: var(--accordion-header-color);
  cursor: pointer;
  display: flex;
  min-height: var(--SPACER-XL);
  padding: var(--SPACER-XS) var(--SPACER-XL) var(--SPACER-XS) var(--SPACER-XS);
  position: relative;
  text-align: left;
  transition-duration: var(--ANIMATION-DURATION);
  transition-property: color, background, border;
  transition-timing-function: var(--ANIMATION-EASING);
  user-select: none;
  width: 100%;

  &:hover,
  &:active,
  &:focus {
    --accordion-header-color: var(--accordion-header-hover-color);
    --accordion-header-bg-color: var(--accordion-header-hover-bg-color);
    --accordion-icon-color: var(--accordion-icon-hover-color);

    z-index: 1;
  }

  &:after {
    background: var(--accordion-icon-color);
    content: '';
    height: rem($icon-size-sm);
    mask: url('data:image/svg+xml;utf8,<svg id=%22arrow-down-1%22 viewBox=%22-1 -1 17 17%22 xml:space=%22preserve%22 xmlns=%22http://www.w3.org/2000/svg%22><style>.azst0{fill:none;stroke:%23ffffff;stroke-width:6.25%;stroke-linecap:round;stroke-linejoin:round}</style><path class=%22azst0%22 d=%22M.5 3.6l6.8 7.7c.1.1.3.1.4 0l6.8-7.7%22/></svg>') no-repeat center center;
    mask-size: contain;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: var(--SPACER-XL);
  }
}

.m-accordion__content {
  background-color: var(--accordion-content-bg-color);
  border: var(--BORDER-WIDTH) solid var(--accordion-content-border-color);
  border-top: none;
  display: none;
  margin-top: calc(var(--BORDER-WIDTH) * -1);
  max-height: 0;
  padding: 0;
  transition: max-height .5s ease-out;
}

/**
 * ACCORDION MODIFIERS
 * -------------------------------------------------------------------
 */

.m-accordion.m-accordion--open {
  .m-accordion__header,
  .m-accordion__content {
    border-left: none;
    border-right: none;
  }

  .m-accordion__tab {
    &:first-child .m-accordion__header {
      border-top: none;
    }

    &:last-child .m-accordion__content {
      border-bottom: none;
    }
  }
}
