/**
 * CONTACT
 * -------------------------------------------------------------------
 */

.m-contact {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
}

.m-contact__info {
  padding: 0 $spacer-xs;
}
