/**
 * PAGINATION VARIABLES
 * -------------------------------------------------------------------
 */

.m-pagination {
  --pagination-font-size:                #{rem($font-size-base)};
  --pagination-size:                     var(--spacer-xl);

  --pagination-color:                    #{$white};
  --pagination-color-disabled:           #{$gray-400};
  --pagination-bg:                       var(--theme1-400);
  --pagination-bg-disabled:              #{$gray-100};
  --pagination-bg-hover:                 var(--theme1-500);

  --pagination-outline-color:            var(--pagination-bg);
  --pagination-outline-bg:               transparent;
  --pagination-outline-bg-hover:         var(--theme1-050);
  --pagination-outline-border:           var(--pagination-outline-color);
  --pagination-outline-border-hover:     var(--theme1-500);

  --pagination-size-sm:                  var(--spacer-l);
  --pagination-size-lg:                  var(--spacer-xxl);
}

/**
 * PAGINATION
 * -------------------------------------------------------------------
 */

.m-pagination {
  @extend %a-list--reset;

  display: flex;

  > li {
    background-color: var(--pagination-bg);
    color: var(--pagination-color);
    font-size: var(--pagination-font-size);
    height: var(--pagination-size);
    line-height: var(--pagination-size);
    position: relative;
    text-align: center;
    width: var(--pagination-size);
    z-index: layer('base');

    > a {
      color: var(--pagination-color);
      display: block;
      text-decoration: none;
      transition-duration: var(--animation-duration);
      transition-property: color, background;
      transition-timing-function: var(--animation-easing);

      &:hover,
      &:active,
      &:focus {
        background-color: var(--pagination-bg-hover);
      }

      &.is-active {
        background-color: var(--pagination-bg-hover);
        font-weight: var(--font-weight-bold);
      }

      &.is-disabled {
        background-color: var(--pagination-bg-disabled);
        color: var(--pagination-color-disabled);
        cursor: not-allowed;
      }
    }
  }

  .m-pagination__label {
    padding: 0 var(--spacer);
    width: auto;
  }

  .m-pagination__prev {
    border-right: var(--border-width) solid var(--pagination-bg-hover);

    + .m-pagination__next {
      border-left: none;
    }
  }

  .m-pagination__next {
    border-left: var(--border-width) solid var(--pagination-bg-hover);
    z-index: layer('auto');
  }
}

.m-pagination--outlined {
  > li {
    background-color: var(--pagination-outline-bg);
    box-shadow: 0 0 0 var(--border-width) var(--pagination-outline-border) inset;
    color: var(--pagination-outline-color);

    > a,
    > a:hover,
    > a:active,
    > a:focus {
      background-color: inherit;
      box-shadow: inherit;
      color: inherit;

      &.is-active {
        background-color: var(--pagination-bg);
        color: var(--pagination-color);
      }

      &.is-disabled {
        background-color: var(--pagination-bg-disabled);
        box-shadow: none;
        color: var(--pagination-color-disabled);
      }
    }

    > a:hover,
    > a:active,
    > a:focus {
      background-color: var(--pagination-outline-bg-hover);
      box-shadow: 0 0 0 var(--border-width) var(--pagination-outline-border-hover) inset;
    }

    + li {
      margin-left: calc(var(--border-width) * -1);
    }
  }

  .m-pagination__prev,
  .m-pagination__next {
    border: none;
  }
}

/**
 * PAGINATION SIZES
 * -------------------------------------------------------------------
 */

.m-pagination {
  &.m-pagination--s {
    > li {
      height: var(--pagination-size-sm);
      line-height: var(--pagination-size-sm);
      width: var(--pagination-size-sm);
    }

    .m-pagination__label {
      padding: 0 var(--spacer-xs);
      width: auto;
    }
  }
}

.m-pagination {
  &.m-pagination--l {
    > li {
      height: var(--pagination-size-lg);
      line-height: var(--pagination-size-lg);
      width: var(--pagination-size-lg);
    }

    .m-pagination__label {
      padding: 0 var(--spacer-l);
      width: auto;
    }
  }
}
