/**
 * FLYOUT VARIABLES
 * -------------------------------------------------------------------
 */

.m-flyout {
  --flyout-bg-color:         #{$white};
  --flyout-border-color:     var(--border-color);
  --flyout-max-width:        24rem;
  --flyout-max-width-s:      16rem;
  --flyout-max-height:       calc(var(--spacer) * 9);
}

/**
 * FLYOUT
 * -------------------------------------------------------------------
 */

.m-flyout {
  display: inline-block; // Inline-block so our wrapper element is never bigger than our action (button, ...)
  outline: none;
  position: relative;
}

/**
 * FLYOUT ELEMENTS
 * -------------------------------------------------------------------
 */

.m-flyout__content {
  @include at($screen-sm) {
    width: var(--flyout-max-width);
  }

  background-color: var(--flyout-bg-color);
  border: var(--border-width) solid var(--flyout-border-color);
  box-shadow: var(--box-shadow);
  opacity: 0;
  position: absolute;
  transform: translateY(calc(var(--spacer-xl) * -1));
  transition: visibility 0s var(--animation-normal), opacity var(--animation-normal), transform var(--animation-normal);
  visibility: hidden;
  width: var(--flyout-max-width-s);
  z-index: layer('flyout');
}

/**
 * FLYOUT POSITIONING
 * -------------------------------------------------------------------
 */

.m-flyout--bottom-right .m-flyout__content,
.m-flyout--upper-right .m-flyout__content {
  right: 0;
}

.m-flyout--upper-left .m-flyout__content,
.m-flyout--upper-right .m-flyout__content {
  transform: translateY(-100%);
}

.m-flyout--bottom-right .m-flyout__content {
  box-shadow: var(--box-shadow-bottom-left);
}

.m-flyout--upper-left .m-flyout__content {
  box-shadow: var(--box-shadow-upper-right);
}

.m-flyout--upper-right .m-flyout__content {
  box-shadow: var(--box-shadow-upper-left);
}

/**
 * FLYOUT SIZES
 * -------------------------------------------------------------------
 */

.m-flyout--s .m-flyout__content {
  @include at($screen-sm) {
    width: var(--flyout-max-width-s);
  }
}

.m-flyout--scrollable .m-flyout__content {
  max-height: var(--flyout-max-height);
  overflow-y: scroll;
}

/**
 * FLYOUT VISIBILITY
 * -------------------------------------------------------------------
 */

.m-flyout.is-open {
  .m-flyout__content {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0s;
    visibility: visible;
  }

  &.m-flyout--upper-left,
  &.m-flyout--upper-right {
    .m-flyout__content {
      transform: translateY(calc(-100% - var(--spacer-xl)));
    }
  }
}

.m-flyout__content.has-padding {
  padding: var(--spacer-s);
}

/**
 * FLYOUT FIX AFTER FORM ELEMENT
 * -------------------------------------------------------------------
 */

.a-input + .m-flyout__content {
  min-width: 100%;
  margin-top: calc(var(--border-width) * -1);
  width: auto;
}

/**
 * DATEPICKER IN FLYOUT BORDER FIX
 * -------------------------------------------------------------------
 */

.m-flyout__content.m-datepicker {
  border: none;
}

/**
 * FLYOUT FOCUS OUTLINE FIX
 * -------------------------------------------------------------------
 */

.m-flyout:focus {
  outline: none;
}
