/**
 * ICON LIST VARIABLES
 * -------------------------------------------------------------------
 */

.m-icon-list {
  --icon-list-color:            #{$gray-600};
  --icon-list-hover-color:      var(--theme2-400);
  --icon-list-negative-color:   #{$white};
  --icon-list-icon-size:        #{rem($icon-size-base)};
}

/**
 * ICON LIST
 * -------------------------------------------------------------------
 */

.m-icon-list {
  @extend %u-list-reset;

  li {
    color: var(--icon-list-color);
    text-align: center;

    &:not(:last-child) {
      margin-bottom: var(--spacer-s);
    }

    a {
      color: inherit;
      display: block;
      transition: color var(--animation-normal);

      &:active,
      &:hover,
      &:focus {
        color: var(--icon-list-hover-color);
      }
    }

    .ai {
      font-size: var(--icon-list-icon-size);
    }
  }
}

/**
 * ICON LIST MODIFIERS
 * -------------------------------------------------------------------
 */

.m-icon-list--horizontal {
  display: flex;

  li {
    margin: 0;

    &:not(:last-child) {
      margin: 0 var(--spacer) 0 0;
    }
  }
}

.m-icon-list--negative {
  --icon-list-color: var(--icon-list-negative-color);
}
