<div class="u-wrapper d-h2">
    <div class="u-container">
        <h2>Atoms</h2>
    </div>
</div>
<div class="u-wrapper">
    <div class="u-container">
        <h3 class="d-h3">Addon</h3>
        <span class="d-file">atoms/atoms.addon</span>

        <h3 class="d-h3">Avatar</h3>
        <span class="d-file">atoms/atoms.avatar</span>

        <h3 class="d-h3">Badge</h3>
        <span class="d-file">atoms/atoms.badge</span>

        <h3 class="d-h3">Button</h3>
        <span class="d-file">atoms/atoms.button</span>

        <h3 class="d-h3">Code</h3>
        <span class="d-file">atoms/atoms.code</span>

        <h3 class="d-h3">Copyright</h3>
        <span class="d-file">atoms/atoms.copyright</span>

        <h3 class="d-h3">Flyout</h3>
        <span class="d-file">atoms/atoms.flyout</span>

        <h3 class="d-h3">Form</h3>
        <span class="d-file">atoms/atoms.form</span>

        <h3 class="d-h3">Input</h3>
        <span class="d-file">atoms/atoms.input</span>

        <h3 class="d-h3">Label</h3>
        <span class="d-file">atoms/atoms.label</span>

        <h3 class="d-h3">Link</h3>
        <span class="d-file">atoms/atoms.link</span>

        <h3 class="d-h3">List</h3>
        <span class="d-file">atoms/atoms.list</span>

        <h3 class="d-h3">Radiobutton / checkbox</h3>
        <span class="d-file">atoms/atoms.radio-checkbox</span>

        <h3 class="d-h3">Spinner</h3>
        <span class="d-file">atoms/atoms.spinner</span>

        <h3 class="d-h3">Switch</h3>
        <span class="d-file">atoms/atoms.switch</span>

        <h3 class="d-h3">Table</h3>
        <span class="d-file">atoms/atoms.table</span>

        <h3 class="d-h3">Timepicker</h3>
        <span class="d-file">atoms/atoms.timepicker</span>

        <h3 class="d-h3">Toggle</h3>
        <span class="d-file">atoms/atoms.toggle</span>

        <h3 class="d-h3">Tooltip</h3>
        <span class="d-file">atoms/atoms.tooltip</span>

    </div>
</div>
