<div class="u-wrapper d-h2">
    <div class="u-container">
        <h2>Atoms</h2>
    </div>
</div>
<div class="u-wrapper">
    <div class="u-container">
        <a name="atoms-addon"></a>
        <h3 class="d-h3">Addon</h3>
        <span class="d-file">atoms/atoms.addon</span>
        <div class="d">
            <div>
                See <a href="#atoms-input">input</a>
            </div>
        </div>

        <a name="atoms-avatar"></a>
        <h3 class="d-h3">Avatar</h3>
        <span class="d-file">atoms/atoms.avatar</span>
        <div class="d">
            <div>
                <div class="a-avatar">
                    <img src="https://api.adorable.io/avatars/285/bartdewever@adorable.png" alt="avatar image" />
                </div>
                <div>
                    <a class="a-avatar">
                        <img src="https://api.adorable.io/avatars/285/bartdewever@adorable.png" alt="avatar image" />
                    </a>
                </div>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;div class="a-avatar"&gt;
  &lt;img src="..." alt="..." /&gt;
&lt;/div&gt;</code></pre>
                <pre class="a-pre a-pre--scrollable"><code>&lt;a href="#" class="a-avatar"&gt;
  &lt;img src="..." alt="..." /&gt;
&lt;/a&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <div class="a-avatar a-avatar--small">
                    <img src="https://api.adorable.io/avatars/285/jeroen@adorable.png" alt="avatar image" />
                </div>
                <div>
                    <a class="a-avatar a-avatar--small">
                        <img src="https://api.adorable.io/avatars/285/jeroen@adorable.png" alt="avatar image" />
                    </a>
                </div>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;div class="a-avatar a-avatar--small"&gt;
  &lt;img src="..." alt="..." /&gt;
&lt;/div&gt;</code></pre>
                <pre class="a-pre a-pre--scrollable"><code>&lt;a href="#" class="a-avatar a-avatar--small"&gt;
  &lt;img src="..." alt="..." /&gt;
&lt;/a&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <div class="a-avatar a-avatar--medium">
                    <img src="https://api.adorable.io/avatars/285/sander@adorable.png" alt="avatar image" />
                </div>
                <div>
                    <a class="a-avatar a-avatar--medium">
                        <img src="https://api.adorable.io/avatars/285/sander@adorable.png" alt="avatar image" />
                    </a>
                </div>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;div class="a-avatar a-avatar--medium"&gt;
  &lt;img src="..." alt="..." /&gt;
&lt;/div&gt;</code></pre>
                <pre class="a-pre a-pre--scrollable"><code>&lt;a href="#" class="a-avatar a-avatar--medium"&gt;
  &lt;img src="..." alt="..." /&gt;
&lt;/a&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <div class="a-avatar a-avatar--large">
                    <img src="https://api.adorable.io/avatars/285/jasper@adorable.png" alt="avatar image" />
                </div>
                <div>
                    <a class="a-avatar a-avatar--large">
                        <img src="https://api.adorable.io/avatars/285/jasper@adorable.png" alt="avatar image" />
                    </a>
                </div>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;div class="a-avatar a-avatar--large"&gt;
  &lt;img src="..." alt="..." /&gt;
&lt;/div&gt;</code></pre>
                <pre class="a-pre a-pre--scrollable"><code>&lt;a href="#" class="a-avatar a-avatar--large"&gt;
  &lt;img src="..." alt="..." /&gt;
&lt;/a&gt;</code></pre>
            </div>
        </div>

        <a name="atoms-badge"></a>
        <h3 class="d-h3">Badge</h3>
        <span class="d-file">atoms/atoms.badge</span>
        <div class="d">
            <div>
                <span class="a-badge">10</span>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;span class="a-badge"&gt;10&lt;/span&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <span class="a-badge a-badge--primary">11</span>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;span class="a-badge a-badge--primary"&gt;11&lt;/span&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <span class="a-badge a-badge--secondary">12</span>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;span class="a-badge a-badge--secondary"&gt;12&lt;/span&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <span class="a-badge a-badge--success">13</span>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;span class="a-badge a-badge--success"&gt;13&lt;/span&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <span class="a-badge a-badge--warning">14</span>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;span class="a-badge a-badge--warning"&gt;14&lt;/span&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <span class="a-badge a-badge--danger">15</span>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;span class="a-badge a-badge--danger"&gt;15&lt;/span&gt;</code></pre>
            </div>
        </div>

        <a name="atoms-button"></a>
        <h3 class="d-h3">Button</h3>
        <span class="d-file">atoms/atoms.button</span>
        <h4 class="d-h4">Regular buttons</h4>
        <div class="d">
            <div>
                <button class="a-button">Primary button</button>
            </div>
            <div>  
                <pre class="a-pre a-pre--scrollable"><code>&lt;button class="a-button"&gt;Primary button&lt;/button&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <button class="a-button" disabled>Disabled button</button>
            </div>
            <div>  
                <pre class="a-pre a-pre--scrollable"><code>&lt;button class="a-button" disabled&gt;Secondary button&lt;/button&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <button class="a-button a-button--secondary">Secondary button</button>
            </div>
            <div>  
                <pre class="a-pre a-pre--scrollable"><code>&lt;button class="a-button a-button--secondary"&gt;Secondary button&lt;/button&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <button class="a-button a-button--success">Success button</button>
            </div>
            <div>  
                <pre class="a-pre a-pre--scrollable"><code>&lt;button class="a-button a-button--success"&gt;Success button&lt;/button&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <button class="a-button a-button--warning">Warning button</button>
            </div>
            <div>  
                <pre class="a-pre a-pre--scrollable"><code>&lt;button class="a-button a-button--warning"&gt;Warning button&lt;/button&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <button class="a-button a-button--danger">Danger button</button>
            </div>
            <div>  
                <pre class="a-pre a-pre--scrollable"><code>&lt;button class="a-button a-button--danger"&gt;Danger button&lt;/button&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <button class="a-button a-button--transparent">Transparent button</button>
            </div>
            <div>  
                <pre class="a-pre a-pre--scrollable"><code>&lt;button class="a-button a-button--transparent"&gt;Transparent button&lt;/button&gt;</code></pre>
            </div>
        </div>

        <h4 class="d-h4">Negative buttons</h4>
        <div class="d">
            <div>
                <button class="a-button-negative">Primary button</button>
            </div>
            <div>  
                <pre class="a-pre a-pre--scrollable"><code>&lt;button class="a-button-negative"&gt;Primary button&lt;/button&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <button class="a-button-negative" disabled>Disabled button</button>
            </div>
            <div>  
                <pre class="a-pre a-pre--scrollable"><code>&lt;button class="a-button-negative" disabled&gt;Secondary button&lt;/button&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <button class="a-button-negative a-button--secondary">Secondary button</button>
            </div>
            <div>  
                <pre class="a-pre a-pre--scrollable"><code>&lt;button class="a-button-negative a-button--secondary"&gt;Secondary button&lt;/button&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <button class="a-button-negative a-button--success">Success button</button>
            </div>
            <div>  
                <pre class="a-pre a-pre--scrollable"><code>&lt;button class="a-button-negative a-button--success"&gt;Success button&lt;/button&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <button class="a-button-negative a-button--warning">Warning button</button>
            </div>
            <div>  
                <pre class="a-pre a-pre--scrollable"><code>&lt;button class="a-button-negative a-button--warning"&gt;Warning button&lt;/button&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <button class="a-button-negative a-button--danger">Danger button</button>
            </div>
            <div>  
                <pre class="a-pre a-pre--scrollable"><code>&lt;button class="a-button-negative a-button--danger"&gt;Danger button&lt;/button&gt;</code></pre>
            </div>
        </div>

        <h4 class="d-h4">Outline buttons</h4>
        <div class="d">
            <div>
                <button class="a-button-outline">Primary button</button>
            </div>
            <div>  
                <pre class="a-pre a-pre--scrollable"><code>&lt;button class="a-button-outline"&gt;Primary button&lt;/button&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <button class="a-button-outline" disabled>Disabled button</button>
            </div>
            <div>  
                <pre class="a-pre a-pre--scrollable"><code>&lt;button class="a-button-outline" disabled&gt;Secondary button&lt;/button&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <button class="a-button-outline a-button--secondary">Secondary button</button>
            </div>
            <div>  
                <pre class="a-pre a-pre--scrollable"><code>&lt;button class="a-button-outline a-button--secondary"&gt;Secondary button&lt;/button&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <button class="a-button-outline a-button--success">Success button</button>
            </div>
            <div>  
                <pre class="a-pre a-pre--scrollable"><code>&lt;button class="a-button-outline a-button--success"&gt;Success button&lt;/button&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <button class="a-button-outline a-button--warning">Warning button</button>
            </div>
            <div>  
                <pre class="a-pre a-pre--scrollable"><code>&lt;button class="a-button-outline a-button--warning"&gt;Warning button&lt;/button&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <button class="a-button-outline a-button--danger">Danger button</button>
            </div>
            <div>  
                <pre class="a-pre a-pre--scrollable"><code>&lt;button class="a-button-outline a-button--danger"&gt;Danger button&lt;/button&gt;</code></pre>
            </div>
        </div>

        <h4 class="d-h4">Button sizes</h4>
        <div class="d">
            <div>
                <button class="a-button a-button--large">Large button</button>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;button class="a-button a-button--large"&gt;Large button&lt;/button&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <button class="a-button a-button--small">Small button</button>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;button class="a-button a-button--small"&gt;Small button&lt;/button&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <button class="a-button a-button--tiny">Tiny button</button>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;button class="a-button a-button--tiny"&gt;Tiny button&lt;/button&gt;</code></pre>
            </div>
        </div>

        <h4 class="d-h4">Icon buttons</h4>
        <div class="d">
            <div>
                <div class="m-alert d-alert u-margin-bottom">
                    <p>Note that the button sizes are omitted in the code examples. Just add the <code>a-button--large</code>, <code>a-button--small</code> or <code>a-button--tiny</code> class to achieve the wanted result.</p>
                </div>
            </div>
        </div>
        <div class="d">
            <div>
                <div class="u-margin-bottom-xs">
                    <button class="a-button d-button a-button--large has-icon-left">
                        <i class="fa fa-arrow-left"></i>
                        Icon left
                    </button>
                    <button class="a-button d-button has-icon-left">
                        <i class="fa fa-arrow-left"></i>
                        Icon left
                    </button>
                    <button class="a-button d-button a-button--small has-icon-left">
                        <i class="fa fa-arrow-left"></i>
                        Icon left
                    </button>
                    <button class="a-button d-button a-button--tiny has-icon-left">
                        <i class="fa fa-arrow-left"></i>
                        Icon left
                    </button>
                </div>
                <div class="u-margin-bottom-xs">
                    <button class="a-button-negative d-button a-button--large has-icon-left">
                        <i class="fa fa-arrow-left"></i>
                        Icon left
                    </button>
                    <button class="a-button-negative d-button has-icon-left">
                        <i class="fa fa-arrow-left"></i>
                        Icon left
                    </button>
                    <button class="a-button-negative d-button a-button--small has-icon-left">
                        <i class="fa fa-arrow-left"></i>
                        Icon left
                    </button>
                    <button class="a-button-negative d-button a-button--tiny has-icon-left">
                        <i class="fa fa-arrow-left"></i>
                        Icon left
                    </button>
                </div>
                <div>
                    <button class="a-button-outline d-button a-button--large has-icon-left">
                        <i class="fa fa-arrow-left"></i>
                        Icon left
                    </button>
                    <button class="a-button-outline d-button has-icon-left">
                        <i class="fa fa-arrow-left"></i>
                        Icon left
                    </button>
                    <button class="a-button-outline d-button a-button--small has-icon-left">
                        <i class="fa fa-arrow-left"></i>
                        Icon left
                    </button>
                    <button class="a-button-outline d-button a-button--tiny has-icon-left">
                        <i class="fa fa-arrow-left"></i>
                        Icon left
                    </button>
                </div>
            </div>
            <div>  
                <pre class="a-pre a-pre--scrollable"><code>&lt;button class="a-button has-icon-left"&gt;
  &lt;i class="fa fa-arrow-left"&gt;&lt;/i&gt;
  Icon left
&lt;/button&gt;</code></pre>
                <pre class="a-pre a-pre--scrollable"><code>&lt;button class="a-button-negative has-icon-left"&gt;
  &lt;i class="fa fa-arrow-left"&gt;&lt;/i&gt;
  Icon left
&lt;/button&gt;</code></pre>
                <pre class="a-pre a-pre--scrollable"><code>&lt;button class="a-button-outline has-icon-left"&gt;
  &lt;i class="fa fa-arrow-left"&gt;&lt;/i&gt;
  Icon left
&lt;/button&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <div class="u-margin-bottom-xs">
                    <button class="a-button d-button a-button--large has-icon-right">
                        <i class="fa fa-arrow-right"></i>
                        Icon right
                    </button>
                    <button class="a-button d-button has-icon-right">
                        <i class="fa fa-arrow-right"></i>
                        Icon right
                    </button>
                    <button class="a-button d-button a-button--small has-icon-right">
                        <i class="fa fa-arrow-right"></i>
                        Icon right
                    </button>
                    <button class="a-button d-button a-button--tiny has-icon-right">
                        <i class="fa fa-arrow-right"></i>
                        Icon right
                    </button>
                </div>
                <div class="u-margin-bottom-xs">
                    <button class="a-button-negative d-button a-button--large has-icon-right">
                        <i class="fa fa-arrow-right"></i>
                        Icon right
                    </button>
                    <button class="a-button-negative d-button has-icon-right">
                        <i class="fa fa-arrow-right"></i>
                        Icon right
                    </button>
                    <button class="a-button-negative d-button a-button--small has-icon-right">
                        <i class="fa fa-arrow-right"></i>
                        Icon right
                    </button>
                    <button class="a-button-negative d-button a-button--tiny has-icon-right">
                        <i class="fa fa-arrow-right"></i>
                        Icon right
                    </button>
                </div>
                <div>
                    <button class="a-button-outline d-button a-button--large has-icon-right">
                        <i class="fa fa-arrow-right"></i>
                        Icon right
                    </button>
                    <button class="a-button-outline d-button has-icon-right">
                        <i class="fa fa-arrow-right"></i>
                        Icon right
                    </button>
                    <button class="a-button-outline d-button a-button--small has-icon-right">
                        <i class="fa fa-arrow-right"></i>
                        Icon right
                    </button>
                    <button class="a-button-outline d-button a-button--tiny has-icon-right">
                        <i class="fa fa-arrow-right"></i>
                        Icon right
                    </button>
                </div>
            </div>
            <div>  
                <pre class="a-pre a-pre--scrollable"><code>&lt;button class="a-button has-icon-right"&gt;
  &lt;i class="fa fa-arrow-right"&gt;&lt;/i&gt;
  Icon right
&lt;/button&gt;</code></pre>
                <pre class="a-pre a-pre--scrollable"><code>&lt;button class="a-button-negative has-icon-right"&gt;
  &lt;i class="fa fa-arrow-right"&gt;&lt;/i&gt;
  Icon right
&lt;/button&gt;</code></pre>
                <pre class="a-pre a-pre--scrollable"><code>&lt;button class="a-button-outline has-icon-right"&gt;
  &lt;i class="fa fa-arrow-right"&gt;&lt;/i&gt;
  Icon right
&lt;/button&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <div class="u-margin-bottom-xs">
                    <button class="a-button d-button a-button--large has-icon">
                        <i class="fa fa-download"></i>
                    </button>
                    <button class="a-button d-button has-icon">
                        <i class="fa fa-download"></i>
                    </button>
                    <button class="a-button d-button a-button--small has-icon">
                        <i class="fa fa-download"></i>
                    </button>
                    <button class="a-button d-button a-button--tiny has-icon">
                        <i class="fa fa-download"></i>
                    </button>
                </div>
                <div class="u-margin-bottom-xs">
                    <button class="a-button-negative d-button a-button--large has-icon">
                        <i class="fa fa-download"></i>
                    </button>
                    <button class="a-button-negative d-button has-icon">
                        <i class="fa fa-download"></i>
                    </button>
                    <button class="a-button-negative d-button a-button--small has-icon">
                        <i class="fa fa-download"></i>
                    </button>
                    <button class="a-button-negative d-button a-button--tiny has-icon">
                        <i class="fa fa-download"></i>
                    </button>
                </div>
                <div>
                    <button class="a-button-outline d-button a-button--large has-icon">
                        <i class="fa fa-download"></i>
                    </button>
                    <button class="a-button-outline d-button has-icon">
                        <i class="fa fa-download"></i>
                    </button>
                    <button class="a-button-outline d-button a-button--small has-icon">
                        <i class="fa fa-download"></i>
                    </button>
                    <button class="a-button-outline d-button a-button--tiny has-icon">
                        <i class="fa fa-download"></i>
                    </button>
                </div>
            </div>
            <div>  
                <pre class="a-pre a-pre--scrollable"><code>&lt;button class="a-button has-icon"&gt;
  &lt;i class="fa fa-download"&gt;&lt;/i&gt;
&lt;/button&gt;</code></pre>
                <pre class="a-pre a-pre--scrollable"><code>&lt;button class="a-button-negative has-icon"&gt;
  &lt;i class="fa fa-download"&gt;&lt;/i&gt;
&lt;/button&gt;</code></pre>
                <pre class="a-pre a-pre--scrollable"><code>&lt;button class="a-button-outline has-icon"&gt;
  &lt;i class="fa fa-download"&gt;&lt;/i&gt;
&lt;/button&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <div>
                    <button class="a-button d-button a-button--large has-icon-right">
                        <i class="fa fa-circle-o-notch fa-spin"></i>
                        Loading
                    </button>
                    <button class="a-button d-button has-icon-right">
                        <i class="fa fa-circle-o-notch fa-spin"></i>
                        Loading
                    </button>
                    <button class="a-button d-button a-button--small has-icon-right">
                        <i class="fa fa-circle-o-notch fa-spin"></i>
                        Loading
                    </button>
                    <button class="a-button d-button a-button--tiny has-icon-right">
                        <i class="fa fa-circle-o-notch fa-spin"></i>
                        Loading
                    </button>
                </div>
            </div>
            <div>  
                <pre class="a-pre a-pre--scrollable"><code>&lt;button class="a-button has-icon-right"&gt;
  &lt;i class="fa fa-circle-o-notch fa-spin"&gt;&lt;/i&gt;
  Loading
&lt;/button&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <div>
                    <button class="a-button a-button--default has-icon">
                        <i class="fa fa-download"></i>
                    </button>
                </div>
                <div>
                    <button class="a-button-transparent a-button--default has-icon">
                        <i class="fa fa-close"></i>
                    </button>
                </div>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;button class="a-button a-button--default has-icon"&gt;
  &lt;i class="fa fa-download"&gt;&lt;/i&gt;
&lt;/button&gt;</code></pre>
                <pre class="a-pre a-pre--scrollable"><code>&lt;button class="a-button-transparent a-button--default has-icon"&gt;
  &lt;i class="fa fa-close"&gt;&lt;/i&gt;
&lt;/button&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <div>
                    <button class="a-button-transparent has-icon">
                        <i class="fa fa-close"></i>
                    </button>
                </div>
                <div>
                    <button class="a-button-transparent a-button--success has-icon">
                        <i class="fa fa-close"></i>
                    </button>
                </div>
                <div>
                    <button class="a-button-transparent a-button--warning has-icon">
                        <i class="fa fa-close"></i>
                    </button>
                </div>
                <div>
                    <button class="a-button-transparent a-button--danger has-icon">
                        <i class="fa fa-close"></i>
                    </button>
                </div>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;button class="a-button-transparent has-icon"&gt;
  &lt;i class="fa fa-close"&gt;&lt;/i&gt;
&lt;/button&gt;</code></pre>
                <pre class="a-pre a-pre--scrollable"><code>&lt;button class="a-button-transparent a-button--success has-icon"&gt;
  &lt;i class="fa fa-close"&gt;&lt;/i&gt;
&lt;/button&gt;</code></pre>
                <pre class="a-pre a-pre--scrollable"><code>&lt;button class="a-button-transparent a-button--warning has-icon"&gt;
  &lt;i class="fa fa-close"&gt;&lt;/i&gt;
&lt;/button&gt;</code></pre>
                <pre class="a-pre a-pre--scrollable"><code>&lt;button class="a-button-transparent a-button--danger has-icon"&gt;
  &lt;i class="fa fa-close"&gt;&lt;/i&gt;
&lt;/button&gt;</code></pre>
            </div>
        </div>

        <a name="atoms-code"></a>
        <h3 class="d-h3">Code</h3>
        <span class="d-file">atoms/atoms.code</span>

        <a name="atoms-copyright"></a>
        <h3 class="d-h3">Copyright</h3>
        <span class="d-file">atoms/atoms.copyright</span>

        <a name="atoms-flyout"></a>
        <h3 class="d-h3">Flyout</h3>
        <span class="d-file">atoms/atoms.flyout</span>

        <a name="atoms-form"></a>
        <h3 class="d-h3">Form</h3>
        <span class="d-file">atoms/atoms.form</span>

        <a name="atoms-input"></a>
        <h3 class="d-h3">Input</h3>
        <span class="d-file">atoms/atoms.input</span>

        <a name="atoms-label"></a>
        <h3 class="d-h3">Label</h3>
        <span class="d-file">atoms/atoms.label</span>

        <a name="atoms-link"></a>
        <h3 class="d-h3">Link</h3>
        <span class="d-file">atoms/atoms.link</span>

        <a name="atoms-list"></a>
        <h3 class="d-h3">List</h3>
        <span class="d-file">atoms/atoms.list</span>

        <a name="atoms-radiobutton-checkbox"></a>
        <h3 class="d-h3">Radiobutton / checkbox</h3>
        <span class="d-file">atoms/atoms.radio-checkbox</span>

        <a name="atoms-spinner"></a>
        <h3 class="d-h3">Spinner</h3>
        <span class="d-file">atoms/atoms.spinner</span>

        <a name="atoms-switch"></a>
        <h3 class="d-h3">Switch</h3>
        <span class="d-file">atoms/atoms.switch</span>

        <a name="atoms-table"></a>
        <h3 class="d-h3">Table</h3>
        <span class="d-file">atoms/atoms.table</span>

        <a name="atoms-timepicker"></a>
        <h3 class="d-h3">Timepicker</h3>
        <span class="d-file">atoms/atoms.timepicker</span>

        <a name="atoms-toggle"></a>
        <h3 class="d-h3">Toggle</h3>
        <span class="d-file">atoms/atoms.toggle</span>
        <div class="d">
            <div>
                <div class="a-toggle d-button has-icon">
                    <input class="a-toggle__checkbox" id="icon-toggle" type="checkbox">
                    <div class="a-toggle__labels">
                        <label for="icon-toggle" class="a-toggle__on a-button has-icon">
                            <i class="fa fa-bars"></i>
                        </label>
                        <label for="icon-toggle" class="a-toggle__off a-button a-button--danger has-icon">
                            <i class="fa fa-close"></i>
                        </label>
                    </div>
                </div>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;div class="a-toggle has-icon"&gt;
  &lt;input class="a-toggle__checkbox" id="icon-toggle" type="checkbox"&gt;
  &lt;div class="a-toggle__labels"&gt;
    &lt;label for="icon-toggle" class="a-toggle__on a-button has-icon"&gt;
      &lt;i class="fa fa-bars"&gt;&lt;/i&gt;
    &lt;/label&gt;
    &lt;label for="icon-toggle" class="a-toggle__off a-button a-button--danger has-icon"&gt;
      &lt;i class="fa fa-close"&gt;&lt;/i&gt;
    &lt;/label&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <div>
                    <div class="a-toggle d-button a-toggle--large has-icon">
                        <input class="a-toggle__checkbox" id="icon-toggle-large" type="checkbox">
                        <div class="a-toggle__labels">
                            <label for="icon-toggle-large" class="a-toggle__on a-button a-button--large has-icon">
                                <i class="fa fa-bars"></i>
                            </label>

                            <label for="icon-toggle-large" class="a-toggle__off a-button a-button--danger a-button--large has-icon">
                                <i class="fa fa-close"></i>
                            </label>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="a-toggle d-button a-toggle--small has-icon">
                        <input class="a-toggle__checkbox" id="icon-toggle-small" type="checkbox">
                        <div class="a-toggle__labels">
                            <label for="icon-toggle-small" class="a-toggle__on a-button a-button--small has-icon">
                                <i class="fa fa-bars"></i>
                            </label>
                            <label for="icon-toggle-small" class="a-toggle__off a-button a-button--danger a-button--small has-icon">
                                <i class="fa fa-close"></i>
                            </label>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="a-toggle d-button a-toggle--tiny has-icon">
                        <input class="a-toggle__checkbox" id="icon-toggle-tiny" type="checkbox">
                        <div class="a-toggle__labels">
                            <label for="icon-toggle-tiny" class="a-toggle__on a-button a-button--tiny has-icon">
                                <i class="fa fa-bars"></i>
                            </label>
                            <label for="icon-toggle-tiny" class="a-toggle__off a-button a-button--danger a-button--tiny has-icon">
                                <i class="fa fa-close"></i>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;div class="a-toggle a-toggle--large has-icon"&gt;
  &lt;input class="a-toggle__checkbox" id="icon-toggle-large" type="checkbox"&gt;
  &lt;div class="a-toggle__labels"&gt;
    &lt;label for="icon-toggle-large" class="a-toggle__on a-button a-button--large has-icon"&gt;
      &lt;i class="fa fa-bars"&gt;&lt;/i&gt;
    &lt;/label&gt;
    &lt;label for="icon-toggle-large" class="a-toggle__off a-button a-button--danger a-button--large has-icon"&gt;
      &lt;i class="fa fa-close"&gt;&lt;/i&gt;
    &lt;/label&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
                <pre class="a-pre a-pre--scrollable"><code>&lt;div class="a-toggle a-toggle--small has-icon"&gt;
  &lt;input class="a-toggle__checkbox" id="icon-toggle-small" type="checkbox"&gt;
  &lt;div class="a-toggle__labels"&gt;
    &lt;label for="icon-toggle-small" class="a-toggle__on a-button a-button--small has-icon"&gt;
      &lt;i class="fa fa-bars"&gt;&lt;/i&gt;
    &lt;/label&gt;
    &lt;label for="icon-toggle-small" class="a-toggle__off a-button a-button--danger a-button--small has-icon"&gt;
      &lt;i class="fa fa-close"&gt;&lt;/i&gt;
    &lt;/label&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
                <pre class="a-pre a-pre--scrollable"><code>&lt;div class="a-toggle a-toggle--tiny has-icon"&gt;
  &lt;input class="a-toggle__checkbox" id="icon-toggle-tiny" type="checkbox"&gt;
  &lt;div class="a-toggle__labels"&gt;
    &lt;label for="icon-toggle-tiny" class="a-toggle__on a-button a-button--tiny has-icon"&gt;
      &lt;i class="fa fa-bars"&gt;&lt;/i&gt;
    &lt;/label&gt;
    &lt;label for="icon-toggle-tiny" class="a-toggle__off a-button a-button--danger a-button--tiny has-icon"&gt;
      &lt;i class="fa fa-close"&gt;&lt;/i&gt;
    &lt;/label&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <div class="a-toggle">
                    <input class="a-toggle__checkbox" id="toggle-normal" type="checkbox">
                    <div class="a-toggle__labels">
                        <label for="toggle-normal" class="a-toggle__on a-button has-icon-left">
                            <i class="fa fa-bars"></i>
                            Open
                        </label>
                        <label for="toggle-normal" class="a-toggle__off a-button a-button--danger has-icon-left">
                            <i class="fa fa-close"></i>
                            Close
                        </label>
                    </div>
                </div>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;div class="a-toggle"&gt;
  &lt;input class="a-toggle__checkbox" id="toggle-normal" type="checkbox"&gt;
  &lt;div class="a-toggle__labels"&gt;
    &lt;label for="toggle-normal" class="a-toggle__on a-button has-icon-left"&gt;
      &lt;i class="fa fa-bars"&gt;&lt;/i&gt;
      Open
    &lt;/label&gt;
    &lt;label for="toggle-normal" class="a-toggle__off a-button a-button--danger has-icon-left"&gt;
      &lt;i class="fa fa-close"&gt;&lt;/i&gt;
      Close
    &lt;/label&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
            </div>
        </div>

        <a name="atoms-tooltip"></a>
        <h3 class="d-h3">Tooltip</h3>
        <span class="d-file">atoms/atoms.tooltip</span>

    </div>
</div>
