<div class="u-wrapper d-h2">
    <div class="u-container">
        <h2>Molecules</h2>
    </div>
</div>
<div class="u-wrapper">
    <div class="u-container">
        <a name="molecules-accordion"></a>
        <h3 class="d-h3">Accordion</h3>
        <span class="d-file">molecules/molecules.accordion</span>
        <div class="d">
            <div>
                <div class="m-accordion">
                    <div class="m-accordion__tab is-open">
                        <div class="m-accordion__header">
                            Aeneis
                        </div>
                        <div class="m-accordion__content">
                            <div class="u-margin">
                                <p>Arma virumque cano, Troiae qui primus ab oris Italiam, fato profugus, Laviniaque venit litora, multum ille et terris iactatus et alto vi superum saevae memorem Iunonis ob iram. Multa quoque et bello passus, dum conderet urbem, inferretque deos Latio, genus unde Latinum, Albanique patres, atque altae moenia Romae.</p>
                            </div>
                        </div>
                    </div>
                    <div class="m-accordion__tab">
                        <div class="m-accordion__header">
                            De Bello Gallico
                        </div>
                        <div class="m-accordion__content">
                            ...
                        </div>
                    </div>
                    <div class="m-accordion__tab">
                        <div class="m-accordion__header">
                            Odes
                        </div>
                        <div class="m-accordion__content">
                            ...
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;div class="m-accordion"&gt;
  &lt;div class="m-accordion__tab is-open"&gt;
    &lt;div class="m-accordion__header"&gt;
      Aeneis
    &lt;/div&gt;
    &lt;div class="m-accordion__content"&gt;
      &lt;div class="u-margin"&gt;
        ...
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="m-accordion__tab"&gt;
    &lt;div class="m-accordion__header"&gt;
      De Bello Gallico
    &lt;/div&gt;
    &lt;div class="m-accordion__content"&gt;
      ...
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="m-accordion__tab"&gt;
    &lt;div class="m-accordion__header"&gt;
      Odes
    &lt;/div&gt;
    &lt;div class="m-accordion__content"&gt;
      ...
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
            </div>
        </div>

        <a name="molecules-alert"></a>
        <h3 class="d-h3">Alert</h3>
        <span class="d-file">molecules/molecules.alert</span>
        <div class="d">
            <div>
                <div class="m-alert">
                    <button class="a-button-transparent has-icon m-alert__close"><i class="fa fa-close"></i></button>
                    <h5 class="u-margin-bottom-xs">Alert</h5>
                    <p class="u-margin-bottom">Some explanation.</p>
                    <div class="m-alert__actions">
                        <button class="a-button-outline a-button--small">Cancel</button>
                        <button class="a-button a-button--small">Got it</button>
                    </div>
                </div>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;div class="m-alert"&gt;
  &lt;button class="a-button-transparent has-icon m-alert__close"&gt;&lt;i class="fa fa-close"&gt;&lt;/i&gt;&lt;/button&gt;
  &lt;h5 class="u-margin-bottom-xs"&gt;Alert&lt;/h5&gt;
  &lt;p class="u-margin-bottom"&gt;Some explanation.&lt;/p&gt;
  &lt;div class="m-alert__actions"&gt;
    &lt;button class="a-button-outline a-button--small"&gt;Cancel&lt;/button&gt;
    &lt;button class="a-button a-button--small"&gt;Got it&lt;/button&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <div class="m-alert m-alert--success">
                    <button class="a-button-transparent a-button--success has-icon m-alert__close"><i class="fa fa-close"></i></button>
                    <h5 class="u-margin-bottom-xs">Success alert</h5>
                    <p class="u-margin-bottom">Some explanation.</p>
                    <div class="m-alert__actions">
                        <button class="a-button-outline a-button--success a-button--small">Cancel</button>
                        <button class="a-button a-button--success a-button--small">Got it</button>
                    </div>
                </div>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;div class="m-alert m-alert--success"&gt;
  &lt;button class="a-button-transparent a-button--success has-icon m-alert__close"&gt;&lt;i class="fa fa-close"&gt;&lt;/i&gt;&lt;/button&gt;
  &lt;h5 class="u-margin-bottom-xs"&gt;Success alert&lt;/h5&gt;
  &lt;p class="u-margin-bottom"&gt;Some explanation.&lt;/p&gt;
  &lt;div class="m-alert__actions"&gt;
    &lt;button class="a-button-outline a-button--success a-button--small"&gt;Cancel&lt;/button&gt;
    &lt;button class="a-button a-button--success a-button--small"&gt;Got it&lt;/button&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <div class="m-alert m-alert--warning">
                    <button class="a-button-transparent a-button--warning has-icon m-alert__close"><i class="fa fa-close"></i></button>
                    <h5 class="u-margin-bottom-xs">Warning alert</h5>
                    <p class="u-margin-bottom">Some explanation.</p>
                    <div class="m-alert__actions">
                        <button class="a-button-outline a-button--warning a-button--small">Cancel</button>
                        <button class="a-button a-button--warning a-button--small">Got it</button>
                    </div>
                </div>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;div class="m-alert m-alert--warning"&gt;
  &lt;button class="a-button-transparent a-button--warning has-icon m-alert__close"&gt;&lt;i class="fa fa-close"&gt;&lt;/i&gt;&lt;/button&gt;
  &lt;h5 class="u-margin-bottom-xs"&gt;Warning alert&lt;/h5&gt;
  &lt;p class="u-margin-bottom"&gt;Some explanation.&lt;/p&gt;
  &lt;div class="m-alert__actions"&gt;
    &lt;button class="a-button-outline a-button--warning a-button--small"&gt;Cancel&lt;/button&gt;
    &lt;button class="a-button a-button--warning a-button--small"&gt;Got it&lt;/button&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <div class="m-alert m-alert--danger">
                    <button class="a-button-transparent a-button--danger has-icon m-alert__close"><i class="fa fa-close"></i></button>
                    <h5 class="u-margin-bottom-xs">Danger alert</h5>
                    <p class="u-margin-bottom">Some explanation.</p>
                    <div class="m-alert__actions">
                        <button class="a-button-outline a-button--danger a-button--small">Cancel</button>
                        <button class="a-button a-button--danger a-button--small">Got it</button>
                    </div>
                </div>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;div class="m-alert m-alert--danger"&gt;
  &lt;button class="a-button-transparent a-button--danger has-icon m-alert__close"&gt;&lt;i class="fa fa-close"&gt;&lt;/i&gt;&lt;/button&gt;
  &lt;h5 class="u-margin-bottom-xs"&gt;Danger alert&lt;/h5&gt;
  &lt;p class="u-margin-bottom"&gt;Some explanation.&lt;/p&gt;
  &lt;div class="m-alert__actions"&gt;
    &lt;button class="a-button-outline a-button--danger a-button--small"&gt;Cancel&lt;/button&gt;
    &lt;button class="a-button a-button--danger a-button--small"&gt;Got it&lt;/button&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
            </div>
        </div>

        <a name="molecules-breadcrumb"></a>
        <h3 class="d-h3">Breadcrumb</h3>
        <span class="d-file">molecules/molecules.breadcrumb</span>
        <div class="d">
            <div>
                <ul class="m-breadcrumbs">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Styleguide</a></li>
                    <li><a href="#">Molecules</a></li>
                    <li>Breadcrumb</li>
                </ul>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;ul class="m-breadcrumbs"&gt;
  &lt;li&gt;&lt;a href="#"&gt;Home&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#"&gt;Styleguide&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#"&gt;Molecules&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;Breadcrumb&lt;/li&gt;
&lt;/ul&gt;</code></pre>
            </div>
        </div>

        <a name="molecules-button-group"></a>
        <h3 class="d-h3">Button group</h3>
        <span class="d-file">molecules/molecules.button-group</span>
        <div class="d">
            <div>
                <div>
                    <div class="m-button-group u-margin-bottom">
                        <button class="a-button">Primary</button>
                        <button class="a-button">Button</button>
                        <button class="a-button">Group</button>
                    </div>
                </div>
                <div>
                    <div class="m-button-group u-margin-bottom">
                        <button class="a-button-negative">Primary</button>
                        <button class="a-button-negative">Button</button>
                        <button class="a-button-negative">Group</button>
                    </div>
                </div>
                <div>
                    <div class="m-button-group u-margin-bottom">
                        <button class="a-button-outline">Primary</button>
                        <button class="a-button-outline">Button</button>
                        <button class="a-button-outline">Group</button>
                    </div>
                    <div class="m-alert d-alert">
                        <p>Note that all button variations are possible in button groups. Go to the <a href="#atoms-button">buttons</a> section to check out all possibilities.</p>
                    </div>
                </div>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;div class="m-button-group"&gt;
  &lt;button class="a-button"&gt;Primary&lt;/button&gt;
  &lt;button class="a-button"&gt;Button&lt;/button&gt;
  &lt;button class="a-button"&gt;Group&lt;/button&gt;
&lt;/div&gt;</code></pre>
                <pre class="a-pre a-pre--scrollable"><code>&lt;div class="m-button-group"&gt;
  &lt;button class="a-button-negative"&gt;Primary&lt;/button&gt;
  &lt;button class="a-button-negative"&gt;Button&lt;/button&gt;
  &lt;button class="a-button-negative"&gt;Group&lt;/button&gt;
&lt;/div&gt;</code></pre>
                <pre class="a-pre a-pre--scrollable"><code>&lt;div class="m-button-group"&gt;
  &lt;button class="a-button-outline"&gt;Primary&lt;/button&gt;
  &lt;button class="a-button-outline"&gt;Button&lt;/button&gt;
  &lt;button class="a-button-outline"&gt;Group&lt;/button&gt;
&lt;/div&gt;</code></pre>
            </div>
        </div>

        <a name="molecules-button-list"></a>
        <h3 class="d-h3">Button list</h3>
        <span class="d-file">molecules/molecules.button-list</span>
        <div class="d">
            <div>
                <ul class="m-button-list">
                    <li>
                        <a href="#" class="a-button a-button--facebook has-icon">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="a-button a-button--twitter has-icon">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="a-button a-button--linkedin has-icon">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="a-button a-button--instagram has-icon">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="a-button a-button--google has-icon">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="a-button a-button--snapchat has-icon">
                            <i class="fa fa-snapchat-ghost"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;ul class="m-button-list"&gt;
  &lt;li&gt;&lt;a href="#" class="a-button a-button--facebook has-icon"&gt;&lt;i class="fa fa-facebook"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#" class="a-button a-button--twitter has-icon"&gt;&lt;i class="fa fa-twitter"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#" class="a-button a-button--linkedin has-icon"&gt;&lt;i class="fa fa-linkedin"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#" class="a-button a-button--instagram has-icon"&gt;&lt;i class="fa fa-instagram"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#" class="a-button a-button--google has-icon"&gt;&lt;i class="fa fa-google-plus"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#" class="a-button a-button--snapchat has-icon"&gt;&lt;i class="fa fa-snapchat-ghost"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <ul class="m-button-list m-button-list--horizontal">
                    <li>
                        <a href="#" class="a-button a-button--facebook has-icon">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="a-button a-button--twitter has-icon">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="a-button a-button--linkedin has-icon">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="a-button a-button--instagram has-icon">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="a-button a-button--google has-icon">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="a-button a-button--snapchat has-icon">
                            <i class="fa fa-snapchat-ghost"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;ul class="m-button-list m-button-list--horizontal"&gt;
  &lt;li&gt;&lt;a href="#" class="a-button a-button--facebook has-icon"&gt;&lt;i class="fa fa-facebook"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#" class="a-button a-button--twitter has-icon"&gt;&lt;i class="fa fa-twitter"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#" class="a-button a-button--linkedin has-icon"&gt;&lt;i class="fa fa-linkedin"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#" class="a-button a-button--instagram has-icon"&gt;&lt;i class="fa fa-instagram"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#" class="a-button a-button--google has-icon"&gt;&lt;i class="fa fa-google-plus"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#" class="a-button a-button--snapchat has-icon"&gt;&lt;i class="fa fa-snapchat-ghost"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</code></pre>
            </div>
        </div>

        <a name="molecules-card"></a>
        <h3 class="d-h3">Card</h3>
        <span class="d-file">molecules/molecules.card</span>
        <div class="d">
            <div>
                <div class="m-card">
                    <div class="m-card__header">
                        <div class="m-contact">
                            <div class="a-avatar a-avatar--small">
                                <img src="https://api.adorable.io/avatars/285/vergilius@adorable.png" alt="avatar image" />
                            </div>
                            <div class="m-contact__info">
                                <p class="u-text-bold">Publius Vergilius Maro</p>
                            </div>
                        </div>
                    </div>
                    <div class="m-card__image">
                        <img src="http://lorempixel.com/1000/500/fashion/5" alt="card image">
                    </div>
                    <div class="m-card__body">
                        <h5 class="u-margin-bottom-xs">Aeneis</h5>
                        <p class="small u-text-bold u-margin-bottom-xs">May 4th 2017, 12:34</p>
                        <p class="u-margin-bottom">Arma virumque cano, Troiae qui primus ab oris Italiam, fato profugus, Laviniaque venit litora, multum ille et terris iactatus et alto vi superum saevae memorem Iunonis ob iram. Multa quoque et bello passus, dum conderet urbem, inferretque deos Latio, genus unde Latinum, Albanique patres, atque altae moenia Romae.</p>
                        <p class="u-text-right">
                            <a href="#" class="has-icon-right">
                                Read more<i class="fa fa-angle-right"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;div class="m-card"&gt;
  &lt;div class="m-card__header"&gt;
    &lt;div class="m-contact"&gt;
      &lt;div class="a-avatar a-avatar--small"&gt;
        &lt;img src="https://api.adorable.io/avatars/285/vergilius@adorable.png" alt="avatar image" /&gt;
      &lt;/div&gt;
      &lt;div class="m-contact__info"&gt;
        &lt;p class="u-text-bold"&gt;Publius Vergilius Maro&lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="m-card__image"&gt;
    &lt;img src="http://lorempixel.com/1000/500/fashion/5" alt="card image"&gt;
  &lt;/div&gt;
  &lt;div class="m-card__body"&gt;
    &lt;h5 class="u-margin-bottom-xs"&gt;Aeneis&lt;/h5&gt;
    &lt;p class="small u-text-bold u-margin-bottom-xs"&gt;May 4th 2017, 12:34&lt;/p&gt;
    &lt;p class="u-margin-bottom"&gt;...&lt;/p&gt;
    &lt;p class="u-text-right"&gt;
      &lt;a href="#" class="has-icon-right"&gt;
        Read more&lt;i class="fa fa-angle-right"&gt;&lt;/i&gt;
      &lt;/a&gt;
    &lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
            </div>
        </div>

        <a name="molecules-contact"></a>
        <h3 class="d-h3">Contact</h3>
        <span class="d-file">molecules/molecules.contact</span>
        <div class="d">
            <div>
                <div class="m-contact u-margin-bottom">
                    <div class="a-avatar a-avatar--small">
                        <img src="https://api.adorable.io/avatars/285/jasper@adorable.png" alt="avatar image" />
                    </div>
                    <div class="m-contact__info">
                        <p class="u-text-bold">Jasper Van Proeyen</p>
                    </div>
                </div>
                <div class="m-contact">
                    <div class="a-avatar a-avatar--small">
                        <img src="https://api.adorable.io/avatars/285/sander@adorable.png" alt="avatar image" />
                    </div>
                    <div class="m-contact__info">
                        <p class="u-text-bold">Sander Geenen</p>
                        <p class="small">1 min ago</p>
                    </div>
                </div>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;div class="m-contact"&gt;
  &lt;div class="a-avatar a-avatar--small"&gt;
    &lt;img src="https://api.adorable.io/avatars/285/jasper@adorable.png" alt="avatar image" /&gt;
  &lt;/div&gt;
  &lt;div class="m-contact__info"&gt;
    &lt;p class="u-text-bold"&gt;Jasper Van Proeyen&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
                <pre class="a-pre a-pre--scrollable"><code>&lt;div class="m-contact"&gt;
  &lt;div class="a-avatar a-avatar--small"&gt;
    &lt;img src="https://api.adorable.io/avatars/285/sander@adorable.png" alt="avatar image" /&gt;
  &lt;/div&gt;
  &lt;div class="m-contact__info"&gt;
    &lt;p class="u-text-bold"&gt;Sander Geenen&lt;/p&gt;
    &lt;p class="small"&gt;1 min ago&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <div class="m-contact u-margin-bottom">
                    <div class="a-avatar">
                        <img src="https://api.adorable.io/avatars/285/jasper@adorable.png" alt="avatar image" />
                    </div>
                    <div class="m-contact__info">
                        <p class="u-text-bold">Jasper Van Proeyen</p>
                    </div>
                </div>
                <div class="m-contact">
                    <div class="a-avatar">
                        <img src="https://api.adorable.io/avatars/285/sander@adorable.png" alt="avatar image" />
                    </div>
                    <div class="m-contact__info">
                        <p class="u-text-bold">Sander Geenen</p>
                        <p class="small">1 min ago</p>
                    </div>
                </div>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;div class="m-contact"&gt;
  &lt;div class="a-avatar"&gt;
    &lt;img src="https://api.adorable.io/avatars/285/jasper@adorable.png" alt="avatar image" /&gt;
  &lt;/div&gt;
  &lt;div class="m-contact__info"&gt;
    &lt;p class="u-text-bold"&gt;Jasper Van Proeyen&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
                <pre class="a-pre a-pre--scrollable"><code>&lt;div class="m-contact"&gt;
  &lt;div class="a-avatar"&gt;
    &lt;img src="https://api.adorable.io/avatars/285/sander@adorable.png" alt="avatar image" /&gt;
  &lt;/div&gt;
  &lt;div class="m-contact__info"&gt;
    &lt;p class="u-text-bold"&gt;Sander Geenen&lt;/p&gt;
    &lt;p class="small"&gt;1 min ago&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
            </div>
        </div>

        <a name="molecules-datepicker"></a>
        <h3 class="d-h3">Datepicker</h3>
        <span class="d-file">molecules/molecules.datepicker</span>
        <h4 class="d-h4">Datepicker views</h4>
        <div class="d">
            <div>
                <div role="datepicker" class="m-datepicker is-open" aria-hidden="false">
                    <div class="m-datepicker__nav">
                        <button tabindex="-1" type="button" aria-label="previous month" class="a-button has-icon"><i class="fa fa-angle-left"></i></button>
                        <button tabindex="0" type="button" class="m-datepicker__title a-button">May 2017</button>
                        <button tabindex="0" type="button" aria-label="next month" class="a-button has-icon"><i class="fa fa-angle-right"></i></button>
                    </div>
                    <table>
                        <thead>
                            <tr class="m-datepicker__days">
                                <th>Mo</th>
                                <th>Tu</th>
                                <th>We</th>
                                <th>Th</th>
                                <th>Fr</th>
                                <th>Sa</th>
                                <th>Su</th>
                            </tr>
                        </thead>
                        <tbody class="m-datepicker__calendar">
                            <tr>
                                <td><button tabindex="0" type="button" class="is-faded">27</button></td>
                                <td><button tabindex="0" type="button" class="is-faded">28</button></td>
                                <td><button tabindex="0" type="button">1</button></td>
                                <td><button tabindex="0" type="button">2</button></td>
                                <td><button tabindex="0" type="button">3</button></td>
                                <td><button tabindex="0" type="button" class="is-unavailable">4</button></td>
                                <td><button tabindex="0" type="button" class="is-unavailable">5</button></td>
                            </tr>
                            <tr>
                                <td><button tabindex="0" type="button">6</button></td>
                                <td><button tabindex="0" type="button">7</button></td>
                                <td><button tabindex="0" type="button">8</button></td>
                                <td><button tabindex="0" type="button" class="is-selected">9</button></td>
                                <td><button tabindex="0" type="button">10</button></td>
                                <td><button tabindex="0" type="button" class="is-unavailable">11</button></td>
                                <td><button tabindex="0" type="button" class="is-unavailable">12</button></td>
                            </tr>
                            <tr>
                                <td><button tabindex="0" type="button">13</button></td>
                                <td><button tabindex="0" type="button">14</button></td>
                                <td><button tabindex="0" type="button">15</button></td>
                                <td><button tabindex="0" type="button">16</button></td>
                                <td><button tabindex="0" type="button">17</button></td>
                                <td><button tabindex="0" type="button" class="is-unavailable">18</button></td>
                                <td><button tabindex="0" type="button" class="is-unavailable">19</button></td>
                            </tr>
                            <tr>
                                <td><button tabindex="0" type="button">20</button></td>
                                <td><button tabindex="0" type="button" class="is-current">21</button></td>
                                <td><button tabindex="0" type="button">22</button></td>
                                <td><button tabindex="0" type="button">23</button></td>
                                <td><button tabindex="0" type="button">24</button></td>
                                <td><button tabindex="0" type="button" class="is-unavailable">25</button></td>
                                <td><button tabindex="0" type="button" class="is-unavailable">26</button></td>
                            </tr>
                            <tr>
                                <td><button tabindex="0" type="button">27</button></td>
                                <td><button tabindex="0" type="button">28</button></td>
                                <td><button tabindex="0" type="button">29</button></td>
                                <td><button tabindex="0" type="button">30</button></td>
                                <td><button tabindex="0" type="button">31</button></td>
                                <td><button tabindex="0" type="button" class="is-faded">1</button></td>
                                <td><button tabindex="0" type="button" class="is-faded">2</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;div role="datepicker" class="m-datepicker is-open" aria-hidden="false"&gt;
  &lt;div class="m-datepicker__nav"&gt;
    &lt;button tabindex="-1" type="button" aria-label="previous month" class="a-button has-icon"&gt;&lt;i class="fa fa-angle-left"&gt;&lt;/i&gt;&lt;/button&gt;
    &lt;button tabindex="0" type="button" class="m-datepicker__title a-button"&gt;May 2017&lt;/button&gt;
    &lt;button tabindex="0" type="button" aria-label="next month" class="a-button has-icon"&gt;&lt;i class="fa fa-angle-right"&gt;&lt;/i&gt;&lt;/button&gt;
  &lt;/div&gt;
  &lt;table&gt;
    &lt;thead&gt;
      &lt;tr class="m-datepicker__days"&gt;
        &lt;th&gt;Mo&lt;/th&gt;
        &lt;th&gt;Tu&lt;/th&gt;
        &lt;th&gt;We&lt;/th&gt;
        &lt;th&gt;Th&lt;/th&gt;
        &lt;th&gt;Fr&lt;/th&gt;
        &lt;th&gt;Sa&lt;/th&gt;
        &lt;th&gt;Su&lt;/th&gt;
      &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody class="m-datepicker__calendar"&gt;
      &lt;tr&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button" class="is-faded"&gt;27&lt;/button&gt;&lt;/td&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button" class="is-faded"&gt;28&lt;/button&gt;&lt;/td&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button"&gt;1&lt;/button&gt;&lt;/td&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button"&gt;2&lt;/button&gt;&lt;/td&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button"&gt;3&lt;/button&gt;&lt;/td&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button" class="is-unavailable"&gt;4&lt;/button&gt;&lt;/td&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button" class="is-unavailable"&gt;5&lt;/button&gt;&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button"&gt;6&lt;/button&gt;&lt;/td&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button"&gt;7&lt;/button&gt;&lt;/td&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button"&gt;8&lt;/button&gt;&lt;/td&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button" class="is-selected"&gt;9&lt;/button&gt;&lt;/td&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button"&gt;10&lt;/button&gt;&lt;/td&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button" class="is-unavailable"&gt;11&lt;/button&gt;&lt;/td&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button" class="is-unavailable"&gt;12&lt;/button&gt;&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button"&gt;13&lt;/button&gt;&lt;/td&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button"&gt;14&lt;/button&gt;&lt;/td&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button"&gt;15&lt;/button&gt;&lt;/td&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button"&gt;16&lt;/button&gt;&lt;/td&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button"&gt;17&lt;/button&gt;&lt;/td&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button" class="is-unavailable"&gt;18&lt;/button&gt;&lt;/td&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button" class="is-unavailable"&gt;19&lt;/button&gt;&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button"&gt;20&lt;/button&gt;&lt;/td&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button" class="is-current"&gt;21&lt;/button&gt;&lt;/td&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button"&gt;22&lt;/button&gt;&lt;/td&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button"&gt;23&lt;/button&gt;&lt;/td&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button"&gt;24&lt;/button&gt;&lt;/td&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button" class="is-unavailable"&gt;25&lt;/button&gt;&lt;/td&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button" class="is-unavailable"&gt;26&lt;/button&gt;&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button"&gt;27&lt;/button&gt;&lt;/td&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button"&gt;28&lt;/button&gt;&lt;/td&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button"&gt;29&lt;/button&gt;&lt;/td&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button"&gt;30&lt;/button&gt;&lt;/td&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button"&gt;31&lt;/button&gt;&lt;/td&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button" class="is-faded"&gt;1&lt;/button&gt;&lt;/td&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button" class="is-faded"&gt;2&lt;/button&gt;&lt;/td&gt;
      &lt;/tr&gt;
    &lt;/tbody&gt;
  &lt;/table&gt;
&lt;/div&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <div role="datepicker" class="m-datepicker is-open" aria-hidden="false">
                    <div class="m-datepicker__nav">
                        <button tabindex="-1" type="button" aria-label="previous month" class="a-button has-icon"><i class="fa fa-angle-left"></i></button>
                        <button tabindex="0" type="button" class="m-datepicker__title a-button">2017</button>
                        <button tabindex="0" type="button" aria-label="next month" class="a-button has-icon"><i class="fa fa-angle-right"></i></button>
                    </div>
                    <table>
                        <tbody class="m-datepicker__calendar">
                            <tr>
                                <td><button tabindex="0" type="button">Jan</button></td>
                                <td><button tabindex="0" type="button">Feb</button></td>
                                <td><button tabindex="0" type="button">Mar</button></td>
                                <td><button tabindex="0" type="button">Apr</button></td>
                            </tr>
                            <tr>
                                <td><button tabindex="0" type="button">May</button></td>
                                <td><button tabindex="0" type="button">Jun</button></td>
                                <td><button tabindex="0" type="button">Jul</button></td>
                                <td><button tabindex="0" type="button">Aug</button></td>
                            </tr>
                            <tr>
                                <td><button tabindex="0" type="button">Sep</button></td>
                                <td><button tabindex="0" type="button">Oct</button></td>
                                <td><button tabindex="0" type="button">Nov</button></td>
                                <td><button tabindex="0" type="button">Dec</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;div role="datepicker" class="m-datepicker is-open" aria-hidden="false"&gt;
  &lt;div class="m-datepicker__nav"&gt;
    &lt;button tabindex="-1" type="button" aria-label="previous month" class="a-button has-icon"&gt;&lt;i class="fa fa-angle-left"&gt;&lt;/i&gt;&lt;/button&gt;
    &lt;button tabindex="0" type="button" class="m-datepicker__title a-button"&gt;2017&lt;/button&gt;
    &lt;button tabindex="0" type="button" aria-label="next month" class="a-button has-icon"&gt;&lt;i class="fa fa-angle-right"&gt;&lt;/i&gt;&lt;/button&gt;
  &lt;/div&gt;
  &lt;table&gt;
    &lt;tbody class="m-datepicker__calendar"&gt;
      &lt;tr&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button"&gt;Jan&lt;/button&gt;&lt;/td&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button"&gt;Feb&lt;/button&gt;&lt;/td&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button"&gt;Mar&lt;/button&gt;&lt;/td&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button"&gt;Apr&lt;/button&gt;&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button"&gt;May&lt;/button&gt;&lt;/td&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button"&gt;Jun&lt;/button&gt;&lt;/td&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button"&gt;Jul&lt;/button&gt;&lt;/td&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button"&gt;Aug&lt;/button&gt;&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button"&gt;Sep&lt;/button&gt;&lt;/td&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button"&gt;Oct&lt;/button&gt;&lt;/td&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button"&gt;Nov&lt;/button&gt;&lt;/td&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button"&gt;Dec&lt;/button&gt;&lt;/td&gt;
      &lt;/tr&gt;
    &lt;/tbody&gt;
  &lt;/table&gt;
&lt;/div&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <div role="datepicker" class="m-datepicker is-open" aria-hidden="false">
                    <div class="m-datepicker__nav">
                        <button tabindex="-1" type="button" aria-label="previous years" class="a-button has-icon"><i class="fa fa-angle-left"></i></button>
                        <button tabindex="0" type="button" class="m-datepicker__title a-button">2007 - 2018</button>
                        <button tabindex="0" type="button" aria-label="next years" class="a-button has-icon"><i class="fa fa-angle-right"></i></button>
                    </div>
                    <table>
                        <tbody class="m-datepicker__calendar">
                            <tr>
                                <td><button tabindex="0" type="button">2007</button></td>
                                <td><button tabindex="0" type="button">2008</button></td>
                                <td><button tabindex="0" type="button">2009</button></td>
                                <td><button tabindex="0" type="button">2010</button></td>
                            </tr>
                            <tr>
                                <td><button tabindex="0" type="button">2011</button></td>
                                <td><button tabindex="0" type="button">2012</button></td>
                                <td><button tabindex="0" type="button">2013</button></td>
                                <td><button tabindex="0" type="button">2014</button></td>
                            </tr>
                            <tr>
                                <td><button tabindex="0" type="button">2015</button></td>
                                <td><button tabindex="0" type="button">2016</button></td>
                                <td><button tabindex="0" type="button">2017</button></td>
                                <td><button tabindex="0" type="button">2018</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;div role="datepicker" class="m-datepicker is-open" aria-hidden="false"&gt;
  &lt;div class="m-datepicker__nav"&gt;
    &lt;button tabindex="-1" type="button" aria-label="previous years" class="a-button has-icon"&gt;&lt;i class="fa fa-angle-left"&gt;&lt;/i&gt;&lt;/button&gt;
    &lt;button tabindex="0" type="button" class="m-datepicker__title a-button"&gt;2007 - 2018&lt;/button&gt;
    &lt;button tabindex="0" type="button" aria-label="next years" class="a-button has-icon"&gt;&lt;i class="fa fa-angle-right"&gt;&lt;/i&gt;&lt;/button&gt;
  &lt;/div&gt;
  &lt;table&gt;
    &lt;tbody class="m-datepicker__calendar"&gt;
      &lt;tr&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button"&gt;2007&lt;/button&gt;&lt;/td&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button"&gt;2008&lt;/button&gt;&lt;/td&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button"&gt;2009&lt;/button&gt;&lt;/td&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button"&gt;2010&lt;/button&gt;&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button"&gt;2011&lt;/button&gt;&lt;/td&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button"&gt;2012&lt;/button&gt;&lt;/td&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button"&gt;2013&lt;/button&gt;&lt;/td&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button"&gt;2014&lt;/button&gt;&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button"&gt;2015&lt;/button&gt;&lt;/td&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button"&gt;2016&lt;/button&gt;&lt;/td&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button"&gt;2017&lt;/button&gt;&lt;/td&gt;
        &lt;td&gt;&lt;button tabindex="0" type="button"&gt;2018&lt;/button&gt;&lt;/td&gt;
      &lt;/tr&gt;
    &lt;/tbody&gt;
  &lt;/table&gt;
&lt;/div&gt;</code></pre>
            </div>
        </div>

        <h4 class="d-h4">Datepicker attached to an input field</h4>
        <div class="d">
            <div>
                <div>
                    <div class="a-input has-icon-right">
                        <label class="a-input__label" for="input-datepicker">Text field label</label>
                        <div class="a-input__wrapper">
                            <input type="text" name="input-datepicker" id="input-datepicker" placeholder="Placeholder" />
                            <span class="fa fa-calendar is-clickable"></span>
                            <div role="datepicker" class="m-datepicker is-open m-datepicker--fixed" aria-hidden="false">
                                <div class="m-datepicker__nav">
                                    <button tabindex="-1" type="button" aria-label="previous month" class="a-button has-icon">
                                        <i class="fa fa-angle-left"></i>
                                    </button>
                                    <button tabindex="0" type="button" class="m-datepicker__title a-button">May 2017</button>
                                    <button tabindex="0" type="button" aria-label="next month" class="a-button has-icon"><i class="fa fa-angle-right"></i></button>
                                </div>
                                <table>
                                    <thead>
                                        <tr class="m-datepicker__days">
                                            <th>Mo</th>
                                            <th>Tu</th>
                                            <th>We</th>
                                            <th>Th</th>
                                            <th>Fr</th>
                                            <th>Sa</th>
                                            <th>Su</th>
                                        </tr>
                                    </thead>
                                    <tbody class="m-datepicker__calendar">
                                        <tr>
                                            <td><button tabindex="0" type="button" class="is-faded">27</button></td>
                                            <td><button tabindex="0" type="button" class="is-faded">28</button></td>
                                            <td><button tabindex="0" type="button">1</button></td>
                                            <td><button tabindex="0" type="button">2</button></td>
                                            <td><button tabindex="0" type="button">3</button></td>
                                            <td><button tabindex="0" type="button" class="is-unavailable">4</button></td>
                                            <td><button tabindex="0" type="button" class="is-unavailable">5</button></td>
                                        </tr>
                                        <tr>
                                            <td><button tabindex="0" type="button">6</button></td>
                                            <td><button tabindex="0" type="button">7</button></td>
                                            <td><button tabindex="0" type="button">8</button></td>
                                            <td><button tabindex="0" type="button" class="is-selected">9</button></td>
                                            <td><button tabindex="0" type="button">10</button></td>
                                            <td><button tabindex="0" type="button" class="is-unavailable">11</button></td>
                                            <td><button tabindex="0" type="button" class="is-unavailable">12</button></td>
                                        </tr>
                                        <tr>
                                            <td><button tabindex="0" type="button">13</button></td>
                                            <td><button tabindex="0" type="button">14</button></td>
                                            <td><button tabindex="0" type="button">15</button></td>
                                            <td><button tabindex="0" type="button">16</button></td>
                                            <td><button tabindex="0" type="button">17</button></td>
                                            <td><button tabindex="0" type="button" class="is-unavailable">18</button></td>
                                            <td><button tabindex="0" type="button" class="is-unavailable">19</button></td>
                                        </tr>
                                        <tr>
                                            <td><button tabindex="0" type="button">20</button></td>
                                            <td><button tabindex="0" type="button" class="is-current">21</button></td>
                                            <td><button tabindex="0" type="button">22</button></td>
                                            <td><button tabindex="0" type="button">23</button></td>
                                            <td><button tabindex="0" type="button">24</button></td>
                                            <td><button tabindex="0" type="button" class="is-unavailable">25</button></td>
                                            <td><button tabindex="0" type="button" class="is-unavailable">26</button></td>
                                        </tr>
                                        <tr>
                                            <td><button tabindex="0" type="button">27</button></td>
                                            <td><button tabindex="0" type="button">28</button></td>
                                            <td><button tabindex="0" type="button">29</button></td>
                                            <td><button tabindex="0" type="button">30</button></td>
                                            <td><button tabindex="0" type="button">31</button></td>
                                            <td><button tabindex="0" type="button" class="is-faded">1</button></td>
                                            <td><button tabindex="0" type="button" class="is-faded">2</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-alert d-alert u-margin-bottom d-alert-datepicker">
                    <p>To make the datepicker visible, just add the <code>.is-open</code> class, as demonstrated in the example.</p>
                </div>
                <div class="m-alert d-alert u-margin-bottom">
                    <p>In the rare case that you want your datepicker to open on the left side of the input field, just add the <code>.m-datepicker--left</code> class.</p>
                </div>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;div class="a-input has-icon-right"&gt;
  &lt;label class="a-input__label" for="input-datepicker"&gt;Text field label&lt;/label&gt;
  &lt;div class="a-input__wrapper"&gt;
    &lt;input type="text" name="input-datepicker" id="input-datepicker" placeholder="Placeholder" /&gt;
    &lt;span class="fa fa-calendar is-clickable"&gt;&lt;/span&gt;
    &lt;div role="datepicker" class="m-datepicker is-open m-datepicker--fixed" aria-hidden="false"&gt;
      &lt;div class="m-datepicker__nav"&gt;
        &lt;button tabindex="-1" type="button" aria-label="previous month" class="a-button has-icon"&gt;
          &lt;i class="fa fa-angle-left"&gt;&lt;/i&gt;
        &lt;/button&gt;
        &lt;button tabindex="0" type="button" class="m-datepicker__title a-button"&gt;May 2017&lt;/button&gt;
        &lt;button tabindex="0" type="button" aria-label="next month" class="a-button has-icon"&gt;&lt;i class="fa fa-angle-right"&gt;&lt;/i&gt;&lt;/button&gt;
      &lt;/div&gt;
      &lt;table&gt;
        &lt;thead&gt;
          &lt;tr class="m-datepicker__days"&gt;
            &lt;th&gt;Mo&lt;/th&gt;
            &lt;th&gt;Tu&lt;/th&gt;
            &lt;th&gt;We&lt;/th&gt;
            &lt;th&gt;Th&lt;/th&gt;
            &lt;th&gt;Fr&lt;/th&gt;
            &lt;th&gt;Sa&lt;/th&gt;
            &lt;th&gt;Su&lt;/th&gt;
          &lt;/tr&gt;
        &lt;/thead&gt;
        &lt;tbody class="m-datepicker__calendar"&gt;
          &lt;tr&gt;
            &lt;td&gt;&lt;button tabindex="0" type="button" class="is-faded"&gt;27&lt;/button&gt;&lt;/td&gt;
            &lt;td&gt;&lt;button tabindex="0" type="button" class="is-faded"&gt;28&lt;/button&gt;&lt;/td&gt;
            &lt;td&gt;&lt;button tabindex="0" type="button"&gt;1&lt;/button&gt;&lt;/td&gt;
            &lt;td&gt;&lt;button tabindex="0" type="button"&gt;2&lt;/button&gt;&lt;/td&gt;
            &lt;td&gt;&lt;button tabindex="0" type="button"&gt;3&lt;/button&gt;&lt;/td&gt;
            &lt;td&gt;&lt;button tabindex="0" type="button" class="is-unavailable"&gt;4&lt;/button&gt;&lt;/td&gt;
            &lt;td&gt;&lt;button tabindex="0" type="button" class="is-unavailable"&gt;5&lt;/button&gt;&lt;/td&gt;
          &lt;/tr&gt;
          &lt;tr&gt;
            &lt;td&gt;&lt;button tabindex="0" type="button"&gt;6&lt;/button&gt;&lt;/td&gt;
            &lt;td&gt;&lt;button tabindex="0" type="button"&gt;7&lt;/button&gt;&lt;/td&gt;
            &lt;td&gt;&lt;button tabindex="0" type="button"&gt;8&lt;/button&gt;&lt;/td&gt;
            &lt;td&gt;&lt;button tabindex="0" type="button" class="is-selected"&gt;9&lt;/button&gt;&lt;/td&gt;
            &lt;td&gt;&lt;button tabindex="0" type="button"&gt;10&lt;/button&gt;&lt;/td&gt;
            &lt;td&gt;&lt;button tabindex="0" type="button" class="is-unavailable"&gt;11&lt;/button&gt;&lt;/td&gt;
            &lt;td&gt;&lt;button tabindex="0" type="button" class="is-unavailable"&gt;12&lt;/button&gt;&lt;/td&gt;
          &lt;/tr&gt;
          &lt;tr&gt;
            &lt;td&gt;&lt;button tabindex="0" type="button"&gt;13&lt;/button&gt;&lt;/td&gt;
            &lt;td&gt;&lt;button tabindex="0" type="button"&gt;14&lt;/button&gt;&lt;/td&gt;
            &lt;td&gt;&lt;button tabindex="0" type="button"&gt;15&lt;/button&gt;&lt;/td&gt;
            &lt;td&gt;&lt;button tabindex="0" type="button"&gt;16&lt;/button&gt;&lt;/td&gt;
            &lt;td&gt;&lt;button tabindex="0" type="button"&gt;17&lt;/button&gt;&lt;/td&gt;
            &lt;td&gt;&lt;button tabindex="0" type="button" class="is-unavailable"&gt;18&lt;/button&gt;&lt;/td&gt;
            &lt;td&gt;&lt;button tabindex="0" type="button" class="is-unavailable"&gt;19&lt;/button&gt;&lt;/td&gt;
          &lt;/tr&gt;
          &lt;tr&gt;
            &lt;td&gt;&lt;button tabindex="0" type="button"&gt;20&lt;/button&gt;&lt;/td&gt;
            &lt;td&gt;&lt;button tabindex="0" type="button" class="is-current"&gt;21&lt;/button&gt;&lt;/td&gt;
            &lt;td&gt;&lt;button tabindex="0" type="button"&gt;22&lt;/button&gt;&lt;/td&gt;
            &lt;td&gt;&lt;button tabindex="0" type="button"&gt;23&lt;/button&gt;&lt;/td&gt;
            &lt;td&gt;&lt;button tabindex="0" type="button"&gt;24&lt;/button&gt;&lt;/td&gt;
            &lt;td&gt;&lt;button tabindex="0" type="button" class="is-unavailable"&gt;25&lt;/button&gt;&lt;/td&gt;
            &lt;td&gt;&lt;button tabindex="0" type="button" class="is-unavailable"&gt;26&lt;/button&gt;&lt;/td&gt;
          &lt;/tr&gt;
          &lt;tr&gt;
            &lt;td&gt;&lt;button tabindex="0" type="button"&gt;27&lt;/button&gt;&lt;/td&gt;
            &lt;td&gt;&lt;button tabindex="0" type="button"&gt;28&lt;/button&gt;&lt;/td&gt;
            &lt;td&gt;&lt;button tabindex="0" type="button"&gt;29&lt;/button&gt;&lt;/td&gt;
            &lt;td&gt;&lt;button tabindex="0" type="button"&gt;30&lt;/button&gt;&lt;/td&gt;
            &lt;td&gt;&lt;button tabindex="0" type="button"&gt;31&lt;/button&gt;&lt;/td&gt;
            &lt;td&gt;&lt;button tabindex="0" type="button" class="is-faded"&gt;1&lt;/button&gt;&lt;/td&gt;
            &lt;td&gt;&lt;button tabindex="0" type="button" class="is-faded"&gt;2&lt;/button&gt;&lt;/td&gt;
          &lt;/tr&gt;
        &lt;/tbody&gt;
      &lt;/table&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
                <pre class="a-pre a-pre--scrollable"><code>// To open your datepicker on the left side of your input field
...
&lt;div role="datepicker" class="m-datepicker m-datepicker--left is-open m-datepicker--fixed" aria-hidden="false"&gt;
...</code></pre>
            </div>
        </div>

        <a name="molecules-flyout"></a>
        <h3 class="d-h3">Flyout</h3>
        <span class="d-file">atoms/atoms.flyout</span>
        

        <a name="molecules-gallery"></a>
        <h3 class="d-h3">Gallery</h3>
        <span class="d-file">molecules/molecules.gallery</span>

        <a name="molecules-icon-list"></a>
        <h3 class="d-h3">Icon list</h3>
        <span class="d-file">molecules/molecules.icon-list</span>

        <a name="molecules-image"></a>
        <h3 class="d-h3">Image</h3>
        <span class="d-file">molecules/molecules.image</span>

        <a name="molecules-modal"></a>
        <h3 class="d-h3">Modal</h3>
        <span class="d-file">molecules/molecules.modal</span>

        <a name="molecules-navigation"></a>
        <h3 class="d-h3">Navigation</h3>
        <span class="d-file">molecules/molecules.navigation</span>

        <a name="molecules-overlay"></a>
        <h3 class="d-h3">Overlay</h3>
        <span class="d-file">molecules/molecules.overlay</span>

        <a name="molecules-pagination"></a>
        <h3 class="d-h3">Pagination</h3>
        <span class="d-file">molecules/molecules.pagination</span>

        <a name="molecules-progress"></a>
        <h3 class="d-h3">Progress</h3>
        <span class="d-file">molecules/molecules.progress</span>

        <a name="molecules-range-slider"></a>
        <h3 class="d-h3">Range slider</h3>
        <span class="d-file">molecules/molecules.range-slider</span>

        <a name="molecules-selectable-list"></a>
        <h3 class="d-h3">Selectable list</h3>
        <span class="d-file">molecules/molecules.selectable-list</span>

        <a name="molecules-step-indicator"></a>
        <h3 class="d-h3">Step indicator</h3>
        <span class="d-file">molecules/molecules.step-indicator</span>

        <a name="molecules-tag"></a>
        <h3 class="d-h3">Tag</h3>
        <span class="d-file">molecules/molecules.tag</span>

        <a name="molecules-upload"></a>
        <h3 class="d-h3">Upload</h3>
        <span class="d-file">molecules/molecules.upload</span>
    </div>
</div>
