<div class="u-wrapper">
    <div class="u-container">
        <h3 class="d-h3">Footer</h3>
        <span class="d-file">organisms/organisms.footer</span>

        <h3 class="d-h3">Header</h3>
        <span class="d-file">organisms/organisms.header</span>

        <h3 class="d-h3">Slideshow</h3>
        <span class="d-file">organisms/organisms.slideshow</span>

        <h3 class="d-h3">Tag list</h3>
        <span class="d-file">organisms/organisms.tag-list</span>
    </div>
</div>
