<a name="quarks" aria-label="Quarks"></a>
<div class="u-wrapper u-margin-top d-h2">
    <div class="u-container">
        <h2>Quarks</h2>
    </div>
</div>
<div class="u-wrapper">
    <div class="u-container">
        <div class="d">
            <div>
                <p>You can treat this part of the package as the API of our styling library. Include it on top of your custom stylesheet in order to have access to all defined variables, mixins and functions.</p>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code class="scss">@import 'quarks';</code></pre>
            </div>
        </div>



        <a name="quarks-mixins" aria-label="Mixins"></a>
        <h3 class="u-margin-top-xl">Mixins</h3>
        <span class="d-file">quarks/quarks.mixins</span>
        <div class="d">
            <div>
                <p>More mixins are available, but the following are the more important ones.</p>
            </div>
        </div>
        <div class="d">
            <div>
                <p>Force an element to self-clear its children</p>
                <div class="m-alert d-alert">
                    <p>Note that you can also use the <code>.clearfix</code> class.</p>
                </div>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code class="scss">.css {
  @include clearfix;
}</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <p>Responsive mixins</p>
                <div class="m-alert d-alert">
                    <p>Note that working mobile first is encouraged, so try to limit the use of the <code>to</code> mixin.</p>
                </div>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code class="scss">.css {
  @include at($screen) {
    /* Anything bigger than $screen */
  }

  @include to($screen-xs-max) {
    /* Anything smaller or equal than $screen */
  }
}</code></pre>
            </div>
        </div>



        <a name="quarks-functions" aria-label="Functions"></a>
        <h3 class="u-margin-top-xl">Functions</h3>
        <span class="d-file">quarks/quarks.functions</span>
        <div class="d">
            <div>
                <p>More functions are available, but the following are the more important ones.</p>
            </div>
        </div>
        <div class="d">
            <div>
                <p>Convert pixels to rem</p>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code class="scss">.css {
  margin: rem(32px) / 16 * 1rem // margin: 2rem;
}</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <p>Correctly handle z-indexes</p>
                <div class="m-alert m-alert d-alert">
                    <p>For all options, see below <a href="#quarks-variables">in the variables section</a>.</p>
                </div>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code class="scss">.css {
  z-index: layer('base'); // z-index: 1;
}</code></pre>
            </div>
        </div>



        <a name="quarks-colors" aria-label="Colors"></a>
        <h3 class="u-margin-top-xl">Colors</h3>
        <span class="d-file">quarks/quarks.colors</span>
        <div class="d">
            <div>
                <p>An overview of the complete color palette.</p>
                <ul class="u-list-unstyled d-list d-list__colors">
                    {% for color in COLORS %}
                        <li class="d-{{ color.name | escape | replace('$', '') }}">
                            <span class="d-color" style="background: {{ color.value }}" aria-hidden="true"></span>
                            <code>{{ color.name }}</code> <strong>{{ color.value }}</strong></small>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>



        <a name="quarks-properties" aria-label="Custom properties"></a>
        <h3 class="u-margin-top-xl">Custom properties</h3>
        <span class="d-file">quarks/quarks.properties</span>
        <div class="d">
            <div>
                <p>An overview of all available <code>:root</code> CSS custom properties. Override these only if you are writing a custom theme based on core branding.</p>
                <div class="d-p__variables u-margin-bottom">
                    <h4 class="u-margin-top">Theme colors</h4>
                    <h5 class="u-margin-top-xs">Theme 1</h5>
                    <p><code>--theme1-800</code>, <code>--theme1-700</code>, <code>--theme1-600</code>, <code>--theme1-500</code>, <code>--theme1-400</code>, <code>--theme1-300</code>, <code>--theme1-200</code>, <code>--theme1-100</code></p>
                    <h5 class="u-margin-top-xs">Theme 2</h5>
                    <p><code>--theme1-800</code>, <code>--theme1-700</code>, <code>--theme1-600</code>, <code>--theme1-500</code>, <code>--theme1-400</code>, <code>--theme1-300</code>, <code>--theme1-200</code>, <code>--theme1-100</code></p>
                    <h5 class="u-margin-top-xs">Success</h5>
                    <p><code>--success-800</code>, <code>--success-700</code>, <code>--success-600</code>, <code>--success-500</code>, <code>--success-400</code>, <code>--success-300</code>, <code>--success-200</code>, <code>--success-100</code></p>
                    <h5 class="u-margin-top-xs">Warning</h5>
                    <p><code>--warning-800</code>, <code>--warning-700</code>, <code>--warning-600</code>, <code>--warning-500</code>, <code>--warning-400</code>, <code>--warning-300</code>, <code>--warning-200</code>, <code>--warning-100</code></p>
                    <h5 class="u-margin-top-xs">Danger</h5>
                    <p><code>--danger-800</code>, <code>--danger-700</code>, <code>--danger-600</code>, <code>--danger-500</code>, <code>--danger-400</code>, <code>--danger-300</code>, <code>--danger-200</code>, <code>--danger-100</code></p>

                    <h4 class="u-margin-top">UI colors</h4>
                    <h5 class="u-margin-top-xs">State</h5>
                    <p><code>--state-info</code>, <code>--state-success</code>, <code>--state-warning</code>, <code>--state-danger</code>, <code>--state-disabled</code></p>
                    <h5 class="u-margin-top-xs">Text</h5>
                    <p><code>--text-color</code>, <code>--text-color-light</code>, <code>--text-color-xlight</code></p>
                    <h5 class="u-margin-top-xs">Backgrounds</h5>
                    <p><code>--bg-color</code>, <code>--bg-color-light</code></p>
                    <h5 class="u-margin-top-xs">Hyperlinks</h5>
                    <p><code>--link-color</code>, <code>--link-hover-color</code></p>
                    <h5 class="u-margin-top-xs">Misc</h5>
                    <p><code>--border-color</code>, <code>--overlay-color</code>, <code>--box-shadow-color</code></p>

                    <h4 class="u-margin-top">Typography</h4>
                    <h5 class="u-margin-top-xs">Font-families</h5>
                    <p><code>--font-family-base</code>, <code>--font-family-headings</code>, <code>--font-family-monospace</code></p>
                    <h5 class="u-margin-top-xs">Font weights</h5>
                    <p><code>--font-weight-light</code>, <code>--font-weight-normal</code>, <code>--font-weight-bold</code>, <code>--font-weight-extra-bold</code>, <code>--font-weight-h1</code>, <code>--font-weight-h2</code>, <code>--font-weight-h3</code>, <code>--font-weight-h4</code>, <code>--font-weight-h5</code>, <code>--font-weight-h6</code></p>

                    <h4 class="u-margin-top">Layout</h4>
                    <h5 class="u-margin-top-xs">Spacers</h5>
                    <p><code>--spacer</code>, <code>--spacer-3xl</code>, <code>--spacer-xxl</code>, <code>--spacer-xl</code>, <code>--spacer-l</code>, <code>--spacer-s</code>, <code>--spacer-xs</code>, <code>--spacer-xxs</code>, <code>--spacer-3xs</code></p>
                    <h5 class="u-margin-top-xs">Breakpoints</h5>
                    <p><code>--screen-xs</code>, <code>--screen-xs-max</code>, <code>--screen-s</code>, <code>--screen-s-max</code>, <code>--screen-l</code>, <code>--screen-l-max</code>, <code>--screen-xl</code>, <code>--screen-xl-max</code>, <code>--screen-xxl</code></p>
                    <h5 class="u-margin-top-xs">Border</h5>
                    <p><code>--border-radius</code>, <code>--border-width</code></p>
                    <h5 class="u-margin-top-xs">Box-shadow</h5>
                    <p><code>--box-shadow</code>, <code>--box-shadow-bottom-left</code>, <code>--box-shadow-bottom-right</code>, <code>--box-shadow-top-left</code>, <code>--box-shadow-top-right</code></p>
                    <h5 class="u-margin-top-xs">Animation</h5>
                    <p><code>--animation-duration</code>, <code>--animation-easing</code>, <code>--animation-normal</code></p>
                </div>
            </div>
        </div>
    </div>
</div>
