<div class="u-wrapper d-h2">
    <div class="u-container">
        <h2>Utilities</h2>
    </div>
</div>
<div class="u-wrapper">
    <div class="u-container">
        <h3 class="d-h3">Background</h3>
        <span class="d-file">utilities/utilities.background</span>

        <h3 class="d-h3">Layout</h3>
        <span class="d-file">utilities/utilities.layout</span>

        <h3 class="d-h3">Spacing</h3>
        <span class="d-file">utilities/utilities.spacing</span>

        <h3 class="d-h3">Typography</h3>
        <span class="d-file">utilities/utilities.typography</span>
    </div>
</div>
