/**
 * LAYOUT HELPERS
 * -------------------------------------------------------------------
 */


/**
 * LAYOUT CONTAINERS
 * -------------------------------------------------------------------
 */

.u-wrapper {
  @include at($screen-xs) {
    padding-left: $spacer * 3;
  }

  @include at($screen-md) {
    padding-left: $spacer-xx;
  }

  @include at($screen-xl) {
    margin: 0 auto;
    padding: 0;
  }
}

.u-container {
  margin: 0 auto;
  max-width: $screen-lg;
  padding: 0 $spacer;
}


/**
 * LAYOUT SCROLLING
 * -------------------------------------------------------------------
 */

.u-no-overflow {
  overflow: hidden;
}


/**
 * LAYOUT CLEARANCE
 * -------------------------------------------------------------------
 */

.u-clearfix {
  @include clearfix;
}


/**
 * ACCESSIBILITY CLASSES
 * -------------------------------------------------------------------
 */

%u-screen-reader-only {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}

.u-screen-reader-only {
  @extend %u-screen-reader-only;
}
