/**
 * BACKGROUND COLOR CLASSES
 * -------------------------------------------------------------------
 */

.u-bg {
  background-color: var(--bg-color);
}

.u-bg-light {
  background-color: var(--bg-color-light);
}

.u-bg-primary {
  background-color: var(--theme1-400);
}

.u-bg-secondary {
  background-color: var(--theme2-400);
}

.u-bg-success {
  background-color: var(--state-success);
}

.u-bg-warning {
  background-color: var(--state-warning);
}

.u-bg-danger {
  background-color: var(--state-danger);
}

.u-bg-white {
  background-color: $white;
}

.u-bg-black {
  background-color: $gray-600;
}
