/**
 * TEXT HELPERS
 * -------------------------------------------------------------------
 */

/**
 * TEXT STYLE CLASSES
 * -------------------------------------------------------------------
 */

.u-text-bold {
  font-weight: var(--FONT-WEIGHT-BOLD);
}

.u-text-italic {
  font-style: italic;
}

.u-text-underline {
  text-decoration: underline;
}

/**
 * TEXT ALIGNMENT CLASSES
 * -------------------------------------------------------------------
 */

.u-text-left {
  text-align: left;
}

.u-text-center {
  text-align: center;
}

.u-text-right {
  text-align: right;
}

.u-text-justify {
  text-align: justify;
}

/**
 * TEXT TRANSFORMATION CLASSES
 * -------------------------------------------------------------------
 */

.u-text-lowercase {
  text-transform: lowercase;
}

.u-text-uppercase {
  text-transform: uppercase;
}

.u-text-capitalize {
  text-transform: capitalize;
}

/**
 * TEXT COLOR CLASSES
 * -------------------------------------------------------------------
 */

.u-text-primary {
  color: var(--THEME1-600);
}

.u-text-secondary {
  color: var(--THEME2-400);
}

.u-text-success {
  color: var(--STATE-SUCCESS);
}

.u-text-warning {
  color: var(--STATE-WARNING);
}

.u-text-danger {
  color: var(--STATE-DANGER);
}

.u-text-light {
  color: var(--TEXT-COLOR-LIGHT);
}

.u-text-xlight {
  color: var(--TEXT-COLOR-XLIGHT);
}

/**
 * TEXT OVERFLOW CLASSES
 * -------------------------------------------------------------------
 */

%u-text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.u-text-truncate {
  @extend %u-text-truncate;
}

/**
 * TEXT ACCESSIBILITY CLASSES
 * -------------------------------------------------------------------
 */

.u-text-readable {
  max-width: $readable-content-width;
}
