/**
 * LAYOUT HELPERS
 * -------------------------------------------------------------------
 */


/**
 * LAYOUT CONTAINERS
 * -------------------------------------------------------------------
 */

.u-wrapper {
  @include at($screen-xs) {
    padding-left: $spacer * 3;
  }

  @include at($screen-xl) {
    margin: 0 auto;
    padding: 0;
  }
}

.u-container {
  margin: 0 auto;
  max-width: $screen-lg;
  padding: 0 $spacer;
  width: 100%;
}


/**
 * VIEWPORT HELPERS
 * -------------------------------------------------------------------
 */
.u-viewport-vertical {
  height: 100vh;
  overflow: hidden;
  position: relative;
}


/**
 * SCROLL HELPERS
 * -------------------------------------------------------------------
 */
.u-horizontal-scroll {
  overflow-x: auto;
  overflow-y: hidden;
}

.u-vertical-scroll {
  overflow-x: hidden;
  overflow-y: auto;
}

.u-no-scroll {
  overflow: hidden;
}


/**
 * HORIZONTAL & VERTICAL CONTAINERS
 * -------------------------------------------------------------------
 */

.u-container-horizontal,
.u-container-vertical {
  display: flex;
  height: 100%;
}

.u-container-vertical {
  flex-direction: column;
}

.u-container--filled {
  flex: 1;
  overflow: hidden;
  position: relative;
}


/**
 * LAYOUT SCROLLING
 * -------------------------------------------------------------------
 */


/**
 * LAYOUT CLEARANCE
 * -------------------------------------------------------------------
 */

.u-clearfix {
  @include clearfix;
}


/**
 * ACCESSIBILITY CLASSES
 * -------------------------------------------------------------------
 */

%u-screen-reader-only {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}

.u-screen-reader-only {
  @extend %u-screen-reader-only;
}
