/**
 * SPACING HELPERS
 * -------------------------------------------------------------------
 * Helper classes for adding or removing space between elements
 */


/**
 * MARGIN
 * -------------------------------------------------------------------
 */

.u-margin-xx {
  margin: var(--spacer-3xl) !important;
}

.u-margin-lg {
  margin: var(--spacer-lg) !important;
}

.u-margin-md {
  margin: var(--spacer-md) !important;
}

.u-margin {
  margin: var(--spacer) !important;
}

.u-margin-sm {
  margin: var(--spacer-sm) !important;
}

.u-margin-xs {
  margin: var(--spacer-xs) !important;
}

.u-no-margin {
  margin: 0 !important;
}


/**
 * MARGIN TOP
 * -------------------------------------------------------------------
 */

.u-margin-top-xx {
  margin-top: var(--spacer-3xl) !important;
}

.u-margin-top-lg {
  margin-top: var(--spacer-lg) !important;
}

.u-margin-top-md {
  margin-top: var(--spacer-md) !important;
}

.u-margin-top {
  margin-top: var(--spacer) !important;
}

.u-margin-top-sm {
  margin-top: var(--spacer-sm) !important;
}

.u-margin-top-xs {
  margin-top: var(--spacer-xs) !important;
}

.u-no-margin-top {
  margin-top: 0 !important;
}


/**
 * MARGIN RIGHT
 * -------------------------------------------------------------------
 */

.u-margin-right-xx {
  margin-right: var(--spacer-3xl) !important;
}

.u-margin-right-lg {
  margin-right: var(--spacer-lg) !important;
}

.u-margin-right-md {
  margin-right: var(--spacer-md) !important;
}

.u-margin-right {
  margin-right: var(--spacer) !important;
}

.u-margin-right-sm {
  margin-right: var(--spacer-sm) !important;
}

.u-margin-right-xs {
  margin-right: var(--spacer-xs) !important;
}

.u-no-margin-right {
  margin-right: 0 !important;
}


/**
 * MARGIN BOTTOM
 * -------------------------------------------------------------------
 */

.u-margin-bottom-xx {
  margin-bottom: var(--spacer-3xl) !important;
}

.u-margin-bottom-lg {
  margin-bottom: var(--spacer-lg) !important;
}

.u-margin-bottom-md {
  margin-bottom: var(--spacer-md) !important;
}

.u-margin-bottom {
  margin-bottom: var(--spacer) !important;
}

.u-margin-bottom-sm {
  margin-bottom: var(--spacer-sm) !important;
}

.u-margin-bottom-xs {
  margin-bottom: var(--spacer-xs) !important;
}

.u-no-margin-bottom {
  margin-bottom: 0 !important;
}

/**
 * MARGIN LEFT
 * -------------------------------------------------------------------
 */

.u-margin-left-xx {
  margin-left: var(--spacer-3xl) !important;
}

.u-margin-left-lg {
  margin-left: var(--spacer-lg) !important;
}

.u-margin-left-md {
  margin-left: var(--spacer-md) !important;
}

.u-margin-left {
  margin-left: var(--spacer) !important;
}

.u-margin-left-sm {
  margin-left: var(--spacer-sm) !important;
}

.u-margin-left-xs {
  margin-left: var(--spacer-xs) !important;
}

.u-no-margin-left {
  margin-left: 0 !important;
}
