/**
 * SPACING HELPERS
 * -------------------------------------------------------------------
 * Helper classes for adding or removing space between elements
 */

/**
 * MARGIN
 * -------------------------------------------------------------------
 */

.u-margin-3xl {
  margin: var(--SPACER-3XL) !important;
}

.u-margin-xl {
  margin: var(--SPACER-XL) !important;
}

.u-margin-l {
  margin: var(--SPACER-L) !important;
}

.u-margin {
  margin: var(--SPACER) !important;
}

.u-margin-s {
  margin: var(--SPACER-S) !important;
}

.u-margin-xs {
  margin: var(--SPACER-XS) !important;
}

.u-margin-xxs {
  margin: var(--SPACER-XXS) !important;
}

.u-no-margin {
  margin: 0 !important;
}

/**
 * MARGIN TOP
 * -------------------------------------------------------------------
 */

.u-margin-top-3xl {
  margin-top: var(--SPACER-3XL) !important;
}

.u-margin-top-xl {
  margin-top: var(--SPACER-XL) !important;
}

.u-margin-top-l {
  margin-top: var(--SPACER-L) !important;
}

.u-margin-top {
  margin-top: var(--SPACER) !important;
}

.u-margin-top-s {
  margin-top: var(--SPACER-S) !important;
}

.u-margin-top-xs {
  margin-top: var(--SPACER-XS) !important;
}

.u-margin-top-xxs {
  margin-top: var(--SPACER-XXS) !important;
}

.u-no-margin-top {
  margin-top: 0 !important;
}

/**
 * MARGIN RIGHT
 * -------------------------------------------------------------------
 */

.u-margin-right-3xl {
  margin-right: var(--SPACER-3XL) !important;
}

.u-margin-right-xl {
  margin-right: var(--SPACER-XL) !important;
}

.u-margin-right-l {
  margin-right: var(--SPACER-L) !important;
}

.u-margin-right {
  margin-right: var(--SPACER) !important;
}

.u-margin-right-s {
  margin-right: var(--SPACER-S) !important;
}

.u-margin-right-xs {
  margin-right: var(--SPACER-XS) !important;
}

.u-margin-right-xxs {
  margin-right: var(--SPACER-XXS) !important;
}

.u-no-margin-right {
  margin-right: 0 !important;
}

/**
 * MARGIN BOTTOM
 * -------------------------------------------------------------------
 */

.u-margin-bottom-3xl {
  margin-bottom: var(--SPACER-3XL) !important;
}

.u-margin-bottom-xl {
  margin-bottom: var(--SPACER-XL) !important;
}

.u-margin-bottom-l {
  margin-bottom: var(--SPACER-L) !important;
}

.u-margin-bottom {
  margin-bottom: var(--SPACER) !important;
}

.u-margin-bottom-s {
  margin-bottom: var(--SPACER-S) !important;
}

.u-margin-bottom-xs {
  margin-bottom: var(--SPACER-XS) !important;
}

.u-margin-bottom-xxs {
  margin-bottom: var(--SPACER-XXS) !important;
}

.u-no-margin-bottom {
  margin-bottom: 0 !important;
}

/**
 * MARGIN LEFT
 * -------------------------------------------------------------------
 */

.u-margin-left-3xl {
  margin-left: var(--SPACER-3XL) !important;
}

.u-margin-left-xl {
  margin-left: var(--SPACER-XL) !important;
}

.u-margin-left-l {
  margin-left: var(--SPACER-L) !important;
}

.u-margin-left {
  margin-left: var(--SPACER) !important;
}

.u-margin-left-s {
  margin-left: var(--SPACER-S) !important;
}

.u-margin-left-xs {
  margin-left: var(--SPACER-XS) !important;
}

.u-margin-left-xxs {
  margin-left: var(--SPACER-XXS) !important;
}

.u-no-margin-left {
  margin-left: 0 !important;
}
