/**
 * BACKGROUND COLOR CLASSES
 * -------------------------------------------------------------------
 */

.u-bg {
  background-color: var(--BG-COLOR);
}

.u-bg-light {
  background-color: var(--BG-COLOR-LIGHT);
}

.u-bg-primary {
  background-color: var(--THEME1-600);
}

.u-bg-secondary {
  background-color: var(--THEME2-400);
}

.u-bg-success {
  background-color: var(--STATE-SUCCESS);
}

.u-bg-warning {
  background-color: var(--STATE-WARNING);
}

.u-bg-danger {
  background-color: var(--STATE-DANGER);
}

.u-bg-white {
  background-color: $white;
}

.u-bg-black {
  background-color: $gray-600;
}
