/**
 * NORMALIZE
 * -------------------------------------------------------------------
 */

@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


/**
 * BASE
 * -------------------------------------------------------------------
 */

@import 'base/base.fonts';
@import 'base/base.antwerpen-icons';
@import 'base/base.layout';
@import 'base/base.media';
@import 'base/base.typography';
