@charset 'utf-8';

/**
 * CORE BRANDING API
 * -------------------------------------------------------------------
 */

@use 'sass:math';

/* stylelint-disable-next-line no-invalid-position-at-import-rule */
@import 'quarks';

/**
 * CUSTOM STYLING FOR STYLEGUIDE
 * -------------------------------------------------------------------
 */

.a-pre {
  margin: 0;

  + .a-pre {
    margin-top: var(--SPACER-3XS);
  }
}

.d {
  display: flex;
  flex-direction: column;
  margin: var(--SPACER) calc(var(--SPACER-XS) * -1);

  @include at($screen-sm) {
    flex-direction: row;
  }

  > div {
    flex: 1 1 auto;
    padding: var(--SPACER-3XS) var(--SPACER-XS) 0;

    @include at($screen-sm) {
      width: 0;
    }
  }
}

.d-intro {
  > div {
    flex: 1 1 auto;
  }
}

.d-margin-intro-3xl {
  margin-bottom: var(--SPACER-L);

  @include at($screen-xs) {
    margin: var(--SPACER) var(--SPACER) var(--SPACER-L);
  }

  @include at($screen-sm) {
    margin: var(--SPACER-L) var(--SPACER-L) var(--SPACER-XL);
  }

  @include at($screen-md) {
    margin: var(--SPACER-XL) var(--SPACER-XL) var(--SPACER-XXL);
  }

  @include at($screen-lg) {
    margin: var(--SPACER-XXL) var(--SPACER-XXL) var(--SPACER-3XL);
  }

  @include at($screen-xl) {
    margin: var(--SPACER-3XL);
  }
}

.u-margin-bottom-top-xxs {
  margin: var(--SPACER-3XS) 0;
}

.d-toc {
  display: flex;
  flex-wrap: wrap;

  &__cell {
    flex: 0 0 50%;

    @include at($screen-sm) {
      flex: 0 0 math.div(100%, 3);
    }

    @include at($screen-lg) {
      flex: 0 0 math.div(100%, 6);
    }
  }
}

.a-list__toc {
  margin: 0;
  list-style-type: none;
  padding-bottom: var(--SPACER);
  padding-left: 0;

  li {
    padding-bottom: 0;
  }
}

.line {
  border-top: var(--BORDER-WIDTH) solid var(--BORDER-COLOR);
}

.d-h1 {
  padding-bottom: var(--SPACER);
  padding-top: var(--SPACER-3XL);

  @include at(1344px) {
    padding-bottom: var(--SPACER-XL);
    padding-top: var(--SPACER-XL);
  }

  small {
    display: inline-block;
    padding: calc(var(--SPACER-XS) / 4) calc(var(--SPACER-XS) / 3) calc(var(--SPACER-XS) / 3);
    position: relative;
    transform: translateY(calc(var(--SPACER-3XS) * -1.5));
  }
}

.d-h2 {
  padding-top: var(--SPACER);
}

.d-file {
  color: $gray-400;
  display: inline-block;
  font-weight: bold;
  margin-top: calc(var(--SPACER-XS) / 6);
}

.d-alert {
  margin-top: var(--SPACER-XS);
  padding: var(--SPACER-XS);
}

.m-alert--wcag {
  padding-left: var(--SPACER-XL);
  position: relative;

  &:before {
    background-color: $brand-primary;
    background-repeat: no-repeat;
    content: '';
    height: 1.25rem;
    left: var(--SPACER-XS);
    mask: url('data:image/svg+xml;utf8,<svg viewBox=%220 0 24 24%22 xmlns=%22http://www.w3.org/2000/svg%22><g stroke-linecap=%22round%22 stroke=%22%23000%22 fill=%22none%22 stroke-linejoin=%22round%22 stroke-width=%226.25%%22><path class=%22cls-1%22 d=%22M9.6 5a2.12 2.12 0 102.12-2.12A2.12 2.12 0 009.6 5zM19.14 7.5l-7.27 1.34-7-1.36a1 1 0 100 2l4.33 1.27v4.51l-2.28 4.4A1 1 0 007.4 21a1.12 1.12 0 001.44-.46l2.61-5.15 2.61 5.15a1.1 1.1 0 001.44.46 1 1 0 00.53-.58.94.94 0 00-.06-.77c-.27-.52-1.21-2.44-2.19-4.4v-4.61l5.36-1.13a1 1 0 100-2z%22/><circle class=%22cls-1%22 cx=%2212%22 cy=%2212%22 r=%2211.5%22/></g></svg>') no-repeat center center;
    position: absolute;
    top: var(--SPACER-XS);
    width: 1.25rem;
  }
}

.d-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--SPACER-XS) * -1);
  margin-right: calc(var(--SPACER-XS) * -1);

  > li {
    padding: 0 var(--SPACER-XS);
    width: 100%;

    @include at($screen-sm) {
      width: 50%;
    }
  }

  &__colors {
    align-items: center;
    column-gap: var(--SPACER);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    justify-items: stretch;
    margin: var(--SPACER) 0;
    row-gap: var(--SPACER);

    > li {
      border: 1px solid var(--BG-COLOR);
      min-height: 4rem;
      padding-bottom: var(--SPACER-XS);
      padding-left: var(--SPACER-XL);
      padding-top: var(--SPACER-XS);
      position: relative;
      width: 100%;

      .d-color {
        bottom: 0;
        box-shadow: 0 0 0 var(--BORDER-WIDTH) var(--BG-COLOR);
        display: block;
        left: 0;
        position: absolute;
        top: 0;
        width: var(--SPACER-L);
      }
    }
  }
}

.d-p__variables {
  code {
    white-space: nowrap;
  }
}

.d-font {
  font-size: 1.5em;

  &-lg {
    font-size: 3em;
  }
}

.d-bgutility {
  padding: var(--SPACER);

  &.d-u-bg-white {
    box-shadow: 0 0 0 var(--BORDER-WIDTH) $gray-200 inset;
  }
}

.d-spacing-utility {
  background:
    repeating-linear-gradient(
      45deg,
      $white,
      $white 10px,
      $gray-100 10px,
      $gray-100 20px
    );
  box-shadow: 0 0 0 var(--BORDER-WIDTH) $gray-200 inset;
  display: inline-block;
  padding: var(--SPACER-3XS);

  strong {
    background-color: rgba($black, .6);
    display: inline-block;
    padding: rem(1px) rem(4px) rem(2px);
  }
}

.d-u-text-xlight {
  background-color: $gray-600;
  padding: var(--SPACER-3XS);
}

.d-avatars {
  display: flex;
}

.d-button {
  margin-bottom: var(--SPACER-3XS); // Improves the 'flow' of multiple consecutive buttons
}

.d-tooltip {
  margin-bottom: var(--SPACER-XS); // Improves the 'flow' of multiple consecutive tooltips
}

.d-datepicker {
  margin-bottom: 24rem;
}

.d-flyout {
  margin-bottom: 12rem;

  &--s {
    margin-bottom: 14rem;
  }

  &--l {
    margin-bottom: 14rem;

    @include at($screen-sm) {
      margin-bottom: 9rem;
    }
  }

  &--xl {
    margin-bottom: 14rem;

    @include at($screen-sm) {
      margin-bottom: 9rem;
    }

    @include at($screen-md) {
      margin-bottom: 8rem;
    }
  }

  &--opens-above {
    margin-top: 14rem;

    @include at($screen-sm) {
      margin-top: 8rem;
    }
  }
}

.d-negative-social-buttons,
.d-negative-page-indicator {
  padding: var(--SPACER-XS);
}

.d-avatar {
  margin-top: calc(var(--SPACER-XS) / 4);
}

.d-overlay input:checked ~ .m-overlay {
  align-items: center;
  display: flex;
  justify-content: center;

  label {
    box-shadow: none;
    height: auto;
    margin-bottom: var(--SPACER-XS);
    position: static;
    width: auto;

    @include at($screen-sm) {
      margin-bottom: 0;
    }

    &:after {
      content: none;
    }
  }

  .m-modal__footer {
    justify-content: flex-end;

    .a-button {
      margin-bottom: 0;
    }
  }
}

.d--with-overlay {
  padding-top: var(--SPACER-XL);

  .o-menu {
    margin-bottom: calc(var(--SPACER-3XL) * -1);
  }

  @include at($screen-sm) {
    padding-bottom: var(--SPACER-XXL);
    padding-top: 0;

    .o-menu {
      margin-bottom: 0;
    }
  }
}

.d-icons {
  display: grid;
  grid-gap: var(--SPACER-XS) var(--SPACER);

  @include at($screen-sm) {
    grid-template-columns: 1fr 1fr;
  }

  @include at($screen-md) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include at($screen-lg) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  &__row {
    display: grid;
    grid-template-columns: calc(var(--SPACER-XL) * 1.25) auto;
  }

  &__icon {
    font-size: 3em;
  }

  &__code {
    // Prevent from breaking out the container
    min-width: 0;

    > .small {
      display: inline-block;
      margin-bottom: calc(var(--SPACER-XS) / 2);
    }
  }
}

.hljs {
  display: inline !important;
  overflow-x: hidden !important;
  padding: 0;

  $fix-yellow: #aa5d00;

  .hljs-attribute,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-link,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-params,
  .hljs-type {
    color: mix($fix-yellow, $black, 95%) !important;
  }
}
