@charset 'utf-8';

/**
 * CORE BRANDING API
 * -------------------------------------------------------------------
 */

@import 'quarks';



/**
 * CUSTOM STYLING FOR STYLEGUIDE
 * -------------------------------------------------------------------
 */

.a-pre {
  margin: 0;

  + .a-pre {
    margin-top: $spacer / 4;
  }
}

.d {
  display: flex;
  flex-direction: column;
  margin: $spacer $spacer-xs * -1;

  @include at($screen-sm) {
    flex-direction: row;
  }

  > div {
    flex: 1 1 auto;
    padding: $spacer / 4 $spacer-xs 0;

    @include at($screen-sm) {
      width: 0;
    }
  }
}

.d-intro {
  > div {
    flex: 1 1 auto;
  }
}

.u-margin-bottom-top-xxs {
  margin: $spacer-xs / 2 0;
}

.d-toc {
  display: flex;
  flex-wrap: wrap;

  &__cell {
    flex: 0 0 50%;

    @include at($screen-sm) {
      flex: 0 0 (100% / 3);
    }

    @include at($screen-lg) {
      flex: 0 0 (100% / 6);
    }
  }
}

.a-list__toc {
  margin: 0;
  padding-bottom: $spacer;

  li {
    padding-bottom: 0;
  }
}

.line {
  border-top: 1px solid $border-color-light;
}

.d-h1 {
  padding-bottom: $spacer;
  padding-top: $spacer * 3.5;

  small {
    display: inline-block;
    padding: $spacer-xs / 4 $spacer-xs / 3 $spacer-xs / 3;
    position: relative;
    transform: translateY(-$spacer-xs);
  }

  @include at($screen-xs) {
    padding-bottom: $spacer-md;
    padding-top: $spacer-md;
  }
}

.d-h2 {
  padding-top: $spacer;
}

.d-file {
  color: $grey-dark;
  display: inline-block;
  font-weight: bold;
  margin-top: $spacer-xs / 6;
}

.d-alert {
  margin-top: $spacer / 2;
  padding: $spacer / 2;
}

.m-alert--wcag {
  padding-left: $spacer-lg;
  position: relative;

  &:before {
    background-color: $brand-primary;
    background-repeat: no-repeat;
    content: '';
    height: 1.25rem;
    left: $spacer-xs;
    mask: url('data:image/svg+xml;utf8,<svg xmlns=%22http://www.w3.org/2000/svg%22 x=%220px%22 y=%220px%22 viewBox=%220 0 15 15%22 style=%22enable-background:new 0 0 15 15;%22 xml:space=%22preserve%22><style type=%22text/css%22>.st0{fill:none;stroke:%23ffffff;stroke-width:6.25%;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}</style><polyline class=%22st0%22 points=%222,0.5 3.2,6.9 4.8,2.4 6.3,6.9 7.5,0.5 %22/><path class=%22st0%22 d=%22M13.1,1.2c0,0-0.8-0.8-1.8-0.8S8.8,1.2,8.8,3.7s1.4,3.4,2.6,3.4s1.9-0.8,1.9-0.8%22/><polyline class=%22st0%22 points=%222.4,14.6 4.7,8.1 7.2,14.6 %22/><line class=%22st0%22 x1=%223.3%22 y1=%2212.1%22 x2=%226.2%22 y2=%2212.1%22/><path class=%22st0%22 d=%22M12.9,8.7c0,0-0.4-0.8-1.5-0.8s-2.7,0.7-2.7,3.4s1.8,3.3,2.6,3.3S13,14,13,13.9s0-2.3,0-2.3h-1.7%22/></svg>') no-repeat center center;
    position: absolute;
    top: $spacer-xs;
    width: 1.25rem;
  }
}

.d-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: $spacer-xs * -1;
  margin-right: $spacer-xs * -1;

  > li {
    padding: 0 $spacer-xs;
    width: 100%;

    @include at($screen-sm) {
      width: 50%;
    }
  }

  &__colors {
    > li {
      margin-top: $spacer-xs / 2;
      padding: $spacer / 2 $spacer-xs $spacer / 2 $spacer * 5;
      position: relative;

      &:nth-child(6n+7) {
        margin-top: $spacer;
      }

      &:nth-child(6n+8) {
        @include at($screen-sm) {
          margin-top: $spacer;
        }
      }

      &:nth-child(6n+9) {
        @include at($screen-lg) {
          margin-top: $spacer;
        }
      }

      &.d-white {
        .d-color {
          box-shadow: 0 0 0 1px $grey-light inset;
        }
      }

      .d-color {
        bottom: 0;
        display: block;
        left: $spacer-xs;
        position: absolute;
        top: 0;
        width: $spacer * 4;
      }

      @include at($screen-lg) {
        width: 100 / 3 * 1%;
      }
    }
  }

  &__variables {
    > li {
      margin-top: $spacer / 4;

      @include at($screen-lg) {
        width: 100 / 3 * 1%;
      }
    }
  }
}

.d-font {
  font-size: 1.5em;

  &-lg {
    font-size: 3em;
  }
}

.d-bgutility {
  padding: $spacer;

  &.d-u-bg-white {
    box-shadow: 0 0 0 1px $grey-light inset;
  }
}

.d-spacing-utility {
  background: repeating-linear-gradient(
    45deg,
    $white,
    $white 10px,
    $grey-lighter 10px,
    $grey-lighter 20px
  );
  box-shadow: 0 0 0 1px $grey-light inset;
  display: inline-block;
  padding: $spacer / 6;

  strong {
    background-color: rgba($rich-black, .6);
    display: inline-block;
    padding: rem(1px) rem(4px) rem(2px);
  }
}

.d-u-text-xlight,
.d-u-text-warning {
  background-color: $black;
  padding: $spacer / 4;
}

.d-button {
  margin-bottom: $spacer / 6; // Improves the 'flow' of multiple consecutive buttons
}

.d-tooltip {
  margin-bottom: $spacer / 2; // Improves the 'flow' of multiple consecutive tooltips
}

.d-datepicker {
  margin-bottom: 24rem;
}

.d-flyout {
  margin-bottom: 12rem;

  &--sm {
    margin-bottom: 14rem;
  }

  &--md {
    margin-bottom: 14rem;

    @include at($screen-sm) {
      margin-bottom: 9rem;
    }
  }

  &--lg {
    margin-bottom: 14rem;

    @include at($screen-sm) {
      margin-bottom: 9rem;
    }

    @include at($screen-md) {
      margin-bottom: 8rem;
    }
  }

  &--full {
    margin-bottom: 7rem;
  }

  &--no-padding {
    margin-bottom: 3rem;
  }

  &--opens-above {
    margin-bottom: 6rem;
  }
}

.d-icon-list {
  padding: $spacer;
}

.d-avatar {
  margin-top: $spacer-xs / 4;
}

.d-overlay input:checked ~ .m-overlay {
  align-items: center;
  display: flex;
  justify-content: center;

  label {
    box-shadow: none;
    height: auto;
    margin-bottom: $spacer / 2;
    position: static;
    width: auto;

    @include at($screen-sm) {
      margin-bottom: 0;
    }

    &:after {
      content: none;
    }
  }

  .m-modal__footer  {
    justify-content: flex-end;

    [class*='a-button'] {
      margin-bottom: 0;
    }
  }
}

.d--with-overlay {
  padding-top: $spacer-lg;

  .o-menu {
    margin-bottom: -$spacer-xx;
  }

  @include at($screen-sm) {
    padding-bottom: $spacer-xl;
    padding-top: 0;

    .o-menu {
      margin-bottom: 0;
    }
  }
}

.d-icons {
  display: grid;
  // IE11 doesn't support grid-gap, so we fall back to margins. See [*GG].
  // grid-gap: $spacer-xs / 2 $spacer;

  @include at($screen-sm) {
    grid-template-columns: 1fr 1fr;
  }

  @include at($screen-lg) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__row {
    display: grid;
    grid-template-columns: $spacer-lg auto;
    margin-bottom: $spacer-xs / 2; // [*GG]

    @include at($screen-sm) {
      &:nth-child(even) {
        margin-left: $spacer-xs;
      }

      &:nth-child(odd) {
        margin-right: $spacer-xs;
      }
    }

    @include at($screen-lg) {
      &:nth-child(even) {
        margin-left: 0;
      }

      &:nth-child(odd) {
        margin-right: 0;
      }

      &:nth-child(3n+1) {
        margin-right: $spacer-xs;
      }

      &:nth-child(3n+2) {
        margin-left: $spacer-xs;
        margin-right: $spacer-xs;
      }

      &:nth-child(3n) {
        margin-left: $spacer-xs;
      }
    }
  }

  &__icon {
    font-size: 2.25em;
  }

  &__code {
    // Prevent from breaking out the container
    min-width: 0;
  }
}

.hljs {
  display: inline !important;
  overflow-x: hidden !important;
  padding: 0;

  $fix-yellow: #aa5d00;

  .hljs-attribute,
  .hljs-built_in, // sass-lint:disable-line class-name-format
  .hljs-builtin-name,
  .hljs-link,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-params,
  .hljs-type {
    color: mix($fix-yellow, $rich-black, 95%) !important;
  }
}
