/**
 * FOOTER
 * -------------------------------------------------------------------
 */

.o-footer {
  align-items: center;
  background-color: $footer-bg;
  display: flex;
  flex: 0 0 auto;
  height: $footer-height;
  justify-content: center;
  position: relative;
  text-align: center;

  .o-footer__button {
    @include at($screen-sm) {
      bottom: 0;
      position: absolute;
      right: 0;
    }
  }
}

.o-footer__label {
  color: $footer-color;
  font-size: rem($footer-font-size-sm);
  line-height: $footer-line-height;
  padding: 0 $spacer-xs;

  @include to($screen-sm) {
    flex: 1 1 auto;
  }

  @include at($screen-sm) {
    font-size: rem($footer-font-size-lg);
    padding: 0 $spacer-xl;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }
}
