/**
 * FOOTER VARIABLES
 * -------------------------------------------------------------------
 */

.o-footer {
  --footer-bg:      #{$black};
  --footer-color:   #{$white};
}

/**
 * FOOTER
 * -------------------------------------------------------------------
 */

.o-footer {
  align-items: center;
  background-color: var(--footer-bg);
  display: flex;
  flex: 0 0 auto;
  height: var(--spacer-xl);
  justify-content: center;
  position: relative;
  text-align: center;

  .o-footer__button {
    @include at($screen-sm) {
      bottom: 0;
      position: absolute;
      right: 0;
    }
  }
}

/**
 * FOOTER ELEMENTS
 * -------------------------------------------------------------------
 */

.o-footer__label {
  color: var(--footer-color);
  font-size: rem($font-size-sm);
  line-height: $line-height-paragraph;
  padding: 0 var(--spacer-xs);

  @include to($screen-sm) {
    flex: 1 1 auto;
  }

  @include at($screen-sm) {
    padding: 0 var(--spacer-xxl);
  }

  a {
    color: inherit;
    text-decoration: underline;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }
}
