/**
 * TAG LIST
 * -------------------------------------------------------------------
 */

.o-tag-list {
  @extend %u-list-reset;

  display: flex;
  flex-wrap: wrap;
  margin-bottom: calc(var(--SPACER-XXS) * -1);
}

/**
 * TAG LIST ELEMENTS
 * -------------------------------------------------------------------
 */

.o-tag-list__item {
  margin-bottom: var(--SPACER-XXS);

  &:not(:last-child) {
    margin-right: var(--SPACER-XXS);
  }
}
