/**
 * SLIDESHOW VARIABLES
 * -------------------------------------------------------------------
 * This component has shared variables with _molecules.overlay.scss. You can find them in _quarks.css-properties.scss.
 */

.o-slideshow {
  --slideshow-max-height:           37.5rem;
  --slideshow-bg-color:             #{$gray-600};
  --slideshow-footer-color:         var(--text-color);
  --slideshow-footer-color-light:   var(--shared-slideshow-footer-color-light);
}

/**
 * SLIDESHOW
 * -------------------------------------------------------------------
 */

.o-slideshow {
  max-height: var(--slideshow-max-height);
}

/**
 * SLIDESHOW ELEMENTS
 * -------------------------------------------------------------------
 */

.o-slideshow__inner {
  max-height: inherit;
  position: relative;
}

.o-slideshow__slides {
  max-height: inherit;
}

.o-slideshow__slide {
  display: none;
  max-height: inherit;

  &.is-active {
    display: block;
  }
}

.o-slideshow__image {
  align-items: center;
  background-color: var(--slideshow-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: inherit;
  position: relative;

  .a-image {
    align-self: center;
    max-height: inherit;

    img {
      max-height: inherit;
    }
  }
}

.o-slideshow__prev,
.o-slideshow__next {
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;

  @include at($screen-sm) {
    font-size: var(--spacer);
  }

  @include at($screen-lg) {
    font-size: var(--spacer-l);
  }

  &.has-icon {
    position: absolute;

    svg {
      filter: drop-shadow(0 0 2px var(--overlay-color));
    }
  }

  &,
  &:hover,
  &:active,
  &:focus {
    background: transparent;
    box-shadow: none;
  }

  .ai {
    font-size: inherit;
  }
}

.o-slideshow__prev {
  left: 0;

  &.o-slideshow__prev--outside {

    @include at($screen-md) {
      left: calc(var(--spacer-xl) * -1);
    }

    @include at($screen-lg) {
      left: calc(var(--spacer-xl) / -3 * 4);
    }
  }
}

.o-slideshow__next {
  right: 0;

  &.o-slideshow__next--outside {

    @include at($screen-md) {
      right: calc(var(--spacer-xl) * -1);
    }

    @include at($screen-lg) {
      right: calc(var(--spacer-xl) / -3 * 4);
    }
  }
}

.o-slideshow__footer {
  color: var(--slideshow-footer-color);
}

.o-slideshow__counter {
  font-weight: var(--font-weight-bold);
  margin-right: var(--spacer-xs);
}

/**
 * SLIDESHOW MODIFIERS
 * -------------------------------------------------------------------
 */

.o-slideshow--transparent .o-slideshow__image {
  background-color: transparent;
}
