/**
 * SLIDESHOW
 * -------------------------------------------------------------------
 */

.o-slideshow {
  max-height: $slideshow-max-height;
}


/**
 * SLIDESHOW ELEMENTS
 * -------------------------------------------------------------------
 */

.o-slideshow__inner {
  max-height: inherit;
  position: relative;
}

.o-slideshow__slides {
  max-height: inherit;
}

.o-slideshow__slide {
  display: none;
  max-height: inherit;

  &.is-active {
    display: block;
  }
}

.o-slideshow__image {
  align-items: center;
  background-color: $slideshow-bg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: inherit;
  position: relative;

  .a-image {
    align-self: center;
    max-height: inherit;

    img {
      max-height: inherit;
    }
  }
}

.o-slideshow__prev,
.o-slideshow__next {
  align-items: center;
  color: $slideshow-arrow-color;
  display: flex;
  font-size: 2rem;
  height: calc(100% - #{$copyright-height * 2});
  justify-content: center;
  position: absolute;
  text-shadow: 0 0 2px $overlay-color;
  top: 50%;
  transform: translateY(-50%);
  width: $spacer-md;
  z-index: 1;

  @include at($screen-sm) {
    font-size: 2.5rem;
    width: $spacer-xl;
  }

  &:before {
    @include fontawesome;
  }

  &,
  &:hover,
  &:active,
  &:focus {
    background: transparent;
  }
}

.o-slideshow__prev {
  left: 0;

  &:before {
    content: '\f104';
  }

  &.o-slideshow__prev--outside {

    @include at($screen-md) {
      left: -$spacer * 3;
    }
  }
}

.o-slideshow__next {
  right: 0;

  &:before {
    content: '\f105';
  }

  &.o-slideshow__next--outside {

    @include at($screen-md) {
      right: -$spacer * 3;
    }
  }
}

.o-slideshow__footer {
  color: $slideshow-footer-color;
}

.o-slideshow__counter {
  font-weight: $bold;
  margin-right: $spacer-xs;
}


/**
 * SLIDESHOW MODIFIERS
 * -------------------------------------------------------------------
 */

.o-slideshow--transparent .o-slideshow__image {
  background-color: transparent;
}
