/**
 * HEADER
 * -------------------------------------------------------------------
 */

.o-header {
  background-color: $header-bg;
  border-bottom: 1px solid $header-border;
  box-sizing: content-box;
  height: $header-height;
  position: relative;

  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }
}


/**
 * HEADER LAYOUT
 * -------------------------------------------------------------------
 */

.o-header__content-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: flex-end;
}

.o-header__content {
  flex: 1;
  height: 100%;
}

.o-header__menu-items {
  display: flex;
  justify-content: flex-end;
}


/**
 * HEADER ELEMENTS
 * -------------------------------------------------------------------
 */

.o-header__button {
  @include a-button($header-btn-color, $header-btn-bg);
  border-left: 1px solid $header-border;
}

.o-header__button-skip {
  border-left: none;
  cursor: default;
  opacity: 0;
  position: absolute;
  transform: translateY(-$header-height);
  z-index: layer('header');

  &:focus {
    cursor: pointer;
    opacity: 1;
    transform: translateY(0);
  }
}

.o-header__logo {
  margin-top: 1px;
  position: absolute;
  top: $header-height;

  img {
    height: $spacer * 3;
  }
}
