/**
 * HEADER VARIABLES
 * -------------------------------------------------------------------
 * This component has shared variables with _organisms.navigation-menu.scss. You can find them in _quarks.variables.scss.
 */

.o-header {
  --header-height:     var(--shared-header-height);
  --header-bg-color:   #{$white};
  --header-border:     var(--border-color);
}

/**
 * HEADER
 * -------------------------------------------------------------------
 */

.o-header {
  background-color: var(--header-bg-color);
  border-bottom: var(--border-width) solid var(--header-border);
  box-sizing: content-box;
  height: var(--header-height);
  position: relative;

  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }
}

/**
 * HEADER LAYOUT
 * -------------------------------------------------------------------
 */

.o-header__content-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: flex-end;
}

.o-header__content {
  flex: 1;
  height: 100%;
}

.o-header__menu-items {
  display: flex;
  justify-content: flex-end;
}

/**
 * HEADER ELEMENTS
 * -------------------------------------------------------------------
 */

.o-header__button {
  border-left: var(--border-width) solid var(--header-border);
}

.o-header__button-skip {
  cursor: default;
  opacity: 0;
  position: absolute;
  transform: translateY(calc(var(--header-height) * -1));
  z-index: layer('header');

  &:focus {
    cursor: pointer;
    opacity: 1;
    transform: translateY(0);
  }
}

.o-header__logo {
  margin-top: var(--border-width);
  position: absolute;
  top: var(--header-height);

  img {
    height: calc(var(--spacer) * 3);
  }
}
