/**
 * FOOTER VARIABLES
 * -------------------------------------------------------------------
 */

$footer-bg:               $rich-black !default;
$footer-color:            $white !default;

$footer-height:           var(--spacer-lg) !default;

$footer-font-size-sm:     $font-size-sm !default;
$footer-font-size-lg:     $font-size-sm !default;
$footer-line-height:      $line-height-paragraph !default;


/**
 * FOOTER
 * -------------------------------------------------------------------
 */

.o-footer {
  align-items: center;
  background-color: $footer-bg;
  display: flex;
  flex: 0 0 auto;
  height: $footer-height;
  justify-content: center;
  position: relative;
  text-align: center;

  .o-footer__button {
    @include at($screen-sm) {
      bottom: 0;
      position: absolute;
      right: 0;
    }
  }
}


/**
 * FOOTER ELEMENTS
 * -------------------------------------------------------------------
 */

.o-footer__label {
  color: $footer-color;
  font-size: rem($footer-font-size-sm);
  line-height: $footer-line-height;
  padding: 0 var(--spacer-xs);

  @include to($screen-sm) {
    flex: 1 1 auto;
  }

  @include at($screen-sm) {
    font-size: rem($footer-font-size-lg);
    padding: 0 var(--spacer-xxl);
  }

  a {
    color: inherit;
    text-decoration: underline;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }
}
