/**
 * ARTICLE VARIABLES
 * -------------------------------------------------------------------
 */

.o-article {
  --article-h1-margin:         var(--SPACER-XXL) 0 var(--SPACER);
  --article-h2-margin:         var(--SPACER-XL) 0 var(--SPACER-S);
  --article-h3-margin:         var(--SPACER-L) 0 var(--SPACER-S);
  --article-h4-margin:         var(--SPACER) 0 var(--SPACER-XS);
  --article-h5-margin:         var(--SPACER) 0 var(--SPACER-XS);
  --article-h6-margin:         var(--SPACER) 0 var(--SPACER-XS);
  --article-p-margin:          0 0 var(--SPACER-XS);
  --article-ul-margin:         0 0 var(--SPACER-S);
  --article-ol-margin:         0 0 var(--SPACER-3XS);
  --article-li-margin:         0 0 var(--SPACER-3XS);
}

/**
 * ARTICLE
 * -------------------------------------------------------------------
 */

.o-article {
  h1,
  h2,
  h3 {
    hyphens: auto;
  }

  h1 {
    margin: var(--article-h1-margin);
  }

  h2 {
    margin: var(--article-h2-margin);
  }

  h3 {
    margin: var(--article-h3-margin);
  }

  h4 {
    margin: var(--article-h4-margin);
  }

  h5 {
    margin: var(--article-h5-margin);
  }

  h6 {
    margin: var(--article-h6-margin);
  }

  p {
    margin: var(--article-p-margin);
  }

  ul,
  ol {
    li {
      margin: var(--article-li-margin);
    }

    ul,
    ol {
      margin: 0;
      padding-left: var(--SPACER);
    }
  }

  ul {
    margin: var(--article-ul-margin);
  }

  ol {
    margin: var(--article-ol-margin);
  }

  // Fix margin of first item in article
  > :first-child {
    margin-top: 0;
  }
}
