{% macro render(name, hidden=true, class='ai', attr='') %}<span class="{{ class | safe }}"{% if hidden %} aria-hidden="true"{% endif %}{{ attr | safe }}><svg><use xlink:href="./images/ai.svg#{{ name }}" /></svg></span>{% endmacro %}

{% macro code(name, hidden=true, class='ai', attr='') %}&lt;span class="{{ class | safe }}"{% if hidden %} aria-hidden="true"{% endif %}{{ attr | safe }}&gt;&lt;svg&gt;&lt;use xlink:href="./images/ai.svg#{{ name }}" /&gt;&lt;/svg&gt;&lt;/span&gt;{% endmacro %}
