<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />


    <!-- CSS /////////////////////////////////////////////////////////
    - https://github.com/filamentgroup/loadCSS

    Using 'gulp-usemin' to concatenate CSS files in production
    Following a Mobile First approach, all media queries are
    combined in a separate file

    Note: <link ... media="screen and (min-width: 40em)" />
    only defines when CSS will be applied, it will not block
    the file from being downloaded
    -->

    <!-- build:css styles/m.css -->
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="stylesheet" href="styles/styleguide.css" />
    <!-- endbuild -->


    <!-- SEO /////////////////////////////////////////////////////////
    - http://support.google.com/webmasters/bin/answer.py?hl=nl&answer=79812&topic=2371375&ctx=topic
    - http://www.iacquire.com/blog/18-meta-tags-every-webpage-should-have-in-2013
    - http://github.com/h5bp/html5-boilerplate/blob/master/dist/doc/extend.md
    - http://moz.com/blog/meta-data-templates-123

    Set meta-data and force search engines to display this information
    in search results (this prevents caching of meta-data)
    -->

    <title>Core Branding Antwerpen</title>

    <meta name="description" content="Core Branding Antwerpen" />
    <meta name="robots" content="noodp, noydir" />


    <!-- META-TAGS FOR MOBILE ////////////////////////////////////////
    - http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariHTMLRef/Articles/MetaTags.html
    - http://www.metatags.nl/mobiele_metatags_voor_de_smartphone
    - http://github.com/h5bp/mobile-boilerplate/wiki/The-Markup

    Let search engines know this page is optimized for mobile devices
    and enable smooth font rendering on IE Mobile
    <meta name="HandheldFriendly" content="true" />
    <meta name="MobileOptimized" content="320" />
    <meta http-equiv="cleartype" content="on" />
    -->

    <!--
    Set the viewport for IOS to enable media queries and prevent phone
    numbers from being displayed as hyperlinks (IOS default behavior)
    Note: don't disable the ability to zoom, it's bad UX
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no" />
    -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />

</head>
<body class="has-header">
    <header class="o-header o-header--fixed">
        <a href="javascript:void(0);" class="o-header__logo">
            <img src="images/a-logo.svg" alt="Officieel Logo Antwerpen">
        </a>
    </header>

    <main>
        <div class="u-wrapper d-h1">
            <div class="u-container">
                <h1>Core Branding Styleguide <small>v{{ VERSION_INFO.version }}</small></h1>
            </div>
        </div>

        {% include "templates/quarks.njk" %}

        {% include "templates/base.njk" %}

        {% include "templates/utilities.njk" %}

        {% include "templates/atoms.njk" %}

        {% include "templates/molecules.njk" %}

        {% include "templates/organisms.njk" %}

        <!-- CLEAN THIS -->
<div style="display: none">



    <div class="u-wrapper">
        <div class="u-container">


            <br><br><br><br><br><br><br><br>
            
            <ul class="o-tag-list">
                <li class="m-tag">
                    <span class="m-tag__label">Bibliotheken</span>
                </li>

                <li class="m-tag">
                    <span class="m-tag__label">Cultuur</span>
                </li>

                <li class="m-tag">
                    <span class="m-tag__label">Monumenten</span>
                </li>

                <li class="m-tag">
                    <span class="m-tag__label">Cultuurverenigingen</span>
                </li>

                <li class="m-tag">
                    <span class="m-tag__label">District Berchem</span>
                </li>
            </ul>

            <br><br><br>

            <ul class="o-tag-list">
                <li class="m-tag">
                    <span class="m-tag__label">Bibliotheken</span>

                    <button class="a-button-transparent a-button--small a-button--danger has-icon">
                        <i class="fa fa-close"></i>
                    </button>
                </li>

                <li class="m-tag">
                    <span class="m-tag__label">Cultuur</span>

                    <button class="a-button-transparent a-button--small a-button--danger has-icon">
                        <i class="fa fa-close"></i>
                    </button>
                </li>

                <li class="m-tag">
                    <span class="m-tag__label">Monumenten</span>

                    <button class="a-button-transparent a-button--small a-button--danger has-icon">
                        <i class="fa fa-close"></i>
                    </button>
                </li>

                <li class="m-tag">
                    <span class="m-tag__label">Cultuurverenigingen</span>

                    <button class="a-button-transparent a-button--small a-button--danger has-icon">
                        <i class="fa fa-close"></i>
                    </button>
                </li>

                <li class="m-tag">
                    <span class="m-tag__label">District Berchem</span>

                    <button class="a-button-transparent a-button--small a-button--danger has-icon">
                        <i class="fa fa-close"></i>
                    </button>
                </li>
            </ul>

            <br><br><br>

            <ul class="o-tag-list">
                <li class="m-tag">
                    <button class="a-button a-button--default a-button--small has-icon">
                        <i class="fa fa-check"></i>
                    </button>

                    <span class="m-tag__label">Bibliotheken</span>
                </li>

                <li class="m-tag">
                    <button class="a-button a-button--default a-button--small has-icon">
                        <i class="fa fa-check"></i>
                    </button>

                    <span class="m-tag__label">Cultuur</span>
                </li>

                <li class="m-tag">
                    <button class="a-button a-button--success a-button--small has-icon">
                        <i class="fa fa-check"></i>
                    </button>

                    <span class="m-tag__label">Monumenten</span>
                </li>

                <li class="m-tag">
                    <button class="a-button a-button--success a-button--small has-icon">
                        <i class="fa fa-check"></i>
                    </button>

                    <span class="m-tag__label">Cultuurverenigingen</span>
                </li>

                <li class="m-tag">
                    <button class="a-button a-button--default a-button--small has-icon">
                        <i class="fa fa-check"></i>
                    </button>

                    <span class="m-tag__label">District Berchem</span>
                </li>
            </ul>

            <br><br><br>

            <ul class="o-tag-list">
                <li class="m-tag">
                    <button class="a-button a-button--small has-icon">
                        <i class="fa fa-arrows"></i>
                    </button>

                    <span class="m-tag__label">Bibliotheken</span>
                </li>

                <li class="m-tag">
                    <button class="a-button a-button--small has-icon">
                        <i class="fa fa-arrows"></i>
                    </button>

                    <span class="m-tag__label">Cultuur</span>
                </li>

                <li class="m-tag">
                    <button class="a-button a-button--small has-icon">
                        <i class="fa fa-arrows"></i>
                    </button>

                    <span class="m-tag__label">Monumenten</span>
                </li>

                <li class="m-tag">
                    <button class="a-button a-button--small has-icon">
                        <i class="fa fa-arrows"></i>
                    </button>

                    <span class="m-tag__label">Cultuurverenigingen</span>
                </li>

                <li class="m-tag">
                    <button class="a-button a-button--small has-icon">
                        <i class="fa fa-arrows"></i>
                    </button>

                    <span class="m-tag__label">District Berchem</span>
                </li>
            </ul>

            <br><br><br>

            <div class="o-footer">
                <span class="o-footer__label">© 2017 Stad Antwerpen | <a href="javascript:void(0);">Privacy</a> &amp; <a href="javascript:void(0);">gebruiksvoorwaarden</a></span>

                <button class="o-footer__button a-button a-button--secondary has-icon">
                    <i class="fa fa-arrow-up"></i>
                </button>
            </div>

            <br><br><br><br><br><br>

            
            <div class="o-slideshow">
                <div class="o-slideshow__inner">
                    <div class="o-slideshow__prev"></div>

                    <div class="o-slideshow__slides">
                        <figure class="o-slideshow__slide is-active">
                            <div class="o-slideshow__image">
                                <div class="m-image">
                                    <img src="https://assets.antwerpen.be/srv/assets/api/image/fb029707-7e9c-4408-bb67-7c3002e37548/A-Fietsbeeldbank-NP-9.jpg" alt="Foto 1">

                                    <div class="m-image__copyright a-copyright" aria-haspopup="true">
                                        <div class="a-copyright__sign">
                                            <span class="fa fa-copyright"></span>
                                        </div>

                                        <span class="a-copyright__label">Sigrid Spinnox</span>
                                    </div>
                                </div>
                            </div>
                        </figure>

                        <figure class="o-slideshow__slide">
                            <div class="o-slideshow__image">
                                <div class="m-image">
                                    <img src="https://assets.antwerpen.be/srv/assets/api/image/bef0732e-3bf5-4129-bdda-7a835b47e5c8/De_collectie_affiche.jpg" alt="Foto 2">

                                    <div class="m-image__copyright a-copyright" aria-haspopup="true">
                                        <div class="a-copyright__sign">
                                            <span class="fa fa-copyright"></span>
                                        </div>

                                        <span class="a-copyright__label">Sigrid Spinnox</span>
                                    </div>
                                </div>
                            </div>
                        </figure>

                        <figure class="o-slideshow__slide">
                            <div class="o-slideshow__image">
                                <div class="m-image">
                                    <img src="https://assets.antwerpen.be/srv/assets/api/image/f97d2ed3-73bd-40de-b2ec-e70009de72ed/vm_JolinedeCrom_01_15022017-4.jpg" alt="Foto 3">

                                    <div class="m-image__copyright a-copyright" aria-haspopup="true">
                                        <div class="a-copyright__sign">
                                            <span class="fa fa-copyright"></span>
                                        </div>

                                        <span class="a-copyright__label">Sigrid Spinnox</span>
                                    </div>
                                </div>
                            </div>
                        </figure>

                        <figure class="o-slideshow__slide">
                            <div class="o-slideshow__image">
                                <div class="m-image">
                                    <img src="https://assets.antwerpen.be/srv/assets/api/image/89c58905-9b18-4539-a960-3f13e3e27035/107-Fiesta%20Flamenca-19032016%20-%20kopie.jpg" alt="Foto 4">

                                    <div class="m-image__copyright a-copyright" aria-haspopup="true">
                                        <div class="a-copyright__sign">
                                            <span class="fa fa-copyright"></span>
                                        </div>

                                        <span class="a-copyright__label">Sigrid Spinnox</span>
                                    </div>
                                </div>
                            </div>
                        </figure>
                    </div>

                    <div class="o-slideshow__next"></div>
                </div>

                <figcaption class="o-slideshow__footer">
                    <span class="o-slideshow__counter">1 | 4</span>
                    Antwerpse werknemers die de auto laten staan, krijgen korting voor fiets
                </figcaption>
            </div>

            <br><br><br>

            <div class="m-overlay">
                <button class="m-overlay__button">
                    <span class="fa fa-close"></span>
                </button>

                <div class="m-overlay__slideshow o-slideshow o-slideshow--transparent">
                    <div class="o-slideshow__inner">
                        <div class="o-slideshow__prev o-slideshow__prev--outside"></div>

                        <div class="o-slideshow__slides">
                            <figure class="o-slideshow__slide is-active">
                                <div class="o-slideshow__image">
                                    <div class="m-image">
                                        <img src="https://assets.antwerpen.be/srv/assets/api/image/fb029707-7e9c-4408-bb67-7c3002e37548/A-Fietsbeeldbank-NP-9.jpg" alt="Picture">

                                        <div class="m-image__copyright a-copyright" aria-haspopup="true">
                                            <div class="a-copyright__sign">
                                                <span class="fa fa-copyright"></span>
                                            </div>

                                            <span class="a-copyright__label">Sigrid Spinnox</span>
                                        </div>
                                    </div>
                                </div>
                            </figure>

                            <figure class="o-slideshow__slide">
                                <div class="o-slideshow__image">
                                    <div class="m-image">
                                        <img src="https://assets.antwerpen.be/srv/assets/api/image/bef0732e-3bf5-4129-bdda-7a835b47e5c8/De_collectie_affiche.jpg" alt="Picture">

                                        <div class="m-image__copyright a-copyright" aria-haspopup="true">
                                            <div class="a-copyright__sign">
                                                <span class="fa fa-copyright"></span>
                                            </div>

                                            <span class="a-copyright__label">Sigrid Spinnox</span>
                                        </div>
                                    </div>
                                </div>
                            </figure>

                            <figure class="o-slideshow__slide">
                                <div class="m-image">
                                    <div class="o-slideshow__image">
                                        <img class="m-image" src="https://assets.antwerpen.be/srv/assets/api/image/f97d2ed3-73bd-40de-b2ec-e70009de72ed/vm_JolinedeCrom_01_15022017-4.jpg" alt="Picture">

                                        <div class="m-image__copyright a-copyright" aria-haspopup="true">
                                            <div class="a-copyright__sign">
                                                <span class="fa fa-copyright"></span>
                                            </div>

                                            <span class="a-copyright__label">Sigrid Spinnox</span>
                                        </div>
                                    </div>
                                </div>
                            </figure>

                            <figure class="o-slideshow__slide">
                                <div class="o-slideshow__image">
                                    <div class="m-image">
                                        <img src="https://assets.antwerpen.be/srv/assets/api/image/89c58905-9b18-4539-a960-3f13e3e27035/107-Fiesta%20Flamenca-19032016%20-%20kopie.jpg" alt="Picture">

                                        <div class="m-image__copyright a-copyright" aria-haspopup="true">
                                            <div class="a-copyright__sign">
                                                <span class="fa fa-copyright"></span>
                                            </div>

                                            <span class="a-copyright__label">Sigrid Spinnox</span>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>

                        <div class="o-slideshow__next o-slideshow__next--outside"></div>
                    </div>

                    <figcaption class="o-slideshow__footer">
                        <span class="o-slideshow__counter">1 | 4</span>
                        Antwerpse werknemers die de auto laten staan, krijgen korting voor fiets
                    </figcaption>
                </div>
            </div>

            <br><br><br><br><br><br>

        </div>
    </div>
    </div>

        <!-- /CLEAN THIS -->

        <footer class="o-footer">
            <span class="o-footer__label">© 2017 Stad Antwerpen</span>

            <a href="#" class="o-footer__button a-button a-button--secondary has-icon">
                <i class="fa fa-arrow-up"></i>
            </a>
        </footer>
    </main>
</body>
</html>

