<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />


    <!-- CSS /////////////////////////////////////////////////////////
    - https://github.com/filamentgroup/loadCSS

    Using 'gulp-usemin' to concatenate CSS files in production
    Following a Mobile First approach, all media queries are
    combined in a separate file

    Note: <link ... media="screen and (min-width: 40em)" />
    only defines when CSS will be applied, it will not block
    the file from being downloaded
    -->

    <!-- build:css styles/m.css -->
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="stylesheet" href="styles/styleguide.css" />
    <!-- endbuild -->


    <!-- SEO /////////////////////////////////////////////////////////
    - http://support.google.com/webmasters/bin/answer.py?hl=nl&answer=79812&topic=2371375&ctx=topic
    - http://www.iacquire.com/blog/18-meta-tags-every-webpage-should-have-in-2013
    - http://github.com/h5bp/html5-boilerplate/blob/master/dist/doc/extend.md
    - http://moz.com/blog/meta-data-templates-123

    Set meta-data and force search engines to display this information
    in search results (this prevents caching of meta-data)
    -->

    <title>Core Branding Antwerpen</title>

    <meta name="description" content="Core Branding Antwerpen" />
    <meta name="robots" content="noodp, noydir" />


    <!-- META-TAGS FOR MOBILE ////////////////////////////////////////
    - http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariHTMLRef/Articles/MetaTags.html
    - http://www.metatags.nl/mobiele_metatags_voor_de_smartphone
    - http://github.com/h5bp/mobile-boilerplate/wiki/The-Markup

    Let search engines know this page is optimized for mobile devices
    and enable smooth font rendering on IE Mobile
    <meta name="HandheldFriendly" content="true" />
    <meta name="MobileOptimized" content="320" />
    <meta http-equiv="cleartype" content="on" />
    -->

    <!--
    Set the viewport for IOS to enable media queries and prevent phone
    numbers from being displayed as hyperlinks (IOS default behavior)
    Note: don't disable the ability to zoom, it's bad UX
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no" />
    -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />

</head>
<body class="has-header">
    <header class="o-header o-header--fixed">
        <a href="#" class="o-header__logo">
            <img src="images/a-logo.svg" alt="Officieel Logo Antwerpen">
        </a>
    </header>

    <main>
        <div class="u-wrapper d-h1">
            <div class="u-container">
                <h1>Core Branding Styleguide <small>v{{ VERSION_INFO.version }}</small></h1>
            </div>
        </div>

        {% include "templates/quarks.njk" %}

        {% include "templates/base.njk" %}

        {% include "templates/utilities.njk" %}

        {% include "templates/atoms.njk" %}

        {% include "templates/molecules.njk" %}

        <!--{% include "templates/organisms.njk" %}-->

        <!-- CLEAN THIS -->
<div style="display: none">



    <div class="u-wrapper">
        <div class="u-container">

            <br><br><br>

            <div class="m-flyout is-open m-flyout--sm">
                <button class="a-button has-icon"><span class="fa fa-list"></span></button>
                <div class="m-flyout__content has-padding">
                    Flyout inhoud
                </div>
            </div>

            <br><br><br><br><br><br>

            <div class="m-flyout is-open">
                <button class="a-button">Flyout knop</button>
                <div class="m-flyout__content has-padding">
                    Flyout inhoud
                </div>
            </div>

            <br><br><br><br><br><br>

            <div class="m-flyout m-flyout--sm m-flyout--right is-open">
                <button class="a-button">Flyout knop</button>
                <div class="m-flyout__content has-padding">
                    Flyout inhoud
                </div>
            </div>

            <br><br><br><br><br><br>

            <div class="m-flyout m-flyout--sm is-open">
                <button class="a-button">Flyout knop</button>
                <div class="m-flyout__content has-padding">
                    Flyout inhoud
                </div>
            </div>

            <br><br><br><br><br><br>

            <div class="m-flyout m-flyout--md is-open">
                <button class="a-button">Flyout knop</button>
                <div class="m-flyout__content has-padding">
                    Flyout inhoud
                </div>
            </div>

            <br><br><br><br><br><br>

            <div class="m-flyout m-flyout--lg is-open">
                <button class="a-button">Flyout knop</button>
                <div class="m-flyout__content has-padding">
                    Flyout inhoud
                </div>
            </div>

            <br><br><br><br><br><br><br>

            <div class="m-flyout m-flyout--full m-flyout--scrollable is-open">
                <label class="a-input__label" for="input-autocomplete">Input met autocomplete</label>
                <div class="a-input">
                    <input type="text" name="input-autocomplete" id="input-autocomplete" placeholder="Placeholder" />
                </div>
                <div class="m-flyout__content">
                    <ul class="m-selectable-list m-selectable-list--no-border">
                        <li>
                            <a class="m-selectable-list__item" href="#">Lorem ipsum</a>
                        </li>

                        <li>
                            <a class="m-selectable-list__item" href="#">Lorem ipsum</a>
                        </li>

                        <li>
                            <a class="m-selectable-list__item" href="#">Lorem ipsum</a>
                        </li>

                        <li>
                            <a class="m-selectable-list__item" href="#">Lorem ipsum</a>
                        </li>

                        <li>
                            <a class="m-selectable-list__item" href="#">Lorem ipsum</a>
                        </li>

                        <li>
                            <a class="m-selectable-list__item" href="#">Lorem ipsum</a>
                        </li>

                        <li>
                            <a class="m-selectable-list__item" href="#">Lorem ipsum</a>
                        </li>
                    </ul>
                </div>
            </div>

            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

            <ul class="m-selectable-list">
                <li>
                    <a class="m-selectable-list__item" href="#">Lorem ipsum</a>
                </li>

                <li>
                    <a class="m-selectable-list__item" href="#">Lorem ipsum</a>
                </li>

                <li>
                    <a class="m-selectable-list__item" href="#">Lorem ipsum</a>
                </li>

                <li>
                    <a class="m-selectable-list__item" href="#">Lorem ipsum</a>
                </li>

                <li>
                    <a class="m-selectable-list__item" href="#">Lorem ipsum</a>
                </li>

                <li>
                    <a class="m-selectable-list__item" href="#">Lorem ipsum</a>
                </li>

                <li>
                    <a class="m-selectable-list__item" href="#">Lorem ipsum</a>
                </li>
            </ul>

            <br><br><br>

            <ul class="m-selectable-list m-selectable-list--no-border">
                <li>
                    <a class="m-selectable-list__item" href="#">Lorem ipsum</a>
                </li>

                <li>
                    <a class="m-selectable-list__item" href="#">Lorem ipsum</a>
                </li>

                <li>
                    <a class="m-selectable-list__item" href="#">Lorem ipsum</a>
                </li>

                <li>
                    <a class="m-selectable-list__item" href="#">Lorem ipsum</a>
                </li>

                <li>
                    <a class="m-selectable-list__item" href="#">Lorem ipsum</a>
                </li>

                <li>
                    <a class="m-selectable-list__item" href="#">Lorem ipsum</a>
                </li>

                <li>
                    <a class="m-selectable-list__item" href="#">Lorem ipsum</a>
                </li>
            </ul>

            <br><br><br>

            <ul class="m-selectable-list">
                <li class="m-selectable-list__item">
                    Lorem ipsum
                </li>

                <li class="m-selectable-list__item">
                    Lorem ipsum
                </li>

                <li class="m-selectable-list__item m-selectable-list__item--active">
                    Lorem ipsum
                </li>

                <li class="m-selectable-list__item">
                    Lorem ipsum
                </li>

                <li class="m-selectable-list__item">
                    Lorem ipsum
                </li>

                <li class="m-selectable-list__item">
                    Lorem ipsum
                </li>

                <li class="m-selectable-list__item">
                    Lorem ipsum
                </li>
            </ul>

            <br><br><br>
            
            <div class="m-tag">
                <input class="m-tag__input" type="text" placeholder="Nieuwe tag" />
            </div>

            <br><br>

            <div class="m-tag">
                <span class="m-tag__label">Bibliotheken</span>
            </div>

            <br><br>

            <div class="m-tag">
                <span class="m-tag__label">Cultuur</span>

                <button class="a-button-transparent a-button--small a-button--danger has-icon">
                    <i class="fa fa-close"></i>
                </button>
            </div>

            <br><br>

            <div class="m-tag">
                <button class="a-button a-button--default a-button--small has-icon">
                    <i class="fa fa-check"></i>
                </button>

                <span class="m-tag__label">Monumenten</span>
            </div>

            <br><br>

            <div class="m-tag">
                <button class="a-button a-button--small a-button--success has-icon">
                    <i class="fa fa-check"></i>
                </button>

                <span class="m-tag__label">Cultuurverenigingen</span>
            </div>

            <br><br>

            <div class="m-tag">
                <button class="a-button a-button--small has-icon">
                    <i class="fa fa-arrows"></i>
                </button>

                <span class="m-tag__label">District Berchem</span>
            </div>

            <br><br><br>

            <ul class="o-tag-list">
                <li class="m-tag">
                    <span class="m-tag__label">Bibliotheken</span>
                </li>

                <li class="m-tag">
                    <span class="m-tag__label">Cultuur</span>
                </li>

                <li class="m-tag">
                    <span class="m-tag__label">Monumenten</span>
                </li>

                <li class="m-tag">
                    <span class="m-tag__label">Cultuurverenigingen</span>
                </li>

                <li class="m-tag">
                    <span class="m-tag__label">District Berchem</span>
                </li>
            </ul>

            <br><br><br>

            <ul class="o-tag-list">
                <li class="m-tag">
                    <span class="m-tag__label">Bibliotheken</span>

                    <button class="a-button-transparent a-button--small a-button--danger has-icon">
                        <i class="fa fa-close"></i>
                    </button>
                </li>

                <li class="m-tag">
                    <span class="m-tag__label">Cultuur</span>

                    <button class="a-button-transparent a-button--small a-button--danger has-icon">
                        <i class="fa fa-close"></i>
                    </button>
                </li>

                <li class="m-tag">
                    <span class="m-tag__label">Monumenten</span>

                    <button class="a-button-transparent a-button--small a-button--danger has-icon">
                        <i class="fa fa-close"></i>
                    </button>
                </li>

                <li class="m-tag">
                    <span class="m-tag__label">Cultuurverenigingen</span>

                    <button class="a-button-transparent a-button--small a-button--danger has-icon">
                        <i class="fa fa-close"></i>
                    </button>
                </li>

                <li class="m-tag">
                    <span class="m-tag__label">District Berchem</span>

                    <button class="a-button-transparent a-button--small a-button--danger has-icon">
                        <i class="fa fa-close"></i>
                    </button>
                </li>
            </ul>

            <br><br><br>

            <ul class="o-tag-list">
                <li class="m-tag">
                    <button class="a-button a-button--default a-button--small has-icon">
                        <i class="fa fa-check"></i>
                    </button>

                    <span class="m-tag__label">Bibliotheken</span>
                </li>

                <li class="m-tag">
                    <button class="a-button a-button--default a-button--small has-icon">
                        <i class="fa fa-check"></i>
                    </button>

                    <span class="m-tag__label">Cultuur</span>
                </li>

                <li class="m-tag">
                    <button class="a-button a-button--success a-button--small has-icon">
                        <i class="fa fa-check"></i>
                    </button>

                    <span class="m-tag__label">Monumenten</span>
                </li>

                <li class="m-tag">
                    <button class="a-button a-button--success a-button--small has-icon">
                        <i class="fa fa-check"></i>
                    </button>

                    <span class="m-tag__label">Cultuurverenigingen</span>
                </li>

                <li class="m-tag">
                    <button class="a-button a-button--default a-button--small has-icon">
                        <i class="fa fa-check"></i>
                    </button>

                    <span class="m-tag__label">District Berchem</span>
                </li>
            </ul>

            <br><br><br>

            <ul class="o-tag-list">
                <li class="m-tag">
                    <button class="a-button a-button--small has-icon">
                        <i class="fa fa-arrows"></i>
                    </button>

                    <span class="m-tag__label">Bibliotheken</span>
                </li>

                <li class="m-tag">
                    <button class="a-button a-button--small has-icon">
                        <i class="fa fa-arrows"></i>
                    </button>

                    <span class="m-tag__label">Cultuur</span>
                </li>

                <li class="m-tag">
                    <button class="a-button a-button--small has-icon">
                        <i class="fa fa-arrows"></i>
                    </button>

                    <span class="m-tag__label">Monumenten</span>
                </li>

                <li class="m-tag">
                    <button class="a-button a-button--small has-icon">
                        <i class="fa fa-arrows"></i>
                    </button>

                    <span class="m-tag__label">Cultuurverenigingen</span>
                </li>

                <li class="m-tag">
                    <button class="a-button a-button--small has-icon">
                        <i class="fa fa-arrows"></i>
                    </button>

                    <span class="m-tag__label">District Berchem</span>
                </li>
            </ul>

            <br><br><br>

            <div class="o-footer">
                <span class="o-footer__label">© 2017 Stad Antwerpen | <a href="#">Privacy</a> &amp; <a href="#">gebruiksvoorwaarden</a></span>

                <button class="o-footer__button a-button a-button--secondary has-icon">
                    <i class="fa fa-arrow-up"></i>
                </button>
            </div>

            <br><br><br>

            <ul class="m-icon-list">
                <li>
                    <a href="#">
                        <span class="fa fa-facebook"></span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="fa fa-twitter"></span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="fa fa-linkedin"></span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="fa fa-instagram"></span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="fa fa-google-plus"></span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="fa fa-snapchat-ghost"></span>
                    </a>
                </li>
            </ul>

            <br><br><br>

            <div class="u-bg-black" style="padding: 24px">
                <ul class="m-icon-list m-icon-list--negative">
                    <li>
                        <a href="#">
                            <span class="fa fa-facebook"></span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <span class="fa fa-twitter"></span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <span class="fa fa-linkedin"></span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <span class="fa fa-instagram"></span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <span class="fa fa-google-plus"></span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <span class="fa fa-snapchat-ghost"></span>
                        </a>
                    </li>
                </ul>
            </div>

            <br><br><br>

            <ul class="m-icon-list m-icon-list--horizontal">
                <li>
                    <a href="#">
                        <span class="fa fa-facebook"></span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="fa fa-twitter"></span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="fa fa-linkedin"></span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="fa fa-instagram"></span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="fa fa-google-plus"></span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="fa fa-snapchat-ghost"></span>
                    </a>
                </li>
            </ul>

            <br><br><br>

            <div class="u-bg-black" style="padding: 24px">
                <ul class="m-icon-list m-icon-list--horizontal m-icon-list--negative">
                    <li>
                        <a href="#">
                            <span class="fa fa-facebook"></span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <span class="fa fa-twitter"></span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <span class="fa fa-linkedin"></span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <span class="fa fa-instagram"></span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <span class="fa fa-google-plus"></span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <span class="fa fa-snapchat-ghost"></span>
                        </a>
                    </li>
                </ul>
            </div>


            <br><br><br>

            <div class="a-copyright">
                <div class="a-copyright__sign">
                    <span class="fa fa-copyright"></span>
                </div>

                <span class="a-copyright__label">Sigrid Spinnox</span>
            </div>

            <br><br><br>

            <figure class="m-image">
                <img src="https://assets.antwerpen.be/srv/assets/api/image/18515bb2-39b2-4ab6-92e9-7364d05c4594/Hoofdfoto_Ans_Brys_2.jpg" alt="Picture">

                <a href="javascript:void(0);" class="m-image__copyright a-copyright" aria-haspopup="true">
                    <div class="a-copyright__sign">
                        <span class="fa fa-copyright"></span>
                    </div>

                    <span class="a-copyright__label">Sigrid Spinnox</span>
                </a>
            </figure>

            <br><br><br>

            <div class="m-modal">
                <div class="m-modal__content">
                    <div class="m-modal__header u-margin-bottom-xs">
                        <button class="m-modal__close a-button-transparent a-button--default has-icon">
                            <i class="fa fa-close"></i>
                        </button>

                        <h6>Lorem ipsum</h6>
                    </div>

                    <div class="u-margin-bottom">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sodales nunc nunc, ac lacinia erat suscipit quis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Lorem ipsum dolor sit amet.</p>
                    </div>

                    <div class="m-modal__footer">
                        <button class="a-button">
                            Lorem ipsum
                        </button>

                        <button class="a-button-outline">
                            Lorem ipsum
                        </button>
                    </div>
                </div>
            </div>

            <br><br><br>

            <div class="m-modal m-modal--large">
                <div class="m-modal__content">
                    <div class="m-modal__header u-margin-bottom-xs">
                        <button class="m-modal__close a-button-transparent a-button--default has-icon">
                            <i class="fa fa-close"></i>
                        </button>

                        <h6>Lorem ipsum</h6>
                    </div>

                    <div class="m-modal__body u-margin-bottom">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sodales nunc nunc, ac lacinia erat suscipit quis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Lorem ipsum dolor sit amet.</p>
                    </div>

                    <div class="m-modal__footer">
                        <button class="a-button a-button--danger">
                            Lorem ipsum
                        </button>

                        <button class="a-button-outline a-button--danger a-button--transparent">
                            Lorem ipsum
                        </button>
                    </div>
                </div>
            </div>

            <br><br><br>

            <ul class="m-nav-list">
                <li>
                    <a href="#">
                        <span class="fa fa-lightbulb-o"></span>Thomas Edison <span class="a-badge">10</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="fa fa-photo"></span>Leonardo da Vinci
                    </a>
                </li>

                <li class="is-active">
                    <a href="#">
                        <span class="fa fa-gears"></span>Albert Einstein
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="fa fa-globe"></span>Isaac Newton
                    </a>
                </li>
            </ul>

            <br><br><br>

            <ul class="m-nav-list m-nav-list--left">
                <li>
                    <a href="#">
                        <span class="fa fa-lightbulb-o"></span>Thomas Edison <span class="a-badge">10</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="fa fa-photo"></span>Leonardo da Vinci
                    </a>
                </li>

                <li class="is-active">
                    <a href="#">
                        <span class="fa fa-gears"></span>Albert Einstein
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="fa fa-globe"></span>Isaac Newton
                    </a>
                </li>
            </ul>

            <br><br><br>

            <ul class="m-nav-tabs">
                <li>
                    <a href="#"><span class="fa fa-lightbulb-o"></span>Thomas Edison <span class="a-badge">10</span></a>
                </li>

                <li>
                    <a href="#"><span class="fa fa-photo"></span>Leonardo da Vinci</a>
                </li>

                <li class="is-active">
                    <a href="#"><span class="fa fa-gears"></span>Albert Einstein</a>
                </li>

                <li>
                    <a href="#"><span class="fa fa-globe"></span>Isaac Newton</a>
                </li>
            </ul>

            <br><br><br>

            <ul class="m-nav-tabs m-nav-tabs--left">
                <li>
                    <a href="#">Thomas Edison <span class="a-badge">10</span></a>
                </li>

                <li>
                    <a href="#">Leonardo da Vinci</a>
                </li>

                <li class="is-active">
                    <a href="#">Albert Einstein</a>
                </li>

                <li>
                    <a href="#">Isaac Newton</a>
                </li>
            </ul>

            <br><br><br>

            <ul class="m-nav-tabs m-nav-tabs--right">
                <li>
                    <a href="#">Thomas Edison <span class="a-badge">10</span></a>
                </li>

                <li>
                    <a href="#">Leonardo da Vinci</a>
                </li>

                <li class="is-active">
                    <a href="#">Albert Einstein</a>
                </li>

                <li>
                    <a href="#">Isaac Newton</a>
                </li>
            </ul>

            <br><br><br>

            <ul class="m-pagination">
                <li class="m-pagination__prev">
                    <a href="#">
                        <i class="fa fa-angle-left"></i>
                    </a>
                </li>

                <li class="m-pagination__next">
                    <a href="#">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </ul>

            <br><br>

            <ul class="m-pagination">
                <li class="m-pagination__prev">
                    <a href="#">
                        <i class="fa fa-angle-left"></i>
                    </a>
                </li>

                <li class="m-pagination__label">
                    1 van de 6
                </li>

                <li class="m-pagination__next">
                    <a href="#">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </ul>

            <br><br>

            <ul class="m-pagination">
                <li class="m-pagination__prev">
                    <a href="#">
                        <i class="fa fa-angle-left"></i>
                    </a>
                </li>

                <li>
                    <a href="#">
                        1
                    </a>
                </li>

                <li class="is-active">
                    <a href="#">
                        2
                    </a>
                </li>

                <li>
                    <a href="#">
                        3
                    </a>
                </li>

                <li>
                    <a href="#">
                        4
                    </a>
                </li>

                <li>
                    <a href="#">
                        ...
                    </a>
                </li>

                <li class="m-pagination__next">
                    <a href="#">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </ul>

            <br><br><br>

            <ul class="m-pagination m-pagination--outline">
                <li class="m-pagination__prev">
                    <a href="#">
                        <i class="fa fa-angle-left"></i>
                    </a>
                </li>

                <li class="m-pagination__next">
                    <a href="#">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </ul>

            <br><br>

            <ul class="m-pagination m-pagination--outline">
                <li class="m-pagination__prev">
                    <a href="#">
                        <i class="fa fa-angle-left"></i>
                    </a>
                </li>

                <li class="m-pagination__label">
                    1 van de 6
                </li>

                <li class="m-pagination__next">
                    <a href="#">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </ul>

            <br><br>

            <ul class="m-pagination m-pagination--outline">
                <li class="m-pagination__prev">
                    <a href="#">
                        <i class="fa fa-angle-left"></i>
                    </a>
                </li>

                <li>
                    <a href="#">
                        1
                    </a>
                </li>

                <li class="is-active">
                    <a href="#">
                        2
                    </a>
                </li>

                <li>
                    <a href="#">
                        3
                    </a>
                </li>

                <li>
                    <a href="#">
                        4
                    </a>
                </li>

                <li>
                    <a href="#">
                        ...
                    </a>
                </li>

                <li class="m-pagination__next">
                    <a href="#">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </ul>

            <br><br><br>

            <ol class="m-step-indicator">
                <li class="is-completed"><span class="m-step-indicator__label">Stap 1 met veel te lange titel</span></li>
                <li class="is-completed"><span class="m-step-indicator__label">Stap 2</span></li>
                <li class="is-active"><span class="m-step-indicator__label">Stap 3</span></li>
                <li><span class="m-step-indicator__label">Stap 4</span></li>
                <li><span class="m-step-indicator__label">Stap 5</span></li>
                <li><span class="m-step-indicator__label">Stap 6</span></li>
                <li><span class="m-step-indicator__label">Stap 7</span></li>
                <li><span class="m-step-indicator__label">Stap 8</span></li>
                <li><span class="m-step-indicator__label">Stap 9</span></li>
                <li><span class="m-step-indicator__label">Stap 10</span></li>
            </ol>

            <br><br><br><br><br><br>

            <div class="m-range-slider">
                <div class="m-range-slider__inner">
                    <div class="m-range-slider__bar" style="width: 50%"></div>

                    <span class="m-range-slider__handle" style="left: 50%;">
                        <div class="m-range-slider__tooltip a-tooltip a-tooltip--primary a-tooltip--top">
                            <p>50%</p>
                        </div>
                    </span>
                </div>
            </div>

            <br><br><br><br>

            <div class="m-range-slider">

                <div class="m-range-slider__inner">
                    <div class="m-range-slider__bar" style="left: 20%; width: 60%"></div>
                    <span class="m-range-slider__handle" style="left: 20%;">
                        <div class="m-range-slider__tooltip a-tooltip a-tooltip--primary a-tooltip--top">
                            <p>20%</p>
                        </div>
                    </span>

                    <span class="m-range-slider__handle" style="left: 80%;">
                        <div class="m-range-slider__tooltip a-tooltip a-tooltip--primary a-tooltip--top">
                            <p>80%</p>
                        </div>
                    </span>
                </div>
            </div>

            <br><br><br>

            <div class="m-range-slider">
                <div class="m-range-slider__inner">
                    <div class="m-range-slider__bar" style="width: 50%"></div>

                    <span class="m-range-slider__handle" style="left: 50%;">
                        <span class="m-range-slider__value">50%</span>
                    </span>
                </div>
            </div>

            <br><br><br>

            <div class="m-range-slider">

                <div class="m-range-slider__inner">
                    <div class="m-range-slider__bar" style="left: 20%; width: 60%"></div>
                    <span class="m-range-slider__handle" style="left: 20%;">
                        <span class="m-range-slider__value">20%</span>
                    </span>

                    <span class="m-range-slider__handle" style="left: 80%;">
                        <span class="m-range-slider__value">80%</span>
                    </span>
                </div>
            </div>

            <br><br><br>

            <div class="m-progress">
                <label class="m-progress__label">Stap 1 van 5</label>

                <div class="m-progress__inner">
                    <div class="m-progress__bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%"></div>
                </div>
            </div>

            <br><br><br>

            <div class="m-progress m-progress--inline">
                <div class="m-progress__inner">
                    <div class="m-progress__bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%"></div>
                </div>

                <label class="m-progress__label">20%</label>
            </div>

            <br><br><br>

            <div class="m-progress m-progress--inline">
                <label class="m-progress__label">20%</label>

                <div class="m-progress__inner">
                    <div class="m-progress__bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%"></div>
                </div>
            </div>

            <br><br><br><br><br><br>

            <div class="m-progress">
                <div class="m-progress__inner">
                    <div class="m-progress__bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                        <div class="a-tooltip a-tooltip--primary a-tooltip--top">
                            <p>20%</p>
                        </div>
                    </div>
                </div>
            </div>

            <br><br><br>

            <div class="m-progress">
                <div class="m-progress__inner">
                    <div class="m-progress__bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                        <div class="a-tooltip a-tooltip--primary a-tooltip--top">
                            <p>20%</p>
                        </div>
                    </div>
                </div>
            </div>

            <br><br><br>

            <div class="m-upload">
                <div class="m-upload__inner">
                    <div class="m-upload__dropzone">
                        <input type="file" multiple="multiple" class="m-upload__input">

                        <div class="m-upload__content">
                            <p class="m-upload__message">Sleep hier een bestand of klik om te bladeren</p>
                        </div>
                    </div>
                </div>

                <small class="m-upload__description">Maximum bestandsgrootte: 0KB - 4MB</small>
            </div>

            <br><br><br>

            <div class="m-upload">
                <div class="m-upload__inner">
                    <div class="m-upload__dropzone">
                        <input type="file" multiple="multiple" class="m-upload__input">

                        <div class="m-upload__content">
                            <p class="m-upload__message u-margin-bottom">Sleep hier een bestand of klik om te bladeren</p>
                            <p class="m-upload__uploads u-text-bold u-margin-bottom-xs">mijn_bestand.pdf en mijn_bestand.pdf</p>

                            <div class="m-upload__progress m-progress">
                                <div class="m-progress__inner">
                                    <div class="m-progress__bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <small class="m-upload__description">Maximum bestandsgrootte: 0KB - 4MB</small>

                <ul class="m-upload__files">
                    <li>
                        <span class="fa fa-file-o"></span>
                        <span class="m-upload__filename">mijn_bestand.pdf</span>

                        <button class="m-upload__delete a-button-transparent a-button--default a-button--small has-icon">
                            <i class="fa fa-close"></i>
                        </button>
                    </li>

                    <li>
                        <span class="fa fa-file-o"></span>
                        <span class="m-upload__filename">mijn_bestand.pdf</span>

                        <button class="m-upload__delete a-button-transparent a-button--default a-button--small has-icon">
                            <i class="fa fa-close"></i>
                        </button>
                    </li>

                    <li class="is-error">
                        <span class="fa fa-warning"></span>
                        <span class="m-upload__filename">mijn_fout_bestand.pdf</span>
                        <span class="m-upload__error">Dit bestandstype is niet toegelaten.</span>

                        <button class="m-upload__delete a-button-transparent a-button--danger a-button--small has-icon">
                            <i class="fa fa-close"></i>
                        </button>
                    </li>

                    <li>
                        <span class="fa fa-file-o"></span>
                        <span class="m-upload__filename">mijn_bestand.pdf</span>

                        <button class="m-upload__delete a-button-transparent a-button--default a-button--small has-icon">
                            <i class="fa fa-close"></i>
                        </button>
                    </li>
                </ul>
            </div>

            <br><br><br>

            <ul class="m-gallery" style="max-width: 600px">
                <li class="m-gallery__item m-gallery__item--preview">
                    <a rel="gallery" href="http://placehold.it/1200x900" title="Item 1">
                        <img src="http://placehold.it/1400x900">
                    </a>
                </li>

                <li class="m-gallery__item">
                    <a rel="gallery" href="http://placehold.it/480x480" title="Item 2">
                        <img src="http://placehold.it/480x480">
                    </a>
                </li>

                <li class="m-gallery__item">
                    <a rel="gallery" href="http://placehold.it/480x480" title="Item 3">
                        <img src="http://placehold.it/480x480">
                    </a>
                </li>

                <li class="m-gallery__item">
                    <a rel="gallery" href="http://placehold.it/480x480" title="Item 4">
                        <img src="http://placehold.it/480x480">
                    </a>
                </li>

                <li class="m-gallery__item">
                    <a rel="gallery" href="http://placehold.it/480x480" title="Item 5">
                        <img src="http://placehold.it/480x480">
                    </a>
                </li>

                <li class="m-gallery__item">
                    <a rel="gallery" href="http://placehold.it/480x480" title="Item 6">
                        <img src="http://placehold.it/480x480">
                    </a>
                </li>

                <li class="m-gallery__item">
                    <a rel="photobook" href="http://placehold.it/480x480" title="Item 7">
                        <img src="http://placehold.it/480x480">
                    </a>
                </li>

                <li class="m-gallery__item">
                    <a rel="photobook" href="http://placehold.it/480x480" title="Item 8">
                        <img src="http://placehold.it/480x480">
                    </a>
                </li>

                <li class="m-gallery__item">
                    <a rel="photobook" href="http://placehold.it/480x480" title="Item 9">
                        <img src="http://placehold.it/480x480">
                    </a>
                </li>

                <li class="m-gallery__item">
                    <a rel="photobook" href="http://placehold.it/480x480" title="Item 10">
                        <img src="http://placehold.it/480x480">
                    </a>
                </li>
            </ul>

            <br><br><br>

            <div class="m-overlay">
                <div class="m-overlay__inner">
                    <div class="m-modal m-modal--large">
                        <div class="m-modal__content">
                            <div class="m-modal__header u-margin-bottom-xs">
                                <button class="m-modal__close a-button-transparent a-button--default has-icon">
                                    <i class="fa fa-close"></i>
                                </button>

                                <h6>Lorem ipsum</h6>
                            </div>

                            <div class="m-modal__body u-margin-bottom">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sodales nunc nunc, ac lacinia erat suscipit quis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Lorem ipsum dolor sit amet.</p>
                            </div>

                            <div class="m-modal__footer">
                                <button class="a-button a-button--danger">
                                    Lorem ipsum
                                </button>

                                <button class="a-button-outline a-button--danger a-button--transparent">
                                    Lorem ipsum
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br><br><br>

            <figure class="m-image">
                <img src="https://assets.antwerpen.be/srv/assets/api/image/fb029707-7e9c-4408-bb67-7c3002e37548/A-Fietsbeeldbank-NP-9.jpg" alt="Picture">
            </figure>

            <br><br><br>

            <figure class="m-image">
                <img src="https://assets.antwerpen.be/srv/assets/api/image/bef0732e-3bf5-4129-bdda-7a835b47e5c8/De_collectie_affiche.jpg" alt="Picture">

                <div class="m-image__copyright a-copyright" aria-haspopup="true">
                    <div class="a-copyright__sign">
                        <span class="fa fa-copyright"></span>
                    </div>

                    <span class="a-copyright__label">Sigrid Spinnox</span>
                </div>
            </figure>

            <br><br><br>

            <figure>
                <div class="m-image">
                    <img src="https://assets.antwerpen.be/srv/assets/api/image/89c58905-9b18-4539-a960-3f13e3e27035/107-Fiesta%20Flamenca-19032016%20-%20kopie.jpg" alt="Picture">

                    <div class="m-image__copyright a-copyright" aria-haspopup="true">
                        <div class="a-copyright__sign">
                            <span class="fa fa-copyright"></span>
                        </div>

                        <span class="a-copyright__label">Sigrid Spinnox</span>
                    </div>
                </div>

                <figcaption>Weekendje Antwerpen: onze tips voor 24-26 maart</figcaption>
            </figure>

            <br><br><br>

            <div class="o-slideshow">
                <div class="o-slideshow__inner">
                    <div class="o-slideshow__prev"></div>

                    <div class="o-slideshow__slides">
                        <figure class="o-slideshow__slide is-active">
                            <div class="o-slideshow__image">
                                <div class="m-image">
                                    <img src="https://assets.antwerpen.be/srv/assets/api/image/fb029707-7e9c-4408-bb67-7c3002e37548/A-Fietsbeeldbank-NP-9.jpg" alt="Foto 1">

                                    <div class="m-image__copyright a-copyright" aria-haspopup="true">
                                        <div class="a-copyright__sign">
                                            <span class="fa fa-copyright"></span>
                                        </div>

                                        <span class="a-copyright__label">Sigrid Spinnox</span>
                                    </div>
                                </div>
                            </div>
                        </figure>

                        <figure class="o-slideshow__slide">
                            <div class="o-slideshow__image">
                                <div class="m-image">
                                    <img src="https://assets.antwerpen.be/srv/assets/api/image/bef0732e-3bf5-4129-bdda-7a835b47e5c8/De_collectie_affiche.jpg" alt="Foto 2">

                                    <div class="m-image__copyright a-copyright" aria-haspopup="true">
                                        <div class="a-copyright__sign">
                                            <span class="fa fa-copyright"></span>
                                        </div>

                                        <span class="a-copyright__label">Sigrid Spinnox</span>
                                    </div>
                                </div>
                            </div>
                        </figure>

                        <figure class="o-slideshow__slide">
                            <div class="o-slideshow__image">
                                <div class="m-image">
                                    <img src="https://assets.antwerpen.be/srv/assets/api/image/f97d2ed3-73bd-40de-b2ec-e70009de72ed/vm_JolinedeCrom_01_15022017-4.jpg" alt="Foto 3">

                                    <div class="m-image__copyright a-copyright" aria-haspopup="true">
                                        <div class="a-copyright__sign">
                                            <span class="fa fa-copyright"></span>
                                        </div>

                                        <span class="a-copyright__label">Sigrid Spinnox</span>
                                    </div>
                                </div>
                            </div>
                        </figure>

                        <figure class="o-slideshow__slide">
                            <div class="o-slideshow__image">
                                <div class="m-image">
                                    <img src="https://assets.antwerpen.be/srv/assets/api/image/89c58905-9b18-4539-a960-3f13e3e27035/107-Fiesta%20Flamenca-19032016%20-%20kopie.jpg" alt="Foto 4">

                                    <div class="m-image__copyright a-copyright" aria-haspopup="true">
                                        <div class="a-copyright__sign">
                                            <span class="fa fa-copyright"></span>
                                        </div>

                                        <span class="a-copyright__label">Sigrid Spinnox</span>
                                    </div>
                                </div>
                            </div>
                        </figure>
                    </div>

                    <div class="o-slideshow__next"></div>
                </div>

                <figcaption class="o-slideshow__footer">
                    <span class="o-slideshow__counter">1 | 4</span>
                    Antwerpse werknemers die de auto laten staan, krijgen korting voor fiets
                </figcaption>
            </div>

            <br><br><br>

            <div class="m-overlay">
                <button class="m-overlay__button">
                    <span class="fa fa-close"></span>
                </button>

                <div class="m-overlay__slideshow o-slideshow o-slideshow--transparent">
                    <div class="o-slideshow__inner">
                        <div class="o-slideshow__prev o-slideshow__prev--outside"></div>

                        <div class="o-slideshow__slides">
                            <figure class="o-slideshow__slide is-active">
                                <div class="o-slideshow__image">
                                    <div class="m-image">
                                        <img src="https://assets.antwerpen.be/srv/assets/api/image/fb029707-7e9c-4408-bb67-7c3002e37548/A-Fietsbeeldbank-NP-9.jpg" alt="Picture">

                                        <div class="m-image__copyright a-copyright" aria-haspopup="true">
                                            <div class="a-copyright__sign">
                                                <span class="fa fa-copyright"></span>
                                            </div>

                                            <span class="a-copyright__label">Sigrid Spinnox</span>
                                        </div>
                                    </div>
                                </div>
                            </figure>

                            <figure class="o-slideshow__slide">
                                <div class="o-slideshow__image">
                                    <div class="m-image">
                                        <img src="https://assets.antwerpen.be/srv/assets/api/image/bef0732e-3bf5-4129-bdda-7a835b47e5c8/De_collectie_affiche.jpg" alt="Picture">

                                        <div class="m-image__copyright a-copyright" aria-haspopup="true">
                                            <div class="a-copyright__sign">
                                                <span class="fa fa-copyright"></span>
                                            </div>

                                            <span class="a-copyright__label">Sigrid Spinnox</span>
                                        </div>
                                    </div>
                                </div>
                            </figure>

                            <figure class="o-slideshow__slide">
                                <div class="m-image">
                                    <div class="o-slideshow__image">
                                        <img class="m-image" src="https://assets.antwerpen.be/srv/assets/api/image/f97d2ed3-73bd-40de-b2ec-e70009de72ed/vm_JolinedeCrom_01_15022017-4.jpg" alt="Picture">

                                        <div class="m-image__copyright a-copyright" aria-haspopup="true">
                                            <div class="a-copyright__sign">
                                                <span class="fa fa-copyright"></span>
                                            </div>

                                            <span class="a-copyright__label">Sigrid Spinnox</span>
                                        </div>
                                    </div>
                                </div>
                            </figure>

                            <figure class="o-slideshow__slide">
                                <div class="o-slideshow__image">
                                    <div class="m-image">
                                        <img src="https://assets.antwerpen.be/srv/assets/api/image/89c58905-9b18-4539-a960-3f13e3e27035/107-Fiesta%20Flamenca-19032016%20-%20kopie.jpg" alt="Picture">

                                        <div class="m-image__copyright a-copyright" aria-haspopup="true">
                                            <div class="a-copyright__sign">
                                                <span class="fa fa-copyright"></span>
                                            </div>

                                            <span class="a-copyright__label">Sigrid Spinnox</span>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>

                        <div class="o-slideshow__next o-slideshow__next--outside"></div>
                    </div>

                    <figcaption class="o-slideshow__footer">
                        <span class="o-slideshow__counter">1 | 4</span>
                        Antwerpse werknemers die de auto laten staan, krijgen korting voor fiets
                    </figcaption>
                </div>
            </div>

            <br><br><br><br><br><br>

        </div>
    </div>
    </div>

        <!-- /CLEAN THIS -->

        <footer class="o-footer">
            <span class="o-footer__label">© 2017 Stad Antwerpen</span>

            <a href="#" class="o-footer__button a-button a-button--secondary has-icon">
                <i class="fa fa-arrow-up"></i>
            </a>
        </footer>
    </main>
</body>
</html>

