<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />


    <!-- CSS /////////////////////////////////////////////////////////
    - https://github.com/filamentgroup/loadCSS

    Using 'gulp-usemin' to concatenate CSS files in production
    Following a Mobile First approach, all media queries are
    combined in a separate file

    Note: <link ... media="screen and (min-width: 40em)" />
    only defines when CSS will be applied, it will not block
    the file from being downloaded
    -->

    <!-- build:css css/m.css -->
    <link rel="stylesheet" href="css/main.css" />
    <!-- endbuild -->


    <!-- SEO /////////////////////////////////////////////////////////
    - http://support.google.com/webmasters/bin/answer.py?hl=nl&answer=79812&topic=2371375&ctx=topic
    - http://www.iacquire.com/blog/18-meta-tags-every-webpage-should-have-in-2013
    - http://github.com/h5bp/html5-boilerplate/blob/master/dist/doc/extend.md
    - http://moz.com/blog/meta-data-templates-123

    Set meta-data and force search engines to display this information
    in search results (this prevents caching of meta-data)
    -->

    <title>Core Branding Antwerpen</title>

    <meta name="description" content="Core Branding Antwerpen" />
    <meta name="robots" content="noodp, noydir" />


    <!-- META-TAGS FOR MOBILE ////////////////////////////////////////
    - http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariHTMLRef/Articles/MetaTags.html
    - http://www.metatags.nl/mobiele_metatags_voor_de_smartphone
    - http://github.com/h5bp/mobile-boilerplate/wiki/The-Markup

    Let search engines know this page is optimized for mobile devices
    and enable smooth font rendering on IE Mobile
    <meta name="HandheldFriendly" content="true" />
    <meta name="MobileOptimized" content="320" />
    <meta http-equiv="cleartype" content="on" />
    -->

    <!--
    Set the viewport for IOS to enable media queries and prevent phone
    numbers from being displayed as hyperlinks (IOS default behavior)
    Note: don't disable the ability to zoom, it's bad UX
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no" />
    -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />

</head>
<body style="padding: 24px">
    <h1>Hello World!</h1>
    <h2>Hello World!</h2>
    <h3>Hello World!</h3>
    <h4>Hello World!</h4>
    <h5>Hello World!</h5>
    <h6>Hello World!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates reiciendis exercitationem omnis atque, nam fugit placeat ipsa totam repudiandae, consectetur beatae voluptas? Ad ipsum assumenda ducimus reiciendis, alias asperiores, qui!</p>

    <p class="u-text-readable">Readable content paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates reiciendis exercitationem omnis atque, nam fugit placeat ipsa totam repudiandae, consectetur beatae voluptas? Ad ipsum assumenda ducimus reiciendis, alias asperiores, qui!</p>

    <br><br><br><br><br>

	Inside a paragraph, there is <code>a line of code</code> that you need to see. And here is <a href="#">a link with <code>some code</code> in too</a>. Use <kbd>Cmd-C</kbd> to copy this code.

    <br><br>

    <pre class="a-pre"><code>pre {
  background: $pre-bg;
  color: $pre-color;
  display: block;
  font-size: $pre-font-size;
  margin-top: 0;
  padding: $spacer-xs;

  code {
    padding: 0;
    background-color: transparent;
  }
}</code></pre>

	<br><br>

	<pre class="a-pre a-pre--scrollable"><code>pre{background:$pre-bg;color:$pre-color;display:block;font-size:$pre-font-size;margin-top:0;padding:$spacer-xs;code{padding:0;background-color:transparent;}}</code></pre>

    <br><br><br><br><br>

    <button class="a-button">
        Primaire knop
    </button>

    <button class="a-button a-button--secondary">
        Secundaire knop
    </button>

    <button class="a-button a-button--success">
        Positieve knop
    </button>

    <button class="a-button a-button--warning">
        Waarschuwende knop
    </button>

    <button class="a-button a-button--danger">
        Negatieve knop
    </button>

    <button class="a-button a-button--danger" disabled>
        Disabled knop
    </button>

    <button class="a-button a-button--transparent">
        Transparante knop
    </button>

    <br><br><br>

    <button class="a-button-negative">
        Primaire knop
    </button>

    <button class="a-button-negative a-button--secondary">
        Secundaire knop
    </button>

    <button class="a-button-negative a-button--success">
        Positieve knop
    </button>

    <button class="a-button-negative a-button--warning">
        Waarschuwende knop
    </button>

    <button class="a-button-negative a-button--danger">
        Negatieve knop
    </button>

    <button class="a-button-negative a-button--danger" disabled>
        Disabled knop
    </button>

    <button class="a-button-negative a-button--transparent">
        Transparante knop
    </button>

    <br><br><br>

    <button class="a-button-outline">
        Primaire knop
    </button>

    <button class="a-button-outline a-button--secondary">
        Secundaire knop
    </button>

    <button class="a-button-outline a-button--success">
        Positieve knop
    </button>

    <button class="a-button-outline a-button--warning">
        Waarschuwende knop
    </button>

    <button class="a-button-outline a-button--danger">
        Negatieve knop
    </button>

    <button class="a-button-outline a-button--danger" disabled>
        Disabled knop
    </button>

    <button class="a-button-outline a-button--transparent">
        Transparante knop
    </button>

    <br><br><br>

    <button class="a-button a-button--large">
        Dikke knop
    </button>

    <button class="a-button">
        Normale knop
    </button>

    <button class="a-button a-button--small">
        Dunne knop
    </button>

    <button class="a-button a-button--tiny">
        Extra dunne knop
    </button>

    <br><br><br>

    <button class="a-button a-button--large has-icon-left">
        <i class="fa fa-arrow-left"></i>
        Dikke knop
    </button>

    <button class="a-button has-icon-left">
        <i class="fa fa-arrow-left"></i>
        Normale knop
    </button>

    <button class="a-button a-button--small has-icon-left">
        <i class="fa fa-arrow-left"></i>
        Dunne knop
    </button>

    <button class="a-button a-button--tiny has-icon-left">
        <i class="fa fa-arrow-left"></i>
        Extra dunne knop
    </button>

    <br><br><br>

    <button class="a-button a-button--large has-icon-right">
        Dikke knop
        <i class="fa fa-arrow-right"></i>
    </button>

    <button class="a-button has-icon-right">
        Normale knop
        <i class="fa fa-arrow-right"></i>
    </button>

    <button class="a-button a-button--small has-icon-right">
        Dunne knop
        <i class="fa fa-arrow-right"></i>
    </button>

    <button class="a-button a-button--tiny has-icon-right">
        Extra dunne knop
        <i class="fa fa-arrow-right"></i>
    </button>

    <br><br><br>

    <button class="a-button a-button--large has-icon">
        <i class="fa fa-anchor"></i>
    </button>

    <button class="a-button has-icon">
        <i class="fa fa-anchor"></i>
    </button>

    <button class="a-button a-button--small has-icon">
        <i class="fa fa-anchor"></i>
    </button>

    <button class="a-button a-button--tiny has-icon">
        <i class="fa fa-anchor"></i>
    </button>

    <button class="a-button-outline a-button--large has-icon">
        <i class="fa fa-anchor"></i>
    </button>

    <button class="a-button-outline has-icon">
        <i class="fa fa-anchor"></i>
    </button>

    <button class="a-button-outline a-button--small has-icon">
        <i class="fa fa-anchor"></i>
    </button>

    <button class="a-button-outline a-button--tiny has-icon">
        <i class="fa fa-anchor"></i>
    </button>

    <button class="a-button-negative a-button--large has-icon">
        <i class="fa fa-anchor"></i>
    </button>

    <button class="a-button-negative has-icon">
        <i class="fa fa-anchor"></i>
    </button>

    <button class="a-button-negative a-button--small has-icon">
        <i class="fa fa-anchor"></i>
    </button>

    <button class="a-button-negative a-button--tiny has-icon">
        <i class="fa fa-anchor"></i>
    </button>

    <br><br><br>

    <button class="a-button-transparent a-button--large has-icon">
        <i class="fa fa-close"></i>
    </button>

    <button class="a-button-transparent a-button--success has-icon">
        <i class="fa fa-close"></i>
    </button>

    <button class="a-button-transparent a-button--warning a-button--small has-icon">
        <i class="fa fa-close"></i>
    </button>

    <button class="a-button-transparent a-button--danger a-button--tiny has-icon">
        <i class="fa fa-close"></i>
    </button>

    <br><br><br>

    <button class="a-button-transparent a-button--default has-icon">
        <i class="fa fa-close"></i>
    </button>

    <button class="a-button a-button--default has-icon">
        <i class="fa fa-check"></i>
    </button>

    <br><br><br>

    <a href="#">
        Dit is een mooie link
    </a>

    <br>

    <a href="#" class="has-icon-left">
        <i class="fa fa-angle-left"></i>Dit is een mooie link
    </a>

    <br>

    <a href="#" class="has-icon-right">
        Dit is een mooie link<i class="fa fa-angle-double-up"></i>
    </a>

    <br>

    <a href="#" class="has-icon-right">
        Dit is een mooie link<i class="fa fa-external-link"></i>
    </a>

    <br><br><br>

    <p>Het &lt;mark&gt; element wordt gebruikt tekst te <mark>benadrukken</mark></p>

    <br><br><br>

    <blockquote>
        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos assumenda reprehenderit magnam aspernatur voluptates perferendis provident id voluptas sint quod, fugit facere odio repellat expedita ut esse, ipsa ullam commodi."</p>
        <cite>Lorem Ipsum</cite>
    </blockquote>

    <br><br><br>

    <hr>

    <br><br><br>

    <div class="a-input">
        <label for="input-text">Teksveld met beschrijving</label>
        <input type="text" name="input-text" id="input-text" placeholder="Placeholder" />
        <small>Beschrijvende tekst van het tekstveld</small>
    </div>

    <br><br><br>

    <div class="a-input">
        <label for="input-text">Textarea</label>
        <textarea name="input-textarea" id="input-textarea" cols="30" rows="5" placeholder="Uw bericht"></textarea>
        <small>Beschrijvende tekst van het tekstveld</small>
    </div>

    <br><br><br>

    <div class="a-input has-icon-right">
        <label for="input-text">Selectbox</label>
        <div class="a-input__wrapper">
            <select name="input-selected" id="input-select">
                <option disabled selected>Maak uw keuze...</option>
                <option value="1">Optie 1</option>
                <option value="2">Optie 2</option>
                <option value="3">Optie 3</option>
                <option value="4" disabled>Optie 4 disabled</option>
                <option value="5">Optie 5</option>
            </select>

            <span class="fa fa-angle-down"></span>
        </div>
        <small>Beschrijvende tekst van het tekstveld</small>
    </div>

    <br><br><br>

    <div class="a-input has-icon-left">
        <label for="input-text">Teksveld met beschrijving</label>
        <div class="a-input__wrapper">
            <span class="fa fa-user"></span>
            <input type="text" name="input-text" id="input-text" placeholder="Placeholder" />
        </div>
        <small>Beschrijvende tekst van het tekstveld</small>
    </div>

    <br><br><br>

    <div class="a-input has-icon-right is-required">
        <label for="input-text">Teksveld met beschrijving</label>
        <div class="a-input__wrapper">
            <input type="text" name="input-text" id="input-text" placeholder="Placeholder" />
            <span class="fa fa-eye"></span>
        </div>
        <small>Beschrijvende tekst van het tekstveld</small>
    </div>

    <br><br><br>

    <div class="a-input has-success">
        <label for="input-text">Teksveld met beschrijving</label>
        <div class="a-input__wrapper">
            <input type="text" name="input-text" id="input-text" placeholder="Placeholder" />
        </div>
        <small>Beschrijvende tekst van het tekstveld</small>
    </div>

    <br><br><br>

    <div class="a-input has-icon-left has-warning">
        <label for="input-text">Teksveld met beschrijving</label>
        <div class="a-input__wrapper">
            <span class="fa fa-user"></span>
            <input type="text" name="input-text" id="input-text" placeholder="Placeholder" />
        </div>
        <small>Beschrijvende tekst van het tekstveld</small>
    </div>

    <br><br><br>

    <div class="a-input has-icon-right has-error">
        <label for="input-text">Teksveld met beschrijving</label>
        <div class="a-input__wrapper">
            <input type="text" name="input-text" id="input-text" placeholder="Placeholder" />
            <span class="fa fa-eye"></span>
        </div>
        <small>Beschrijvende tekst van het tekstveld</small>
    </div>

    <br><br><br>

    <div class="a-input">
        <label for="input-text">Teksveld met beschrijving</label>

        <div class="a-input__checkbox">
            <input type="checkbox" id="checkbox1" name="checkbox1" checked="">
            <label for="checkbox1">Option one</label>
        </div>

        <div class="a-input__checkbox">
            <input type="checkbox" id="checkbox2" name="checkbox2">
            <label for="checkbox2">Option two is a very long option, so we can see its behaviour when too much text is used for the label.</label>
        </div>

        <div class="a-input__checkbox">
            <input type="checkbox" id="checkbox3" name="checkbox3" disabled="">
            <label for="checkbox3">Option three is disabled</label>
        </div>
    </div>

    <br><br><br>

    <div class="a-input">
        <label for="input-text">Teksveld met beschrijving</label>

        <div class="a-input__radio">
            <input type="radio" id="radio1" name="radio" checked="">
            <label for="radio1">Option one</label>
        </div>

        <div class="a-input__radio">
            <input type="radio" id="radio2" name="radio">
            <label for="radio2">Option two is a very long option, so we can see its behaviour when too much text is used for the label.</label>
        </div>

        <div class="a-input__radio">
            <input type="radio" id="radio3" name="radio" disabled="">
            <label for="radio3">Option three is disabled</label>
        </div>
    </div>

    <br><br><br>

    <div class="a-input has-addon">
        <label for="input-addon">Input met addon</label>
        <div class="a-input__wrapper">
            <div class="a-input__addon">&euro;</div>
            <input type="text" name="input-addon" id="input-addon" placeholder="Placeholder" />
        </div>
    </div>

    <br><br><br>

    <div class="a-input has-addon">
        <label for="input-addon">Input met addon</label>
        <div class="a-input__wrapper">
            <input type="text" name="input-addon" id="input-addon" placeholder="Placeholder" />
            <div class="a-input__addon">km</div>
        </div>
    </div>

    <br><br><br>

    <div class="a-input has-icon-left has-addon">
        <label for="input-addon">Input met addon</label>
        <div class="a-input__wrapper">
            <span class="fa fa-thermometer"></span>
            <input type="text" name="input-addon" id="input-addon" placeholder="Placeholder" />
            <div class="a-input__addon">°C</div>
        </div>
    </div>

    <br><br><br>

    <div class="a-input has-icon-right has-addon">
        <label for="input-addon">Input met addon</label>
        <div class="a-input__wrapper">
            <div class="a-input__addon">€</div>
            <input type="text" name="input-addon" id="input-addon" placeholder="Placeholder" />
            <span class="fa fa-tag"></span>
        </div>
    </div>

    <br><br><br>

    <div class="a-input">
        <label for="input-addon">Input met autocomplete</label>
        <div class="a-input__wrapper">
            <input type="text" name="input-addon" id="input-addon" placeholder="Placeholder" />
        </div>
        <ul class="a-autocomplete is-open">
            <li>
                <a href="#">Lorem ipsum</a>
            </li>

            <li>
                <a href="#">Lorem ipsum</a>
            </li>

            <li>
                <a href="#">Lorem ipsum</a>
            </li>

            <li>
                <a href="#">Lorem ipsum</a>
            </li>

            <li>
                <a href="#">Lorem ipsum</a>
            </li>

            <li>
                <a href="#">Lorem ipsum</a>
            </li>

            <li>
                <a href="#">Lorem ipsum</a>
            </li>
        </ul>
    </div>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <ul class="a-autocomplete is-open">
        <li>
            <a href="#">Lorem ipsum</a>
        </li>

        <li>
            <a href="#">Lorem ipsum</a>
        </li>

        <li>
            <a href="#">Lorem ipsum</a>
        </li>

        <li>
            <a href="#">Lorem ipsum</a>
        </li>

        <li>
            <a href="#">Lorem ipsum</a>
        </li>

        <li>
            <a href="#">Lorem ipsum</a>
        </li>

        <li>
            <a href="#">Lorem ipsum</a>
        </li>
    </ul>

    <br><br><br>

    <div class="a-input">
        <label>Switch met label</label>

        <div class="a-switch">
            <label class="a-switch__label">Aan</label>

            <div class="a-switch__toggle">
                <input type="checkbox" name="switch" id="switch">
                <label for="switch"></label>
            </div>

            <label class="a-switch__label">Uit</label>
        </div>

        <div class="a-switch is-disabled">
            <label class="a-switch__label">Aan</label>

            <div class="a-switch__toggle">
                <input type="checkbox" name="switch2" id="switch2" disabled="">
                <label for="switch2"></label>
            </div>

            <label class="a-switch__label">Uit</label>
        </div>
    </div>

    <br><br><br>

    <table class="a-table">
        <thead>
            <tr>
                <th>Hoofding 1</th>
                <th>Hoofding 2</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Cell 1</td>
                <td>Cell 1</td>
            </tr>

            <tr>
                <td>Cell 2</td>
                <td>Cell 2</td>
            </tr>

            <tr>

                <td>Cell 3</td>
                <td>Cell 3</td>
            </tr>
        </tbody>
    </table>

    <br><br><br>

    <table class="a-table a-table--primary a-table--striped">
        <thead>
            <tr>
                <th>Hoofding 1</th>
                <th>Hoofding 2</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Cell 1</td>
                <td>Cell 1</td>
            </tr>

            <tr>
                <td>Cell 2</td>
                <td>Cell 2</td>
            </tr>

            <tr>

                <td>Cell 3</td>
                <td>Cell 3</td>
            </tr>
        </tbody>
    </table>

    <br><br><br>

    <table class="a-table a-table--secondary a-table--striped">
        <thead>
            <tr>
                <th>Hoofding 1</th>
                <th>Hoofding 2</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Cell 1</td>
                <td>Cell 1</td>
            </tr>

            <tr>
                <td>Cell 2</td>
                <td>Cell 2</td>
            </tr>

            <tr>

                <td>Cell 3</td>
                <td>Cell 3</td>
            </tr>
        </tbody>
    </table>

    <br><br><br>

    <table class="a-table a-table--striped">
        <thead>
            <tr>
                <th>Hoofding 1</th>
                <th>Hoofding 2</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Cell 1</td>
                <td>Cell 1</td>
            </tr>

            <tr>
                <td>Cell 2</td>
                <td>Cell 2</td>
            </tr>

            <tr>

                <td>Cell 3</td>
                <td>Cell 3</td>
            </tr>
        </tbody>
    </table>

    <br><br><br>

    <table class="a-table a-table--primary a-table--small">
        <thead>
            <tr>
                <th>Hoofding 1</th>
                <th>Hoofding 2</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Cell 1</td>
                <td>Cell 1</td>
            </tr>

            <tr>
                <td>Cell 2</td>
                <td>Cell 2</td>
            </tr>

            <tr>

                <td>Cell 3</td>
                <td>Cell 3</td>
            </tr>
        </tbody>
    </table>

    <br><br><br>

    <h6>.a-list</h6>
    <br>

    <ul class="a-list">
        <li class="a-list__item">1ste item</li>
        <li class="a-list__item">2de item
            <ul>
                <li class="a-list__item">1ste subitem</li>
                <li class="a-list__item">2de subitem</li>
            </ul>
        </li>
        <li class="a-list__item">3de item</li>
        <li class="a-list__item">4de item</li>
    </ul>

    <br><br><br>

    <h6>.a-list</h6>
    <br>

    <ol class="a-list">
        <li class="a-list__item">1ste item</li>
        <li class="a-list__item">2de item
            <ol>
                <li class="a-list__item">1ste subitem</li>
                <li class="a-list__item">2de subitem</li>
            </ol>
        </li>
        <li class="a-list__item">3de item</li>
        <li class="a-list__item">4de item</li>
    </ol>

    <br><br><br>

    <h6>.a-list .a-list--reset</h6>
    <br>

    <ul class="a-list a-list--reset">
        <li class="a-list__item">1ste item</li>
        <li class="a-list__item">2de item
            <ul>
                <li class="a-list__item">1ste subitem</li>
                <li class="a-list__item">2de subitem</li>
            </ul>
        </li>
        <li class="a-list__item">3de item</li>
        <li class="a-list__item">4de item</li>
    </ul>

    <br><br><br>

    <h6>.a-list .has-icon-left</h6>
    <br>

    <ul class="a-list has-icon-left">
        <li class="a-list__item"><span class="fa fa-angle-left"></span>1ste item</li>
        <li class="a-list__item"><span class="fa fa-angle-left"></span>2de item
            <ul>
                <li class="a-list__item"><span class="fa fa-angle-left"></span>1ste subitem</li>
                <li class="a-list__item"><span class="fa fa-angle-left"></span>2de subitem</li>
            </ul>
        </li>
        <li class="a-list__item"><span class="fa fa-angle-left"></span>3de item</li>
        <li class="a-list__item"><span class="fa fa-angle-left"></span>4de item</li>
    </ul>

    <br><br><br>

    <h6>.a-list .has-icon-right</h6>
    <br>

    <ul class="a-list has-icon-right">
        <li class="a-list__item">1ste item<span class="fa fa-angle-right"></span></li>
        <li class="a-list__item">2de item<span class="fa fa-angle-right"></span>
            <ul>
                <li class="a-list__item">1ste subitem<span class="fa fa-angle-right"></span></li>
                <li class="a-list__item">2de subitem<span class="fa fa-angle-right"></span></li>
            </ul>
        </li>
        <li class="a-list__item">3de item<span class="fa fa-angle-right"></span></li>
        <li class="a-list__item">4de item<span class="fa fa-angle-right"></span></li>
    </ul>

    <br><br><br>

    <h6>.a-list .has-icon-left</h6>
    <br>

    <ul class="a-list has-icon-right">
        <li class="a-list__item"><a href="#">1ste item<span class="fa fa-angle-right"></a></span></li>
        <li class="a-list__item"><a href="#">2de item<span class="fa fa-angle-right"></a></span>
            <ul>
                <li class="a-list__item"><a href="#">1ste subitem<span class="fa fa-angle-right"></a></span></li>
                <li class="a-list__item"><a href="#">2de subitem<span class="fa fa-angle-right"></a></span></li>
            </ul>
        </li>
        <li class="a-list__item"><a href="#">3de item<span class="fa fa-angle-right"></a></span></li>
        <li class="a-list__item"><a href="#">4de item<span class="fa fa-angle-right"></a></span></li>
    </ul>

    <br><br><br>

    <h6>.a-list .a-list--lined</h6>
    <br>

    <ul class="a-list a-list--lined">
        <li class="a-list__item">1ste item</li>
        <li class="a-list__item">2de item
            <ul>
                <li class="a-list__item">1ste subitem</li>
                <li class="a-list__item">2de subitem</li>
            </ul>
        </li>
        <li class="a-list__item">3de item</li>
        <li class="a-list__item">4de item</li>
    </ul>

    <br><br><br>

    <h6>.a-list</h6>
    <br>

    <ol class="a-list a-list--lined">
        <li class="a-list__item">1ste item</li>
        <li class="a-list__item">2de item
            <ol>
                <li class="a-list__item">1ste subitem</li>
                <li class="a-list__item">2de subitem</li>
            </ol>
        </li>
        <li class="a-list__item">3de item</li>
        <li class="a-list__item">4de item</li>
    </ol>

    <br><br><br>

    <h6>.a-list .a-list--lined .a-list--unstyled</h6>
    <br>

    <ul class="a-list a-list--lined a-list--unstyled">
        <li class="a-list__item">1ste item</li>
        <li class="a-list__item">2de item
            <ul>
                <li class="a-list__item">1ste subitem</li>
                <li class="a-list__item">2de subitem</li>
            </ul>
        </li>
        <li class="a-list__item">3de item</li>
        <li class="a-list__item">4de item</li>
    </ul>

    <br><br><br>

    <h6>.a-list .a-list--lined .has-icon-left</h6>
    <br>

    <ul class="a-list a-list--lined has-icon-left">
        <li class="a-list__item"><span class="fa fa-angle-left"></span>1ste item</li>
        <li class="a-list__item"><span class="fa fa-angle-left"></span>2de item
            <ul>
                <li class="a-list__item"><span class="fa fa-angle-left"></span>1ste subitem</li>
                <li class="a-list__item"><span class="fa fa-angle-left"></span>2de subitem</li>
            </ul>
        </li>
        <li class="a-list__item"><span class="fa fa-angle-left"></span>3de item</li>
        <li class="a-list__item"><span class="fa fa-angle-left"></span>4de item</li>
    </ul>

    <br><br><br>

    <h6>.a-list .a-list--lined .has-icon-right</h6>
    <br>

    <ul class="a-list a-list--lined has-icon-right">
        <li class="a-list__item">1ste item<span class="fa fa-angle-right"></span></li>
        <li class="a-list__item">2de item<span class="fa fa-angle-right"></span>
            <ul>
                <li class="a-list__item">1ste subitem<span class="fa fa-angle-right"></span></li>
                <li class="a-list__item">2de subitem<span class="fa fa-angle-right"></span></li>
            </ul>
        </li>
        <li class="a-list__item">3de item<span class="fa fa-angle-right"></span></li>
        <li class="a-list__item">4de item<span class="fa fa-angle-right"></span></li>
    </ul>

    <br><br><br>

    <div class="m-alert">
        <button class="a-button-transparent has-icon m-alert__close">
            <i class="fa fa-close"></i>
        </button>

        <h5 class="u-margin-bottom-xs">Lorem Ipsum</h5>
        <p class="u-margin-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sodales nunc nunc, ac lacinia erat suscipit quis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Lorem ipsum dolor sit amet.</p>

        <div class="m-alert__actions">
            <button class="a-button a-button--small">
                Lorem ipsum
            </button>

            <button class="a-button-outline a-button--small">
                Lorem ipsum
            </button>
        </div>
    </div>

    <br><br><br>

    <div class="m-alert m-alert--success">
        <button class="a-button-transparent a-button--success has-icon m-alert__close">
            <i class="fa fa-close"></i>
        </button>

        <h5 class="u-margin-bottom-xs">Lorem Ipsum</h5>
        <p class="u-margin-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sodales nunc nunc, ac lacinia erat suscipit quis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Lorem ipsum dolor sit amet.</p>

        <div class="m-alert__actions">
            <button class="a-button a-button--success a-button--small">
                Lorem ipsum
            </button>

            <button class="a-button-outline a-button--success a-button--small">
                Lorem ipsum
            </button>
        </div>
    </div>

    <br><br><br>

    <div class="m-alert m-alert--warning">
        <button class="a-button-transparent a-button--warning has-icon m-alert__close">
            <i class="fa fa-close"></i>
        </button>

        <h5 class="u-margin-bottom-xs">Lorem Ipsum</h5>
        <p class="u-margin-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sodales nunc nunc, ac lacinia erat suscipit quis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Lorem ipsum dolor sit amet.</p>

        <div class="m-alert__actions">
            <button class="a-button a-button--warning a-button--small">
                Lorem ipsum
            </button>

            <button class="a-button-outline a-button--warning a-button--small">
                Lorem ipsum
            </button>
        </div>
    </div>

    <br><br><br>

    <div class="m-alert m-alert--danger">
        <button class="a-button-transparent a-button--danger has-icon m-alert__close">
            <i class="fa fa-close"></i>
        </button>

        <h5 class="u-margin-bottom-xs">Lorem Ipsum</h5>
        <p class="u-margin-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sodales nunc nunc, ac lacinia erat suscipit quis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Lorem ipsum dolor sit amet.</p>

        <div class="m-alert__actions">
            <button class="a-button a-button--danger a-button--small">
                Lorem ipsum
            </button>

            <button class="a-button-outline a-button--danger a-button--small">
                Lorem ipsum
            </button>
        </div>
    </div>

    <br><br><br>

    <div class="a-avatar a-avatar--large">
        <img src="https://api.adorable.io/avatars/285/avatar_large.png" alt="avatar image" />
    </div>

    <div class="a-avatar a-avatar--medium">
        <img src="https://api.adorable.io/avatars/285/avatar_medium.png" alt="avatar image" />
    </div>

    <div class="a-avatar">
        <img src="https://api.adorable.io/avatars/285/avatar.png" alt="avatar image" />
    </div>

    <div class="a-avatar a-avatar--small">
        <img src="https://api.adorable.io/avatars/285/avatar_small.png" alt="avatar image" />
    </div>

    <div class="a-avatar a-avatar--large">
        <div class="fa fa-user"></div>
    </div>

    <div class="a-avatar a-avatar--medium">
        <div class="fa fa-user"></div>
    </div>

    <div class="a-avatar">
        <div class="fa fa-user"></div>
    </div>

    <div class="a-avatar a-avatar--small">
        <div class="fa fa-user"></div>
    </div>

    <br><br><br>

    <div class="a-badge">
        10
    </div>

    <div class="a-badge a-badge--primary">
        10
    </div>

    <div class="a-badge a-badge--secondary">
        10
    </div>

    <div class="a-badge a-badge--success">
        10
    </div>

    <div class="a-badge a-badge--warning">
        10
    </div>

    <div class="a-badge a-badge--danger">
        10
    </div>

    <br><br><br>

    <div class="a-label">
        Default
    </div>

    <div class="a-label a-label--primary">
        Primair
    </div>

    <div class="a-label a-label--secondary">
        Secundair
    </div>

    <div class="a-label a-label--success">
        Geldig
    </div>

    <div class="a-label a-label--warning">
        Waarschuwend
    </div>

    <div class="a-label a-label--danger">
        Ongeldig
    </div>

    <br><br><br>

    <ul class="m-breadcrumbs">
        <li>
            <a href="#">Home</a>
        </li>

        <li>
            <a href="#">Bibliotheek</a>
        </li>

        <li>
            <a href="#">Home</a>
        </li>

        <li>
            <a href="#">Bibliotheek</a>
        </li>

        <li>
            Detail
        </li>
    </ul>

    <br><br><br>

    <div class="m-tag">
        <input class="m-tag__input" type="text" placeholder="Nieuwe tag" />
    </div>

    <br><br>

    <div class="m-tag">
        <span class="m-tag__label">Bibliotheken</span>
    </div>

    <br><br>

    <div class="m-tag">
        <span class="m-tag__label">Cultuur</span>

        <button class="a-button a-button--small a-button--danger has-icon">
            <i class="fa fa-close"></i>
        </button>
    </div>

    <br><br>

    <div class="m-tag">
        <button class="a-button a-button--default a-button--small has-icon">
            <i class="fa fa-check"></i>
        </button>

        <span class="m-tag__label">Monumenten</span>
    </div>

    <br><br>

    <div class="m-tag">
        <button class="a-button a-button--small a-button--success has-icon">
            <i class="fa fa-check"></i>
        </button>

        <span class="m-tag__label">Cultuurverenigingen</span>
    </div>

    <br><br>

    <div class="m-tag">
        <button class="a-button a-button--small has-icon">
            <i class="fa fa-arrows"></i>
        </button>

        <span class="m-tag__label">District Berchem</span>
    </div>

    <br><br><br>

    <ul class="o-tag-list">
        <li class="m-tag">
            <span class="m-tag__label">Bibliotheken</span>
        </li>

        <li class="m-tag">
            <span class="m-tag__label">Cultuur</span>
        </li>

        <li class="m-tag">
            <span class="m-tag__label">Monumenten</span>
        </li>

        <li class="m-tag">
            <span class="m-tag__label">Cultuurverenigingen</span>
        </li>

        <li class="m-tag">
            <span class="m-tag__label">District Berchem</span>
        </li>
    </ul>

    <br><br><br>

    <ul class="o-tag-list">
        <li class="m-tag">
            <span class="m-tag__label">Bibliotheken</span>

            <button class="a-button a-button--small a-button--danger has-icon">
                <i class="fa fa-close"></i>
            </button>
        </li>

        <li class="m-tag">
            <span class="m-tag__label">Cultuur</span>

            <button class="a-button a-button--small a-button--danger has-icon">
                <i class="fa fa-close"></i>
            </button>
        </li>

        <li class="m-tag">
            <span class="m-tag__label">Monumenten</span>

            <button class="a-button a-button--small a-button--danger has-icon">
                <i class="fa fa-close"></i>
            </button>
        </li>

        <li class="m-tag">
            <span class="m-tag__label">Cultuurverenigingen</span>

            <button class="a-button a-button--small a-button--danger has-icon">
                <i class="fa fa-close"></i>
            </button>
        </li>

        <li class="m-tag">
            <span class="m-tag__label">District Berchem</span>

            <button class="a-button a-button--small a-button--danger has-icon">
                <i class="fa fa-close"></i>
            </button>
        </li>
    </ul>

    <br><br><br>

    <ul class="o-tag-list">
        <li class="m-tag">
            <button class="a-button a-button--default a-button--small has-icon">
                <i class="fa fa-check"></i>
            </button>

            <span class="m-tag__label">Bibliotheken</span>
        </li>

        <li class="m-tag">
            <button class="a-button a-button--default a-button--small has-icon">
                <i class="fa fa-check"></i>
            </button>

            <span class="m-tag__label">Cultuur</span>
        </li>

        <li class="m-tag">
            <button class="a-button a-button--success a-button--small has-icon">
                <i class="fa fa-check"></i>
            </button>

            <span class="m-tag__label">Monumenten</span>
        </li>

        <li class="m-tag">
            <button class="a-button a-button--success a-button--small has-icon">
                <i class="fa fa-check"></i>
            </button>

            <span class="m-tag__label">Cultuurverenigingen</span>
        </li>

        <li class="m-tag">
            <button class="a-button a-button--default a-button--small has-icon">
                <i class="fa fa-check"></i>
            </button>

            <span class="m-tag__label">District Berchem</span>
        </li>
    </ul>

    <br><br><br>

    <ul class="o-tag-list">
        <li class="m-tag">
            <button class="a-button a-button--small has-icon">
                <i class="fa fa-arrows"></i>
            </button>

            <span class="m-tag__label">Bibliotheken</span>
        </li>

        <li class="m-tag">
            <button class="a-button a-button--small has-icon">
                <i class="fa fa-arrows"></i>
            </button>

            <span class="m-tag__label">Cultuur</span>
        </li>

        <li class="m-tag">
            <button class="a-button a-button--small has-icon">
                <i class="fa fa-arrows"></i>
            </button>

            <span class="m-tag__label">Monumenten</span>
        </li>

        <li class="m-tag">
            <button class="a-button a-button--small has-icon">
                <i class="fa fa-arrows"></i>
            </button>

            <span class="m-tag__label">Cultuurverenigingen</span>
        </li>

        <li class="m-tag">
            <button class="a-button a-button--small has-icon">
                <i class="fa fa-arrows"></i>
            </button>

            <span class="m-tag__label">District Berchem</span>
        </li>
    </ul>

    <br><br><br>

    <div class="o-footer">
        <span class="o-footer__label">© 2017 Stad Antwerpen | Privacy & gebruiksvoorwaarden</span>

        <button class="o-footer__button a-button a-button--secondary has-icon">
            <i class="fa fa-arrow-up"></i>
        </button>
    </div>

    <br><br><br>

    <div class="m-accordion">
        <div class="m-accordion__tab is-open">
            <div class="m-accordion__header">
                <p>Barbecue Sauce For A Perfect Barbeque</p>
            </div>

            <div class="m-accordion__content">
                <h6 class="u-margin-bottom-xs">Lorem Ipsum</h6>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto esse doloribus distinctio tempora fugiat vel, et est quibusdam explicabo provident libero, enim, rerum sunt cupiditate, consequuntur eaque quam facilis expedita.
                    <br><br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto esse doloribus distinctio tempora fugiat vel, et est quibusdam explicabo provident libero, enim, rerum sunt cupiditate, consequuntur eaque quam facilis expedita.
                </p>
            </div>
        </div>

        <div class="m-accordion__tab">
            <div class="m-accordion__header">
                <p>Refrigerated Treats Can Make For A Cool Event</p>
            </div>

            <div class="m-accordion__content">
                <h6 class="u-margin-bottom-xs">Lorem Ipsum</h6>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto esse doloribus distinctio tempora fugiat vel, et est quibusdam explicabo provident libero, enim, rerum sunt cupiditate, consequuntur eaque quam facilis expedita.
                    <br><br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto esse doloribus distinctio tempora fugiat vel, et est quibusdam explicabo provident libero, enim, rerum sunt cupiditate, consequuntur eaque quam facilis expedita.
                </p>
            </div>
        </div>

        <div class="m-accordion__tab">
            <div class="m-accordion__header">
                <p>Beat The Summer Heat With Crock Pot Cooking</p>
            </div>

            <div class="m-accordion__content">
                <h6 class="u-margin-bottom-xs">Lorem Ipsum</h6>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto esse doloribus distinctio tempora fugiat vel, et est quibusdam explicabo provident libero, enim, rerum sunt cupiditate, consequuntur eaque quam facilis expedita.
                    <br><br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto esse doloribus distinctio tempora fugiat vel, et est quibusdam explicabo provident libero, enim, rerum sunt cupiditate, consequuntur eaque quam facilis expedita.
                </p>
            </div>
        </div>

        <div class="m-accordion__tab">
            <div class="m-accordion__header">
                <p>Cast Iron Cookware</p>
            </div>

            <div class="m-accordion__content">
                <h6 class="u-margin-bottom-xs">Lorem Ipsum</h6>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto esse doloribus distinctio tempora fugiat vel, et est quibusdam explicabo provident libero, enim, rerum sunt cupiditate, consequuntur eaque quam facilis expedita.
                    <br><br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto esse doloribus distinctio tempora fugiat vel, et est quibusdam explicabo provident libero, enim, rerum sunt cupiditate, consequuntur eaque quam facilis expedita.
                </p>
            </div>
        </div>
    </div>

    <br><br><br>

    <div class="a-spinner"></div>

    <br><br><br>

    <ul class="m-icon-list">
        <li>
            <a href="#">
                <span class="fa fa-facebook"></span>
            </a>
        </li>

        <li>
            <a href="#">
                <span class="fa fa-twitter"></span>
            </a>
        </li>

        <li>
            <a href="#">
                <span class="fa fa-linkedin"></span>
            </a>
        </li>

        <li>
            <a href="#">
                <span class="fa fa-instagram"></span>
            </a>
        </li>

        <li>
            <a href="#">
                <span class="fa fa-google-plus"></span>
            </a>
        </li>

        <li>
            <a href="#">
                <span class="fa fa-snapchat-ghost"></span>
            </a>
        </li>
    </ul>

    <br><br><br>

    <div class="u-bg-black" style="padding: 24px">
        <ul class="m-icon-list m-icon-list--negative">
            <li>
                <a href="#">
                    <span class="fa fa-facebook"></span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="fa fa-twitter"></span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="fa fa-linkedin"></span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="fa fa-instagram"></span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="fa fa-google-plus"></span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="fa fa-snapchat-ghost"></span>
                </a>
            </li>
        </ul>
    </div>

    <br><br><br>

    <ul class="m-icon-list m-icon-list--horizontal">
        <li>
            <a href="#">
                <span class="fa fa-facebook"></span>
            </a>
        </li>

        <li>
            <a href="#">
                <span class="fa fa-twitter"></span>
            </a>
        </li>

        <li>
            <a href="#">
                <span class="fa fa-linkedin"></span>
            </a>
        </li>

        <li>
            <a href="#">
                <span class="fa fa-instagram"></span>
            </a>
        </li>

        <li>
            <a href="#">
                <span class="fa fa-google-plus"></span>
            </a>
        </li>

        <li>
            <a href="#">
                <span class="fa fa-snapchat-ghost"></span>
            </a>
        </li>
    </ul>

    <br><br><br>

    <div class="u-bg-black" style="padding: 24px">
        <ul class="m-icon-list m-icon-list--horizontal m-icon-list--negative">
            <li>
                <a href="#">
                    <span class="fa fa-facebook"></span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="fa fa-twitter"></span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="fa fa-linkedin"></span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="fa fa-instagram"></span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="fa fa-google-plus"></span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="fa fa-snapchat-ghost"></span>
                </a>
            </li>
        </ul>
    </div>

    <br><br><br>

    <ul class="m-button-list">
        <li>
            <a href="#" class="a-button a-button--facebook has-icon">
                <i class="fa fa-facebook"></i>
            </a>
        </li>

        <li>
            <a href="#" class="a-button a-button--twitter has-icon">
                <i class="fa fa-twitter"></i>
            </a>
        </li>

        <li>
            <a href="#" class="a-button a-button--linkedin has-icon">
                <i class="fa fa-linkedin"></i>
            </a>
        </li>

        <li>
            <a href="#" class="a-button a-button--instagram has-icon">
                <i class="fa fa-instagram"></i>
            </a>
        </li>

        <li>
            <a href="#" class="a-button a-button--google has-icon">
                <i class="fa fa-google-plus"></i>
            </a>
        </li>

        <li>
            <a href="#" class="a-button a-button--snapchat has-icon">
                <i class="fa fa-snapchat-ghost"></i>
            </a>
        </li>
    </ul>

    <br><br><br>

    <ul class="m-button-list m-button-list--horizontal">
        <li>
            <a href="#" class="a-button a-button--facebook has-icon">
                <i class="fa fa-facebook"></i>
            </a>
        </li>

        <li>
            <a href="#" class="a-button a-button--twitter has-icon">
                <i class="fa fa-twitter"></i>
            </a>
        </li>

        <li>
            <a href="#" class="a-button a-button--linkedin has-icon">
                <i class="fa fa-linkedin"></i>
            </a>
        </li>

        <li>
            <a href="#" class="a-button a-button--instagram has-icon">
                <i class="fa fa-instagram"></i>
            </a>
        </li>

        <li>
            <a href="#" class="a-button a-button--google has-icon">
                <i class="fa fa-google-plus"></i>
            </a>
        </li>

        <li>
            <a href="#" class="a-button a-button--snapchat has-icon">
                <i class="fa fa-snapchat-ghost"></i>
            </a>
        </li>
    </ul>

    <br><br><br><br><br><br>

    <div class="a-copyright">
        <div class="a-copyright__sign">
            <span class="fa fa-copyright"></span>
        </div>

        <span class="a-copyright__label">Sigrid Spinnox</span>
    </div>

    <br><br><br>

    <div class="a-image" style="width: 400px; height: 400px; background-color: #0064B4;">
        <div class="a-copyright">
            <div class="a-copyright__sign">
                <span class="fa fa-copyright"></span>
            </div>

            <span class="a-copyright__label">Sigrid Spinnox</span>
        </div>
    </div>

    <br><br><br>

    <div class="a-tooltip">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel eum <a href="#">nihil perspiciatis</a> molestias mollitia.
        </p>
    </div>

    <div class="a-tooltip a-tooltip--secondary">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel eum <a href="#">nihil perspiciatis</a> molestias mollitia.
        </p>
    </div>

    <br><br><br>

    <div class="a-tooltip a-tooltip--bottom">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel eum <a href="#">nihil perspiciatis</a> molestias mollitia.
        </p>
    </div>

    <div class="a-tooltip a-tooltip--bottom a-tooltip--secondary">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel eum <a href="#">nihil perspiciatis</a> molestias mollitia.
        </p>
    </div>

    <br><br><br>

    <div class="a-tooltip a-tooltip--right">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel eum <a href="#">nihil perspiciatis</a> molestias mollitia.
        </p>
    </div>

    <div class="a-tooltip a-tooltip--right a-tooltip--secondary">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel eum <a href="#">nihil perspiciatis</a> molestias mollitia.
        </p>
    </div>

    <br><br><br>

    <div class="a-tooltip a-tooltip--left">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel eum <a href="#">nihil perspiciatis</a> molestias mollitia.
        </p>
    </div>

    <div class="a-tooltip a-tooltip--left a-tooltip--secondary">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel eum <a href="#">nihil perspiciatis</a> molestias mollitia.
        </p>
    </div>

    <br><br><br>

    <div class="m-modal">
        <div class="m-modal__content">
            <div class="m-modal__header u-margin-bottom-xs">
                <button class="m-modal__close a-button-transparent a-button--default has-icon">
                    <i class="fa fa-close"></i>
                </button>

                <h6>Lorem ipsum</h6>
            </div>

            <div class="u-margin-bottom">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sodales nunc nunc, ac lacinia erat suscipit quis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Lorem ipsum dolor sit amet.</p>
            </div>

            <div class="m-modal__footer">
                <button class="a-button">
                    Lorem ipsum
                </button>

                <button class="a-button-outline">
                    Lorem ipsum
                </button>
            </div>
        </div>
    </div>

    <br><br><br>

    <div class="m-modal m-modal--large">
        <div class="m-modal__content">
            <div class="m-modal__header u-margin-bottom-xs">
                <button class="m-modal__close a-button-transparent a-button--default has-icon">
                    <i class="fa fa-close"></i>
                </button>

                <h6>Lorem ipsum</h6>
            </div>

            <div class="m-modal__body u-margin-bottom">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sodales nunc nunc, ac lacinia erat suscipit quis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Lorem ipsum dolor sit amet.</p>
            </div>

            <div class="m-modal__footer">
                <button class="a-button a-button--danger">
                    Lorem ipsum
                </button>

                <button class="a-button-outline a-button--danger a-button--transparent">
                    Lorem ipsum
                </button>
            </div>
        </div>
    </div>

    <br><br><br>

    <ul class="m-nav">
        <li>
            <a href="#">Thomas Edison <span class="a-badge">10</span></a>
        </li>

        <li>
            <a href="#">Leonardo da Vinci</a>
        </li>

        <li class="is-active">
            <a href="#">Albert Einstein</a>
        </li>

        <li>
            <a href="#">Isaac Newton</a>
        </li>
    </ul>

    <br><br><br>

    <ul class="m-nav m-nav--vertical">
        <li>
            <a href="#">Thomas Edison <span class="a-badge">10</span></a>
        </li>

        <li>
            <a href="#">Leonardo da Vinci</a>
        </li>

        <li class="is-active">
            <a href="#">Albert Einstein</a>
        </li>

        <li>
            <a href="#">Isaac Newton</a>
        </li>
    </ul>

    <br><br><br>

    <ul class="m-nav m-nav--horizontal">
        <li>
            <a href="#">Thomas Edison <span class="a-badge">10</span></a>
        </li>

        <li>
            <a href="#">Leonardo da Vinci</a>
        </li>

        <li class="is-active">
            <a href="#">Albert Einstein</a>
        </li>

        <li>
            <a href="#">Isaac Newton</a>
        </li>
    </ul>

    <br><br><br>

    <ul class="m-pagination">
        <li class="m-pagination__prev">
            <a href="#">
                <i class="fa fa-angle-left"></i>
            </a>
        </li>

        <li class="m-pagination__next">
            <a href="#">
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
    </ul>

    <br><br>

    <ul class="m-pagination">
        <li class="m-pagination__prev">
            <a href="#">
                <i class="fa fa-angle-left"></i>
            </a>
        </li>

        <li class="m-pagination__label">
            1 van de 6
        </li>

        <li class="m-pagination__next">
            <a href="#">
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
    </ul>

    <br><br>

    <ul class="m-pagination">
        <li class="m-pagination__prev">
            <a href="#">
                <i class="fa fa-angle-left"></i>
            </a>
        </li>

        <li>
            <a href="#">
                1
            </a>
        </li>

        <li class="is-active">
            <a href="#">
                2
            </a>
        </li>

        <li>
            <a href="#">
                3
            </a>
        </li>

        <li>
            <a href="#">
                4
            </a>
        </li>

        <li>
            <a href="#">
                ...
            </a>
        </li>

        <li class="m-pagination__next">
            <a href="#">
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
    </ul>

    <br><br><br>

    <ul class="m-pagination m-pagination--outline">
        <li class="m-pagination__prev">
            <a href="#">
                <i class="fa fa-angle-left"></i>
            </a>
        </li>

        <li class="m-pagination__next">
            <a href="#">
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
    </ul>

    <br><br>

    <ul class="m-pagination m-pagination--outline">
        <li class="m-pagination__prev">
            <a href="#">
                <i class="fa fa-angle-left"></i>
            </a>
        </li>

        <li class="m-pagination__label">
            1 van de 6
        </li>

        <li class="m-pagination__next">
            <a href="#">
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
    </ul>

    <br><br>

    <ul class="m-pagination m-pagination--outline">
        <li class="m-pagination__prev">
            <a href="#">
                <i class="fa fa-angle-left"></i>
            </a>
        </li>

        <li>
            <a href="#">
                1
            </a>
        </li>

        <li class="is-active">
            <a href="#">
                2
            </a>
        </li>

        <li>
            <a href="#">
                3
            </a>
        </li>

        <li>
            <a href="#">
                4
            </a>
        </li>

        <li>
            <a href="#">
                ...
            </a>
        </li>

        <li class="m-pagination__next">
            <a href="#">
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
    </ul>

    <br><br><br>

    <ol class="m-step-indicator">
        <li class="is-completed"><span class="m-step-indicator__label">Stap 1 met veel te lange titel</span></li>
        <li class="is-completed"><span class="m-step-indicator__label">Stap 2</span></li>
        <li class="is-active"><span class="m-step-indicator__label">Stap 3</span></li>
        <li><span class="m-step-indicator__label">Stap 4</span></li>
        <li><span class="m-step-indicator__label">Stap 5</span></li>
        <li><span class="m-step-indicator__label">Stap 6</span></li>
        <li><span class="m-step-indicator__label">Stap 7</span></li>
        <li><span class="m-step-indicator__label">Stap 8</span></li>
        <li><span class="m-step-indicator__label">Stap 9</span></li>
        <li><span class="m-step-indicator__label">Stap 10</span></li>
    </ol>

    <br><br><br>

    <div class="m-progress">
        <label class="m-progress__label">Stap 1 van 5</label>

        <div class="m-progress__inner">
            <div class="m-progress__bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%"></div>
        </div>
    </div>

    <br><br><br>

    <div class="m-progress m-progress--inline">
        <div class="m-progress__inner">
            <div class="m-progress__bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%"></div>
        </div>

        <label class="m-progress__label">20%</label>
    </div>

    <br><br><br>

    <div class="m-progress m-progress--inline">
        <label class="m-progress__label">20%</label>

        <div class="m-progress__inner">
            <div class="m-progress__bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%"></div>
        </div>
    </div>

    <br><br><br>

    <div class="m-progress">
        <div class="m-progress__inner">
            <div class="m-progress__bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                <div class="a-tooltip">
                    <p>20%</p>
                </div>
            </div>
        </div>
    </div>

    <br><br><br>

    <div class="m-progress">
        <div class="m-progress__inner">
            <div class="m-progress__bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                <div class="a-tooltip a-tooltip--bottom">
                    <p>20%</p>
                </div>
            </div>
        </div>
    </div>

    <br><br><br>

    <div class="m-contact">
        <div class="a-avatar a-avatar--small">
            <img src="https://api.adorable.io/avatars/285/avatar_small.png" alt="avatar image" />
        </div>

        <div class="m-contact__info">
            <p class="u-text-bold">Helena Van Loon</p>
        </div>
    </div>

    <br><br><br>

    <div class="m-contact">
        <div class="a-avatar a-avatar--small">
            <img src="https://api.adorable.io/avatars/285/avatar.png" alt="avatar image" />
        </div>

        <div class="m-contact__info">
            <p class="u-text-bold">Helena Van Loon</p>
            <p class="small">1 min ago</p>
        </div>
    </div>

    <br><br><br>

    <div class="m-contact">
        <div class="a-avatar">
            <img src="https://api.adorable.io/avatars/285/avatar_small.png" alt="avatar image" />
        </div>

        <div class="m-contact__info">
            <p class="u-text-bold">Helena Van Loon</p>
        </div>
    </div>

    <br><br><br>

    <div class="m-contact">
        <div class="a-avatar">
            <img src="https://api.adorable.io/avatars/285/avatar.png" alt="avatar image" />
        </div>

        <div class="m-contact__info">
            <p class="u-text-bold">Helena Van Loon</p>
            <p class="small">1 min ago</p>
        </div>
    </div>

    <br><br><br>

    <div class="m-card" style="max-width: 400px">
        <div class="m-card__header">
            <div class="m-contact">
                <div class="a-avatar a-avatar--small">
                    <img src="https://api.adorable.io/avatars/285/avatar_small.png" alt="avatar image" />
                </div>

                <div class="m-contact__info">
                    <p class="u-text-bold">Helena Van Loon</p>
                </div>
            </div>
        </div>

        <div class="m-card__image">
            <img src="https://assets.antwerpen.be/srv/assets/api/image/c4bff422-ccd3-4040-889f-0ddc876cebe6/Wervingscampagne-portretten-NP-8.jpg/contentimage_banner" alt="Card Image">
        </div>

        <div class="m-card__body">
            <h5 class="u-margin-bottom-xs">Bij de stad kan je zo goed als alle opleidingen volgen</h5>
            <p class="small u-margin-bottom-xs">20 januari 2017, 14 uur</p>
            <p class="u-margin-bottom">Mohamed El Yaghmouri is zwembadmanager. “Een leidinggevende moet geen stapel diploma’s hebben. Wie mensen kan motiveren heeft alles om een goede leidinggevende te worden. Opleidingen geven nog extra professionele bagage.”</p>
            <p class="u-text-right">
                <a href="#" class="has-icon-right">
                    Meer lezen<i class="fa fa-angle-right"></i>
                </a>
            </p>
        </div>
    </div>

    <br><br><br>

    <div class="m-card" style="max-width: 400px">
        <div class="m-card__image">
            <img src="https://assets.antwerpen.be/srv/assets/api/download/95d79088-c5e8-496b-994c-cb0ce1095ef2/DuvalEbike.jpg" alt="Card Image">
        </div>

        <div class="m-card__body">
            <h5 class="u-margin-bottom">Slim naar Antwerpen da's er sneller zijn met de E-bike</h5>
            <p class="u-text-right">
                <a href="#" class="has-icon-right">
                    Meer lezen<i class="fa fa-angle-right"></i>
                </a>
            </p>
        </div>
    </div>

    <br><br><br>

    <div class="m-card" style="max-width: 400px">
        <div class="m-card__image">
            <img src="http://www.visitantwerpen.be/images/article/9DF7B4AA-2C03-4529-AB65A638FD0A60F0_slide_1486394483998.jpg" alt="Card Image">
        </div>

        <div class="m-card__body">
            <h5 class="u-margin-bottom-xs">Louisaland: Feest voor alle kinderen</h5>
            <p class="small u-margin-bottom-xs">do 26 jan 2017 - 20.30 uur</p>
            <p class="u-margin-bottom">Mohamed El Yaghmouri is zwembadmanager. “Een leidinggevende moet geen stapel diploma’s hebben. Wie mensen kan motiveren heeft alles om een goede leidinggevende te worden. Opleidingen geven nog extra professionele bagage.”</p>
            <p class="u-text-right">
                <a href="#" class="has-icon-right">
                    Tickets<i class="fa fa-angle-right"></i>
                </a>
            </p>
        </div>
    </div>

    <br><br><br><br><br><br>

</body>
</html>

