/**
 * GLOBAL VARIABLES
 * -------------------------------------------------------------------
 */


/**
 * FONT FAMILIES
 * -------------------------------------------------------------------
 */

$font-family-base:            'Sun Antwerpen Regular' !default;
$font-family-headings:        'Antwerpen Regular' !default;


/**
 * FONT WEIGHTS
 * -------------------------------------------------------------------
 */

$light:                   300 !default;
$normal:                  500 !default;
$bold:                    700 !default;
$extra-bold:              800 !default;
