/**
 * MIXINS
 * -------------------------------------------------------------------
 * Collection of custom mixins
 */


/**
 * FONT FACE
 * -------------------------------------------------------------------
 */

@mixin font-face($_name, $_url, $_weight: normal, $_style: normal) {

  @font-face {
    font-family: $_name;
    src: url($_url + ".eot");
    src: url($_url + ".eot?#iefix") format("embedded-opentype"),
         url($_url + ".woff") format("woff"),
         url($_url + ".ttf") format("truetype"),
         url($_url + ".svg#icon") format("svg");
    font-weight: $_weight;
    font-style: $_style;
  }
}


/**
 * TRIANGLE
 * -------------------------------------------------------------------
 * .triangle {
 *    @include triangle("up", 1.5rem, #F00);
 *    @include triangle("right", 1rem, #F00, true);
 * }
 */

@mixin triangle($_direction, $_size, $_color: null, $_eq: false) {
  content: '';

  // Set triangle base for regular
  // and equilateral triangles
  $_eq-size: $_size;
  @if $_eq { $_eq-size: $_size * 2 * 0.866; }

  // Set triangle directions
  // and base styles
  @if $_direction == "up" {
    border-bottom: $_eq-size solid $_color !important;;
    border-left: $_size solid transparent !important;
    border-right: $_size solid transparent  !important;
    border-top: none !important;
  }

  @if $_direction == "down" {
    border-bottom: none !important;
    border-left: $_size solid transparent !important;
    border-right: $_size solid transparent !important;
    border-top: $_eq-size solid $_color !important;;
  }

  @if $_direction == "left" {
    border-bottom: $_size solid transparent !important;
    border-left: none !important;
    border-right: $_eq-size solid $_color !important;;
    border-top: $_size solid transparent !important;
  }

  @if $_direction == "right" {
    border-bottom: $_size solid transparent !important;
    border-left: $_eq-size solid $_color !important;;
    border-right: none !important;
    border-top: $_size solid transparent !important;
  }
}


/**
 * BUTTON MIXIN
 * -------------------------------------------------------------------
 */

@mixin a-button($_color: $btn-primary-color, $_background: $btn-primary-bg) {
  background-color: $_background;
  color: $_color;

  &:hover,
  &:active {
    @if $_background != transparent and $_background != white {
      background-color: mix($_background, $black, 85%);
    } @else {
      background-color: mix($_color, $white, 20%);
    }
  }

  &[disabled] {
    background-color: $state-disabled;
    cursor: not-allowed;
  }
}


/**
 * BUTTON OUTLINE MIXIN
 * -------------------------------------------------------------------
 */


@mixin a-button-outline($_color: $btn-primary-bg, $_background: $btn-transparent-bg, $_border: true) {
  background-color: $_background;
  color: $_color;

  @if $_border {
    box-shadow: 0 0 0 1px $_color inset;
  }

  &:hover,
  &:active {
    color: mix($_color, $black, 85%);

    @if $_border {
      background: mix($_color, $white, 20%);
      box-shadow: 0 0 0 1px mix($_color, $black, 85%) inset;
    }
  }

  &[disabled] {
    background: transparent;
    box-shadow: 0 0 0 1px $state-disabled inset;
    color: $state-disabled;
    cursor: not-allowed;
  }
}


/**
 * INPUT MIXIN
 * -------------------------------------------------------------------
 */

@mixin a-input($_color: $input-color, $_background: $input-bg, $_border: $input-border, $_border-focus: $input-border-focus) {

  input:not([class*='a-button'], [type='checkbox'], [type='radio']),
  select,
  textarea {
    background-color: $_background;
    border: 1px solid $_border;
    color: $_color;

    @include a-input-placeholder {
      color: $input-placeholder;
    }

    &:focus {
      box-shadow: 0 0 0 2px $_border-focus;
    }

    &[disabled] {
      border-color: $input-disabled;
      color: $input-disabled;
      cursor: not-allowed;
    }
  }
}


/**
 * INPUT PLACEHOLDER MIXIN
 * -------------------------------------------------------------------
 * Change base styling for placeholder text on input fields
 * Note: Styling the placeholder text is not supported on older
 * browsers, use a html5-placeholder ployfill for that
 *
 * Background info:
 * - http://davidwalsh.name/html5-placeholder
 * - http://davidwalsh.name/placeholder-overflow
 * - http://jamesallardice.github.io/Placeholders.js
 */

@mixin a-input-placeholder() {
  &::-webkit-input-placeholder {
    @content;
    text-overflow: ellipsis;
  }

  &:-ms-input-placeholder {
    @content;
    text-overflow: ellipsis;
  }

  &::-moz-placeholder {
    @content;
    text-overflow: ellipsis;
  }

  &:-moz-placeholder {
    @content;
    text-overflow: ellipsis;
  }
}


/**
 * ALERT MIXIN
 * -------------------------------------------------------------------
 */

@mixin m-alert($_background: $alert-default) {
  background-color: mix($_background, $white, 10%);
  border: 1px solid $_background;
}


/**
 * BADGE MIXIN
 * -------------------------------------------------------------------
 */

@mixin a-badge($_color: $badge-default-color, $_background: $badge-default-bg) {
  background-color: $_background;
  color: $_color;
}


/**
 * LABEL MIXIN
 * -------------------------------------------------------------------
 */

@mixin a-label($_color: $label-default-color, $_border: $label-default-border) {
  background-color: transparent;
  border: 1px solid $_border;
  color: $_color;
}


/**
 * TOOLTIP MIXIN
 * -------------------------------------------------------------------
 */

@mixin a-tooltip($_color: $white, $_background: $brand-primary, $_direction: 'down') {
  color: $_color;
  background: $_background;

  &:before {
    @include triangle($_direction, $spacer / 4, $_background);

    @if $_direction == 'up' {
      bottom: auto;
      left: 50%;
      right: auto;
      top: 0;
      transform: translate(-50%, -100%);
    }

    @if $_direction == 'down' {
      bottom: 0;
      left: 50%;
      right: auto;
      top: auto;
      transform: translate(-50%, 100%);
    }

    @if $_direction == 'left' {
      bottom: auto;
      left: 0%;
      right: auto;
      top: 50%;
      transform: translate(-100%, -50%);
    }

    @if $_direction == 'right' {
      bottom: auto;
      left: auto;
      right: 0%;
      top: 50%;
      transform: translate(100%, -50%);
    }
  }
}


/**
 * CLEARFIX
 * -------------------------------------------------------------------
 */

@mixin clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}


/**
 * FONT AWESOME
 * -------------------------------------------------------------------
 */

@mixin fontawesome {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: inherit;
  font-family: FontAwesome;
  text-rendering: auto;
}


/**
 * MEDIA QUERIES MIXIN
 * -------------------------------------------------------------------
 */

@mixin at($_min-width) {

  @media screen and (min-width: $_min-width) {
    @content;
  }
}

@mixin to($_max-width) {

  @media screen and (max-width: $_max-width) {
    @content;
  }
}

