/**
 * MIXINS
 * -------------------------------------------------------------------
 * Collection of custom mixins
 */


/**
 * FONT FACE
 * -------------------------------------------------------------------
 */

@mixin font-face($_name, $_url, $_weight: normal, $_style: normal, $_local: null) {

  @if $_local {
    @font-face {
      font-family: $_name;
      font-style: $_style;
      font-weight: $_weight;
      src: url($_url + '.eot');
      src: $_local, // sass-lint:disable-line no-duplicate-properties
      url($_url + '.eot?#iefix') format('embedded-opentype'),
      url($_url + '.woff') format('woff'),
      url($_url + '.ttf') format('truetype'),
      url($_url + '.svg#icon') format('svg');
    }
  } @else {
    @font-face {
      font-family: $_name;
      font-style: $_style;
      font-weight: $_weight;
      src: url($_url + '.eot');
      src: url($_url + '.eot?#iefix') format('embedded-opentype'), // sass-lint:disable-line no-duplicate-properties
      url($_url + '.woff') format('woff'),
      url($_url + '.ttf') format('truetype'),
      url($_url + '.svg#icon') format('svg');
    }
  }
}


/**
 * BUTTON MIXIN
 * -------------------------------------------------------------------
 */

@mixin a-button($_color: $btn-primary-color, $_background: $btn-primary-bg) {
  background-color: $_background;
  color: $_color;

  &:hover,
  &:active,
  &:focus {
    color: $_color;
    text-decoration: none;

    @if $_background != transparent and $_background != white {
      background-color: mix($_background, $black, 85%);
    } @else if $_background == transparent {
      background-color: transparent;
    } @else {
      background-color: mix($_color, $white, 20%);
    }
  }

  &:focus {
    @if $_background != transparent and $_background != white {
      box-shadow: 0 0 0 3px mix($_background, $white, 25%);
    } @else {
      box-shadow: 0 0 0 3px $_color;
    }
  }

  &[disabled] {
    background-color: $btn-disabled-bg;
    color: $btn-disabled-color;
    cursor: not-allowed;
  }
}


/**
 * BUTTON OUTLINE MIXIN
 * -------------------------------------------------------------------
 */


@mixin a-button-outline($_color: $btn-primary-bg, $_background: $btn-transparent-bg, $_border: true) {
  background-color: $_background;
  color: $_color;

  @if $_border {
    box-shadow: 0 0 0 1px $_color inset;
  }

  &:hover,
  &:active,
  &:focus {
    color: mix($_color, $black, 85%);
    text-decoration: none;

    @if $_border {
      background: mix($_color, $white, 20%);
      box-shadow: 0 0 0 1px mix($_color, $black, 85%) inset;
    }
  }

  &:focus {
    @if $_border {
      box-shadow: 0 0 0 1px mix($_color, $black, 85%) inset, 0 0 0 3px mix($_color, $white, 25%);
    } @else {
      box-shadow: 0 0 0 3px mix($_color, $white, 20%);
    }
  }

  &[disabled] {
    background: $btn-disabled-bg;
    box-shadow: 0 0 0 1px $input-disabled-border inset;
    color: $btn-disabled-color;
    cursor: not-allowed;
  }
}


/**
 * INPUT MIXIN
 * -------------------------------------------------------------------
 */

@mixin a-input($_color: $input-color, $_background: $input-bg, $_border: $input-border, $_border-focus: $input-border-focus) {

  input:not([class*='a-button']):not([type='checkbox']):not([type='radio']),
  select,
  textarea {
    @include a-input-placeholder {
      color: $input-placeholder;
    }

    background-color: $_background;
    border: 1px solid $_border;
    color: $_color;

    &:focus {
      box-shadow: 0 0 0 3px $_border-focus;
    }

    &[disabled] {
      background: $input-disabled-bg;
      border-color: $input-disabled-border;
      color: $input-disabled;
      cursor: not-allowed;
    }
  }
}


/**
 * INPUT PLACEHOLDER MIXIN
 * -------------------------------------------------------------------
 * Change base styling for placeholder text on input fields
 * Note: Styling the placeholder text is not supported on older
 * browsers, use a html5-placeholder ployfill for that
 *
 * Background info:
 * - http://davidwalsh.name/html5-placeholder
 * - http://davidwalsh.name/placeholder-overflow
 * - http://jamesallardice.github.io/Placeholders.js
 */

@mixin a-input-placeholder {
  &::-webkit-input-placeholder { // sass-lint:disable-line no-vendor-prefixes
    @content;
    text-overflow: ellipsis;
  }

  &:-ms-input-placeholder { // sass-lint:disable-line no-vendor-prefixes
    @content;
    text-overflow: ellipsis;
  }

  &::-moz-placeholder { // sass-lint:disable-line no-vendor-prefixes
    @content;
    opacity: 1;
    text-overflow: ellipsis;
  }

  &:-moz-placeholder { // sass-lint:disable-line no-vendor-prefixes
    @content;
    opacity: 1;
    text-overflow: ellipsis;
  }
}


/**
 * ALERT MIXIN
 * -------------------------------------------------------------------
 */

@mixin m-alert($_background: $alert-default) {
  background-color: mix($_background, $white, 10%);
  border: 1px solid $_background;
}


/**
 * BADGE MIXIN
 * -------------------------------------------------------------------
 */

@mixin a-badge($_color: $badge-default-color, $_background: $badge-default-bg, $_disabled: false) {
  @if $_disabled {
    background-color: mix($white, $_background, 50%);
  } @else {
    background-color: $_background;
  }
  color: $_color;
}


/**
 * LABEL MIXIN
 * -------------------------------------------------------------------
 */

@mixin a-label($_color: $label-default-color, $_border: $label-default-border) {
  background-color: transparent;
  border: 1px solid $_border;
  color: $_color;
}


/**
 * TOOLTIP MIXIN
 * -------------------------------------------------------------------
 */

@mixin a-tooltip($_color: $tooltip-default-color, $_background: $tooltip-default-bg) {
  background-color: $_background;
  color: $_color;

  &:before {
    background-color: $_background;
  }
}


/**
 * CLEARFIX
 * -------------------------------------------------------------------
 */

@mixin clearfix {
  &:after {
    clear: both;
    content: '';
    display: block;
  }
}


/**
 * FONT AWESOME
 * -------------------------------------------------------------------
 */

@mixin fontawesome {
  -moz-osx-font-smoothing: grayscale; // sass-lint:disable-line no-vendor-prefixes
  -webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes
  font-family: FontAwesome;
  font-size: inherit;
  text-rendering: auto;
}


/**
 * MEDIA QUERIES MIXIN
 * -------------------------------------------------------------------
 */

@mixin at($_min-width) {

  @media screen and (min-width: $_min-width) {
    @content;
  }
}

@mixin to($_max-width) {

  @media screen and (max-width: $_max-width) {
    @content;
  }
}
