:root {
  /**
   * GLOBAL CSS PROPERTIES
   * -------------------------------------------------------------------
   */

  /**
   * SPECIFIC COLOR PALETTE
   * -------------------------------------------------------------------
   */

  --brand-primary:           #{$theme1-400};
  --brand-secondary:         #{$monza-400};

  /**
   * SPACERS
   * -------------------------------------------------------------------
   */

  --spacer:                  1.5rem; // 24px
  --spacer-3xl:              calc(var(--spacer) * 4); // 96px
  --spacer-xxl:              calc(var(--spacer) * 2.5); // 60px (Deprecated in favor of spacer of 72px)
  --spacer-xl:               calc(var(--spacer) * 2); // 48px
  --spacer-l:                calc(var(--spacer) * 1.5); // 36px
  --spacer-s:                calc(var(--spacer) * .75); // 18px
  --spacer-xs:               calc(var(--spacer) * .5); // 12px
  --spacer-xxs:              calc(var(--spacer) * .375); // 9px
  --spacer-3xs:              calc(var(--spacer) * .25); // 6px

  /**
   * BREAKPOINTS
   * -------------------------------------------------------------------
   */

  --screen-xs:               30rem; // 480px
  --screen-s:                45rem; // 720px
  --screen-l:                62rem; // 992px
  --screen-xl:               75rem; // 1200px

  /**
   * --screen-xxl =
   *    max-width of u-container
   *    + width of official logo * 2
   *    + space between logo and u-container * 2
   */
  --screen-xxl:              calc(var(--screen-xl) + calc(var(--spacer-3xl) * 2) + calc(var(--spacer) * 2)); // 90rem - 1440px
  --screen-xs-max:           44.9375rem; // 719px (--screen-s - 1px)
  --screen-s-max:            61.9375rem; // 991px (--screen-l - 1px)
  --screen-l-max:            74.9375rem; // 1199px (--screen-xl - 1px)
  --screen-xl-max:           89.9375rem; // 1439px (--screen-xxl - 1px)

  /**
   * BORDERS
   * -------------------------------------------------------------------
   */

  --border-radius:           0;

  /**
   * ANIMATIONS
   * -------------------------------------------------------------------
   */

  --animation-duration:      200ms;
  --animation-easing:        ease-in-out;
  --animation-normal:        var(--animation-duration) var(--animation-easing);
}
