/**
 * GLOBAL VARIABLES
 * -------------------------------------------------------------------
 * Leave here for renderer
 */
@import 'quarks.colors';
@import 'quarks.functions';
@import 'quarks.mixins';

/**
 * SPECIFIC COLOR PALETTE
 * -------------------------------------------------------------------
 */

$brand-primary:           $endeavour !default;
$brand-secondary:         $monza !default;

$state-success:           $mantis-darker !default;
$state-info:              $endeavour !default;
$state-warning:           $supernova-dark !default;
$state-danger:            $cinnabar-dark !default;
$state-disabled:          $grey-dark !default;

$text-color:              $black !default;
$text-color-light:        $grey-dark !default;
$text-color-xlight:       $white !default;

$background-color:        $grey-light !default;
$background-color-light:  $grey-lighter !default;

$border-color:            $grey-dark !default;
$border-color-light:      $grey !default;

$overlay-color:           rgba($rich-black, .75) !default;
$selection-color:         mix($brand-primary, $white, 20%) !default;


/**
 * SPACERS
 * -------------------------------------------------------------------
 */

$spacer:                  1.5rem !default; // 24px

$spacer-xx:               $spacer * 4 !default; // 96px
$spacer-xl:               $spacer * 2.5 !default; // 60px
$spacer-lg:               $spacer * 2 !default; // 48px
$spacer-md:               $spacer * 1.5 !default; // 36px
$spacer-sm:               $spacer * .75 !default; // 18px
$spacer-xs:               $spacer * .5 !default; // 12px


/**
 * BREAKPOINTS
 * -------------------------------------------------------------------
 */

$screen-xs:               30rem !default; // 480px
$screen-sm:               45rem !default; // 720px
$screen-md:               62rem !default; // 992px
$screen-lg:               75rem !default; // 1200px
/**
 * $screen-xl =
 *    max-width of u-container
 *    + width of official logo * 2
 *    + space between logo and u-container * 2
 */
$screen-xl: $screen-lg + $spacer-xx * 2 + $spacer * 2 !default; // 90rem - 1440px

$screen-xs-max:           44.9375rem !default; // 719px ($screen-sm - 1px)
$screen-sm-max:           61.9375rem !default; // 991px ($screen-md - 1px)
$screen-md-max:           74.9375rem !default; // 1199px ($screen-lg - 1px)
$screen-lg-max:           89.9375rem !default; // 1439px ($screen-xl - 1px)


/**
 * FONT FAMILIES
 * -------------------------------------------------------------------
 */

$font-family-base:        'Sun Antwerpen', sans-serif !default;
$font-family-headings:    'Antwerpen Regular', sans-serif !default;
$font-family-monospace:   Menlo, Monaco, Consolas, 'Courier New', monospace !default;


/**
 * FONT SIZES
 * -------------------------------------------------------------------
 */

$font-size-sm:            14px !default;
$font-size-base:          16px !default;
$font-size-lg:            18px !default;

$font-size-ratio:         1.2 !default;

$font-size-h1:            $font-size-base * power($font-size-ratio, 6) !default; // ±48px
$font-size-h2:            $font-size-base * power($font-size-ratio, 5) !default; // ±40px
$font-size-h3:            $font-size-base * power($font-size-ratio, 4) !default; // ±33px
$font-size-h4:            $font-size-base * power($font-size-ratio, 3) !default; // ±28px
$font-size-h5:            $font-size-base * power($font-size-ratio, 2) !default; // ±23px
$font-size-h6:            $font-size-base * power($font-size-ratio, 1) !default; // ±19px


/**
 * LINE HEIGHTS
 * -------------------------------------------------------------------
 */

$line-height-base:        1 !default;
$line-height-paragraph:   1.3 !default;
$line-height-headings:    1.1 !default;


/**
 * FONT WEIGHTS
 * -------------------------------------------------------------------
 */

$light:                   300 !default;
$normal:                  500 !default;
$bold:                    700 !default;
$extra-bold:              800 !default;

$font-weight-h1:          $normal !default;
$font-weight-h2:          $normal !default;
$font-weight-h3:          $normal !default;
$font-weight-h4:          $normal !default;
$font-weight-h5:          $normal !default;
$font-weight-h6:          $normal !default;


/**
 * OTHER TYPOGRAPHY
 * -------------------------------------------------------------------
 */

$readable-content-width:  45rem !default;


/**
 * ANIMATIONS
 * -------------------------------------------------------------------
 */

$animation-duration:      200ms !default;
$animation-easing:        ease-in-out !default;

$animation-normal:        $animation-duration $animation-easing !default;


/**
 * Z-INDEXES
 * -------------------------------------------------------------------
 * http://www.sitepoint.com/better-solution-managing-z-index-sass/
 *
 * Use like this:
 *   z-index: layer('overlay');
 *     where overlay is a list item of the default list "$z-indexes" (see below)
 *
 * The list is also upgradeable in that nesting is permitted, e.g.:
 * z-indexes: (
 *   'modal': (
 *     'back': 50,
 *     'front': 60
 *   ),
 *   'navigation': 40,
 *   ...
 * )
 */

$z-indexes: (
  'overlay':        10,
  'header':          9,
  'statusbar':       8,
  'pane':            7,
  'pane-overlay':    6,
  'tooltip':         5,
  'flyout':          4,
  'datepicker':      3,
  'top':             2,
  'base':            1,
  'auto':            0,
  'cellar':         -1
);


/**
 * ICON SIZES
 * -------------------------------------------------------------------
 */

$icon-size-ti:            12px !default;
$icon-size-sm:            16px !default;
$icon-size-base:          22px !default;
$icon-size-lg:            28px !default;


/**
 * BOX SHADOWS
 * -------------------------------------------------------------------
 */

$box-shadow:              $spacer / 2 $spacer / 2 0 rgba($rich-black, .1) !default;
$box-shadow-reverse:      $spacer / 2 $spacer / -2 0 rgba($rich-black, .1) !default;
$box-shadow-top:          0 $spacer / -2 0 rgba($rich-black, .1) !default;
$box-shadow-bottom:       0 $spacer / 2 0 rgba($rich-black, .1) !default;


/**
 * LINKS
 * -------------------------------------------------------------------
 * Define text and hover color for each hyperlink
 */

$link-color:              $brand-primary !default;
$link-background-color:   mix($brand-primary, $white, 10%) !default;
$link-hover-color:        mix($link-color, $rich-black, 85%) !default;


/**
 * LISTS
 * -------------------------------------------------------------------
 * Define default paddings for lists
 */

$list-padding-left:          $spacer !default;
$list-item-padding-top:      $spacer / 3 !default;
$list-item-padding-bottom:   $spacer / 3 !default;


/**
 * BUTTONS
 * -------------------------------------------------------------------
 * Define text, background and border color for each button
 */

$btn-font-weight:              $bold !default;

$btn-font-size-ti:             $font-size-sm !default;
$btn-font-size-sm:             $font-size-sm !default;
$btn-font-size:                $font-size-base !default;
$btn-font-size-lg:             $font-size-lg !default;

$btn-padding:                  ($spacer * 7 / 12) $spacer !default;

$btn-icon-size-ti:             $icon-size-ti !default;
$btn-icon-size-sm:             $icon-size-sm !default;
$btn-icon-size:                $icon-size-base !default;
$btn-icon-size-lg:             $icon-size-lg !default;

$btn-default-color:            $white !default;
$btn-default-bg:               $grey-dark !default;
$btn-default-outline-color:    $btn-default-bg !default;
$btn-default-outline-border:   $btn-default-bg !default;

$btn-primary-color:            $btn-default-color !default;
$btn-primary-bg:               $brand-primary !default;
$btn-primary-negative-color:   $btn-primary-bg !default;
$btn-primary-negative-bg:      $btn-primary-color !default;
$btn-primary-outline-color:    $btn-primary-bg !default;
$btn-primary-outline-border:   $btn-primary-bg !default;

$btn-secondary-color:          $btn-default-color !default;
$btn-secondary-bg:             $brand-secondary !default;
$btn-secondary-negative-color: $btn-secondary-bg !default;
$btn-secondary-negative-bg:    $btn-secondary-color !default;
$btn-secondary-outline-color:  $btn-secondary-bg !default;
$btn-secondary-outline-border: $btn-secondary-bg !default;

$btn-success-color:            $btn-default-color !default;
$btn-success-bg:               $state-success !default;
$btn-success-outline-color:    $btn-success-bg !default;
$btn-success-outline-border:   $btn-success-bg !default;

$btn-warning-color:            $text-color !default;
$btn-warning-bg:               $state-warning !default;
$btn-warning-outline-color:    $text-color !default;
$btn-warning-outline-border:   $btn-warning-bg !default;

$btn-danger-color:             $btn-default-color !default;
$btn-danger-bg:                $state-danger !default;
$btn-danger-outline-color:     $btn-danger-bg !default;
$btn-danger-outline-border:    $btn-danger-bg !default;

$btn-disabled-color:           $state-disabled !default;
$btn-disabled-bg:              $grey-lighter !default;

$btn-transparent-color:        $brand-primary !default;
$btn-transparent-bg:           transparent !default;

$btn-official-color:           $btn-default-color !default;
$btn-official-bg:              $monza !default;


/**
 * FORMS
 * -------------------------------------------------------------------
 * Define text, background, border and placeholder color for each input
 */

$input-color:             $text-color !default;
$input-bg:                $white !default;
$input-border:            $border-color !default;
$input-border-focus:      rgb(192, 223, 254) !default; // Remove this in a later version
$input-disabled:          $state-disabled !default;
$input-disabled-border:   $grey-light !default;
$input-disabled-bg:       $grey-lighter !default;
$input-readonly:          $text-color !default;
$input-readonly-border:   $grey !default;
$input-readonly-bg:       $white !default;
$input-placeholder:       $grey-dark !default;
$input-icon:              $grey-dark !default;
$input-icon-hover:        $black !default;
$input-required:          $state-danger !default;

$input-success-border:            mix($rich-black, $state-success, 40%) !default;
$input-success-border-focus:      mix($state-success, $white, 25%) !default; // Remove this in a later version
$input-success-icon:              $state-success !default;

$input-warning-border:            mix($rich-black, $state-warning, 40%) !default;
$input-warning-border-focus:      mix($state-warning, $white, 25%) !default; // Remove this in a later version
$input-warning-icon:              $state-warning !default;

$input-danger-border:             mix($rich-black, $state-danger, 40%) !default;
$input-danger-border-focus:       mix($state-danger, $white, 25%) !default; // Remove this in a later version
$input-danger-icon:               $state-danger !default;

$input-height:                    $spacer-lg !default;
$input-padding:                   0 $spacer !default;
$select-height:                   $input-height !default;
$select-padding:                  $spacer-xs $spacer !default;
$textarea-height:                 12rem !default;
$textarea-padding:                $spacer-sm $spacer !default;

$input-height-sm:                 $spacer-md !default;
$input-padding-sm:                0 $spacer-xs !default;
$select-height-sm:                $input-height-sm !default;
$select-padding-sm:               0 $spacer-xs !default;
$textarea-height-sm:              8rem !default;
$textarea-padding-sm:             $spacer-xs / 3 * 2 $spacer-xs !default;

$input-height-lg:                 $spacer-xl !default;
$input-padding-lg:                0 $spacer !default;
$select-height-lg:                $input-height-lg !default;
$select-padding-lg:               $spacer-sm $spacer !default;
$textarea-height-lg:              16rem !default;
$textarea-padding-lg:             $spacer / 6 * 5 $spacer !default;


/**
 * SWITCHES
 * -------------------------------------------------------------------
 * WATCH OUT
 * $progress-height and $range-slider-height are equal to $switch-height
 * In this way, changing the height of the switch will also affect the height of the progress bar and range slider
 */

$switch-width:            $spacer-lg !default;
$switch-height:           $switch-width / 2 + .25rem !default;
$switch-label:            $text-color !default;

$switch-bg:               $input-bg !default;
$switch-border:           $input-border !default;

$switch-disabled:         $grey-lighter !default;
$switch-disabled-label:   $state-disabled !default;
$switch-disabled-border:  $grey-light !default;
$switch-disabled-bg:      $switch-disabled-label !default;

$switch-handle-width:     ($switch-width - .5rem) / 2 !default;

$switch-handle-bg:        $grey-dark !default;
$switch-handle-bg-active: $brand-primary !default;


/**
 * TOOLTIP
 * -------------------------------------------------------------------
 */

$tooltip-max-width:         $spacer * 12 !default;
$tooltip-min-height:        $spacer-md !default;

$tooltip-default-color:     $text-color !default;
$tooltip-default-bg:        $background-color !default;

$tooltip-primary-color:     $white !default;
$tooltip-primary-bg:        $brand-primary !default;

$tooltip-secondary-color:   $tooltip-primary-color !default;
$tooltip-secondary-bg:      $brand-secondary !default;

$tooltip-padding:           $spacer / 3 $spacer-xs !default;
$tooltip-arrow-height:      $spacer / 4 !default;


/**
 * PROGRESS
 * -------------------------------------------------------------------
 * WATCH OUT
 * $range-slider-offset is equal to $tooltip-offset
 * In this way, changing the offset of the progress bar will also affect the offset of the range slider
 */

$progress-height:             $switch-height !default;
$progress-bar-padding:        $spacer / 6 !default;
$progress-tooltip-offset:     .625rem !default;

$progress-bg:                 $input-bg !default;
$progress-border:             $input-border !default;

$progress-bar-bg:             $brand-primary !default;


/**
 * RANGE SLIDER
 * -------------------------------------------------------------------
 */

$range-slider-height:             $switch-height !default;
$range-slider-padding:            $spacer / 6 !default;
$range-slider-offset:             $progress-tooltip-offset !default;

$range-slider-bg:                 $input-bg !default;
$range-slider-border:             $input-border !default;

$range-slider-bar-bg:             $background-color !default;
$range-slider-handle-bg:          $brand-primary !default;


/**
 * COPYRIGHT
 * -------------------------------------------------------------------
 */

$copyright-color:         $white !default;
$copyright-bg:            $overlay-color !default;
$copyright-height:        $spacer-md !default;
$copyright-font-size:     $font-size-sm !default;


/**
 * LABELS
 * -------------------------------------------------------------------
 */

$label-font-size:         $font-size-sm !default;
$label-font-weight:       $bold !default;
$label-height:            $spacer-sm !default;
$label-line-height:       $label-height !default;

$label-default-color:     $text-color !default;
$label-default-border:    $grey !default;

$label-primary-color:     $label-default-color !default;
$label-primary-border:    $brand-primary !default;

$label-secondary-color:   $label-default-color !default;
$label-secondary-border:  $brand-secondary !default;

$label-success-color:     $label-default-color !default;
$label-success-border:    $state-success !default;

$label-warning-color:     $label-default-color !default;
$label-warning-border:    $state-warning !default;

$label-danger-color:      $label-default-color !default;
$label-danger-border:     $state-danger !default;

$label-padding:           0 $spacer / 4 !default;


/**
 * HEADER
 * -------------------------------------------------------------------
 */

$header-height:           $spacer-lg !default;

$header-bg:               $white !default;
$header-border:           $border-color-light !default;
$header-btn-bg:           $white !default;
$header-btn-color:        $grey-dark !default;


/**
 * ICON LIST
 * -------------------------------------------------------------------
 */

$icon-list-color:             $black !default;
$icon-list-negative-color:    $white !default;
$icon-list-hover-color:       $brand-secondary !default;

$icon-list-icon-size:         $icon-size-base !default;


/**
 * OVERLAY
 * -------------------------------------------------------------------
 */

$overlay-bg:                      $overlay-color !default;

$overlay-button-size:             $icon-size-lg !default;
$overlay-button-color:            $white !default;
$overlay-button-color-hover:      $grey-light !default;


/**
 * SLIDESHOW
 * -------------------------------------------------------------------
 */

$slideshow-max-height:            37.5rem !default;
$slideshow-bg:                    $black !default;
$slideshow-footer-color:          $text-color !default;
$slideshow-footer-color-light:    $white !default;
