/**
 * MIXINS
 * -------------------------------------------------------------------
 * Collection of custom mixins
 */

/**
 * FONT FACE
 * -------------------------------------------------------------------
 */

@mixin font-face($_name, $_url, $_weight: normal, $_style: normal, $_local: null) {
  @font-face {
    font-display: swap;
    font-family: $_name;
    font-style: $_style;
    font-weight: $_weight;

    @if $_local {
      src: local($_name), url($_url + '.woff') format('woff'), url($_url + '.woff2') format('woff2');
    }
    @else {
      src: url($_url + '.woff') format('woff'), url($_url + '.woff2') format('woff2');
    }
  }
}

/**
 * BUTTON MIXIN
 * -------------------------------------------------------------------
 */

@mixin a-button($_color: $btn-primary-color, $_background: $btn-primary-bg, $_background-hover: $_color) {
  background-color: $_background;
  color: $_color;

  &:hover,
  &:active,
  &:focus {
    color: $_color;
    text-decoration: none;

    @if $_background != transparent and $_background != white {
      background-color: mix($_background, $black, 90%);
    }
    @else if $_background == transparent {
      background-color: transparent;
    }
    @else {
      background-color: mix($_background-hover, $white, 8%);
    }
  }

  &:disabled {
    background-color: $btn-disabled-bg;
    color: $btn-disabled-color;
    cursor: not-allowed;
  }
}

/**
 * BUTTON OUTLINE MIXIN
 * -------------------------------------------------------------------
 */

@mixin a-button-outline($_color: $btn-primary-outline-color, $_border: $btn-primary-outline-border, $_transparent: false) {
  @if $_transparent == false {
    background-color: rgba($white, .5);
    box-shadow: 0 0 0 1px $_border inset;
  }
  @else {
    background-color: transparent;
  }

  color: $_color;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;

    @if $_transparent == false {
      background: mix($_border, $white, 4%);
      box-shadow: 0 0 0 1px mix($_border, $black, 85%) inset;
    }
    @else {
      color: mix($black, $_color, 40%);
    }
  }

  &:disabled {
    background: $btn-disabled-bg;
    box-shadow: 0 0 0 1px $btn-disabled-border inset;
    color: $btn-disabled-color;
    cursor: not-allowed;
  }
}

/**
 * INPUT MIXIN
 * -------------------------------------------------------------------
 */

@mixin a-input(
  $_color,
  $_bg-color,
  $_border-color,
  $_placeholder-color,

  $_disabled-color,
  $_disabled-bg-color,
  $_disabled-border-color,

  $_readonly-color,
  $_readonly-bg-color,
  $_readonly-border-color
) {
  input,
  select,
  textarea {
    @include a-input-placeholder {
      color: $_placeholder-color;
    }

    background-color: $_bg-color;
    border: var(--border-width) solid $_border-color;
    color: $_color;

    &:disabled {
      background-color: $_disabled-bg-color;
      border: var(--border-width) solid $_disabled-border-color;
      color: $_disabled-color;
      cursor: not-allowed;
    }

    &[readonly] {
      background-color: $_readonly-bg-color;
      border: var(--border-width) solid $_readonly-border-color;
      color: $_readonly-color;
    }
  }
}

/**
 * INPUT PLACEHOLDER MIXIN
 * -------------------------------------------------------------------
 * Change base styling for placeholder text on input fields
 * Note: Styling the placeholder text is not supported on older
 * browsers, use a html5-placeholder polyfill for that
 *
 * Background info:
 * - http://davidwalsh.name/html5-placeholder
 * - http://davidwalsh.name/placeholder-overflow
 * - http://jamesallardice.github.io/Placeholders.js
 */

@mixin a-input-placeholder {
  &::-webkit-input-placeholder {
    @content;

    text-overflow: ellipsis;
  }

  &:-ms-input-placeholder {
    @content;

    text-overflow: ellipsis;
  }

  &::-moz-placeholder {
    @content;

    opacity: 1;
    text-overflow: ellipsis;
  }

  &:-moz-placeholder {
    @content;

    opacity: 1;
    text-overflow: ellipsis;
  }
}

/**
 * ALERT MIXIN
 * -------------------------------------------------------------------
 */

@mixin m-alert($_background: $alert-default) {
  background-color: mix($_background, $white, 10%);
  border: var(--border-width) solid $_background;
}

/**
 * BADGE MIXIN
 * -------------------------------------------------------------------
 */

@mixin a-badge($_color, $_bg-color, $_border-color) {
  background-color: $_bg-color;
  box-shadow: 0 0 0 var(--border-width) $_border-color inset;
  color: $_color;
}

/**
 * LABEL MIXIN
 * -------------------------------------------------------------------
 */

@mixin a-label($_color: $label-default-color, $_border: $label-default-border) {
  background-color: transparent;
  border: var(--border-width) solid $_border;
  color: $_color;
}

/**
 * TOOLTIP MIXIN
 * -------------------------------------------------------------------
 */

@mixin a-tooltip($_color: $tooltip-default-color, $_background: $tooltip-default-bg) {
  background-color: $_background;
  color: $_color;

  &:before {
    background-color: $_background;
  }
}

/**
 * FOCUS
 * -------------------------------------------------------------------
 */

@mixin focus {
  outline: 5px auto Highlight;
  outline: 5px auto -webkit-focus-ring-color;
}

/**
 * CLEARFIX
 * -------------------------------------------------------------------
 */

@mixin clearfix {
  &:after {
    clear: both;
    content: '';
    display: block;
  }
}

/**
 * MEDIA QUERIES MIXIN
 * -------------------------------------------------------------------
 */

@mixin at($_min-width) {

  @media screen and (min-width: $_min-width) {
    @content;
  }
}

@mixin to($_max-width) {

  @media screen and (max-width: $_max-width) {
    @content;
  }
}
