/**
 * GLOBAL VARIABLES
 * -------------------------------------------------------------------
 */


/**
 * FONT FAMILIES
 * -------------------------------------------------------------------
 */

$font-family-base:            'Sun Antwerpen Regular';
$font-family-headings:        'Antwerpen Regular';


/**
 * FONT WEIGHTS
 * -------------------------------------------------------------------
 */

$light:                   300;
$normal:                  500;
$bold:                    700;
$extra-bold:              800;
