/**
 * SUN ANTWERPEN FONT
 * -------------------------------------------------------------------
 */

@include font-face('Sun Antwerpen', '../../fonts/SunAntwerpen_300', 300, normal);
@include font-face('Sun Antwerpen', '../../fonts/SunAntwerpen_300_italic', 300, italic);
@include font-face('Sun Antwerpen', '../../fonts/SunAntwerpen_500', 500, normal);
@include font-face('Sun Antwerpen', '../../fonts/SunAntwerpen_500_italic', 500, italic);
@include font-face('Sun Antwerpen', '../../fonts/SunAntwerpen_700', 700, normal);
@include font-face('Sun Antwerpen', '../../fonts/SunAntwerpen_700_italic', 700, italic);
@include font-face('Sun Antwerpen', '../../fonts/SunAntwerpen_800', 800, normal);
@include font-face('Sun Antwerpen', '../../fonts/SunAntwerpen_800_italic', 800, italic);
