/**
 * MEDIA
 * -------------------------------------------------------------------
 */


/**
 * BASE STYLING
 * -------------------------------------------------------------------
 */

img {
  vertical-align: middle;
}

figure {
  margin: 0;
}

figcaption {
  font-size: rem($font-size-base);
  line-height: $line-height-paragraph;
  padding: $figcaption-padding;

  @include at($screen-sm) {
    padding: $figcaption-padding / 3 * 4 $figcaption-padding;
  }
}
