/**
 * TYPOGRAPHY
 * -------------------------------------------------------------------
 */

/**
 * BASE
 * -------------------------------------------------------------------
 */

body {
  color: var(--TEXT-COLOR);
  font-family: var(--FONT-FAMILY-BASE);
  font-size: rem($font-size-base);
  line-height: $line-height-base;
}

::selection {
  background-color: $selection-color;
}

/**
 * HEADERS
 * -------------------------------------------------------------------
 */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: $line-height-headings;
  margin: 0;
}

h1,
.h1 {
  font-family: var(--FONT-FAMILY-HEADINGS);
  font-size: rem($font-size-h1);
}

h2,
.h2 {
  font-family: var(--FONT-FAMILY-HEADINGS);
  font-size: rem($font-size-h2);
}

h3,
.h3 {
  font-family: var(--FONT-FAMILY-HEADINGS);
  font-size: rem($font-size-h3);
}

h4,
.h4 {
  font-family: var(--FONT-FAMILY-BASE);
  font-size: rem($font-size-h4);
}

h5,
.h5 {
  font-family: var(--FONT-FAMILY-BASE);
  font-size: rem($font-size-h5);
}

h6,
.h6 {
  font-family: var(--FONT-FAMILY-BASE);
  font-size: rem($font-size-h6);
}

/**
 * PARAGRAPHS
 * -------------------------------------------------------------------
 */

p,
.paragraph {
  font-size: rem($font-size-base);
  line-height: $line-height-paragraph;
  margin: 0;
}

/**
 * PARAGRAPHS
 * -------------------------------------------------------------------
 */

ul,
ol,
dl {
  font-size: rem($font-size-base);
  line-height: $line-height-paragraph;
  margin: 0;
}

/**
 * BLOCKQUOTES
 * -------------------------------------------------------------------
 */

blockquote {
  border-left: var(--BORDER-WIDTH) solid var(--BORDER-COLOR);
  margin: 0;
  padding: var(--SPACER-XS) 0 var(--SPACER-XS) var(--SPACER);

  p {
    display: inline;
    font-family: var(--FONT-FAMILY-HEADINGS);
  }

  cite {
    color: var(--THEME2-400);
    display: inline-block;
    font-style: normal;
    line-height: $line-height-headings;

    &:before {
      content: '— ';
    }
  }
}

/**
 * SMALL
 * -------------------------------------------------------------------
 */

small,
.small {
  color: var(--TEXT-COLOR-LIGHT);
  font-size: rem($font-size-sm);
}

/**
 * MARK
 * -------------------------------------------------------------------
 */

mark {
  background-color: var(--THEME1-600);
  color: $white;
  padding: 0 .125rem;
}

/**
 * HORIZONTAL RULES
 * -------------------------------------------------------------------
 */

hr {
  border: none;
  border-top: var(--BORDER-WIDTH) solid var(--BORDER-COLOR);
  height: var(--BORDER-WIDTH);
  margin: var(--SPACER) 0;
}

/**
 * LINKS
 * -------------------------------------------------------------------
 */

a {
  color: var(--LINK-COLOR);
  text-decoration-skip-ink: auto;
  transition: color var(--ANIMATION-NORMAL);

  &:hover,
  &:active,
  &:focus {
    color: var(--LINK-HOVER-COLOR);
    text-decoration: none;
  }
}
