/**
 * ICONS
 * -------------------------------------------------------------------
 */

.ai {
  align-self: center;
  display: inline-flex;
  justify-content: center;

  // Normalize the icons width and height and prepare them for scalability
  // &,
  svg {
    height: .875em;
    // height: 1.125em;
    position: relative;
    width: .875em;
    // width: 1.125em;
  }

  svg {
    fill: none;
    stroke: currentColor;
    // stroke-linecap: round;
    // stroke-linejoin: round;
    // stroke-width: .5; // Percentages don't give weird results when zooming in
  }

  &-inline {
    svg {
      top: .125em;
    }
  }
}
