/**
 * ICONS
 * -------------------------------------------------------------------
 */

.ai {
  align-self: center;
  display: inline-flex;
  justify-content: center;
  line-height: 1;
  vertical-align: middle;

  // Normalize the icons width and height and prepare them for scalability
  svg {
    height: .875em;
    position: relative;
    width: .875em;
  }

  svg {
    fill: none;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 6.25%; // Percentages don't give weird results when zooming in, use increments of 1.5625% #notkidding
  }
}

.ai--thin {
  svg {
    stroke-width: 4.6857%;
  }
}
