/**
 * MEDIA
 * -------------------------------------------------------------------
 */

/**
 * BASE STYLING
 * -------------------------------------------------------------------
 */

img {
  vertical-align: middle;
}

figure {
  margin: 0;
}

figcaption {
  font-size: rem($font-size-base);
  line-height: $line-height-paragraph;
  padding: var(--spacer-xs);

  @include at($screen-sm) {
    padding: var(--spacer-s) var(--spacer-xs);
  }
}
